<template>
    <div>
        <template v-if="isObject(respuesta)">
            <div class="uk-height-small uk-card-respuesta uk-padding-small uk-border-rounded uk-box-shadow-small">
                <ul class="uk-margin-small-bottom">
                    <li v-for="(resp, index) in respuesta" :key="index">
                        {{ resp }}
                    </li>
                </ul>
            </div>
        </template>
        <template v-else>
            <div class="uk-height-small uk-card-respuesta uk-padding-small uk-border-rounded uk-box-shadow-small"
                 v-html="respuesta"
                 v-if="!small"></div>
            <div class="uk-height-small-custom uk-card-respuesta uk-padding-small uk-border-rounded uk-box-shadow-small uk-text-uppercase"
                 v-html="respuesta"
                 v-else></div>
        </template>
    </div>
</template>

<script>
export default {
    name: "CardRespuesta",
    props: ['respuesta', 'small'],
    methods: {
        isObject(respuesta) {
            return _.isObject(respuesta);
        }
    }
}
</script>

<style lang="scss" scoped>
    .uk-height-small{
        height: 100px !important;
        overflow: scroll;
        overflow-x: hidden;
    }
    .uk-height-small-custom {
        height: 58px !important;
    }
    .uk-card-respuesta {
        background-color: $color-grey-ligth;
        &:hover {
            cursor: not-allowed;
        }
    }
</style>
