<template>
    <div class="uk-grid uk-margin-remove-left">
        <div class="uk-width-1-1 uk-margin-small-top uk-margin-small-bottom uk-alert uk-border-rounded">
            <p class="uk-text-uppercase uk-text-bold">
                Documentación anexa
            </p>
            <table class="uk-table uk-table-small uk-text-small uk-table-middle uk-table-striped uk-table-divider uk-table-hover">
                <thead>
                    <tr>
                        <th class="uk-width-1-4">Nombre de documento</th>
                        <th class="uk-width-1-2">Descripción</th>
                        <th class="uk-width-1-4"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(anexo, index) in anexos">
                        <td class="uk-text-left uk-text-uppercase">
                            <i :class="setFileIcon(anexo.NombreArchivo)"></i> {{ anexo.NombreArchivo }}
                        </td>
                        <td>
                            <input type="text"
                                   class="uk-input uk-border-rounded uk-form-small"
                                   :id="'input_description_'+anexo.AnexoID"
                                   :value="anexo.Descripcion"
                                   disabled
                            />
                        </td>
                        <td class="uk-text-right">
                            <div :id="'template_options_'+anexo.AnexoID">
                                <button class="uk-button-delete uk-border-rounded"
                                        @click="habilitarDescripcion(anexo.AnexoID, anexo.Descripcion)"
                                        uk-tooltip="Editar descripción">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <!--<a class="uk-link-reset uk-button-delete uk-border-rounded"
                                   @click="removeAnexo(anexo)"
                                   uk-tooltip="Borrar">
                                    <i class="fas fa-trash-alt"></i>
                                </a>-->
                                <form class="uk-display-inline" @submit.prevent="previewAnexo(anexo)">
                                    <button class="uk-link-reset uk-button-delete uk-border-rounded uk-padding-small"
                                            uk-tooltip="Visualizar"
                                            type="submit">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </form>
                                <form action="/api/auditor/descargar-anexo"
                                  method="post"
                                  class="uk-display-inline"
                                  target="_blank">
                                    <input type="hidden" name="tipo_auditoria" value="desempenio">
                                    <input type="hidden" id="anexo_id" name="anexo_id" :value="anexo.AnexoID">
                                    <input type="hidden" id="api_token" name="api_token" :value="getApiToken">
                                    <button class="uk-link-reset uk-button-delete uk-border-rounded uk-padding-small"
                                            type="submit"
                                            uk-tooltip="Descargar">
                                        <i class="fas fa-download"></i>
                                    </button>
                                </form>
                            </div>
                            <div :id="'template_options2_'+anexo.AnexoID" style="display: none;">
                                <button class="uk-button-delete uk-border-rounded" @click="guardarDescripcion(anexo.AnexoID)">
                                    Guardar <i class="fas fa-save"></i>
                                </button>
                                <button class="uk-button-delete uk-border-rounded" @click="deshabilitarDescripcion(anexo.AnexoID)">
                                    Cancelar <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
	export default {
        name: "DocumentacionAnexada",
        props: ['anexos', 'pregunta', 'tipo'],
        methods: {
            setFileIcon(nameFile) {
                if(nameFile.includes('.pdf') || nameFile.includes('.PDF')) {
                    return 'fas fa-file-pdf uk-text-danger';
                } else if(nameFile.includes('.docx') || nameFile.includes('.DOCX') || nameFile.includes('.doc') || nameFile.includes('.DOC')) {
                    return 'fas fa-file-word uk-text-primary';
                } else if(nameFile.includes('.xlsx') || nameFile.includes('.XLSX') || nameFile.includes('.xls') || nameFile.includes('.XLS')) {
                    return 'fas fa-file-excel uk-text-success';
                } else if(nameFile.includes('.zip') || nameFile.includes('.ZIP') || nameFile.includes('.rar') || nameFile.includes('.RAR')) {
                    return 'fas fa-file-archive';
                } else if(nameFile.includes('.jpg') || nameFile.includes('.JPG') || nameFile.includes('.jpeg') || nameFile.includes('.JPEG') || nameFile.includes('.png') || nameFile.includes('.PNG')) {
                    return 'fas fa-image uk-text-warning';
                } else if(nameFile.includes('.pptx') || nameFile.includes('.ppt')) {
                    return 'fas fa-file-powerpoint';
                }else {
                    return 'fas fa-file fa-2x';
                }
            },
            previewAnexo(anexo) {
                let url = window.location;
                let baseUrl = '';
                if(anexo.NombreArchivo.includes('.pdf') || anexo.NombreArchivo.includes('.PDF')) {
                    baseUrl = url .protocol + "//" + url.host+"/"+anexo.Ruta;
                } else {
                    if(this.tipo === 'control_interno') {
                        baseUrl = url .protocol + "//" + url.host+"/panel/ci/auditor/preview-anexo/"+anexo.Hash;
                    } else {
                        baseUrl = url .protocol + "//" + url.host+"/panel/sad/auditor/preview-anexo/"+anexo.Hash;
                    }
                }
                window.open(baseUrl);
            },
            removeAnexo(anexo) {
                UIkit.modal.confirm('¡ATENCIÓN! ¿DESEA BORRAR EL ANEXO DE FORMA PERMANETE? YA NO PODRÁ RECUPERARLO').then(() => {
                    let data = {
                        api_token: localStorage.getItem('api_token'),
                        anexo_id: anexo.AnexoID
                    };
                    axios.post('/api/auditor/delete-anexo', data).then(resp => {
                        this.$store.dispatch('getAnexos', {
                            pregunta: this.pregunta
                        });
                    }).catch(e => {
                        console.log(e);
                    });
                },  () => console.log('Cerrar sesión cancelado'));
                setTimeout(() => {
                    $('.uk-modal-close').addClass('uk-border-rounded').text('CANCELAR');
                    $('.uk-modal-footer > .uk-button-primary').addClass('uk-border-rounded').addClass('uk-button-danger').text('ACEPTAR');
                }, 200);
            },
            habilitarDescripcion(anexoID, descripcion) {
                let input_desc = $('#input_description_'+anexoID);
                input_desc.prop("disabled", false);
                $('#template_options_'+anexoID).hide();
                $('#template_options2_'+anexoID).show();
                this.tempDescripcion = descripcion;
            },
            deshabilitarDescripcion(anexoID) {
                let input_desc = $('#input_description_'+anexoID);
                input_desc.prop("disabled", true);
                $('#template_options_'+anexoID).show();
                $('#template_options2_'+anexoID).hide();
                input_desc.val(this.tempDescripcion);
                this.tempDescripcion = '';
            },
            guardarDescripcion(anexoID) {
                let descripcion = $('#input_description_'+anexoID).val();
                let data = {
                    api_token: localStorage.getItem('api_token'),
                    anexoID: anexoID,
                    descripcion: descripcion
                };
                let url = '';
                if(_.isUndefined(this.tipo)) {
                    url = '/api/auditor/update-descripcion-anexo-desempenio';
                } else {
                    url = '/api/auditor/update-descripcion-anexo';
                }
                axios.post(url, data)
                     .then((resp) => {
                        let input_desc = $('#input_description_'+anexoID);
                        input_desc.prop("disabled", true);
                        $('#template_options_'+anexoID).show();
                        $('#template_options2_'+anexoID).hide();
                    })
                    .catch(e => {
                        console.log(e);
                    });
            }
        },
        computed: {
            getApiToken(){
                return localStorage.getItem('api_token');
            },
        }
    }
</script>

<style lang="scss" scoped>
    .uk-button-delete {
        border: 1px $color-primary solid;
        color: $color-primary !important;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 7px;
        padding-right: 7px;
        &:hover {
            background-color: $color-primary;
            color: $color-white !important;
        }
    }
</style>
