<template>
    <div class="uk-grid uk-margin-medium-top">
        <div class="uk-width-1-1@m">
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                <span class="uk-text-bold">
                    <i class="fas fa-user"></i> Auditores
                </span>
            </div>
        </div>
        <div class="uk-width-1-1@m uk-margin-small-top">
            <div class="uk-grid">
                <div class="uk-width-1-1" v-if="error !== null">
                    <div class="uk-alert uk-alert-danger uk-border-rounded uk-text-uppercase uk-text-bold uk-margin-small-bottom uk-margin-small-top uk-text-center uk-animation-shake">
                        {{ error }}
                    </div>
                </div>
                <div class="uk-width-1-2@m">
                    <div class="uk-text-uppercase uk-text-bold">
                        Responsable de Auditoría
                    </div>
                    <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-small-bottom">
                        <div class="uk-width-1-1@m">
                            <div class="uk-form-controls">
                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                       v-model="jefeAuditoria"
                                       disabled/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-2@m">
                    <div class="uk-text-uppercase uk-text-bold">
                        Auditor asignado para revisión
                    </div>
                    <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-small-bottom">
                        <div class="uk-width-1-1@m">
                            <div class="uk-form-controls">
                                <select class="uk-select uk-border-rounded uk-text-uppercase"
                                        v-model="auditorAsignado"
                                        :disabled="!editarAuditor">
                                    <option value="">Selecciona un auditor</option>
                                    <option :value="auditor.NombreCompleto"
                                            :key="index"
                                            v-for="(auditor, index) in auditores">
                                        {{ auditor.NombreCompleto }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1@m uk-margin-small-top uk-text-right">
                    <template v-if="!editarAuditor">
                        <button type="button"
                                class="uk-button uk-button-primary uk-border-rounded"
                                @click="editarAuditor = true">
                            Actualizar
                        </button>
                    </template>
                    <template v-else>
                        <button type="button"
                                class="uk-button uk-button-default uk-border-rounded"
                                @click="cancelEdit">
                            Cancelar
                        </button>
                        <button type="button"
                                class="uk-button uk-button-primary uk-border-rounded"
                                @click="saveAuditor">Guardar <span uk-spinner="ratio: 0.6" v-show="updating"></span></button>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AuditoresAuditoria",
        props: ['auditoria'],
        created() {
            this.getJefeAuditoria();
            this.getAuditoresDisponibles();
            this.getAuditorAsignado();
        },
        data() {
            return {
                editarAuditor: false,
                jefeAuditoria: null,
                auditorAsignado: '',
                auditorAsignadoTemporal: '',
                auditores: [],
                updating: false,
                error: null
            }
        },
        methods: {
            getJefeAuditoria() {
                axios.get('/api/desempenio/get-jefe-auditoria').then(resp => {
                    this.jefeAuditoria = resp.data.jefeAuditoria.NombreCompleto;
                }).catch(e => {
                    console.log(e);
                })
            },
            getAuditoresDisponibles() {
                this.auditores = [];
                axios.get('/api/desempenio/get-auditores').then(resp => {
                    this.auditores = resp.data.auditores;
                }).catch(e => {
                    console.log(e);
                })
            },
            cancelEdit() {
                this.error = null;
                this.editarAuditor = false;
                this.auditorAsignado = JSON.parse(JSON.stringify(this.auditorAsignadoTemporal));
            },
            saveAuditor() {
                this.error = null;
                if(this.auditorAsignado === '') {
                    this.error = 'El auditor seleccionado no es válido';
                    return false;
                }
                this.updating = true;
                let data = {
                    auditor: this.auditorAsignado,
                    auditoria: this.auditoria.AuditoriaID
                };
                axios.post('/api/desempenio/update-auditor', data).then(resp => {
                    this.editarAuditor = false;
                    this.updating = false;
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Auditoría actualizada correctamente',
                        pos: 'top-right',
                        timeout: 4000
                    });
                }).catch(e => {
                    console.log(e);
                    this.editarAuditor = false;
                    this.updating = false;
                })
            },
            getAuditorAsignado(){
                let data = {
                    auditoria: this.auditoria.AuditoriaID
                };
                axios.post('/api/desempenio/get-auditor-asignado', data).then(resp => {
                    if(_.isObject(resp.data.auditor_asignado)) {
                        this.auditorAsignadoTemporal = resp.data.auditor_asignado.NombreCompleto;
                    } else {
                        this.auditorAsignadoTemporal = resp.data.auditor_asignado;
                    }
                    this.auditorAsignado = JSON.parse(JSON.stringify(this.auditorAsignadoTemporal));
                }).catch(e => {
                    console.log(e);
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-text-primary{
        color: $color-primary !important;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
</style>
