<template>
    <div id="modal-avance-sad" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title uk-text-uppercase">Avance de auditoría</h2>
            <monitoreo-aiuditoria v-if="datosAuditoria!=null" :auditoria="datosAuditoria"></monitoreo-aiuditoria>
            <div  class="uk-grid">
                <div class="uk-width-1-1@m uk-margin">
                    <table class="uk-table uk-table-striped">
                        <thead>
                            <tr>
                                <th>Etapa</th>
                                <th>Estatus cuestionario</th>
                            </tr>
                        </thead>
                        <tbody v-if="resultados!=null">
                            <tr>
                                <td>Enlace contestando</td>
                                <td>Preguntas contestadas {{resultados.RespuestasCRP}} de 51</td>
                            </tr>
                            <tr>
                                <td>Revision responsable</td>
                                <td>Preguntas revisadas {{resultados.RecomendacionesCRP}} de 51</td>
                            </tr>
                            <tr>
                                <td>Enlace Solventando</td>
                                <td>Respuestas de preguntas por solventar {{resultados.RespuestaSolv}} de {{resultados.RespuestasPorSolventar}}</td>
                            </tr>
                            <tr>
                                <td>Revision responsable</td>
                                <td>Solventaciones revisadas {{resultados.RecomenSolv}} de {{resultados.RespuestasPorSolventar}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import MonitoreoAiuditoria   from "@/js/components/auditoria_desempenio/MonitoreoAuditoria";
    import FileModal from "@/js/components/FileModal";
    export default {
        name: "ModalAvance",
        components: {
            FileModal,
            MonitoreoAiuditoria
        },
        data() {
            return {
                auditoria: [],
                resultados: null,
            }
        },
        watch:{
            datosAuditoria: function(){
                this.getResultados();
            }
        },
        methods: {
            getResultados(){
                let data = {
                    auditoriaID: this.datosAuditoria.AuditoriaID,
                    ejercicio: this.datosAuditoria.Anio
                };
                axios.post('/api/get-resultados-auditoria',data).then(resp => {
                    this.resultados = resp.data.respuestas_recomendaciones[0];
                }).catch(e =>{
                    console.log(e);
                });
            },
        },
        computed: {
            hasExpedientesCrpSad() {
                // return false;
                return this.$store.getters.getHasExpedientesCrp;
            },
            hasExpedientesSolventacionSad() {
                // return false;
                return this.$store.getters.getHasExpedientesSolventacion;
            },
            datosAuditoria(){
                let auditoria = this.$store.getters.getDatosAuditoriaSad;
                return auditoria;
            },
            getEjercicioFiscal(){
                return this.$route.params.ejercicio;
            },
        }
    }
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
</style>
