<template>
    <div class="uk-grid">
        <div class="uk-width-1-1 uk-margin-medium-bottomd">
            <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold">
                {{ pregunta.NoPregunta }}.- {{ pregunta.Pregunta }}
            </div>
            <template v-if="etapa_actual === 'Solventación de CRP'">
                <div v-if="isSolventada(pregunta)" class="uk-alert uk-alert-success uk-border-rounded uk-text-center uk-text-uppercase">
                    <p class="uk-text-large"><i class="far fa-check-circle"></i></p>
                    Pregunta solventada
                </div>
                <div v-else>
                    <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold uk-text-uppercase uk-alert-primary">
                        <i class="fas fa-clipboard-list"></i> Respuesta previa
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Respuesta Previa</label>
                        <card-respuesta :respuesta="respuesta" :small="false"></card-respuesta>
                    </div>
                    <div class="uk-margin">
                        <documentacion-anexada-solo-lectura :anexos="setAnexosPrevios"
                                               v-if="setAnexosPrevios.length > 0"
                                               :pregunta="pregunta"
                                               :etapa_actual="etapa_actual"/>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Recomendación Preliminar</label>
                        <card-respuesta :respuesta="pregunta.RecomendacionCRP" :small="false"></card-respuesta>
                    </div>

                    <!--Respuesta solventación-->
                    <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold uk-text-uppercase uk-alert-primary">
                        <i class="fas fa-clipboard-list"></i> Respuesta
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Respuesta</label>
                        <vue-ckeditor type="classic"
                                      v-model.trim="respuestaSolventacion"
                                      :editors="editors"
                                      :config="editors.config">
                        </vue-ckeditor>
                    </div>
                    <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                        <span uk-spinner="ratio: 2"></span><br>
                        Cargando anexos...
                    </div>
                    <template v-else>
                        <documentacion-anexada :anexos="setAnexosSolventacion"
                                               v-if="setAnexosSolventacion.length > 0"
                                               :pregunta="pregunta"/>
                    </template>
                   <div class="uk-margin" v-if="documentosSeleccionadosDes.length > 0">
                       <documentacion-precargada :documentosSeleccionadosDes="documentosSeleccionadosDes" @emitDropDocument="emitDropDocument"></documentacion-precargada>
                    </div>

                    <div class="uk-margin">
                        <div class="uk-text-right">
                            <button class="uk-button uk-button-default uk-border-rounded uk-width-1-1" @click="trigerFileElement">
                                Agregar documentación a la respuesta <i class="fas fa-file-upload"></i>
                            </button>
                            <br>
                        </div>
                        <input class="fileElement" type="file" style="display:none" @change="previewFiles" multiple/>
                    </div>

                </div>
                <!--Sección de botones -->
                <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-width-1-3">
                        <button type="button"
                                class="uk-button uk-button-default uk-border-rounded uk-button-large uk-width-1-1"
                                :disabled="preguntaAnteriorEmpty"
                                @click="goToAfter">
                            <i class="fas fa-angle-left"></i> Ir a pregunta anterior
                        </button>
                    </div>
                    <div class="uk-width-1-3">
                        <button type="button"
                                class="uk-button uk-button-primary uk-border-rounded uk-button-large uk-width-1-1"
                                @click="sendDataOk"
                                :disabled="loading"
                                v-if="isSolventada(pregunta) === false">
                            Guardar respuesta <i class="fas fa-check"></i>
                        </button>
                    </div>
                    <div class="uk-width-1-3">
                        <button type="button"
                                class="uk-button uk-button-default uk-border-rounded uk-button-large uk-width-1-1"
                                :disabled="preguntaSiguienteEmpty"
                                @click="goToBefore">
                            Ir a pregunta siguiente <i class="fas fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </template>
            <template v-else>
                <div class="uk-margin">
                    <label class="uk-form-label uk-text-uppercase">Respuesta</label>
                    <vue-ckeditor type="classic"
                                  v-model.trim="respuesta"
                                  :editors="editors"
                                  :config="editors.config">
                    </vue-ckeditor>
                </div>
                <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                    <span uk-spinner="ratio: 2"></span><br>
                    Cargando anexos...
                </div>
                <template v-else>
                    <documentacion-anexada :anexos="anexos"
                                           v-if="anexos.length > 0"
                                           :pregunta="pregunta"/>
                </template>
                <div class="uk-margin" v-if="documentosSeleccionadosDes.length > 0">
                    <documentacion-precargada :documentosSeleccionadosDes="documentosSeleccionadosDes" @emitDropDocument="emitDropDocument"></documentacion-precargada>
                </div>
                <div class="uk-margin">
                    <div class="uk-text-right">
                        <button class="uk-button uk-button-default uk-border-rounded uk-width-1-1" @click="trigerFileElement">
                            Agregar documentación a la respuesta <i class="fas fa-file-upload"></i>
                        </button>
                        <br>
                    </div>
                    <input class="fileElement" type="file" style="display:none" @change="previewFiles" multiple/>
                </div>
                <!--Sección de botones -->
                <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-width-1-3">
                        <button type="button"
                                class="uk-button uk-button-default uk-border-rounded uk-button-large uk-width-1-1"
                                :disabled="preguntaAnteriorEmpty"
                                @click="goToAfter">
                            <i class="fas fa-angle-left"></i> Ir a pregunta anterior
                        </button>
                    </div>
                    <div class="uk-width-1-3">
                        <button type="button"
                                class="uk-button uk-button-primary uk-border-rounded uk-button-large uk-width-1-1"
                                @click="sendDataOk"
                                :disabled="loading">
                            Guardar respuesta <i class="fas fa-check"></i>
                        </button>
                    </div>
                    <div class="uk-width-1-3">
                        <button type="button"
                                class="uk-button uk-button-default uk-border-rounded uk-button-large uk-width-1-1"
                                :disabled="preguntaSiguienteEmpty"
                                @click="goToBefore">
                            Ir a pregunta siguiente <i class="fas fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    import DocumentacionAnexada from '@/js/components/auditoria_desempenio/DocumentacionAnexada.vue';
    import DocumentacionPrecargada from '@/js/components/auditoria_control_interno/DocumentacionPrecargada.vue';
    import DocumentacionAnexadaSoloLectura from "@/js/components/auditoria_desempenio/DocumentacionAnexadaSoloLectura";
    import filesHelper from '@/js/helpers/files';
    let moment = require('moment');
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import VueCkeditor from 'vue-ckeditor5';
    require('@ckeditor/ckeditor5-build-classic/build/translations/es.js');
    import CardRespuesta from '@/js/components/auditoria_control_interno/Auditor/CardRespuesta.vue';
    export default {
        name: "PreguntaCuestionario",
        props: ['preguntas', 'auditoria', 'etapa_actual'],
        components: {
            DocumentacionAnexada,
            'vue-ckeditor': VueCkeditor.component,
            CardRespuesta,
            DocumentacionAnexadaSoloLectura,
            DocumentacionPrecargada
        },
        data() {
            return {
                respuesta: '',
                respuestaTemp: '',
                respuestaSolventacion: '',
                respuestaSolventacionTemp: '',
                documentosSeleccionados:[],
                documentosSeleccionadosDes:[],
                loading: false,
                editors: {
                    classic: ClassicEditor,
                    config: {
                        toolbar: [
                            'heading',
                            '|',
                            'bold',
                            'italic',
                            'link',
                            'numberedList',
                            'bulletedList',
                            'blockQuote',
                            '|',
                            'undo',
                            'redo'],
                        language: 'es',
                    },
                }
            }
        },
        methods:{
            previewFiles(event) {
                let files = event.target.files;
                const fileListArr = [...files];
                for (let i = 0; i < files.length; i++) {
                    let file = files[i];
                    let size = (file.size / 1000000).toFixed(2);
                    let obj = {
                        name: file.name,
                        size: size,
                        type: file.type,
                        description: ''
                    }
                    this.documentosSeleccionadosDes.push(obj);
                }
                let exededSize = false;
                for(let j = 0; j < this.documentosSeleccionadosDes.length; j++) {
                    let file = this.documentosSeleccionadosDes[j];
                    if(exededSize === false) {
                        if(file.size > 10) {
                            exededSize = true;
                        }
                    }
                }
                if(exededSize) {
                    this.documentosSeleccionados = [];
                    this.documentosSeleccionadosDes = [];
                    alert('El tamaño máximo por documento es de hasta 10MB, alguno de los documentos excede el limite máximo');
                } else {
                    this.documentosSeleccionados = fileListArr;
                }
            },
            trigerFileElement() {
                var el = document.getElementsByClassName("fileElement");
                if (el[0]) {
                    el[0].click();
                }
            },
            setFileIcon(nameFile) {
                if(nameFile.includes('.pdf')) {
                    return 'fas fa-file-pdf';
                } else if(nameFile.includes('.docx')) {
                    return 'fas fa-file-word';
                } else if(nameFile.includes('.xlsx')) {
                    return 'fas fa-file-excel';
                } else if(nameFile.includes('.zip') || nameFile.includes('.rar')) {
                    return 'fas fa-file-archive';
                } else if(nameFile.includes('.jpg') || nameFile.includes('.png')) {
                    return 'fas fa-image';
                } else {
                    return 'fas fa-file';
                }
            },
            sendDataOk() {
                //Validar si hay documentos agregados sin agregar descripción
                let isEmpty = false;
                for(let i = 0; i < this.documentosSeleccionadosDes.length; i++) {
                    let element = document.getElementById('documento_precargado_'+i);
                    if(element.value.trim() == '') {
                        isEmpty = true;
                    }
                }
                if(isEmpty) {
                    alert('Es necesario agregar una descripción a cada uno de los documentos precargados');
                    return false;
                } else {
                    // agregar descripción de los anexos al cuerpo de la solicitud
                    for(let i = 0; i < this.documentosSeleccionadosDes.length; i++) {
                        let element = document.getElementById('documento_precargado_'+i);
                        this.documentosSeleccionadosDes[i].description = element.value.trim();
                    }
                    if(this.etapa_actual === 'Solventación de CRP') {
                        if(this.respuestaSolventacion === '' || _.isNull(this.respuestaSolventacion)) {
                            alert("LA RESPUESTA ES REQUERIDA");
                            return false;
                        } else {
                            let data = {
                                api_token: localStorage.getItem('api_token'),
                                pregunta: this.pregunta,
                                respuesta: this.respuestaSolventacion,
                                auditoriaId: this.auditoria.AuditoriaID,
                                documentosSeleccionadosDes: JSON.stringify(this.documentosSeleccionadosDes),
                                funcionarioID: this.getDataUser.FuncionarioID
                            };
                            let docs = this.documentosSeleccionados;
                            if(docs.length > 0) {
                                data.files = docs;
                            }
                            let new_data = filesHelper.makeFormData(data);
                            this.loading = true;
                            axios.post('/api/desempenio/save-respuesta', new_data).then(resp => {
                                localStorage.setItem('respuesta_id', resp.data.respuesta_id);
                                this.loading = false;
                                UIkit.notification({
                                    message: '<i class="fas fa-check"></i> Pregunta guardada correctamente',
                                    pos: 'top-right',
                                    timeout: 3000
                                });
                                this.$emit("reloadpreguntas");
                                this.documentosSeleccionados = [];
                                this.documentosSeleccionadosDes = [];
                                this.$store.dispatch('getAnexosDesempenio', {
                                    pregunta: this.pregunta
                                });
                                this.respuestaTemp = '';
                                this.respuestaSolventacionTemp = '';
                            }).catch(e => {
                                console.log(e);
                                this.loading = false;
                            });
                        }
                    } else {
                        if(this.respuesta === '' || _.isNull(this.respuesta)) {
                            alert("LA RESPUESTA ES REQUERIDA");
                            return false;
                        } else {
                            let data = {
                                api_token: localStorage.getItem('api_token'),
                                pregunta: this.pregunta,
                                respuesta: this.respuesta,
                                auditoriaId: this.auditoria.AuditoriaID,
                                documentosSeleccionadosDes: JSON.stringify(this.documentosSeleccionadosDes),
                                funcionarioID: this.getDataUser.FuncionarioID
                            };
                            let docs = this.documentosSeleccionados;
                            if(docs.length > 0) {
                                data.files = docs;
                            }
                            let new_data = filesHelper.makeFormData(data);
                            this.loading = true;
                            axios.post('/api/desempenio/save-respuesta', new_data).then(resp => {
                                localStorage.setItem('respuesta_id', resp.data.respuesta_id);
                                this.loading = false;
                                UIkit.notification({
                                    message: '<i class="fas fa-check"></i> Pregunta guardada correctamente',
                                    pos: 'top-right',
                                    timeout: 3000
                                });
                                this.$emit("reloadpreguntas");
                                this.documentosSeleccionados = [];
                                this.documentosSeleccionadosDes = [];
                                this.$store.dispatch('getAnexosDesempenio', {
                                    pregunta: this.pregunta
                                });
                                this.respuestaTemp = '';
                                this.respuestaSolventacionTemp = '';
                            }).catch(e => {
                                console.log(e);
                                this.loading = false;
                            });
                        }
                    }
                }
            },
            goToAfter() {
                this.$store.commit('updatePregunta', this.preguntaAnterior);
                this.$store.dispatch('getAnexosDesempenio', {
                    pregunta: this.preguntaAnterior
                });
                if(this.preguntaAnterior.TipoPreguntaID === 3) {
                    setTimeout(() => {
                        this.getOpcionesPregunta();
                    }, 500);
                }
                this.setPreguntaAntSig(this.preguntaAnterior);
                this.documentosSeleccionados = [];
                this.documentosSeleccionadosDes = [];
                this.subrespuestaTemp = '';
                this.respuestaSolventacionTemp = '';
                var elmnt = document.getElementById("pregunta_section");
                elmnt.scrollIntoView();
            },
            goToBefore() {
                this.$store.commit('updatePregunta', this.preguntaSiguiente);
                this.$store.dispatch('getAnexosDesempenio', {
                    pregunta: this.preguntaSiguiente
                });
                if(this.preguntaSiguiente.TipoPreguntaID === 3) {
                    setTimeout(() => {
                        this.getOpcionesPregunta();
                    }, 500);
                }
                this.setPreguntaAntSig(this.preguntaSiguiente);
                this.documentosSeleccionados = [];
                this.documentosSeleccionadosDes = [];
                this.subrespuestaTemp = '';
                this.respuestaSolventacionTemp = '';
                var elmnt = document.getElementById("pregunta_section");
                elmnt.scrollIntoView();
            },
            setPreguntaAntSig(pregunta) {
                let noPregunta = pregunta.NoPregunta;
                let totalPreguntas = this.preguntas.length;
                this.preguntaAnterior = {};
                this.preguntaSiguiente = {};
                if(noPregunta === 1) {
                    this.$store.commit('updatePreguntaAnterior', {});
                    this.$store.commit('updatePreguntaSiguiente', this.preguntas[1]);
                } else if(noPregunta === totalPreguntas) {
                    this.$store.commit('updatePreguntaAnterior', this.preguntas[totalPreguntas - 2]);
                    this.$store.commit('updatePreguntaSiguiente', {});
                } else {
                    this.$store.commit('updatePreguntaAnterior', this.preguntas[noPregunta - 2]);
                    this.$store.commit('updatePreguntaSiguiente', this.preguntas[noPregunta]);
                }
            },
            isSolventada(pregunta) {
                let totalPreguntas = this.preguntas.length;
                let puntuacionMaxima = parseFloat(100 / totalPreguntas).toFixed(2);
                return (parseFloat(puntuacionMaxima) === pregunta.PuntuacionActual);
            },
            emitDropDocument(i) {
                this.documentosSeleccionadosDes.splice(i, 1);
                this.documentosSeleccionados.splice(i, 1);
            }
        },
        computed: {
            pregunta() {
                let data_pregunta = this.$store.getters.dataPregunta;
                this.respuesta = (_.isNull(data_pregunta.Respuesta)) ? '' : data_pregunta.Respuesta;
                this.respuestaTemp = JSON.parse(JSON.stringify(data_pregunta.Respuesta));
                if(this.etapa_actual === 'Solventación de CRP') {
                    this.respuestaSolventacion = (_.isNull(data_pregunta.SolvResp)) ? '' : data_pregunta.SolvResp;
                    this.respuestaSolventacionTemp = JSON.parse(JSON.stringify(data_pregunta.SolvResp));
                }
                return data_pregunta;
            },
            preguntaAnterior: {
                get () {
                    return this.$store.getters.dataPreguntaAnterior;
                },
                set() {}
            },
            preguntaSiguiente: {
                get () {
                    return this.$store.getters.dataPreguntaSiguiente;
                },
                set() {}
            },
            anexos() {
                return this.$store.getters.dataAnexosDesempenioPregunta;
            },
            preguntaAnteriorEmpty() {
                return (_.isEmpty(this.preguntaAnterior));
            },
            preguntaSiguienteEmpty() {
                return (_.isEmpty(this.preguntaSiguiente));
            },
            getLoadingAnexos() {
                return this.$store.getters.loadingAnexosPregunta;
            },
            setAnexosPrevios() {
                let respuestaId = this.pregunta.RespuestaID;
                let anexos = this.anexos.filter(anexo => {
                    return anexo.RespuestaID === respuestaId;
                });
                return anexos;
            },
            setAnexosSolventacion() {
                let respuestaId = this.pregunta.SolvRespID;
                let anexos = this.anexos.filter(anexo => {
                    return anexo.RespuestaID === respuestaId;
                });
                return anexos;
            },
            getDataUser() {
                return this.$store.getters.dataUser;
            }
        },
        watch: {
            preguntas(val) {
                let noPregunta = this.pregunta.NoPregunta;
                let i = 0;
                let encontrado = false;
                while (i < val.length && encontrado === false) {
                    if(val[i].NoPregunta === noPregunta) {
                        encontrado = true;
                    } else {
                        i = i + 1;
                    }
                }
                this.$store.commit('updatePregunta', val[i]);
            },
        },
    }

</script>

<style lang="scss" scoped>
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
    .uk-alert-primary {
        color: $color-white !important;
        background-color: $color-primary !important;
    }
</style>
