<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'estatus-declaracion'}" class="uk-text-uppercase uk-text-small">Declaración patrimonial</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Bienes muebles</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Datos de los bienes muebles</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         :to="{name: 'estatus-declaracion'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m uk-margin-small-bottom">
                            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                                <div class="uk-grid">
                                    <div class="uk-width-1-2">
                                        <span class="uk-text-bold">
                                            <i class="fas fa-gem"></i> {{setTitle}}
                                        </span>
                                    </div>
                                    <div class="uk-width-1-2 uk-text-right">
                                        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                            <label><input class="uk-radio" type="radio" name="radio" value="NINGUNO" v-model="terminadoComo"> Ninguno</label>
                                            <label><input class="uk-radio" type="radio" name="radio" value="AGREGAR" v-model="terminadoComo"> Agregar</label>
                                            <label><input class="uk-radio" type="radio" name="radio" value="MODIFICAR" v-model="terminadoComo"> Modificar</label>
                                            <label><input class="uk-radio" type="radio" name="radio" value="SIN CAMBIO" v-model="terminadoComo"> Sin cambio</label>
                                            <label><input class="uk-radio" type="radio" name="radio" value="BAJA" v-model="terminadoComo"> Baja</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1-1@m uk-margin-small-bottom">
                            <div class="uk-alert uk-alert-primary uk-border-rounded uk-text-bold uk-text-uppercase">
                                Bienes del declarante, pareja y/o dependientes económicos
                            </div>
                        </div>
                        <div class="uk-width-1-1@m" v-if="bienes_mueble.length == 0">
                            <div class="uk-alert uk-border-rounded uk-height-small uk-flex uk-flex-center uk-flex-middle uk-box-shadow-small" v-if="formato == 0">
                                <button type="button"
                                        class="uk-button uk-button-default uk-border-rounded"
                                        @click="formato = 1">
                                    Agregar bien mueble <i class="fas fa-gem"></i>
                                </button>
                            </div>
                            <div v-else>
                                <bienes-muebles-form :cat_bienes_mueble="cat_bienes_mueble"
                                                 :cat_tipo_titular="cat_tipo_titular"
                                                 :cat_vinculo_personal="cat_vinculo_personal"
                                                 :cat_forma_adquisicion="cat_forma_adquisicion"
                                                 :bien="bien_mueble"
                                                     :marcadoComo="getMarcadoComo"
                                                 @cancel="cancelFormato"
                                                 @reloadData="reloadData"></bienes-muebles-form>
                            </div>
                        </div>
                        <div class="uk-width-1-1@m" v-else>
                            <template v-if="ischeckedTerminate == 0">
                                <button type="button"
                                        class="uk-float-right uk-button uk-button-primary uk-border-rounded uk-margin-small-left"
                                        @click="marcarTerminada"
                                        v-if="formato == 0">
                                    Marcar sección como terminada <i class="far fa-check-square"></i>
                                </button>
                            </template>
                            <button type="button"
                                    class="uk-float-right uk-button uk-button-default uk-border-rounded"
                                    @click="formato = 1"
                                    v-if="formato == 0">
                                Agregar bien mueble <i class="fas fa-gem"></i>
                            </button>
                            <table class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small uk-table-middle"
                                   v-if="formato == 0">
                                <thead>
                                    <tr>
                                        <th class="uk-text-center">#</th>
                                        <th class="uk-width-auto">Tipo de bien mueble</th>
                                        <th class="uk-width-auto uk-text-center">Titular</th>
                                        <th class="uk-width-auto uk-text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(bien, index) in bienes_mueble" :key="index">
                                        <td class="uk-text-center">
                                            {{ index + 1 }}
                                        </td>
                                        <td class="uk-text-uppercase">
                                            {{ setTipoBien(bien.TipoBienID) }}
                                        </td>
                                        <td class="uk-text-uppercase uk-text-center">
                                            {{ bien.Titular }}
                                        </td>
                                        <td class="uk-text-right">
                                            <button type="button"
                                                    class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded"
                                                    @click="editarBienMueble(bien)">
                                                Editar registro
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </td>
                                        <td class="uk-text-right">
                                            <button type="button"
                                                    class="uk-button uk-button-danger uk-button-small uk-border-rounded"
                                                    @click="borrarBienMueble(bien)"
                                                    uk-tooltip="title: BORRAR REGISTRO; pos: right">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div v-else>
                                <bienes-muebles-form :cat_bienes_mueble="cat_bienes_mueble"
                                                     :cat_tipo_titular="cat_tipo_titular"
                                                     :cat_vinculo_personal="cat_vinculo_personal"
                                                     :cat_forma_adquisicion="cat_forma_adquisicion"
                                                     :bien="bien_mueble"
                                                     :marcadoComo="getMarcadoComo"
                                                     @cancel="cancelFormato"
                                                     @reloadData="reloadData"></bienes-muebles-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import BienesMueblesForm from "@/js/views/dashboard/declaracion/components/BienesMueblesForm";

export default {
    name:"BienesMuebles",
    components: {
        BienesMueblesForm
    },
    data(){
        return{
            cat_bienes_mueble: [],
            cat_tipo_titular: [],
            cat_vinculo_personal: [],
            cat_forma_adquisicion: [],
            bienes_mueble:[],
            formato: 0,
            bien_mueble: {},
            terminadoComo: '',
            flag_cambio: 0,
            direccion: {},
        }
    },
    created(){
        this.getCatbienesMueble();
        this.getCatTipoTitulares();
        this.getCatFormasAdquisicion();
        this.getCatVinculoPersonal();
        this.getDataDeclaracion();
        this.getBienesMueble();
    },
    mounted() {
        this.setMarcadoComo();
    },
    methods:{
        setMarcadoComo() {
            let secciones = this.getDatosDeclaracion.secciones
            if(_.isUndefined(secciones) == false) {
                let seccion = secciones.filter(seccion => {
                    return seccion.SeccionID == 12
                })[0];
                this.terminadoComo = seccion.TerminadoComo;
            } else {
                this.terminadoComo = '';
            }
        },
        getDataDeclaracion() {
            this.$store.dispatch('getDatosDeclaracion');
        },
        getCatbienesMueble(){
            axios.get('/api/declaracion/get-catalogo-bienes_mueble').then(resp =>{
                this.cat_bienes_mueble = resp.data.catalogo_bienes_mueble;
            }).catch(e => {
                console.log(e);
            })
        },
        getCatTipoTitulares(){
            axios.get('/api/declaracion/get-catalogo-tipo-titulares').then(resp =>{
                this.cat_tipo_titular = resp.data.catalogo_tipo_titular;
            }).catch(e => {
                console.log(e);
            })
        },
        getCatFormasAdquisicion(){
            axios.get('/api/declaracion/get-catalogo-forma-adquisicion').then(resp =>{
                this.cat_forma_adquisicion = resp.data.catalogo_forma_adquisicion;
            }).catch(e => {
                console.log(e);
            })
        },
        getCatVinculoPersonal(){
            axios.get('/api/declaracion/get-catalogo-vinculo-personal').then(resp =>{
                this.cat_vinculo_personal = resp.data.catalogo_vinculo_personal;
            }).catch(e => {
                console.log(e);
            })
        },
        getBienesMueble(){
            var declaracion_id = sessionStorage.getItem("declaracion_id");
            let data = {
                declaracion_id: parseInt(declaracion_id)
            };
            axios.post('/api/declaracion/get-bienes-mueble',data).then(resp =>{
                this.bienes_mueble = resp.data.bienes_mueble;
            }).catch(e =>{
                console.log(e);
            })
        },
        marcarNinguno(val) {
            if(this.getMarcadoComo !== 'NINGUNO') {
                let result = window.confirm("¿ESTA SEGURO QUE DESEA MARCAR COMO NINGUNO SUS BIENES MUEBLES? SE PERDERÁ LA INFORMACIÓN PREVIAMENTE REGISTRADA");
                if(result) {
                    let data = {
                        declaracion_id: this.getDatosDeclaracion.inf_gral.DeclaracionID
                    };
                    axios.post('/api/declaracion/marcar-ninguna-bienes-muebles', data).then(resp => {
                        this.reloadData();
                        this.saveTerminadoComo(val);
                        /*UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });*/
                    }).catch(e => {
                        console.log(e);
                    });
                } else{
                    setTimeout(() => {
                        this.terminadoComo = '';
                        location.reload()
                    }, 500);
                    return false;
                }
            }
        },
        cancelFormato() {
            this.formato = 0;
            this.bien_mueble = {};
        },
        reloadData() {
            this.getBienesMueble();
        },
        marcarTerminada() {
            let result = window.confirm("¿ESTA SEGURO QUE DESEA MARCAR LA SECCION DE BIENES MUEBLES COMO TERMINADA?");
            if(result) {
                let data = {
                    declaracion_id: this.getDatosDeclaracion.inf_gral.DeclaracionID
                };
                axios.post('/api/declaracion/marcar-terminada-bienes-muebles', data).then(resp => {
                    location.reload();
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                }).catch(e => {
                    console.log(e);
                });
            } else{
                return false;
            }
        },
        borrarBienMueble(bien) {
            let result = window.confirm("¿ESTA SEGURO QUE DESEA BORRAR EL REGISTRO? UNA VEZ BORRADO NO SE PODRÁ RECUPERAR");
            if(result) {
                let data = {bien_mueble_id: bien.BienMuebleID};
                axios.post('/api/declaracion/borrar-bien-mueble', data).then(resp => {
                    this.reloadData();
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                }).catch(e => {
                    console.log(e);
                });
            } else{
                return false;
            }
        },
        editarBienMueble(bien) {
            this.formato = 1;
            this.bien_mueble = bien;
        },
        setTipoBien(tipoBienID) {
            let tipo_bien = this.cat_bienes_mueble.filter((item) => {
                return item.TipoBienID == tipoBienID
            })
            return tipo_bien[0].Nombre;
        },
        saveTerminadoComo(val) {
            let data = {
                declaracion_id: this.getDatosDeclaracion.inf_gral.DeclaracionID,
                terminadoComo: val,
                seccionId: 12
            }
            axios.post('/api/declaracion/marcar-terminado-como', data)
                .then(resp => {
                    this.flag_cambio = 1;
                })
                .catch(e => console.log(e))
        },
        getDireccion(direccionID) {
            axios.post('/api/declaracion/get-direccion', {direcion_id: direccionID}).then(resp => {
                this.direccion = resp.data.direccion;
            }).catch(e => {
                console.log(e);
            })
        },
    },
    computed:{
        getDatosDeclaracion(){
            return this.$store.getters.getDatosDeclaracion;
        },
        ischeckedTerminate(){
            let secciones = this.getDatosDeclaracion.secciones;
            if(_.isUndefined(secciones) == false) {
                let seccion   = secciones.filter((item) => {
                    return item.Nombre == 'BIENES MUEBLES'
                });
                return seccion[0].EstadoActual;
            }
        },
        setTitle() {
            let title = '';
            let tipo = this.getDatosDeclaracion.tipo;
            if(_.isUndefined(tipo) == false) {
                if(tipo.TipoDeclaracionID == 1 || tipo.TipoDeclaracionID == 4) {
                    return title + 'BIENES MUEBLES (SITUACIÓN ACTUAL)';
                }
                if(tipo.TipoDeclaracionID == 2 || tipo.TipoDeclaracionID == 5) {
                    return title + 'BIENES MUEBLES (ENTRE EL 1 DE ENERO Y EL 31 DE DICIEMBRE DEL AÑO INMEDIATO ANTERIOR)';
                } else {
                    return title + 'BIENES MUEBLES';
                }
                return title;
            } else {
                return title;
            }
            // Bienes muebles (Situación actual)
        },
        getMarcadoComo() {
            let secciones = this.getDatosDeclaracion.secciones
            if(_.isUndefined(secciones) == false) {
                let seccion = secciones.filter(seccion => {
                    return seccion.SeccionID == 12
                })[0];
                return seccion.TerminadoComo;
            } else {
                return '';
            }
        }
    },
    watch: {
        'getDatosDeclaracion': function (val) {
            let direccionID = val.inf_gral.DireccionID;
            if(_.isNull(direccionID) == false) {
                this.getDireccion(direccionID);
            } else {
                return false;
            }
        },
        terminadoComo(val) {
            if(val == 'NINGUNO') {
                this.marcarNinguno(val);
                this.flag_cambio = 1;
            } else if(val == 'SIN CAMBIO') {
                this.saveTerminadoComo(val);
                if(this.getMarcadoComo !== 'SIN CAMBIO') {
                    let data = {
                        declaracion_id: this.getDatosDeclaracion.inf_gral.DeclaracionID
                    };
                    axios.post('/api/declaracion/marcar-terminada-bienes-muebles', data).then(resp => {
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.getDataDeclaracion();
                    }).catch(e => {
                        console.log(e);
                    });
                }
            } else if(val !== '') {
                this.saveTerminadoComo(val);
            }
            if(this.flag_cambio == 1 && val != 'NINGUNO'){
                location.reload();
            }
        },
        getMarcadoComo(val) {
            this.terminadoComo = val;
        }
    },
}
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
