<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'estatus-declaracion'}" class="uk-text-uppercase uk-text-small">Declaración patrimonial</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Datos del cargo</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Datos del cargo del declarante</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         :to="{name: 'estatus-declaracion'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m">
                            <form @submit.prevent="save">
                                <!--Primera sección-->
                                <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                                    <span class="uk-text-bold">
                                        <i class="fas fa-briefcase"></i> {{ setTitle }}
                                    </span>
                                </div>
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-1-1 uk-margin-small-bottom">
                                        <p class="uk-text-bold uk-text-uppercase">(*) Campos obligatorios</p>
                                    </div>
                                    <div class="uk-width-1-5@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="nivel">Nivel / orden de gobierno *</label>
                                        <div class="uk-form-controls">
                                        </div>
                                        <select class="uk-select uk-border-rounded uk-text-uppercase"
                                                id="nivel"
                                                v-model="cargo.orden"
                                                required>
                                            <option value="">Selecciona una opción</option>
                                            <option :value="orden.NivelOrdenID" v-for="(orden, index) in ordenes_gobierno" :key="index">
                                                {{ orden.NombreOrden }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="uk-width-1-5@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="ambito">Ámbito público *</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select uk-border-rounded uk-text-uppercase"
                                                    id="ambito"
                                                    v-model="cargo.ambito"
                                                    required>
                                                <option value="">Selecciona una opción</option>
                                                <option :value="ambito.AmbitoID" v-for="(ambito, index) in ambitos_publicos" :key="index">
                                                    {{ ambito.NombreAmbito }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-width-3-5@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="ente">Nombre del ente público *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="ente"
                                                   type="text"
                                                   v-model="cargo.ente"/>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="area_adscripcion">Área de adscripción *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="area_adscripcion"
                                                   type="text"
                                                   required
                                                   v-model.trim="cargo.area">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="empleo">Empleo, cargo o comisión *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="empleo"
                                                   type="text"
                                                   required
                                                   v-model="cargo.empleo">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="nivel_cargo">Nivel del empleo, cargo o comisión *</label>
                                        <div class="uk-form-controls">
                                            <select id="nivel_cargo" class="uk-select uk-border-rounded uk-text-uppercase" v-model="cargo.nivel" required>
                                                <option value="">Selecciona una opción</option>
                                                <option :value="nivel.NivelCargoID" v-for="(nivel, index) in niveles_cargo" :key="index">
                                                    {{ nivel.Nivel }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">¿Está contratado por honorarios? *</label>
                                        <div class="uk-form-controls uk-margin-small-top">
                                            <div class="uk-grid-small uk-child-width-auto uk-grid uk-text-uppercase">
                                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom" :class="{'uk-radio-custom-border': cargo.honorarios == 1}">
                                                    <input class="uk-radio"
                                                           type="radio"
                                                           name="radio1"
                                                           v-model="cargo.honorarios"
                                                           :value="1"
                                                           required>
                                                    Si
                                                </label>
                                                <br>
                                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom" :class="{'uk-radio-custom-border': cargo.honorarios == 0}">
                                                    <input class="uk-radio"
                                                           type="radio"
                                                           name="radio1"
                                                           v-model="cargo.honorarios"
                                                           :value="0">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">
                                            <span v-if="getTipoDeclaracion === 'CONCLUSIÓN'">
                                                Fecha de conclusión del empleo, cargo o comisión
                                            </span>
                                            <span v-else>
                                                Fecha de toma de posesión del empleo o cargo
                                            </span>
                                        </label>
                                        <div class="uk-form-controls">
                                            <flat-pickr id="fecha_ingreso"
                                                        :config="config"
                                                        class="uk-input uk-border-rounded"
                                                        v-model="cargo.fecha"/>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Teléfono de oficina y extensión</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="telefono"
                                                   type="text"
                                                   v-model.trim="cargo.telefono"/>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="funciones">Especifique función principal *</label>
                                        <div class="uk-form-controls">
                                            <textarea rows="3"
                                                      class="uk-textarea uk-border-rounded uk-text-uppercase"
                                                      v-model.trim="cargo.funciones"
                                                      id="funciones"
                                                      required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1@m uk-margin-small-bottom">
                                    <label class="uk-form-label uk-text-uppercase" for="domicilio">Domicilio del empleo o cargo*</label>
                                    <div class="uk-form-controls">
                                        <select id="domicilio" class="uk-select uk-border-rounded uk-text-uppercase" v-model="cargo.direccion" required>
                                            <option value="">Selecciona una opción</option>
                                            <option :value="dir.DireccionID" v-for="(dir, index) in direccion" :key="index">
                                                {{ setDireccion(dir) }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-width-1-1@m uk-margin-small-bottom">
                                    <label class="uk-form-label uk-text-uppercase" for="observaciones">Aclaraciones / Observaciones</label>
                                    <div class="uk-form-controls">
                                    <textarea rows="3"
                                              class="uk-textarea uk-border-rounded uk-text-uppercase"
                                              id="observaciones" v-model.trim="cargo.aclaraciones">
                                    </textarea>
                                    </div>
                                </div>
                                <!------------------------------------------------------------------------------------------>
                                <!--                          Sección de otro empleo                                      -->
                                <!------------------------------------------------------------------------------------------>
                                <div v-if="isModificacion == true">
                                    <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark" v-if="cargo.otro_empleo == 1">
                                        <span class="uk-text-bold">
                                            <i class="fas fa-briefcase"></i> {{ setTitle }} (Otro empleo)
                                        </span>
                                    </div>
                                    <div class="uk-width-1-1@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">¿Cuenta con otro empleo, cargo o comisión en el servicio público distinto al declarado? *</label>
                                        <div class="uk-form-controls uk-margin-small-top">
                                            <div class="uk-grid-small uk-child-width-auto uk-grid uk-text-uppercase">
                                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom" :class="{'uk-radio-custom-border': cargo.otro_empleo == 1}">
                                                    <input class="uk-radio"
                                                           type="radio"
                                                           name="radio2"
                                                           v-model="cargo.otro_empleo"
                                                           :value="1"
                                                           required>
                                                    Si
                                                </label>
                                                <br>
                                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom" :class="{'uk-radio-custom-border': cargo.otro_empleo == 0}">
                                                    <input class="uk-radio"
                                                           type="radio"
                                                           name="radio2"
                                                           v-model="cargo.otro_empleo"
                                                           :value="0">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-grid uk-grid-small" v-if="cargo.otro_empleo == 1">
                                        <div class="uk-width-1-5@m uk-margin-small-bottom">
                                            <label class="uk-form-label uk-text-uppercase" for="nivel2">Nivel / orden de gobierno *</label>
                                            <div class="uk-form-controls">
                                            </div>
                                            <select class="uk-select uk-border-rounded uk-text-uppercase"
                                                    id="nivel2"
                                                    v-model="otro_cargo.orden"
                                                    required>
                                                <option value="">Selecciona una opción</option>
                                                <option :value="orden.NivelOrdenID" v-for="(orden, index) in ordenes_gobierno" :key="index">
                                                    {{ orden.NombreOrden }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="uk-width-1-5@m uk-margin-small-bottom">
                                            <label class="uk-form-label uk-text-uppercase" for="ambito2">Ámbito público *</label>
                                            <div class="uk-form-controls">
                                                <select class="uk-select uk-border-rounded uk-text-uppercase"
                                                        id="ambito2"
                                                        v-model="otro_cargo.ambito"
                                                        required>
                                                    <option value="">Selecciona una opción</option>
                                                    <option :value="ambito.AmbitoID" v-for="(ambito, index) in ambitos_publicos" :key="index">
                                                        {{ ambito.NombreAmbito }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="uk-width-3-5@m uk-margin-small-bottom">
                                            <label class="uk-form-label uk-text-uppercase" for="ente2">Nombre del ente público *</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                       id="ente2"
                                                       type="text"
                                                       required
                                                       v-model="otro_cargo.ente"/>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-3@m uk-margin-small-bottom">
                                            <label class="uk-form-label uk-text-uppercase" for="area_adscripcion2">Área de adscripción *</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                       id="area_adscripcion2"
                                                       type="text"
                                                       required
                                                       v-model="otro_cargo.area">
                                            </div>
                                        </div>
                                        <div class="uk-width-1-3@m uk-margin-small-bottom">
                                            <label class="uk-form-label uk-text-uppercase" for="empleo2">Empleo, cargo o comisión *</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                       id="empleo2"
                                                       type="text"
                                                       required
                                                       v-model="otro_cargo.empleo">
                                            </div>
                                        </div>
                                        <div class="uk-width-1-3@m uk-margin-small-bottom">
                                            <label class="uk-form-label uk-text-uppercase" for="nivel_cargo2">Nivel del empleo, cargo o comisión *</label>
                                            <div class="uk-form-controls">
                                                <select id="nivel_cargo2" class="uk-select uk-border-rounded uk-text-uppercase" v-model="otro_cargo.nivel" required>
                                                    <option value="">Selecciona una opción</option>
                                                    <option :value="nivel.NivelCargoID" v-for="(nivel, index) in niveles_cargo" :key="index">
                                                        {{ nivel.Nivel }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-3@m uk-margin-small-bottom">
                                            <label class="uk-form-label uk-text-uppercase">¿Está contratado por honorarios? *</label>
                                            <div class="uk-form-controls uk-margin-small-top">
                                                <div class="uk-grid-small uk-child-width-auto uk-grid uk-text-uppercase">
                                                    <label class="uk-margin-small-left uk-border-rounded uk-radio-custom" :class="{'uk-radio-custom-border': otro_cargo.honorarios == 1}">
                                                        <input class="uk-radio"
                                                               type="radio"
                                                               name="radio3"
                                                               v-model="otro_cargo.honorarios"
                                                               :value="1"
                                                               required>
                                                        Si
                                                    </label>
                                                    <br>
                                                    <label class="uk-margin-small-left uk-border-rounded uk-radio-custom" :class="{'uk-radio-custom-border': otro_cargo.honorarios == 0}">
                                                        <input class="uk-radio"
                                                               type="radio"
                                                               name="radio3"
                                                               v-model="otro_cargo.honorarios"
                                                               :value="0">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-3@m uk-margin-small-bottom">
                                            <label class="uk-form-label uk-text-uppercase" for="fecha_ingreso2">Fecha de toma de posesión del empleo o cargo</label>
                                            <div class="uk-form-controls">
                                                <flat-pickr id="fecha_ingreso2"
                                                            :config="config"
                                                            class="uk-input uk-border-rounded"
                                                            v-model="otro_cargo.fecha"/>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-3@m uk-margin-small-bottom">
                                            <label class="uk-form-label uk-text-uppercase" for="telefono2">Teléfono de oficina y extensión</label>
                                            <div class="uk-form-controls">
                                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                       id="telefono2"
                                                       type="text"
                                                       v-model.trim="otro_cargo.telefono"/>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-1@m uk-margin-small-bottom">
                                            <label class="uk-form-label uk-text-uppercase" for="funciones2">Especifique función principal *</label>
                                            <div class="uk-form-controls">
                                            <textarea rows="3"
                                                      class="uk-textarea uk-border-rounded uk-text-uppercase"
                                                      v-model.trim="otro_cargo.funciones"
                                                      id="funciones2"
                                                      required></textarea>
                                            </div>
                                        </div>
                                        <!-- Agregar el domicilio del otro empleo -->
                                        <div class="uk-width-1-1@m uk-margin-small-bottom">
                                            <label class="uk-form-label uk-text-uppercase">Domicilio del empleo o cargo*</label>
                                            <direccion :estados="estados" :direccion="direccion_otro_empleo"></direccion>
                                        </div>
                                        <div class="uk-width-1-1@m uk-margin-small-bottom">
                                            <label class="uk-form-label uk-text-uppercase" for="observaciones2">Aclaraciones / Observaciones</label>
                                            <div class="uk-form-controls">
                                            <textarea rows="3"
                                                      class="uk-textarea uk-border-rounded uk-text-uppercase"
                                                      id="observaciones2" v-model.trim="otro_cargo.aclaraciones">
                                            </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right" v-if="finalizado == 0">
                                    <button class="uk-button uk-button-primary uk-border-rounded"
                                            :disabled="loadingBtn"
                                            type="submit">
                                        <span v-show="loadingBtn == false">Guardar</span>
                                        <span uk-spinner="ratio: 0.8" v-if="loadingBtn"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import Direccion from "@/js/views/dashboard/declaracion/components/Direccion.vue";
    import Cleave from 'vue-cleave-component';
    require('cleave.js/dist/addons/cleave-phone.mx.js');
    export default {
        name:"DatosCargo",
        components: {
            flatPickr,
            Direccion,
            Cleave
        },
        created() {
            this.getDatos();
            this.getDataCargo();
            this.getDataDeclaracion();
        },
        mounted() {
            this.setImage();
        },
        data(){
            return{
                user: {},
                loadingBtn: false,
                cargo: {
                    orden: '',
                    ambito: '',
                    ente: '',
                    area: '',
                    nivel: '',
                    empleo: '',
                    funciones: '',
                    honorarios: null,
                    fecha: '',
                    telefono: '',
                    aclaraciones: '',
                    otro_empleo: 0,
                    direccion: ''
                },
                otro_cargo: {
                    orden: '',
                    ambito: '',
                    ente: '',
                    area: '',
                    empleo: '',
                    nivel: '',
                    honorarios: '',
                    fecha: '',
                    telefono: '',
                    funciones: '',
                    aclaraciones: '',
                    // otro_empleo: 1
                },
                estados: [],
                areas_adscripcion: [],
                niveles_cargo: [],
                ordenes_gobierno: [],
                ambitos_publicos: [],
                ente:{},
                direccion:{},
                direccion_otro_empleo:{},
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
                optionsCleave: {
                    phone: true,
                    phoneRegionCode: 'MX'
                },
                cargos_registrados: [],
                finalizado: 0,
                cargoIDTemp: null
            }
        },
        methods: {
            setImage() {
                let buttons_hover = $(".uk-back-button");
                if(buttons_hover.length > 0) {
                    for(let i = 0; i < buttons_hover.length; i++) {
                        let self = this;
                        $(buttons_hover[i]).hover(function(){
                            $(this).css({'background-color': self.$attrs.sidepat.color_primario, "cursor": 'pointer'});
                        }, function(){
                            $(this).css({'background-color': 'transparent', "cursor": 'pointer'});
                        });
                    }
                }
                let buttons_primary = $(".uk-button-primary");
                if(buttons_primary.length > 0) {
                    for(let i = 0; i < buttons_primary.length; i++) {
                        $(buttons_primary[i]).css('background-color', this.$attrs.sidepat.color_primario);
                    }
                }
            },
            getDataCargo() {
                axios.get('/api/declaracion/get-data-cargo').then(resp => {
                    this.estados           = resp.data.estados;
                    this.areas_adscripcion = resp.data.areas_adscripcion;
                    this.niveles_cargo     = resp.data.niveles_cargo;
                    this.ordenes_gobierno  = resp.data.ordenes_gobierno;
                    this.ambitos_publicos  = resp.data.ambitos_publicos;
                    this.direccion         = resp.data.direccion;
                    this.ente              = resp.data.ente;
                    this.setAreasAdscripcion();
                }).catch(e => {
                   console.log(e);
                    this.estados           = []
                    this.areas_adscripcion = []
                    this.niveles_cargo     = []
                    this.ente              = {}
                });
            },
            getDataDeclaracion() {
                this.$store.dispatch('getDatosDeclaracion');
            },
            getDatos(){
                axios.get('/api/declaracion/get-datos-declaracion').then(resp => {
                    this.user = resp.data.datos;
                    this.cargo.empleo = this.user.Puesto;
                    if(_.isNull(this.user.RegimenMatrimonial) == false) {
                        if(this.user.RegimenMatrimonial.length > 1) {
                            this.regimenTemporal = JSON.parse(JSON.stringify(this.user.RegimenMatrimonial));
                            this.user.RegimenMatrimonial = "3";
                            setTimeout(() => {
                                $("#regimen-especifico").val(this.regimenTemporal);
                            }, 500);
                        } else {
                            this.regimenTemporal = '';
                            this.user.RegimenMatrimonial = this.user.RegimenMatrimonial;
                        }
                    }
                    this.user.PaisNacimiento = (_.isNull(this.user.PaisNacimiento)) ? 'México' : this.user.PaisNacimiento;
                    this.user.Nacionalidad   = (_.isNull(this.user.Nacionalidad)) ? 'Mexicana' : this.user.Nacionalidad;
                    this.setImage();
                }).catch(e => {
                    console.log(e);
                })
            },
            isEmpty(direccion) {
                return _.isEmpty(direccion);
            },
            save() {
                if(this.cargo.otro_empleo == 0) {
                    if(this.cargos_registrados.length == 2) {
                        let confirm = window.confirm('Se ha seleccionado que no cuenta con otro empleo, cargo o comisión. ¿Está seguro que desea continuar?');
                        if(confirm == false) {
                            return false;
                        }
                    }
                    this.loadingBtn           = true;
                    this.cargo.declaracion_id = this.getDatosDeclaracion.inf_gral.DeclaracionID;
                    this.cargo.puesto_id      = this.user.PuestoID;
                    this.cargo.direccion_id   = this.cargo.direccion;
                    try {
                        console.log('cargoIdTemp ---->' + this.cargoIDTemp);
                        // Aqui es el problema, debido a que se manda como id y no como texto
                        this.cargo.area = this.areas_adscripcion.find(e => e.Nombre === this.cargo.area).AdscripcionID;
                        this.cargo.area = parseInt(this.cargo.area);
                        console.log('cargoArea  ----->' + this.cargo.area);
                    } catch(e) {
                        this.cargo.area  = undefined
                    }
                    console.log(this.cargo.area);
                    if(_.isUndefined(this.cargo.area)) {
                        alert("El área de adscripción ingresada no es válida, debe seleccionar una área de adscripción de la lista sugerida");
                        $("#area_adscripcion").focus();
                        this.loadingBtn = false;
                        return false;
                    }
                    let data = {
                        cargo: this.cargo,
                    };
                    setTimeout(() => {
                        axios.post('/api/declaracion/save-datos-cargo', data).then(resp => {
                            UIkit.notification({
                                message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                                pos: 'top-right',
                                timeout: 3000
                            });
                            this.loadingBtn = false;
                            this.getDataCargo();
                            this.getDataCargoRegistrado();
                        }).catch(e => {
                            console.log(e);
                            this.loadingBtn = false;
                        });
                    }, 1500);
                } else {
                    this.loadingBtn                = true;
                    this.cargo.declaracion_id      = this.getDatosDeclaracion.inf_gral.DeclaracionID;
                    this.cargo.puesto_id           = this.user.PuestoID;
                    this.cargo.direccion_id        = this.direccion.DireccionID;
                    try {
                        console.log(this.cargo.area);
                        this.cargo.area            = this.areas_adscripcion.find(e => e.Nombre === this.cargo.area).AdscripcionID;
                        this.cargo.area = parseInt(this.cargo.area);
                        console.log(this.cargo.area);
                    } catch(e) {
                        this.cargo.area            = undefined;
                    }
                    if(_.isUndefined(this.cargo.area)) {
                        alert("El área de adscripción ingresada no es válida, debe seleccionar una área de adscripción de la lista sugerida");
                        $("#area_adscripcion").focus();
                        this.loadingBtn = false;
                        return false;
                    }
                    // Otro cargo
                    this.otro_cargo.declaracion_id = this.getDatosDeclaracion.inf_gral.DeclaracionID;
                    this.otro_cargo.puesto_id      = this.user.PuestoID;
                    this.otro_cargo.direccion_id   = (_.isEmpty(this.direccion_otro_empleo)) ? null : this.direccion_otro_empleo.DireccionID;
                    this.otro_cargo.direccion      = this.getDatosDireccion;
                    this.otro_cargo.otro_empleo    = 1;
                    let data = {
                        cargo: this.cargo,
                        otro_cargo: this.otro_cargo
                    };
                    setTimeout(() => {
                        axios.post('/api/declaracion/save-datos-cargo', data).then(resp => {
                            UIkit.notification({
                                message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                                pos: 'top-right',
                                timeout: 3000
                            });
                            this.loadingBtn = false;
                            this.getDataCargo();
                            this.getDataCargoRegistrado();
                        }).catch(e => {
                            console.log(e);
                            this.loadingBtn = false;
                        });
                    }, 1500);
                }
            },
            getDataCargoRegistrado() {
                let data = {
                    declaracion_id: this.getDatosDeclaracion.inf_gral.DeclaracionID
                }
                axios.post('/api/declaracion/get-cargo-registrado', data).then(resp => {
                    let cargos = resp.data.cargos;
                    if(cargos.length > 0) {
                        this.cargos_registrados =  cargos;
                        if(_.isNull(cargos) == false) {
                            let cargo = cargos.filter((cargo) => {
                                return cargo.TipoCargo == 1
                            });
                            cargo = cargo[0];
                            this.cargo.orden        = cargo.OrdenGobiernoID;
                            this.cargo.ambito       = cargo.AmbitoPublicoID;
                            this.cargo.ente         = cargo.Dependencia;
                            // buscar elemento en arr de areas por id
                            this.setCargoArea(cargo.AdscripcionID);
                            this.cargo.nivel        = cargo.NivelCargo;
                            this.cargo.funciones    = cargo.FuncionPrincipal;
                            this.cargo.honorarios   = cargo.Honorarios;
                            this.cargo.fecha        = cargo.FechaIngreso;
                            this.cargo.telefono     = cargo.Telefono;
                            this.cargo.aclaraciones = cargo.Observaciones;
                            this.cargo.direccion    = cargo.DireccionID;
                            if(cargos.length == 2) {
                                this.cargo.otro_empleo = 1;
                                let otro_cargo = cargos.filter((cargo) => {
                                    return cargo.TipoCargo == 2
                                });
                                otro_cargo = otro_cargo[0];
                                this.otro_cargo.orden        = otro_cargo.OrdenGobiernoID;
                                this.otro_cargo.ambito       = otro_cargo.AmbitoPublicoID;
                                this.otro_cargo.ente         = otro_cargo.Dependencia;

                                this.otro_cargo.area         = otro_cargo.AreaEspecifica;

                                this.otro_cargo.nivel        = otro_cargo.NivelCargo;
                                this.otro_cargo.funciones    = otro_cargo.FuncionPrincipal;
                                this.otro_cargo.honorarios   = otro_cargo.Honorarios;
                                this.otro_cargo.fecha        = otro_cargo.FechaIngreso;
                                this.otro_cargo.telefono     = otro_cargo.Telefono;
                                this.otro_cargo.aclaraciones = otro_cargo.Observaciones;
                                this.otro_cargo.empleo       = otro_cargo.PuestoEspecifico;
                                this.getDireccion(otro_cargo.DireccionID);
                            }
                        }
                    } else {
                        this.cargo.orden = this.ente.OrdenGobiernoID;
                        this.cargo.ambito = this.ente.AmbitoID;
                    }
                }).catch(e => {
                    console.log(e);
                });
            },
            getDireccion(direccionID) {
                axios.post('/api/declaracion/get-direccion', {direcion_id: direccionID}).then(resp => {
                    this.direccion_otro_empleo = resp.data.direccion;
                }).catch(e => {
                    console.log(e);
                })
            },
            setDireccion(dir) {
                let direccion = dir;
                return direccion.Calle + ' #' + direccion.NumeroExterior + ', Colonia ' + direccion.Colonia + ', ' + direccion.Estado + ', ' + direccion.Municipio + '. CP ' + direccion.CodigoPostal;
            },
            setAreasAdscripcion() {
                let self = this;
                this.cargoIDTemp = null;
                let areas_adscripcion = this.areas_adscripcion;
                let arrAreas = [];
                for(let i = 0; i < areas_adscripcion.length; i++) {
                    arrAreas.push(areas_adscripcion[i].Nombre);
                }
                $("#area_adscripcion").autocomplete({
                   lookup: arrAreas,
                   onSelect: function(suggestion) {
                       self.cargo.area = suggestion.value;
                       self.cargoIDTemp = self.areas_adscripcion.find(e => e.Nombre === self.cargo.area).AdscripcionID;
                       console.log(self.cargoIDTemp, self.cargo.area);
                   }
                });
            },
            setCargoArea(AdscripcionID){
                if(this.areas_adscripcion.length > 0) {
                    this.cargo.area = this.areas_adscripcion.find(e => e.AdscripcionID === AdscripcionID).Nombre;
                } else {
                    this.cargo.area     = '';
                    setTimeout( () => {
                        this.cargo.area = this.areas_adscripcion.find(e => e.AdscripcionID === AdscripcionID).Nombre;
                    }, 2000);
                }
            }
        },
        computed: {
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
            setTitle() {
                let title = 'DATOS DEL EMPLEO, CARGO O COMISIÓN';
                let tipo  = this.getDatosDeclaracion.tipo;
                if(_.isUndefined(tipo) == false) {
                    if(tipo.TipoDeclaracionID == 1 || tipo.TipoDeclaracionID == 4) {
                        return title + ' QUE INICIA';
                    }
                    if(tipo.TipoDeclaracionID == 2 || tipo.TipoDeclaracionID == 5) {
                        return title + ' ACTUAL';
                    } else {
                        return title + ' QUE CONCLUYE';
                    }
                    return title;
                } else {
                    return title;
                }
            },
            isModificacion() {
                let tipo = this.getDatosDeclaracion.tipo;
                if(_.isUndefined(tipo) == false) {
                    if(tipo.TipoDeclaracionID == 2 || tipo.TipoDeclaracionID == 5) {
                        return true;
                    } else {
                        return false;
                    }
                } else {
                    return false;
                }
            },
            setEnte() {
                return (_.isEmpty(this.ente) == false) ? this.ente.NombreEnte : '';
            },
            getDatosDireccion() {
                return this.$store.getters.direccionDeclaracion;
            },
            getTipoDeclaracion(){
                if(_.isUndefined(this.getDatosDeclaracion.tipo.NombreCorto)) {
                    return '';
                } else {
                    return this.getDatosDeclaracion.tipo.NombreCorto;
                }
            }
        },
        watch: {
            'getDatosDeclaracion': function() {
                this.finalizado = this.getDatosDeclaracion.inf_gral.Finalizado;
                this.getDataCargoRegistrado();
            },
            setEnte(val) {
                this.cargo.ente = val;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
                .uk-radio-custom {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    background-color: #ffffff;
                    padding-right: 15px;
                    &:hover{
                        background-color: #f5f5f5;
                        cursor: pointer;
                    }
                }
                .uk-address-custom {
                    background-color: #ffffff;
                }
                .uk-radio-custom-border {
                    border: 1px #1E87F0 solid;
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
