<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'estatus-declaracion'}" class="uk-text-uppercase uk-text-small">Declaración patrimonial</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Datos curriculares</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Datos curriculares del declarante </h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         :to="{name: 'estatus-declaracion'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m">
                            <form @submit.prevent="save">
                                <!--Primera sección-->
                                <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                                    <span class="uk-text-bold">
                                        <i class="fas fa-graduation-cap"></i> Escolaridad
                                    </span>
                                </div>
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-1-1 uk-margin-small-bottom">
                                        <p class="uk-text-bold uk-text-uppercase">(*) Campos obligatorios</p>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="nivel">
                                            Nivel (Último grado de estudios) *
                                        </label>
                                        <div class="uk-form-controls">
                                            <!--cargar catalogo de nivel de estudios -->
                                            <select class="uk-select uk-border-rounded uk-text-uppercase"
                                                    id="nivel"
                                                    v-model="nivel_escolar"
                                                    required>
                                                <option value="">Selecciona una opción</option>
                                                <option v-for="(nivel, index) in niveles_estudio"
                                                        :value="nivel.NivelEstudioID"
                                                        :key="index"
                                                        class="uk-text-uppercase">
                                                    {{nivel.Nombre}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="institucion">Institución educativa *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="institucion"
                                                   type="text"
                                                   v-model="institucion"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="carrera">Carrera o área de conocimiento</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="carrera"
                                                   v-model="carrera"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-2@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Estatus *</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" id="estatus">
                                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                                       :class="{'uk-radio-custom-border': estatus == 'Cursando'}">
                                                    <input class="uk-radio"
                                                           type="radio"
                                                           v-model="estatus"
                                                           value="Cursando"
                                                           name="radio"
                                                           required>
                                                    Cursando
                                                </label>
                                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                                       :class="{'uk-radio-custom-border': estatus == 'Finalizado'}">
                                                    <input class="uk-radio"
                                                           type="radio"
                                                           v-model="estatus"
                                                           value="Finalizado"
                                                           name="radio">
                                                    Finalizado
                                                </label>
                                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                                       :class="{'uk-radio-custom-border': estatus == 'Trunco'}">
                                                    <input class="uk-radio"
                                                           type="radio"
                                                           v-model="estatus"
                                                           value="Trunco"
                                                           name="radio">
                                                    Trunco
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-2@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Documento obtenido *</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" id="documento">
                                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                                       :class="{'uk-radio-custom-border': documento == 'Boleta'}">
                                                    <input class="uk-radio"
                                                           type="radio"
                                                           v-model="documento"
                                                           value="Boleta"
                                                           name="radio2"
                                                           required>
                                                    Boleta
                                                </label>
                                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                                       :class="{'uk-radio-custom-border': documento == 'Certificado'}">
                                                    <input class="uk-radio"
                                                           type="radio"
                                                           v-model="documento"
                                                           value="Certificado"
                                                           name="radio2">
                                                    Certificado
                                                </label>
                                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                                       :class="{'uk-radio-custom-border': documento == 'Constancia'}">
                                                    <input class="uk-radio"
                                                           type="radio"
                                                           v-model="documento"
                                                           value="Constancia"
                                                           name="radio2">
                                                    Constancia
                                                </label>
                                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                                       :class="{'uk-radio-custom-border': documento == 'Título'}">
                                                    <input class="uk-radio"
                                                           type="radio"
                                                           v-model="documento"
                                                           value="Título"
                                                           name="radio2">
                                                    Título
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-2@m uk-margin-small-bottom">
                                        <div class="uk-grid">
                                            <div class="uk-width-2-3@m">
                                                <label class="uk-form-label uk-text-uppercase" for="fecha_obtencion">Fecha de obtención de documento *</label>
                                                <div class="uk-form-controls">
                                                    <flat-pickr id="fecha_obtencion"
                                                                :config="config"
                                                                class="uk-input uk-border-rounded"
                                                                v-model="fecha_obtencion"
                                                                required/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-2@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Lugar donde se ubica la institución educativa *</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" id="ubicacion" v-model="ubicacion">
                                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                                       :class="{'uk-radio-custom-border': ubicacion == 0}">
                                                    <input class="uk-radio"
                                                           type="radio"
                                                           v-model="ubicacion"
                                                           :value="0"
                                                           name="radio3"
                                                           required>
                                                    En México
                                                </label>
                                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                                       :class="{'uk-radio-custom-border': ubicacion == 1}">
                                                    <input class="uk-radio"
                                                           type="radio"
                                                           v-model="ubicacion"
                                                           name="radio3"
                                                           :value="1">
                                                    En el extranjero
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="observaciones">Aclaraciones / Observaciones</label>
                                        <div class="uk-form-controls">
                                            <textarea class="uk-textarea uk-border-rounded uk-text-uppercase"
                                                      rows="3"
                                                      id="observaciones"
                                                      v-model="observaciones"></textarea>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right" v-if="getDatosDeclaracion.inf_gral.Finalizado == 0">
                                        <button class="uk-button uk-button-primary uk-border-rounded"
                                                :disabled="loadingBtn"
                                            type="submit">
                                            <span v-show="loadingBtn == false">Guardar</span>
                                            <span uk-spinner="ratio: 0.8" v-if="loadingBtn"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';

    export default {
        name:"DatosCurriculares",
        components: {
            flatPickr,
        },
        data(){
            return{
                nivel_escolar: '',
                niveles_estudio:[],
                institucion: '',
                carrera:'',
                estatus:'',
                documento:'',
                fecha_obtencion:'',
                ubicacion:'',
                observaciones:'',
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
                loadingBtn: false,
                dataDeclaracion: {}
            }
        },
        created(){
            this.getNivelesEstudio();
            this.getDataDeclaracion();
        },
        mounted() {
            this.setImage();
        },
        methods:{
            setImage() {
                let buttons_hover = $(".uk-back-button");
                if(buttons_hover.length > 0) {
                    for(let i = 0; i < buttons_hover.length; i++) {
                        let self = this;
                        $(buttons_hover[i]).hover(function(){
                            $(this).css({'background-color': self.$attrs.sidepat.color_primario, "cursor": 'pointer'});
                        }, function(){
                            $(this).css({'background-color': 'transparent', "cursor": 'pointer'});
                        });
                    }
                }
                let buttons_primary = $(".uk-button-primary");
                if(buttons_primary.length > 0) {
                    for(let i = 0; i < buttons_primary.length; i++) {
                        $(buttons_primary[i]).css('background-color', this.$attrs.sidepat.color_primario);
                    }
                }
            },
            getDataDeclaracion() {
                this.$store.dispatch('getDatosDeclaracion');
            },
            getNivelesEstudio(){
                axios.get('/api/declaracion/get-niveles-estudio').then(resp=>{
                    this.niveles_estudio = resp.data.niveles;
                });
            },
            save(){
                if(this.fecha_obtencion == '') {
                    alert("LA FECHA DE OBTENCIÓN DE DOCUMENTO ES REQUERIDA");
                    return false;
                } else {
                    let data = {
                        info: {
                            nivel_estudio_id:   this.nivel_escolar,
                            institucion:        this.institucion,
                            carrera:            this.carrera,
                            status:             this.estatus,
                            documento:          this.documento,
                            fecha_documento:    this.fecha_obtencion,
                            es_extranjero:      this.ubicacion,
                            observaciones:      this.observaciones,
                            declaracion_id:     this.getDatosDeclaracion.inf_gral.DeclaracionID
                        }
                    }
                    this.loadingBtn = true;
                    axios.post('/api/declaracion/save-datos-curriculares',data).then(resp =>{
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información registrada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.loadingBtn = false;
                    }).catch(e => {
                        console.log(e);
                        this.loadingBtn = false;
                        alert("OCURRIO UN ERROR | CONTACTA A LA UNIDAD DE TECNOLOGÍAS DE INFORMACIÓN");
                    })
                }
            },
            getDataCurriculares() {
                let data = {
                    declaracionID: this.dataDeclaracion.inf_gral.DeclaracionID
                }
                axios.post('/api/declaracion/get-data-curriculares', data).then(resp => {
                    if(_.isNull(resp.data.curriculares) == false) {
                        let curriculares     = resp.data.curriculares;
                        this.nivel_escolar   = curriculares.NivelEstudioID;
                        this.institucion     = curriculares.Institucion;
                        this.carrera         = (_.isNull(curriculares.Carrera)) ? '' : curriculares.Carrera;
                        this.estatus         = curriculares.Status;
                        this.documento       = curriculares.DocumentoObtenido;
                        this.fecha_obtencion = curriculares.FechaDocumento;
                        this.ubicacion       = curriculares.EsExtranjero;
                        this.observaciones   = (_.isNull(curriculares.Observaciones)) ? '' : curriculares.Observaciones;
                    }
                    this.setImage();
                }).catch(e => {
                    console.log(e);
                });
            }
        },
        computed: {
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
        },
        watch:{
            'getDatosDeclaracion':function(val){
                this.dataDeclaracion = val;
                this.getDataCurriculares();
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
                .uk-radio-custom {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    background-color: #ffffff;
                    padding-right: 15px;
                    &:hover{
                        background-color: #f5f5f5;
                        cursor: pointer;
                    }
                }
                .uk-radio-custom-border {
                    border: 1px #1E87F0 solid;
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
