<!-- resources/js/views/dashboard/declaracion/DeclaracionBacheo.vue -->
<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom uk-margin-large-top">
                <menu-card title="Reasignación de ejercicios"
                           description="Reasignar declaraciones a otro ejercicio"
                           goToUrl="reasignacion-ejercicios"
                           :sidepat="$attrs.sidepat">
                    <i class="fas fa-exchange-alt fa-3x"></i>
                </menu-card>
                <menu-card title="Unificar de declaraciones"
                           description="Unificar declaraciones de usuarios"
                           goToUrl="unificar-declaraciones"
                           :sidepat="$attrs.sidepat">
                    <i class="fas fa-object-group fa-3x"></i>
                </menu-card>
            </div>
        </div>
    </div>
</template>

<script>

import MenuCard from "@/js/components/MenuCard";
export default {
    name: "DeclaracionBacheo",
    components: {
        MenuCard
    },
}
</script>

<style lang="scss" scoped>

</style>
