<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'declaracion-administrador'}" class="uk-text-uppercase uk-text-small">Menú de Declaración Patrimonial</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'declaracion-administrador-panel'}" class="uk-text-uppercase uk-text-small">Panel de administración</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'declaracion-administrador-panel-estadisticas'}" class="uk-text-uppercase uk-text-small">Estadisticas</router-link>
                        </li>
                        <li>
                            <span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Detalles de declaracion</span>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <template v-if="loading">
                        <div class="uk-text-center uk-text-uppercase">
                            <span uk-spinner="ratio: 2.8"></span> <br>
                            Cargando declaración...
                        </div>
                    </template>
                    <template v-else>
                        <div class="uk-grid uk-flex uk-flex-middle">
                            <div class="uk-width-2-3">
                                <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Detalle de la declaración</h3>
                            </div>
                            <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                                <router-link class="uk-back-button uk-text-uppercase"
                                            tag="a"
                                            uk-tooltip="title: REGRESAR A las estadisticas"
                                            :to="{name: 'declaracion-administrador-panel-estadisticas'}">
                                    <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                                </router-link>
                            </div>
                        </div>
                        <div class="uk-grid uk-flex uk-flex-middle">
                            <div class="uk-width-1-1">
                                <div class="uk-alert uk-border-rounded uk-text-uppercase uk-text-bold uk-margin-small-top uk-margin-small-bottom uk-text-small">
                                    <div class="uk-grid uk-grid-small">
                                        <div class="uk-width-2-3">
                                            {{this.dataDeclaracion[0].Declarante}} - {{this.dataDeclaracion[0].TipoDeclaracion}}
                                        </div>
                                        <div class="uk-width-1-3 uk-text-right">
                                            {{this.dataDeclaracion[0].Year}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-large-bottom uk-margin-small-top">
                            <div class="uk-width-1-1">
                                <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-text-small uk-table-middle uk-table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th class="uk-text-center">Seccion</th>
                                            <th class="uk-text-center">Estatus</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(seccion, index) in secciones"
                                            v-if="seccion.Aplica === 1"
                                            :key="index"
                                            class="uk-cursor-pointer">
                                            <td>{{ index + 1 }}</td>
                                            <td class="uk-text-left uk-text-uppercase">
                                                {{seccion.Nombre}}
                                            </td>
                                            <td class="uk-text-center uk-text-uppercase">
                                                <p v-if="seccion.EstadoActual == 1" class="uk-text-success">
                                                    Terminada
                                                </p>
                                                <p v-else class="uk-text-danger">
                                                    Pendiente
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </template>
                    <div v-if="dataDeclaracion != null" class="uk-grid uk-margin-large-bottom uk-margin-small-top">
                        <div class="uk-width-1-1 uk-text-center">
                            <canvas id="chIngresosAdeudos" width="400" height="150"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Chart from 'chart.js';
export default ({
    name:"DetalleDeclaracion",
    data(){
        return{
            declaracion_id: this.$route.params.declaracion,
            declarante: '',
            ejercicio: '',
            tipo_declaracion: '',
            dataDeclaracion: {},
            secciones:{},
            loading: false,
        }
    },
    created(){
        this.getDataDeclaracion();
    },
    methods:{
        getDataDeclaracion() {
            this.loading = true;
            let data = {
                declaracion_id: this.declaracion_id
            };
            axios.post('/api/declaracion/get-declaracion-estadistica', data).then(resp => {
                this.dataDeclaracion = resp.data.declaracion;
                this.secciones = resp.data.secciones;
                this.loading = false;
                this.chartIngresosAdeudos();
            }).catch(e => {
                console.log(e);
                this.loading = false;
            });
        },
        chartIngresosAdeudos(){
                var ctx = document.getElementById('chIngresosAdeudos');
                var chIngresosAdeudos = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: ['Remuneracion mensual neta', 'Ingreso neto pareja y dependientes', 'Otros ingresos'],
                        datasets: [{
                            label: '# of Votes',
                            data: [this.dataDeclaracion[0].RemuneracionMensualNeta,
                                this.dataDeclaracion[0].IngNetoParejaDependientes,
                                this.dataDeclaracion[0].TotalOtrosIngresos ],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
    },
})
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .uk-thead > th{
            font-weight: bold;
            background-color: #424242;
            color: $color-white;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .uk-card {
            &:hover {
                cursor: pointer;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
