<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'estatus-declaracion'}" class="uk-text-uppercase uk-text-small">Declaración patrimonial</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Experiencia laboral</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Experiencia laboral del declarante</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         :to="{name: 'estatus-declaracion'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m">
                            <!--Primera sección-->
                            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                                <div class="uk-grid">
                                    <div class="uk-width-1-2">
                                        <span class="uk-text-bold">
                                            <i class="fas fa-briefcase"></i> Experiencia laboral (Últimos cinco empleos)
                                        </span>
                                    </div>
                                    <div class="uk-width-1-2 uk-text-right">
                                        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                            <label><input class="uk-radio" type="radio" name="radio" value="NINGUNO" v-model="terminadoComo"> Ninguno</label>
                                            <label><input class="uk-radio" type="radio" name="radio" value="AGREGAR" v-model="terminadoComo"> Agregar</label>
                                            <label><input class="uk-radio" type="radio" name="radio" value="MODIFICAR" v-model="terminadoComo"> Modificar</label>
                                            <label><input class="uk-radio" type="radio" name="radio" value="SIN CAMBIO" v-model="terminadoComo"> Sin cambio</label>
                                            <label><input class="uk-radio" type="radio" name="radio" value="BAJA" v-model="terminadoComo"> Baja</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-1-1@m uk-margin-small-bottom">
                                    <div v-if="experiencias.length > 0">
                                        <template v-if="ischeckedTerminate == 0">
                                            <button id="btn-marcar-terminado"
                                                    type="button"
                                                    class="uk-float-right uk-button uk-button-primary uk-border-rounded uk-margin-small-left"
                                                    @click="marcarTerminada"
                                                    v-if="formato == 0">
                                                Marcar sección como terminada <i class="far fa-check-square"></i>
                                            </button>
                                        </template>
                                        <button type="button"
                                                class="uk-float-right uk-button uk-button-default uk-border-rounded"
                                                @click="agregarExperiencia"
                                                v-if="formato == 0">
                                            Agregar experiencia laboral <i class="fas fa-briefcase"></i>
                                        </button>
                                        <table class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small uk-table-middle"
                                               v-if="formato == 0">
                                            <thead>
                                                <tr>
                                                    <th class="uk-text-center">#</th>
                                                    <th class="uk-width-auto">Cargo</th>
                                                    <th class="uk-width-auto uk-text-center">Ente / Empresa</th>
                                                    <th class="uk-width-auto  uk-text-center">Ambito o sector</th>
                                                    <th class="uk-width-auto uk-text-center"></th>
                                                    <th class="uk-width-auto uk-text-center"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(experiencia, index) in experiencias" :key="index">
                                                    <td class="uk-text-center">
                                                        {{ index + 1 }}
                                                    </td>
                                                    <td class="uk-text-uppercase">
                                                        {{experiencia.Puesto}}
                                                    </td>
                                                    <td class="uk-text-uppercase uk-text-center">
                                                        {{experiencia.Institucion}}
                                                    </td>
                                                    <td class="uk-text-uppercase uk-text-center">
                                                        {{experiencia.AmbitoSector}}
                                                    </td>
                                                    <td class="uk-text-right">
                                                        <button type="button"
                                                                class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded btn-editar-registro"
                                                                @click="setExperiencia(experiencia)">
                                                            Editar registro...
                                                            <i class="fas fa-edit"></i>
                                                        </button>
                                                    </td>
                                                    <td class="uk-text-right">
                                                        <button type="button"
                                                                class="uk-button uk-button-danger uk-button-small uk-border-rounded"
                                                                @click="dropExperiencia(experiencia)"
                                                                uk-tooltip="title: BORRAR REGISTRO; pos: right">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div v-else>
                                            <experiencia-laboral-form :formato="formato"
                                                                      :cat_orden_gobierno="cat_orden_gobierno"
                                                                      :cat_ambito_publico="cat_ambito_publico"
                                                                      :cat_sector_laboral="cat_sector_laboral"
                                                                      :experiencia="experiencia"
                                                                      :sidepat="$attrs.sidepat"
                                                                      :marcadoComo="getMarcadoComo"
                                                                      @cancel="cancelFormato"
                                                                      @reloadData="reloadData"/>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <div class="uk-alert uk-border-rounded uk-height-small uk-flex uk-flex-center uk-flex-middle uk-box-shadow-small" v-if="formato == 0">
                                            <button type="button"
                                                    class="uk-button uk-button-default uk-border-rounded"
                                                    @click="formato = 1">
                                                Agregar experiencia laboral <i class="fas fa-briefcase"></i>
                                            </button>
                                        </div>
                                        <div v-else>
                                            <experiencia-laboral-form :formato="formato"
                                                                      :cat_orden_gobierno="cat_orden_gobierno"
                                                                      :cat_ambito_publico="cat_ambito_publico"
                                                                      :cat_sector_laboral="cat_sector_laboral"
                                                                      :experiencia="experiencia"
                                                                      :sidepat="$attrs.sidepat"
                                                                      :marcadoComo="getMarcadoComo"
                                                                      @cancel="cancelFormato"
                                                                      @reloadData="reloadData"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ExperienciaLaboralForm from "@/js/views/dashboard/declaracion/components/ExperienciaLaboralForm";
    export default {
        name:"ExperienciaLaboral",
        components: {
            ExperienciaLaboralForm
        },
        data(){
            return{
                cat_orden_gobierno: [],
                cat_ambito_publico: [],
                cat_sector_laboral: [],
                experiencias:       [],
                formato:             0,
                experiencia:        {},
                terminadoComo:      '',
                flag_cambio:         0
            }
        },
         created(){
            this.getCatOrdenGobierno();
            this.getCatAmbitoPublico();
            this.getCatSectorLaboral();
            this.getExperiencias();
            this.getDataDeclaracion();
        },
        mounted() {
            this.setImage();
            this.setMarcadoComo();
        },
        methods:{
            setMarcadoComo() {
                let secciones = this.getDatosDeclaracion.secciones
                if(_.isUndefined(secciones) == false) {
                    let seccion = secciones.filter(seccion => {
                        return seccion.SeccionID == 5
                    })[0];
                    this.terminadoComo = seccion.TerminadoComo;
                } else {
                    this.terminadoComo = '';
                }
            },
            setImage() {
                let buttons_hover = $(".uk-back-button");
                if(buttons_hover.length > 0) {
                    for(let i = 0; i < buttons_hover.length; i++) {
                        let self = this;
                        $(buttons_hover[i]).hover(function(){
                            $(this).css({'background-color': self.$attrs.sidepat.color_primario, "cursor": 'pointer'});
                        }, function(){
                            $(this).css({'background-color': 'transparent', "cursor": 'pointer'});
                        });
                    }
                }
                let button_terminado = $("#btn-marcar-terminado");
                if(button_terminado.length > 0) {
                    let self = this;
                    $(button_terminado[0]).attr('style', 'background-color: '+self.$attrs.sidepat.color_primario+' !important');
                }
                let buttons_editar_registro = $(".btn-editar-registro");
                console.log(buttons_editar_registro);
                if(buttons_editar_registro.length > 0) {
                    for(let i = 0; i < buttons_editar_registro.length; i++) {
                        let self = this;
                        $(buttons_editar_registro[i]).hover(function() {
                            $(this).css({'background-color': self.$attrs.sidepat.color_primario, "cursor": 'pointer'});
                        }, function() {
                            $(this).css({'background-color': 'transparent', "cursor": 'pointer'});
                        });
                        //$(buttons_editar_registro[i]).css({'background-color': self.$attrs.sidepat.color_primario, "cursor": 'pointer'});
                    }
                }
            },
            getDataDeclaracion() {
                this.$store.dispatch('getDatosDeclaracion');
            },
            getCatOrdenGobierno(){
                axios.get('/api/declaracion/get-catalogo-orden-gobierno').then(resp =>{
                    this.cat_orden_gobierno = resp.data.catalogo_orden;
                }).catch(e => {
                    console.log(e);
                })
            },
            getCatAmbitoPublico(){
                axios.get('/api/declaracion/get-catalogo-ambito-publico').then(resp =>{
                    this.cat_ambito_publico = resp.data.catalogo_ambito;
                }).catch(e => {
                    console.log(e);
                })
            },
            getCatSectorLaboral(){
                axios.get('/api/declaracion/get-catalogo-sector-laboral').then(resp =>{
                    this.cat_sector_laboral = resp.data.catalogo_sector;
                }).catch(e => {
                    console.log(e);
                })
            },
            getExperiencias(){
                axios.get('/api/declaracion/get-experiencias').then(resp =>{
                    this.experiencias = resp.data.experiencias;
                    setTimeout(() => {
                        this.setImage();
                    }, 500);
                }).catch(e => {
                    console.log(e);
                })
            },
            setExperiencia(experiencia){
                this.experiencia = experiencia;
                this.formato = 1;
            },
            marcarNinguno(val) {
                if(this.getMarcadoComo !== 'NINGUNO') {
                    let confirm = window.confirm('¿ESTA SEGURO QUE DESEA MARCAR SU EXPERIENCIA LABORAL COMO NINGUNO. SE PERDERÁ LA INFORMACIÓN REGISTRADA?');
                    if(confirm) {
                        let data = {
                            declaracion_id: this.getDatosDeclaracion.inf_gral.DeclaracionID
                        };
                        axios.post('/api/declaracion/marcar-ninguno', data).then(resp => {
                            //this.getExperiencias();
                            this.saveTerminadoComo(val);
                            /*UIkit.notification({
                                message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                                pos: 'top-right',
                                timeout: 3000
                            });*/
                        }).catch(e => {
                            console.log(e);
                        })
                    } else {
                        setTimeout(() => {
                            this.terminadoComo = '';
                            location.reload()
                        }, 500);
                        return false;
                    }
                }
            },
            cancelFormato() {
                this.formato = 0;
                this.experiencia = {};
            },
            reloadData() {
                this.getExperiencias();
            },
            agregarExperiencia() {
                if(this.experiencias.length >= 5) {
                    alert("SOLO SE PUEDEN AGREGAR LOS ÚLTIMOS CINCO EMPLEOS");
                    return false;
                } else {
                    this.formato = 1;
                }
            },
            dropExperiencia(experiencia) {
                let confirm = window.confirm("¿ESTA SEGURO QUE DESEA BORRAR EL REGISTRO? UNA VEZ BORRADO NO SE PODRÁ RECUPERAR");
                if(confirm) {
                    let data = {
                        ExperienciaLaboralDetalleID: experiencia.ExperienciaLaboralDetalleID
                    };
                    axios.post('/api/declaracion/borrar-experiencia', data).then(resp => {
                        this.getExperiencias();
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                    }).catch(e => {
                        console.log(e);
                    })
                } else {
                    return false;
                }
            },
            marcarTerminada() {
                let confirm = window.confirm("¿ESTA SEGURO QUE DESEA MARCAR LA SECCIÓN COMO TERMINADA?");
                if(confirm) {
                    let data = {
                        declaracion_id: this.getDatosDeclaracion.inf_gral.DeclaracionID
                    };
                    axios.post('/api/declaracion/check-experiencia-terminada', data).then(resp => {
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.getDataDeclaracion();
                    }).catch(e => {
                        console.log(e);
                    });
                }
            },
            saveTerminadoComo(val) {
                let data = {
                    declaracion_id: this.getDatosDeclaracion.inf_gral.DeclaracionID,
                    terminadoComo: val,
                    seccionId: 5
                }
                axios.post('/api/declaracion/marcar-terminado-como', data)
                     .then(resp => {
                        this.flag_cambio = 1;
                     })
                     .catch(e => console.log(e))
            }
        },
        computed: {
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
            ischeckedTerminate(){
                let secciones = this.getDatosDeclaracion.secciones;
                if(_.isUndefined(secciones) == false) {
                    let seccion   = secciones.filter((item) => {
                        return item.Nombre == 'EXPERIENCIA LABORAL'
                    });
                    return seccion[0].EstadoActual;
                }
            },
            getMarcadoComo() {
                let secciones = this.getDatosDeclaracion.secciones
                if(_.isUndefined(secciones) == false) {
                    let seccion = secciones.filter(seccion => {
                        return seccion.SeccionID == 5
                    })[0];
                    return seccion.TerminadoComo;
                } else {
                    return '';
                }
            }
        },
        watch: {
            terminadoComo(val) {
                if(val == 'NINGUNO') {
                    this.marcarNinguno(val);
                    this.flag_cambio = 1;
                } else if(val == 'SIN CAMBIO') {
                    this.saveTerminadoComo(val);
                    if(this.getMarcadoComo !== 'SIN CAMBIO') {
                        let data = {
                            declaracion_id: this.getDatosDeclaracion.inf_gral.DeclaracionID
                        };
                        axios.post('/api/declaracion/check-experiencia-terminada', data).then(resp => {
                            UIkit.notification({
                                message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                                pos: 'top-right',
                                timeout: 3000
                            });
                            this.getDataDeclaracion();
                        }).catch(e => {
                            console.log(e);
                        });
                    }
                } else if(val !== '') {
                    this.saveTerminadoComo(val);
                }
                if(this.flag_cambio == 1 && val != 'NINGUNO'){
                    location.reload();
                }
            },
            getMarcadoComo(val) {
                this.terminadoComo = val;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-button-hover{
            color: $color-black;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-thead > th{
            font-weight: bold;
            background-color: #424242;
            color: $color-white;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
