<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'declaracion-administrador'}" class="uk-text-uppercase uk-text-small">Menú de Declaración Patrimonial</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'declaracion-administrador-panel'}" class="uk-text-uppercase uk-text-small">Panel de administración</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'declaracion-administrador-panel-versiones-publicas'}" class="uk-text-uppercase uk-text-small">Versiones públicas</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Formatos</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Formatos</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR A VERSIONES PÚBLICAS"
                                         :to="{name: 'declaracion-administrador-panel-versiones-publicas'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1">
                    <div class="uk-grid uk-margin-small-top uk-margin-small-bottom uk-flex uk-flex-center">
                        <form class="uk-form-stacked uk-width-2-3" @submit.prevent="save">
                            <div class="uk-width-1-1 uk-margin-small-bottom" v-show="showInput">
                                <button id="buttonCancel" type="button" class="uk-button uk-button-default uk-border-rounded" @click="cancel">
                                    <i class="fas fa-chevron-left"></i> Cancelar
                                </button>
                                <button id="buttonToTop" type="button" class="uk-button uk-button-secondary uk-border-rounded" @click="goToTop">
                                    <i class="fas fa-chevron-up"></i>
                                </button>
                                <div class="uk-alert-danger uk-border-rounded uk-animation-shake uk-text-center uk-text-light" uk-alert v-if="mostrarError">
                                    <p>El nombre del formato ya se encuentra registrado</p>
                                </div>
                                <label class="uk-form-label">Escribe el nombre del formato</label>
                                <input id="showInput" class="uk-input uk-border-rounded" type="text" required v-model.trim="nombreFormato" :disabled="disableEdit">
                                <label class="uk-form-label uk-margin-small-top">Escribe una fundamentación legal</label>
                                <textarea class="uk-textarea uk-border-rounded" v-model.trim="fundamentacionFormato" :disabled="disableEdit" required></textarea>
                                <label class="uk-form-label uk-margin-small-top">Escribe una descripción (opcional)</label>
                                <textarea class="uk-textarea uk-border-rounded" maxlength="100" v-model.trim="descripcionFormato" :disabled="disableEdit"></textarea>
                                <template v-if="editando">
                                    <div class="uk-alert uk-border-rounded uk-title-secciones">
                                        Secciones
                                    </div>
                                    <template v-if="secciones.length > 0">
                                        <template v-for="(seccion, index) in secciones">
                                            <button class="accordion" :class="'accordion_'+index" type="button">
                                                <label>
                                                    <input :id="'check_'+index"
                                                           class="uk-checkbox uk-border-rounded"
                                                           type="checkbox"
                                                           :disabled="disableEdit"
                                                           :data_seccion_id="seccion.SeccionDeclaracionID"> {{ seccion.Nombre }}
                                                </label>
                                            </button>
                                            <div class="panel">
                                                <ul class="uk-list uk-text-small">
                                                    <li v-for="(campos, index) in getCamposFormatoSeccion(seccion.SeccionDeclaracionID)" :key="index">
                                                        <label>
                                                            <input :id="'check_opcion_'+campos.CampoID"
                                                                   class="uk-checkbox uk-border-rounded"
                                                                   type="checkbox"
                                                                   :disabled="disableEdit"
                                                                   :data_seccion_opcion_id="campos.CampoID"
                                                                   :data_seccion_option_id2="seccion.SeccionDeclaracionID"> {{ campos.NombreCampo }}
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </template>
                                    </template>
                                    <template v-else>
                                        No se encontraron secciones disponibles
                                    </template>
                                </template>
                            </div>
                            <div class="uk-width-1-1 uk-flex uk-flex-right">
                                <template v-if="!showInput">
                                    <button type="button"
                                            class="uk-button uk-button-primary uk-border-rounded"
                                            @click="showInput = !showInput">
                                        <i class="fas fa-plus-circle fa-lg"></i> Crear
                                    </button>
                                </template>
                                <template v-else>
                                    <button type="submit"
                                            class="uk-button uk-button-primary uk-border-rounded">
                                        Guardar
                                    </button>
                                </template>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="uk-width-1-1" v-if="formatos.length > 0">
                    <div class="uk-grid uk-margin-small-top uk-flex uk-flex-center">
                        <div class="uk-width-2-3" v-if="editando == false">
                            <CardMenuFormatosPublicos :title="formato.NombreFormato"
                                                      :description="formato.Descripcion"
                                                      :isActive="formato.EnUso"
                                                      :id="formato.FormatoID"
                                                      :key="index"
                                                      :camposAgregados="formato.CamposAgregados"
                                                      :SeccionesAgregadas="formato.SeccionesAgregadas"
                                                      v-for="(formato, index) in formatos"
                                                      @reloadFormatos="getFormatos"
                                                      @editFormato="editFormato"
                                                      @copiarFormato="copiarFormato">
                            </CardMenuFormatosPublicos>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1" v-else>
                    <div class="uk-alert uk-text-center uk-margin-medium-top uk-border-rounded">
                        No se han credo formatos
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CardMenuFormatosPublicos from "./components/CardMenuFormatosPublicos";
export default {
    name: "IndexDeclaracionAdministradorPanelVersionesPublicasFormatos",
    components: {
        CardMenuFormatosPublicos
    },
    data() {
        return {
            showInput: false,
            formatos: [],
            nombreFormato: '',
            fundamentacionFormato: '',
            descripcionFormato: '',
            mostrarError: false,
            editando: false,
            formatoID: null,
            copiaNombreFormato: '',
            secciones: [],
            secciones_formato: [],
            cont: 0,
            camposFormato: [],
            camposFormatoSeleccionados: [],
        }
    },
    created() {
        this.getFormatos();
        this.getSeccionesFormatos();
    },
    mounted() {
        //Get the button
        var mybutton = document.getElementById("buttonToTop");
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        };
    },
    methods: {
        goToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        },
        initAcordionSecciones() {
            let acc = document.getElementsByClassName("accordion");
            let i;
            for (i = 0; i < acc.length; i++) {
                let check = document.getElementById('check_'+i);
                if(check.checked) {
                    $('.accordion_'+i).css("background-color", "#e0e0e0");
                    var panel = check.parentElement.parentElement.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                    // Agregar evento para deseleccionar las opciones
                    check.addEventListener('change', function(i) {
                        let seccion_id = i.target.getAttribute('data_seccion_id');
                        let checks = document.querySelectorAll('[data_seccion_opcion_id]');
                        for(let i = 0; i < checks.length; i++) {
                            let seccion_checkbox = Number(checks[i].getAttribute('data_seccion_option_id2'));
                            if(seccion_checkbox == seccion_id) {
                                checks[i].checked = false;
                            }
                        }
                    });
                } else {
                    if(this.cont == 0) {
                        check.addEventListener('change', function(i) {
                            if(check.checked) {
                                let index = i.target.getAttribute('id').split('_')[1];
                                $('.accordion_'+index).css("background-color", "#e0e0e0");
                                this.classList.toggle("active");
                                var panel = this.parentElement.parentElement.nextElementSibling;
                                if (panel.style.maxHeight) {
                                    panel.style.maxHeight = null;
                                } else {
                                    panel.style.maxHeight = panel.scrollHeight + "px";
                                }
                            } else {
                                let seccion_id = i.target.getAttribute('data_seccion_id');
                                let index = i.target.getAttribute('id').split('_')[1];
                                $('.accordion_'+index).css("background-color", "#fafafa");
                                this.classList.toggle("active");
                                var panel = this.parentElement.parentElement.nextElementSibling;
                                if (panel.style.maxHeight) {
                                    panel.style.maxHeight = null;
                                } else {
                                    panel.style.maxHeight = panel.scrollHeight + "px";
                                }
                                let checks = document.querySelectorAll('[data_seccion_opcion_id]');
                                for(let i = 0; i < checks.length; i++) {
                                    let seccion_checkbox = Number(checks[i].getAttribute('data_seccion_option_id2'));
                                    if(seccion_checkbox == seccion_id) {
                                        checks[i].checked = false;
                                    }
                                }
                            }
                        });
                    }
                }
            }
            this.cont = this.cont + 1;
        },
        getFormatos(){
            axios.get('/api/declaracion/get-formatos-publicos').then((res) => {
                this.formatos = res.data.formatos;
            }).catch((e) => {
                console.error(e);
                this.formatos = [];
            })
        },
        save() {
            this.mostrarError = false;
            const formatos = _.map(this.formatos, 'NombreFormato');
            if(formatos.includes(this.nombreFormato.trim())) {
                if(this.editando == false) {
                    this.mostrarError = true;
                    return false;
                } else {
                    if(this.copiaNombreFormato == this.nombreFormato) {
                        this.enviarCrearActualizarFormato(this.editando);
                    } else {
                        this.mostrarError = true;
                        return false;
                    }
                }
            } else {
                this.enviarCrearActualizarFormato(this.editando);
            }
        },
        enviarCrearActualizarFormato(editando) {
            let data, url;
            if(editando) {
                //Optener opciones seleccionadas
                let checks = document.querySelectorAll('[data_seccion_opcion_id]');
                let seleccionadas = [];
                for(let i = 0; i < checks.length; i++) {
                    if(checks[i].checked) {
                        let temp = {
                            formatoID: this.formatoID,
                            seccionID: Number(checks[i].getAttribute('data_seccion_option_id2')),
                            opcionID: Number(checks[i].getAttribute('data_seccion_opcion_id')),
                        }
                        seleccionadas.push(temp);
                    }
                }
                url = '/api/declaracion/editar-formato-publico';
                data = {
                    formatoID: this.formatoID,
                    nombre: this.nombreFormato,
                    fundamentacion: this.fundamentacionFormato,
                    descripcion: this.descripcionFormato,
                    opciones_seleccionadas: seleccionadas
                };
            } else {
                url = '/api/declaracion/registrar-formato-publico';
                data = {
                    nombre: this.nombreFormato,
                    fundamentacion: this.fundamentacionFormato,
                    descripcion: this.descripcionFormato,
                };
            }
            axios.post(url, data).then(res => {
                UIkit.notification({
                    message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                    pos: 'top-right',
                    timeout: 3000
                });
                this.getFormatos();
                this.cancel();
            }).catch(e => {
                console.error(e);
            });
        },
        cancel() {
            this.showInput      = false;
            this.nombreFormato  = '';
            this.descripcionFormato = '';
            this.mostrarError   = false;
            this.editando       = false;
            this.formatoID      = null;
            this.cont           = 0;
        },
        editFormato(id) {
            let formato     = this.formatos.find(form => form.FormatoID == id);
            this.formatoID  = formato.FormatoID;
            this.showInput  = true;
            this.nombreFormato = formato.NombreFormato;
            this.descripcionFormato = formato.Descripcion;
            this.fundamentacionFormato = formato.JustificacionFormato;
            this.editando   = true;
            this.copiaNombreFormato = formato.NombreFormato;
            this.getSeccionesDelFormato(id);
        },
        getSeccionesFormatos() {
            axios.get('/api/declaracion/get-secciones-declaracion')
                 .then(resp => {
                     this.secciones = resp.data.secciones.filter((seccion) => {
                         return seccion.Nombre != 'DOMICILIO DECLARANTE' &&
                                seccion.Nombre != 'DATOS DE LA PAREJA'   &&
                                seccion.Nombre != 'DATOS DEL DEPENDIENTE ECONÓMICO'
                     });
                     this.getCamposFormato();
                 })
                 .catch(e => {
                     this.secciones = [];
                     console.log(e);
                 });
        },
        getSeccionesDelFormato(id) {
            axios.post('/api/declaracion/get-secciones-formato', {id: id})
                 .then(resp => {
                     this.secciones_formato = resp.data.secciones;
                     this.setSeccionesSeleccionadas();
                 })
                 .catch(e => {
                     console.log(e);
                 });
        },
        setSeccionesSeleccionadas() {
            const secciones_formato = _.map(this.secciones_formato, 'SeccionID');
            let checks = document.querySelectorAll('[data_seccion_id]');
            for(let i = 0; i < checks.length; i++) {
                let id_seccion = Number(checks[i].getAttribute("data_seccion_id"));
                if(secciones_formato.includes(id_seccion)) {
                    checks[i].checked = true;
                }
            }
            this.initAcordionSecciones();
            this.getCamposFormatoSeccionSeleccionados();
        },
        getCamposFormato() {
            axios.get('/api/declaracion/get-campos-formato')
                 .then(resp => {
                    this.camposFormato = resp.data.campos;
                 })
                 .catch(e => {
                    console.log(e);
                 });
        },
        getCamposFormatoSeccion(seccion_id) {
            let secciones = this.camposFormato.filter((campo) => {
                return campo.SeccionID == seccion_id
            });
            return secciones;
        },
        getCamposFormatoSeccionSeleccionados() {
            let data = {
                id: this.formatoID
            };
            axios.post('/api/declaracion/get-campos-formato-seccion-seleccionados', data)
                 .then(resp => {
                     let seleccionados = _.map(resp.data.campos, 'CampoID');    //Campos seleccionados
                     let camposFormato = _.map(this.camposFormato, 'CampoID');  //Todos los campos
                     this.camposFormatoSeleccionados = camposFormato.filter(x => seleccionados.includes(x));
                     let checks = document.querySelectorAll('[data_seccion_opcion_id]');
                     for(let i = 0; i < checks.length; i++) {
                         let id_opcion = Number(checks[i].getAttribute("data_seccion_opcion_id"));
                         if(this.camposFormatoSeleccionados.includes(id_opcion)) {
                             checks[i].checked = true;
                         }
                     }
                 })
                 .catch(e => {
                     console.log(e);
                 });
        },
        copiarFormato(id){
            let data = {
                id : id
            }
            axios.post('/api/declaracion/copiar-formato',data).then(resp=>{
                UIkit.notification({
                    message: '<i class="fas fa-check"></i> Formato copiado',
                    pos: 'top-right',
                    timeout: 3000
                });
                this.getFormatos();
            })
            .catch(e =>{
                console.log(e);
            });
        }
    },
    computed: {
        disableEdit() {
            return (this.nombreFormato == 'Formato Sistema Nacional Anticorrupción');
        }
    },
    watch: {
        showInput(val) {
            if (val) {
                setTimeout(() => {
                    $('#showInput').focus();
                }, 100)
            }
        },
        editando(val) {
            if(val) {
                setTimeout(() => {
                    this.initAcordionSecciones();
                }, 100);
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.uk-container-expand{
    .uk-container {
        #buttonToTop {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
        }
        #buttonCancel{
            position: fixed;
            bottom: 20px;
            right: 110px;
            z-index: 99;
        }
        .uk-grid{
            .uk-breadcrumb{
                li > span {
                    font-family: $ff-franklin !important;
                }
                .uk-breadcrumb-active{
                    background-color: $color-grey-disabled;
                    color: $color-black;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 4px;
                    padding-bottom: 5px;
                    border-radius: 5px;
                }
            }
            h3{
                font-family: $ff-franklin !important;
            }
            h5{
                font-family: $ff-franklin !important;
            }
            .uk-text-primary{
                color: $color-primary !important;
            }
            .uk-button-primary {
                background-color: $color-primary !important;
            }
            .uk-button-primary:disabled,
            .uk-button-primary[disabled] {
                background-color: $color-grey-disabled !important;
                color: $color-black;
            }
            .uk-btn-icon{
                padding: 6px 6px;
                &:hover {
                    border: 1px $color-primary solid;
                    cursor: pointer;
                }
            }
            .uk-title-secciones{
                background-color: $color-black2;
                color: $color-white;
                padding-top: 10px;
                padding-bottom: 10px;
                font-weight: 600;
            }
        }
    }
    .uk-back-button{
        color: $color-black;
        border: 1px solid;
        padding: 5px 10px;
        border-radius: 5px;
        &:hover {
            color: $color-white;
            background-color: $color-primary;
        }
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .accordion {
        background-color: #fafafa;
        color: #444;
        padding: 12px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 14px;
        transition: 0.4s;
        border-radius: 5px;
    }
    .accordion:hover {
        background-color: #e0e0e0;
    }
    .accordion:after {
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
    .active:after {
        /*content: "\2212";*/
    }
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    .uk-badge-success {
        background-color: $color-green;
    }
}
</style>
