<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-grid uk-margin-medium-top">
            <!--Barra de navegación-->
            <div class="uk-width-1-1 uk-margin-small-top">
                <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                    <li>
                        <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                    </li>
                    <li>
                        <router-link :to="{name: 'declaracion-administrador'}" class="uk-text-uppercase uk-text-small">Menú de Declaración Patrimonial</router-link>
                    </li>
                    <li>
                        <router-link :to="{name: 'declaracion-administrador-panel'}" class="uk-text-uppercase uk-text-small">Panel de administración</router-link>
                    </li>
                    <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Monitoreo y estadísticas</span></li>
                </ul>
            </div>
        </div>
        <div class="uk-width-1-1 uk-margin-medium-top uk-margin-small-bottom">
            <div class="uk-grid">
                <div class="uk-width-2-3">
                    <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Monitoreo y estadísticas</h3>
                </div>
                <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                    <router-link class="uk-back-button uk-text-uppercase"
                                 tag="a"
                                 uk-tooltip="title: REGRESAR A PANEL DE ADMINISTRACIÓN"
                                 :to="{name: 'declaracion-administrador-panel'}">
                        <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                    </router-link>
                </div>
            </div>
        </div>
        <div class="uk-grid uk-margin-large-bottom">
            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-card-body uk-position-z-index" uk-height-viewport="offset-top: true">
                    <div class="uk-width-1-1">
                        <span class="uk-text-bold uk-text-left">Selecciona el ejercicio a consultar</span>
                    </div>
                    <div uk-switcher="animation: uk-animation-fade; toggle: > *; active: 0" class="uk-ejercicios-button uk-width-1-1">
                        <button class="uk-button uk-button-default uk-border-rounded uk-active-button uk-margin-small-right"
                                type="button"
                                v-for="(ejercicio, key) in ejerciciosDeclarados"
                                @click="obtenerDeclaracionPorEjercicio(ejercicio.Year)">
                            {{ ejercicio.Year }}
                        </button>
                    </div>
                    <template v-if="loadingData">
                        <div class="uk-width-1-1 uk-text-center uk-margin-medium-top">
                            <span class="uk-margin-small-right" uk-spinner="ratio: 2"></span>
                            <p>Espere un momento</p>
                        </div>
                    </template>
                    <div class="uk-grid uk-margin-medium-top" v-else>
                        <div class="uk-width-1-5">
                            <div class="uk-section-filter uk-padding-small uk-border-rounded uk-box-shadow-medium" uk-sticky="offset: 50">
                                <label class="uk-text-large uk-margin-bottom"><i class="fas fa-filter"></i> Filtros</label>
                                <hr class="uk-margin-remove-top">
                                <div class="uk-margin-bottom">
                                    <label class="uk-text-small uk-text-bold">Filtro por nombre</label>
                                    <input class="uk-input uk-border-rounded uk-text-small"
                                           :class="{'uk-form-danger': filtros_aplicados.includes('nombre_filtro')}"
                                           type="text"
                                           v-model.trim="nombre_filtro" placeholder="Filtrar por nombre" v-on:keyup.enter="search()"/>
                                </div>
                                <label class="uk-text-small uk-text-bold">Tipo de declaración</label>
                                <select class="uk-select uk-border-rounded uk-margin-bottom uk-text-small"
                                        :class="{'uk-form-danger': filtros_aplicados.includes('tipo_declaracion')}"
                                        type="text"
                                        v-model="tipo_declaracion"
                                        placeholder="Filtrar por tipo declaración">
                                    <option value="">TODOS</option>
                                    <template v-if="ejercicio == 2020 || ejercicio == '2020'">
                                        <option value="DECLARACIÓN DE SITUACIÓN PATRIMONIAL INICIAL">SITUACIÓN PATRIMONIAL INICIAL</option>
                                        <option value="DECLARACIÓN DE SITUACIÓN PATRIMONIAL MODIFICACIÓN">SITUACIÓN PATRIMONIAL MODIFICACIÓN</option>
                                        <option value="DECLARACIÓN DE SITUACIÓN PATRIMONIAL CONCLUSIÓN">SITUACIÓN PATRIMONIAL CONCLUSIÓN</option>
                                        <option value="DECLARACIÓN DE SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO INICIAL">SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO INICIAL</option>
                                        <option value="DECLARACIÓN DE SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO MODIFICACIÓN">SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO MODIFICACIÓN</option>
                                        <option value="DECLARACIÓN DE SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO CONCLUSIÓN">SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO CONCLUSIÓN</option>
                                        <option value="DECLARACIÓN DE CONFLICTO DE INTERESES">CONFLICTO DE INTERESES</option>
                                    </template>
                                    <template v-else>
                                        <option value="DECLARACIÓN DE SITUACIÓN PATRIMONIAL INICIAL">SITUACIÓN PATRIMONIAL INICIAL</option>
                                        <option value="DECLARACIÓN DE SITUACIÓN PATRIMONIAL MODIFICACIÓN">SITUACIÓN PATRIMONIAL MODIFICACIÓN</option>
                                        <option value="DECLARACIÓN DE SITUACIÓN PATRIMONIAL CONCLUSIÓN">SITUACIÓN PATRIMONIAL CONCLUSIÓN</option>
                                        <option value="DECLARACIÓN DE CONFLICTO DE INTERESES">CONFLICTO DE INTERESES</option>
                                    </template>
                                </select>
                                <template v-if="tipo_declaracion != 'DECLARACIÓN DE CONFLICTO DE INTERESES'">
                                    <label class="uk-text-small uk-text-bold">Formato de declaración</label>
                                    <select  class="uk-select uk-border-rounded uk-margin-bottom uk-text-small"
                                             :class="{'uk-form-danger': filtros_aplicados.includes('formato')}"
                                             type="text"
                                             v-model="formato"
                                             placeholder="Filtrar por formato">
                                        <option value="">TODOS</option>
                                        <option>COMPLETA</option>
                                        <option>SIMPLIFICADA</option>
                                    </select>
                                </template>
                                <label class="uk-text-small uk-text-bold">Área de adscripción</label>
                                <input type="text"
                                       id="area_adscripcion"
                                       class="uk-input uk-border-rounded uk-margin-bottom uk-text-small"
                                       :class="{'uk-form-danger': filtros_aplicados.includes('area_ads')}"
                                       placeholder="Filtrar por área de adscripción"
                                       v-model.trim="area_ads"
                                       v-on:keyup.enter="search()">
                                <label class="uk-text-small uk-text-bold"><i class="far fa-check-circle uk-text-primary" v-if="false"></i> Estatus de declaración</label>
                                <select class="uk-select uk-border-rounded uk-margin-bottom uk-text-small"
                                        :class="{'uk-form-danger': filtros_aplicados.includes('filtro_finalizadas')}"
                                        type="text"
                                        v-model="filtro_finalizadas"
                                        placeholder="Filtrar por finalización">
                                    <option value="">TODOS</option>
                                    <option value="terminada">TERMINADA</option>
                                    <option value="sin terminar">PENDIENTE</option>
                                </select>
                                <label class="uk-text-small uk-text-bold">Tipo de trabajador</label>
                                <select class="uk-select uk-border-rounded uk-margin-bottom uk-text-small uk-text-uppercase"
                                        :class="{'uk-form-danger': filtros_aplicados.includes('filtro_tipo_trabajador')}"
                                        v-model="filtro_tipo_trabajador">
                                    <option value="">TODOS</option>
                                    <option :value="tipo.TipoTrabajadorID" v-for="tipo in tipo_usuarios">{{ tipo.TipoTrabajador }}</option>
                                </select>
                                <label class="uk-text-small uk-text-bold"><i class="far fa-check-circle uk-text-primary" v-if="false"></i> Declaración del SAT</label>
                                <select  class="uk-select uk-border-rounded uk-margin-bottom uk-text-small"
                                         :class="{'uk-form-danger': filtros_aplicados.includes('filtro_sat')}"
                                         type="text"
                                         v-model="filtro_sat"
                                         placeholder="Filtrar por finalización">
                                    <option value="">TODOS</option>
                                    <option value="1">CON DECLARACIÓN</option>
                                    <option value="0">SIN DECLARACIÓN</option>
                                </select>
                                <div v-if="declaraciones.length > 0" class="uk-text-center">
                                    <form action="/descarga-doc-csv/3247775E007FB72502E7C5912368290F87D8EA5C/" method="GET" target="_blank">
                                        <input type="hidden" name="ejercicio" :value="ejercicio">
                                        <input type="hidden" name="nombre_filtro" :value="nombre_filtro">
                                        <input type="hidden" name="tipo_declaracion" :value="tipo_declaracion">
                                        <input type="hidden" name="area_ads" :value="area_ads">
                                        <input type="hidden" name="formato" :value="formato">
                                        <input type="hidden" name="filtro_finalizadas" :value="filtro_finalizadas">
                                        <input type="hidden" name="filtro_sat" :value="filtro_sat">
                                        <input type="hidden" name="filtro_tipo_trabajador" :value="filtro_tipo_trabajador">
                                        <button class="uk-button uk-button-default uk-button-small uk-border-rounded" style="background-color: #1D6F42; color: #FFFFFF;">
                                            Descargar registros <i class="fas fa-file-excel"></i>
                                        </button>
                                    </form>
                                </div>
                                <hr>
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-1-2">
                                        <button class="uk-button uk-button-default uk-border-rounded uk-width-1-1" @click="limpiarFiltros()">
                                            <i class="fas fa-broom"></i> Limpiar
                                        </button>
                                    </div>
                                    <div class="uk-width-1-2">
                                        <button class="uk-button uk-button-primary uk-border-rounded uk-width-1-1" @click="search()">
                                            <i class="fas fa-search"></i> Buscar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-4-5">
                            <div style="border: 1px solid #bbbbbb;" class="uk-border-rounded">
                                <div class="uk-grid uk-padding-small">
                                    <div class="uk-width-1-1">
                                        <a href="#!" uk-toggle class="uk-button uk-button-primary uk-border-rounded uk-button-small uk-float-right" @click="verModalGraficas">
                                            <i class="fas fa-chart-pie"></i> Ver gráficas
                                        </a>
                                    </div>
                                    <div class="uk-width-1-3">
                                        <div class="uk-grid uk-height-1-1">
                                            <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-right">
                                                <span class="uk-icon-button uk-float-right" style="width:80px; height: 80px; background-color: #7A0A2C !important; color: #FFFFFF !important;">
                                                    <i class="fas fa-chart-line fa-3x"></i>
                                                </span>
                                            </div>
                                            <div class="uk-width-3-4 uk-flex uk-flex-middle">
                                                <ul class="uk-list uk-list-disc">
                                                    <li v-for="item in estatus" style="font-size: 14px;" class="uk-margin-remove-top uk-text-bold uk-text-uppercase">{{ item.Tipo + ': ' + item.cuantos }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-2-3">
                                        <div class="uk-grid uk-height-1-1">
                                            <div class="uk-width-1-4 uk-flex uk-flex-middle uk-flex-right">
                                                <span class="uk-icon-button" style="width:80px; height: 80px; background-color: #7A0A2C !important; color: #FFFFFF !important;">
                                                    <i class="far fa-chart-bar fa-3x"></i>
                                                </span>
                                            </div>
                                            <div class="uk-width-3-4 uk-flex uk-flex-middle">
                                                <ul class="uk-list uk-list-disc">
                                                    <li v-for="item in tipos" style="font-size: 14px;" class="uk-margin-remove-top uk-text-bold">{{ item.TipoDeclaracion + ': ' + item.Cuantos }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-if="declaraciones.length > 0">
                                <table class="uk-table uk-table-small uk-table-divider uk-text-small-table uk-table-middle uk-overflow-auto uk-table-responsive">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Declarante</th>
                                        <th>Área de adscipción</th>
                                        <th class="uk-text-center">Tipo declaración</th>
                                        <th class="uk-text-center" v-if="ejercicio.Year != '2020' || ejercicio.Year != 2020">Formato</th>
                                        <th class="uk-text-center">Estatus</th>
                                        <th class="uk-text-center">Tipo trabajador</th>
                                        <th class="uk-text-center">Fecha de Ingreso</th>
                                        <th class="uk-text-center">Fecha presento declaración</th>
                                        <th class="uk-text-center">
                                            Ejercicio declarado
                                        </th>
                                        <th class="uk-text-center"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(declaracion, index) in declaraciones"
                                        :key="index"
                                        class="uk-cursor-pointer uk-row-table">
                                        <td>{{ index + 1 }}</td>
                                        <td class="uk-text-uppercase">{{ declaracion.Declarante }}</td>
                                        <td class="uk-text-uppercase">{{declaracion.AreaAdscripcion}}</td>
                                        <td class="uk-text-center">
                                            {{declaracion.TipoDeclaracion.substring(15)}}
                                        </td>
                                        <td class="uk-text-center uk-text-uppercase" v-if="ejercicio.Year != '2020' || ejercicio.Year != 2020">
                                            {{declaracion.tipo}}
                                        </td>
                                        <td class="uk-text-center uk-text-uppercase">
                                            <template v-if="declaracion.Finalizado == 1">
                                                Terminada
                                            </template>
                                            <template v-else>
                                                Pendiente {{declaracion.SeccionesTerminadas}}/{{declaracion.TotalSecciones}}
                                            </template>
                                        </td>
                                        <td class="uk-text-uppercase uk-text-center">
                                            {{ declaracion.TipoTrabajador }}
                                        </td>
                                        <td class="uk-text-uppercase">{{ setFecha(declaracion.FechaIngreso) }}</td>
                                        <td class="uk-text-uppercase">{{ setFecha(declaracion.FechaDeclaracion.split(' ')[0]) }}</td>
                                        <td class="uk-text-uppercase uk-text-center">
                                            {{ setFechaDeclarado(declaracion.created_at, declaracion.TipoDeclaracion) }}
                                        </td>
                                        <td class="uk-text-center uk-text-uppercase">
                                                            <span class="uk-icon-button">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </span>
                                            <div uk-dropdown="mode: click" class="uk-padding-remove-horizontal">
                                                <ul class="uk-nav uk-dropdown-nav uk-margin-small-left uk-margin-small-right">
                                                    <template v-if="declaracion.Finalizado == 1">
                                                        <li v-if="(declaracion.RutaAcuse != null)">
                                                            <a href="!#" @click="HabilitarDeclaracion(declaracion)" class="uk-text-small-custom">
                                                                <i class="fas fa-undo fa-lg uk-text-warning"></i> Habilitar declaración
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="!#" @click="descargarAcuse(declaracion.RutaAcuse)" class="uk-text-small-custom">
                                                                <i class="far fa-file-pdf fa-lg uk-text-danger"></i> Acuse de declaración
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="!#" @click="descargarDeclaracion(declaracion.RutaDeclaracionCompleta)" class="uk-text-small-custom">
                                                                <i class="far fa-file-pdf fa-lg uk-text-danger"></i> Declaración patrimonial
                                                            </a>
                                                        </li>
                                                        <!--<li>
                                                            <a href="!#" @click="descargarDeclaracionPublica(declaracion.RutaDeclaracionPublica)" class="uk-text-small-custom">
                                                                <i class="far fa-file-pdf fa-lg uk-text-danger"></i> Declaración versión pública
                                                            </a>
                                                        </li>-->
                                                        <li v-if="(declaracion.RutaArchivoSat != null)">
                                                            <a href="!#" @click="descargarDeclaracionPublica(declaracion.RutaArchivoSat)" class="uk-text-small-custom">
                                                                <i class="far fa-file-pdf fa-lg uk-text-danger"></i> Declaración del SAT
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="!#" @click="goToDeclaracionDetalles(declaracion)" class="uk-text-small-custom">
                                                                <i class="fas fa-info-circle fa-lg uk-text-warning"></i> Detalles
                                                            </a>
                                                        </li>
                                                    </template>
                                                    <template v-else>
                                                        <li>
                                                            <a href="!#" @click="goToDeclaracionDetalles(declaracion)" class="uk-text-small-custom">
                                                                <i class="fas fa-info-circle fa-lg uk-text-warning"></i> Detalles
                                                            </a>
                                                        </li>
                                                    </template>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <ul class="uk-pagination uk-flex-center uk-margin-remove-bottom" uk-margin>
                                    <li v-show="pagination.prev_page_url"><a href="#" @click.prevent="getPreviousPage"><span uk-pagination-previous></span></a></li>
                                    <li :class="{ 'uk-active-pagination': (pagination.current_page == n) }"
                                        v-for="n in pagination.last_page">
                                        <a href="#" @click.prevent="getPage(n)" style="border-radius: 5px !important;">{{ n }}</a>
                                    </li>
                                    <li v-show="pagination.next_page_url"><a href="#" @click.prevent="getNextPage"><span uk-pagination-next></span></a></li>
                                </ul>
                                <div class="uk-text-center">
                                    <span uk-spinner="ratio: .8" v-show="loading_declaraciones == true"></span>
                                </div>
                            </div>
                            <div v-else class="uk-text-center">
                                <p class="uk-text-large">
                                    <i class="fas fa-exclamation-triangle fa-camera fa-5x"></i>
                                    <br>
                                    No se encontraron registros.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-graficas" class="uk-modal-container" uk-modal>
            <div class="uk-modal-dialog">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Gráficas de declaraciones</h2>
                </div>
                <div class="uk-modal-body">
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <div id="container" style="width: 400px; height: 400px;"></div>
                        </div>
                        <div class="uk-width-1-2">
                            <div id="container2" style="width: 400px; height: 400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Chart from 'chart.js';
import moment from "moment";
import Highcharts from 'highcharts';
export default ({
    name:"IndexDeclaracionAdministradorPanelEstadisticas",
    data(){
        return{
            loading: false,
            declaraciones: [],
            terminadas: 0,
            pendientes: 0,
            sin_iniciar: 0,
            inicial: 0,
            modificacion: 0,
            conclucion: 0,
            inicial_simple: 0,
            modificacion_simple: 0,
            conclucion_simple: 0,
            nombre_filtro: '',              // Filtro 1
            tipo_declaracion:'',            // Filtro 2
            ejercicio: '',
            localEjercicio: false,
            areas_adscripcion:[],
            area_ads: '',                   // Filtro 4
            formato:'',                     // Filtro 3
            filtro_finalizadas:"",          // Filtro 5
            filtro_sat:"",                  // Filtro 7
            formato_seleccionado:"",
            ejerciciosDeclarados: [],
            loadingData: true,
            tipo_usuarios: [],
            filtro_tipo_trabajador: '',     // Filtro 6
            pagination: {},
            loading_declaraciones: false,
            boton_buscar: false,
            estatus: [],
            tipos: [],
            filtros_aplicados: []
        }
    },
    created(){
        this.getEjerciciosDeclarados();
        if( _.isNull(localStorage.getItem('ejercicio')) == false){
            this.ejercicio = localStorage.getItem('ejercicio');
        }
        this.getAreasAdscripciones();
        this.getTipoUsuarios();
    },
    mounted() {
        //
    },
    computed:{
        filteredListArray() {
            let filter = [];
            for(let i = 0; i < this.declaraciones.length; i++) {
                filter.push(this.declaraciones[i].DeclaracionID);
            }
            return filter;
        },
        hasEjercicoSelected() {
            if(_.isNull(localStorage.getItem('ejercicio'))) {
                return false;
            } else {
                return true
            }
        },
        getEjecicioLocal() {
            return localStorage.getItem('ejercicio');
        }
    },
    methods:{
        setButtonsEjercicio() {
            let self = this;
            $(".uk-ejercicios-button").children().each((item) => {
                let element = $(".uk-ejercicios-button").children()[item];
                if(element.classList.contains('uk-active')) {
                    self.obtenerDeclaracionPorEjercicio(element.textContent.trim());
                }
            })
        },
        limpiarFiltros(){
            this.nombre_filtro = '';
            this.tipo_declaracion = '';
            this.formato = '';
            this.area_ads = '';
            this.filtro_finalizadas ='';
            this.filtro_sat = '';
            this.filtro_tipo_trabajador = '';
            setTimeout(() => {
                this.search();
            }, 100);
        },
        checkTerminadas(){
            if(this.filtro_finalizadas == true){
                this.filtro_finalizadas = false;
            }else{
                this.filtro_finalizadas = true;
            }
        },
        setAreasAdscripcion() {
            let self = this;
            this.cargoIDTemp = null;
            let areas_adscripcion = this.areas_adscripcion;
            let arrAreas = [];
            for(let i = 0; i < areas_adscripcion.length; i++) {
                arrAreas.push(areas_adscripcion[i].Nombre);
            }
            // console.log(arrAreas);
            $("#area_adscripcion").autocomplete({
                lookup: arrAreas,
                onSelect: function(suggestion) {
                    // console.log(suggestion);
                    self.area_ads = suggestion.value;
                    self.cargoIDTemp = self.areas_adscripcion.find(e => e.Nombre === self.area_ads).AdscripcionID;
                }
            });
        },
        seleccionarEjercicio() {
            if(this.ejercicio == '') {
                alert('Selecciona un ejercicio');
                return false;
            } else {
                localStorage.setItem('ejercicio', this.ejercicio);
                this.localEjercicio = true;
                this.getDeclaracionesDeEjercicio();
            }
        },
        getDeclaracionesDeEjercicio(){
            let ejercicio = localStorage.getItem('ejercicio');
            if(_.isNull(ejercicio)) {
                return false;
            }
            // Determinar parametros a envíar
            this.loading = true;
            this.loadingData = true;
            axios.get('/api/declaracion/get-declaraciones-ejercicio', {
                params: {
                    ejercicio: ejercicio,
                    nombre_filtro: this.nombre_filtro,
                    tipo_declaracion: this.tipo_declaracion,
                    area_ads: this.area_ads,
                    formato: this.formato,
                    filtro_finalizadas: this.filtro_finalizadas,
                    filtro_sat: this.filtro_sat,
                    filtro_tipo_trabajador: this.filtro_tipo_trabajador
                }
            }).then(resp =>{
                this.pagination            = resp.data.declaraciones;
                this.declaraciones         = resp.data.declaraciones.data;
                this.estatus               = resp.data.estatus;
                this.tipos                 = resp.data.tipo;
                this.loading               = false;
                this.loadingData           = false;
            }).catch (e => {
                console.log(e);
            });
        },
        getAreasAdscripciones(){
            axios.post('/api/declaracion/obtener-adscripciones').then(resp =>{
                this.areas_adscripcion = resp.data.areas;
                this.setAreasAdscripcion();
            }).catch(e =>{
                console.log(e);
            })
        },
        descargarAcuse(ruta){
            let getUrl = window.location;
            let baseUrl = getUrl .protocol + "//" + getUrl.host + "/";
            window.open(baseUrl+ruta, '_blank');
        },
        descargarDecSat(ruta){
            let getUrl = window.location;
            let baseUrl = getUrl .protocol + "//" + getUrl.host + "/";
            window.open(baseUrl+ruta, '_blank');
        },
        descargarDeclaracion(ruta){
            let getUrl = window.location;
            let baseUrl = getUrl .protocol + "//" + getUrl.host + "/";
            window.open(baseUrl+ruta, '_blank');
        },
        descargarDeclaracionPublica(ruta){
            let getUrl = window.location;
            let baseUrl = getUrl .protocol + "//" + getUrl.host + "/";
            window.open(baseUrl+ruta, '_blank');
        },
        generarDeclaracion(declaracion_id) {
            let confirm = window.confirm('¿ESTA SEGURO QUE DESEA GENERAR ESTA DECLARACIÓN PATRIMONIAL?');
            if(confirm) {
                let data = {
                    declaracion_id: declaracion_id
                }
                axios.post('/api/declaracion/generar-declaracion', data).then(resp => {
                    location.reload();
                }).catch(e => {
                    console.log(e);
                    location.reload();
                });
            } else {
                return false;
            }
        },
        generarDeclaracionPublica(declaracion_id) {
            let confirm = window.confirm('¿ESTA SEGURO QUE DESEA GENERAR ESTA DECLARACIÓN PATRIMONIAL?');
            if(confirm) {
                let data = {
                    declaracion_id: declaracion_id
                }
                axios.post('/api/declaracion/generar-declaracion-publica', data).then(resp => {
                }).catch(e => {
                    console.log(e);
                });
            } else {
                return false;
            }
        },
        goToDeclaracionDetalles(declaracion){
            console.log(declaracion);
            this.$router.push({
                name: 'detalle-declaracion',
                params: {
                    declaracion: declaracion.DeclaracionID
                }
            });
        },
        HabilitarDeclaracion(declaracion) {
            let confirm = window.confirm('¿ESTA SEGURO QUE DESEA HABILITAR LA DECLARACIÓN?');
            if(confirm) {
                axios.post('/api/declaracion/habilitar-declaracion', declaracion).then(resp => {
                    this.getDeclaracionesDeEjercicio();
                }).catch(e => {
                    console.log(e);
                });
            } else {
                return false;
            }
        },
        descargarDeclaraciones(){
            if(this.formato_seleccionado == '') {
                alert('Seleccione el/los tipos de documentos que quiere descargar');
            } else {
                // console.log(this.filteredList);
                let rutas = [];


                switch(this.formato_seleccionado){
                    case "1":
                        this.filteredList.forEach(element => {
                            if(element.RutaDeclaracionCompleta != null){
                                rutas.push(element);
                            }
                        });
                        break;
                    case "2":
                        this.filteredList.forEach(element => {
                            if(element.RutaArchivoSat != null){
                                rutas.push(element);
                            }
                        });
                        break;
                    case "3":
                        this.filteredList.forEach(element => {
                            if(element.RutaAcuse != null){
                                rutas.push(element);
                            }
                        });
                        break;
                    case "4":
                        this.filteredList.forEach(element => {
                            if(element.RutaDeclaracionCompleta != null){
                                rutas.push(element);
                            }
                        });
                        break;
                }

                let data = {
                    docs: rutas,
                    docs_seleccionados: this.formato_seleccionado,
                    ejercicio: this.ejercicio
                };
                axios.post('/api/declaracion/descarga-docs-monitoreo', data).then(resp =>{
                    let getUrl = window.location;
                    let baseUrl = getUrl .protocol + "//" + getUrl.host + "/";
                    window.open(baseUrl+'descarga-doc/3247775E007FB72502E7C5912368290F87D8EA5C/'+this.ejercicio, '_blank');
                }).catch (e => {
                    alert('Ocurrio un error, intentalo nuevamente');
                    console.log(e);
                });
            }
        },
        obtenerDeclaracionPorEjercicio(ejercicio) {
            this.ejercicio = ejercicio;
            this.seleccionarEjercicio();
            this.limpiarFiltros();
            //this.boton_buscar = false;
        },
        getEjerciciosDeclarados() {
            axios.get('/api/declaracion/get-ejercicios-declarados').then(resp => {
                this.ejerciciosDeclarados = resp.data.ejercicios;
                setTimeout(() => {
                    this.setButtonsEjercicio();
                }, 1000)
            }).catch((e) => {
                console.log(e)
            })
        },
        setTipo(tipo_declaracion) {
            let arr_tipo = tipo_declaracion.split("DECLARACIÓN DE ");
            return arr_tipo[1];
        },
        setFinalizadas(filtro_finalizadas) {
            if(filtro_finalizadas == '1') {
                return 'TERMINADA';
            } else {
                return 'SIN TERMINAR';
            }
        },
        setFiltroSat(filtro_sat) {
            if(filtro_sat == '1') {
                return 'CON DECLARACIÓN SAT';
            } else {
                return 'SIN DECLARACIÓN SAT';
            }
        },
        getTipoUsuarios() {
            axios.post('/api/administracion-ti/get-tipo-usuarios').then(resp => {
                this.tipo_usuarios = resp.data.tipo_usuarios;
            }).catch(e => {
                console.log(e);
                this.loading = false;
            });
        },
        setFiltroTipoTrabajador(filtro_tipo_trabajador) {
            let tipo = '';
            for(let i = 0; i < this.tipo_usuarios.length; i++) {
                if (parseInt(filtro_tipo_trabajador) == parseInt(this.tipo_usuarios[i].TipoTrabajadorID)) {
                    tipo = this.tipo_usuarios[i].TipoTrabajador;
                }
            }
            return tipo;
        },
        descargarCsv(){
            let declaraciones = $('#declaraciones_filtro').val();
            axios.post('/descarga-doc-csv/3247775E007FB72502E7C5912368290F87D8EA5C', {declaraciones_id: declaraciones}).then((resp) => {
                let getUrl = window.location;
                let baseUrl = getUrl .protocol + "//" + getUrl.host + "/";
                window.open(baseUrl+'descarga-doc-csv/3247775E007FB72502E7C5912368290F87D8EA5C/', '_blank');
            }).catch(e => {
                console.log(e);
            });
        },
        setFecha(date) {
            if(date == '') {
                return '';
            } else {
                moment.locale('es');
                return moment(date).format("DD [de] MMM [del] YYYY");
            }
        },
        setFechaDeclarado(date, tipo) {
            if(tipo == 'DECLARACIÓN DE SITUACIÓN PATRIMONIAL MODIFICACIÓN') {
                return '';
            } else {
                const year = moment(date).year();
                return year;
            }
        },
        getNextPage(){
            this.loading_declaraciones = true;
            let base_url = this.pagination.next_page_url;
            let ejercicio = localStorage.getItem('ejercicio');
            let url = base_url + '&ejercicio=' + ejercicio + '&nombre_filtro=' + this.nombre_filtro + '&tipo_declaracion=' + this.tipo_declaracion + '&area_ads=' + this.area_ads + '&formato=' + this.formato + '&filtro_finalizadas='+this.filtro_finalizadas + '&filtro_sat=' + this.filtro_sat + '&filtro_tipo_trabajador='+this.filtro_tipo_trabajador;
            axios.get(url).then((response)=>{
                this.pagination = response.data.declaraciones;
                this.declaraciones = response.data.declaraciones.data;
                this.loading_declaraciones = false;
            },(response)=>{

            });
        },
        getPreviousPage() {
            this.loading_declaraciones = true;
            let base_url = this.pagination.prev_page_url;
            let ejercicio = localStorage.getItem('ejercicio');
            let url = base_url + '&ejercicio=' + ejercicio + '&nombre_filtro=' + this.nombre_filtro + '&tipo_declaracion=' + this.tipo_declaracion + '&area_ads=' + this.area_ads + '&formato=' + this.formato + '&filtro_finalizadas='+this.filtro_finalizadas + '&filtro_sat=' + this.filtro_sat + '&filtro_tipo_trabajador='+this.filtro_tipo_trabajador;
            axios.get(url).then((response)=>{
                this.pagination = response.data.declaraciones;
                this.declaraciones = response.data.declaraciones.data;
                this.loading_declaraciones = false;
            },(response)=>{

            });
        },
        getPage(page){
            this.loading_declaraciones = true;
            let base_url = this.pagination.path+'?page=' + page;
            let ejercicio = localStorage.getItem('ejercicio');
            let url = base_url + '&ejercicio=' + ejercicio + '&nombre_filtro=' + this.nombre_filtro + '&tipo_declaracion=' + this.tipo_declaracion + '&area_ads=' + this.area_ads + '&formato=' + this.formato + '&filtro_finalizadas='+this.filtro_finalizadas + '&filtro_sat=' + this.filtro_sat + '&filtro_tipo_trabajador='+this.filtro_tipo_trabajador;
            axios.get(url).then((response)=>{
                this.pagination = response.data.declaraciones;
                this.declaraciones = response.data.declaraciones.data;
                this.loading_declaraciones = false;
            },(response)=>{

            });
        },
        search() {
            this.filtros_aplicados = [];
            if (this.nombre_filtro.trim() !== '') {
                this.filtros_aplicados.push('nombre_filtro');
            }
            if(this.tipo_declaracion.trim() !== '') {
                this.filtros_aplicados.push('tipo_declaracion');
            }
            if (this.formato.trim() !== '') {
                this.filtros_aplicados.push('formato');
            }
            if(this.area_ads.trim() !== '') {
                this.filtros_aplicados.push('area_ads');
            }
            if(this.filtro_finalizadas.trim() !== '') {
                this.filtros_aplicados.push('filtro_finalizadas');
            }
            if (this.filtro_sat.trim() !== '') {
                this.filtros_aplicados.push('filtro_sat');
            }
            if (this.filtro_tipo_trabajador.toString().trim() !== '') {
                this.filtros_aplicados.push('filtro_tipo_trabajador')
            }
            this.getDeclaracionesDeEjercicio(null);
            this.boton_buscar = true;
        },
        verModalGraficas() {
            // Grafica de estatus
            let dataEstatus = [];
            for(let i = 0; i < this.estatus.length; i++) {
                dataEstatus.push([this.estatus[i].Tipo, Number(this.estatus[i].cuantos)]);
            }
            // Crear la gráfica
            Highcharts.chart('container', {
                chart: {
                    type: 'pie' // Tipo de gráfica circular
                },
                title: {
                    text: 'Estatus de declaraciones'
                },
                series: [{
                    name: 'Declaraciones',
                    data: dataEstatus
                }]
            });

            // Grafica de tipos
            let dataTipos = [];
            for(let j = 0; j < this.tipos.length; j++) {
                dataTipos.push([this.tipos[j].TipoDeclaracion, Number(this.estatus[j].cuantos)]);
            }
            // Crear la gráfica
            Highcharts.chart('container2', {
                chart: {
                    type: 'pie' // Tipo de gráfica circular
                },
                title: {
                    text: 'Tipos de declaración'
                },
                series: [{
                    name: 'Declaraciones',
                    data: dataTipos
                }]
            });
            UIkit.modal("#modal-graficas").show();
        }
    },
})
</script>
<style lang="scss" scoped>
.uk-container-expand{
    /*.uk-container {*/
        .uk-grid{
            .uk-breadcrumb{
                li > span {
                    font-family: $ff-franklin !important;
                }
                .uk-breadcrumb-active{
                    background-color: $color-grey-disabled;
                    color: $color-black;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 4px;
                    padding-bottom: 5px;
                    border-radius: 5px;
                }
            }
            h3{
                font-family: $ff-franklin !important;
            }
            h5{
                font-family: $ff-franklin !important;
            }
            .uk-text-primary{
                color: $color-primary !important;
            }
            .uk-button-primary {
                background-color: $color-primary !important;
            }
            .uk-button-primary:disabled,
            .uk-button-primary[disabled] {
                background-color: $color-grey-disabled !important;
                color: $color-black;
            }
            .uk-btn-icon{
                padding: 6px 6px;
                &:hover {
                    border: 1px $color-primary solid;
                    cursor: pointer;
                }
            }
            .uk-active.uk-active-button {
                background-color: $color-primary;
                color: $color-white;
                font-weight: bold;
            }
            .uk-tab > * > a {
                padding: 5px 20px;
                &:hover {
                    background-color: #fafafa;
                    color: $color-black;
                }
            }
            .uk-active > a {
                background-color: $color-primary;
                color: #FFFFFF;
                border-color: transparent;
                padding: 5px 20px;
                &:hover {
                    background-color: $color-primary;
                    color: #FFFFFF;
                    border-color: transparent;
                    padding: 5px 20px;
                }
            }
            .uk-active-pagination {
                background-color: $color-grey-disabled;
                border-radius: 5px;
                a {
                    color: #0c0c0c !important;
                }
            }
        }
    /*}*/
    .uk-back-button{
        color: $color-black;
        border: 1px solid;
        padding: 5px 10px;
        border-radius: 5px;
        &:hover {
            color: $color-white;
            background-color: $color-primary;
        }
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-thead > th{
        font-weight: bold;
        background-color: #424242;
        color: $color-white;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .uk-card {
        &:hover {
            cursor: pointer;
        }
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
}
.uk-active{
    .uk-tab-color:active {
        border-color: #7A0A2C;
    }
}
.uk-text-small-custom{
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    &:hover{
        background-color: $color-grey-ligth;
    }
}
.uk-row-table {
    &:hover{
        background-color: #eceff1;
    }
}
.uk-section-filter {
    background-color: #eeeeee;
}
.uk-text-label-sidepat {
    font-size: 11px !important;
    font-weight: bold;
    background-color: $color-primary;
    color: white;
    padding: 3px 8px;
    .uk-close-sidepat {
        padding: 2px 5px;
        &:hover{
            padding: 2px 5px;
            background-color: #43121d;
        }
    }
}
.uk-text-small-table {
    font-size: 13px;
}
.uk-button-default-xls {
    background-color: #217346;
    color: #FFFFFF !important;
}
</style>
