<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'declaracion-administrador'}" class="uk-text-uppercase uk-text-small">Menú de Declaración Patrimonial</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'declaracion-administrador-panel'}" class="uk-text-uppercase uk-text-small">Panel de administración</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Asignación de Usuarios</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-small-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Asignación de Usuarios</h3>
                        </div>
                        <div class="uk-width-1-2 uk-flex uk-flex-middle uk-flex-right">
                            <div class="uk-button-group uk-float-right">
                                <div class="uk-inline">
                                    <!-- The button toggling the dropdown -->
                                    <button class="uk-button uk-button-primary-out uk-border-rounded" type="button">
                                        <span><i class="fas fa-chevron-down"></i></span> Ejercicio seleccionado: <span class="uk-text-bold">{{ $attrs.ejercicio_seleccionado.Year }}</span>
                                    </button>
                                    <div uk-dropdown="mode: click; target: !.uk-button-group;">
                                        <ul class="uk-list uk-text-center">
                                            <li v-for="ejercicio in ejercicios">
                                                <a class="uk-link-reset" :class="esActual(ejercicio.EjercicioID)" @click="setEjercicio(ejercicio.EjercicioID)">{{ ejercicio.Year }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <router-link class="uk-button uk-button-default uk-text-uppercase uk-button-back uk-border-rounded uk-margin-small-left"
                                         tag="a"
                                         :to="{name: 'declaracion-administrador-panel'}">
                                <i class="fas fa-chevron-left"></i> Regresar
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <div v-if="loading" class="uk-width-1-1 uk-text-center uk-text-uppercase">
                    <span uk-spinner="ratio: 2"></span><br>
                    Cargando...
                </div>
                <div v-else class="uk-width-1-1 uk-margin-small-top">
                    <table class="uk-table uk-table-divider uk-table-striped uk-table-hover">
                        <thead>
                            <tr style="background-color: #0c0c0c;">
                                <th style="color: #FFFFFF; font-weight: 500;">Tipo de declaración</th>
                                <th class="uk-text-center" style="color: #FFFFFF; font-weight: 500;">Usuarios asignados</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(tipo, index) in DeclaracionesPatrimoniales" style="cursor: pointer;" @click="openModalUsuario(tipo)">
                                <td style="font-weight: 400;">
                                    <i class="fas fa-file-signature"></i> {{ tipo.Nombre }}
                                </td>
                                <td class="uk-text-center" style="font-weight: 500; font-size: 18px;">{{ setUserNumbers(tipo) }}</td>
                            </tr>
                            <tr style="cursor: pointer;" v-for="(tipo, index) in Extras" @click="openModalUsuario(tipo)">
                                <td style="font-weight: 400;">
                                    <i class="fas fa-file-signature"></i> {{ tipo.Nombre }}
                                </td>
                                <td class="uk-text-center" style="font-weight: 500; font-size: 18px;">{{ setUserConflictoNumbers(tipo) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "IndexDeclaracionAdministradorPanelUsuarios",
        created() {
            this.getFormatosDeclaracion();
        },
        mounted() {
            this.setImage();
            this.getDataConfiguracion();
        },
        data() {
            return {
                loading: false,
                users: [],
                tiposDeclaracion: [],
                tiposDeclaracionExtensa: [],
                DeclaracionesPatrimoniales:[],
                Extras:[],
                usersConflicto:[],
                ejercicios:[],
                ejercicio_seleccionado:'',
                ejercicio_actual:'',
            }
        },
        methods: {
            esActual(ejercicioID) {
                if(this.ejercicio_actual == ejercicioID) {
                    return { 'active_seleccionado': true }
                }
            },
            setImage() {
                let buttons_hover = $(".uk-back-button");
                if(buttons_hover.length > 0) {
                    for(let i = 0; i < buttons_hover.length; i++) {
                        let self = this;
                        $(buttons_hover[i]).hover(function(){
                            $(this).css({'background-color': self.$attrs.sidepat.color_primario, "cursor": 'pointer'});
                        }, function(){
                            $(this).css({'background-color': 'transparent', "cursor": 'pointer'});
                        });
                    }
                }
                let buttons_danger = $(".uk-button-danger");
                if(buttons_danger.length > 0) {
                    for(let i = 0; i < buttons_danger.length; i++) {
                        $(buttons_danger[i]).css('background-color', this.$attrs.sidepat.color_primario);
                    }
                }
            },
            getUsersDeclaracion() {
                this.$store.dispatch('getUsersToDeclare');
            },
            getFormatosDeclaracion() {
                this.loading = true;
                axios.get('/api/declaracion/admin/get-tipos-declaracion').then(resp => {
                    this.tiposDeclaracion             = resp.data.tiposDeclaracion;
                    this.loading                      = false;
                    this.tiposDeclaracionExtensa      = this.tiposDeclaracion.filter(tipo => tipo.Nombre.includes('FORMATO SIMPLIFICADO') == false);
                    this.getUsersDeclaracion();
                    this.separarFormatos();
                }).catch(e => {
                    console.log(e);
                    this.loading = false;
                });
            },
            separarFormatos(){
                this.tiposDeclaracionExtensa.forEach(element => {
                    if(element.Patrimonial == 1){
                        this.DeclaracionesPatrimoniales.push(element);
                    }else{
                        this.Extras.push(element);
                    }
                });
            },
            setUserNumbers(tipo) {
                let users = this.users;
                let count = 0;
                for(let i = 0; i < users.length; i++) {
                    if(users[i].TipoDeclaracionID === tipo.TipoDeclaracionID) {
                        count = count + 1;
                    }
                }
                return count;
            },
            setUserConflictoNumbers(tipo){
                let users = this.usersConflicto;
                let count = 0;
                for(let i = 0; i < users.length; i++) {
                    if(users[i].TipoDeclaracionID === tipo.TipoDeclaracionID) {
                        count = count + 1;
                    }
                }
                return count;
            },
            setName(nombre, tipoDeclaracion) {
                if(tipoDeclaracion === 'extensa') {
                    return nombre.replace('DECLARACIÓN DE SITUACIÓN PATRIMONIAL','');
                } else {
                    return nombre.replace('DECLARACIÓN DE SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO','');
                }
            },
            openModalUsuario(tipo) {
                this.$store.commit('setTipoDeclaracionConsultado', tipo);
                UIkit.modal("#modal-usuarios-declaracion").show();
            },
            getDataConfiguracion() {
                axios.post('/api/administracion-ti/get-configuracion').then(resp => {
                    this.ejercicios       = resp.data.ejercicios;
                    this.ejercicios.forEach(element => {
                        if(element.Actual == 1){
                            this.ejercicio_seleccionado = element.EjercicioID;
                            this.ejercicio_actual = element.EjercicioID;
                        }
                    });
                }).catch(e => {
                    console.error(e);
                });
            },
            openModalSidepat() {
                UIkit.modal("#modal-sidepat").show();
            },
            saveConfiguracion() {
                if(this.ejercicio_seleccionado != this.ejercicio_actual){
                    if(this.ejercicio_seleccionado == 'NUEVO'){
                        axios.post('/api/administracion-ti/apertura-ejericio').then(resp =>{
                            UIkit.notification({
                                message: '<i class="fas fa-check"></i> El ejericio fue cambiado correctamente',
                                pos: 'top-right',
                                timeout: 3000
                            });
                            location.reload();
                        }).catch(e => {
                            console.error(e);
                        })
                    }else{
                        let data = {
                            ejericio_id : this.ejercicio_seleccionado,
                        }
                        axios.post('/api/administracion-ti/cambiar-ejericio-activo',data).then(resp =>{
                            location.reload();
                        }).catch(e => {
                            console.error(e);
                        })
                    }
                }
            },
            setEjercicio(ejercicioID) {
                this.ejercicio_seleccionado = ejercicioID;
                this.saveConfiguracion();
            }
        },
        computed: {
            usersToDeclare() {
                return this.$store.getters.getUsersToDeclare;
            },
            usersToDeclarePast() {
                return this.$store.getters.getUsersToDeclarePast;
            },
            usersToDeclareConflicto(){
                return this.$store.getters.getUsersToDeclareConflicto;
            }
        },
        watch: {
            'usersToDeclare': function(val) {
                this.users = val;
            },
            'usersToDeclareConflicto': function(val) {
                this.usersConflicto = val;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-button-primary-out {
                    background-color: transparent !important;
                    border: 1px #b71c1c solid;
                    color: #b71c1c;
                }
                .uk-button-back {
                    background-color: transparent !important;
                    border: 1px solid;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .active_seleccionado {
            color: #b71c1c !important;
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-link-reset {
            font-weight: 700;
            font-size: 16px;
            &:hover {
                color: #b71c1c !important;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .uk-thead > th{
            font-weight: bold;
            background-color: #424242;
            color: $color-white;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .uk-card {
            &:hover {
                cursor: pointer;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
