<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'declaracion-administrador'}" class="uk-text-uppercase uk-text-small">Menú de Declaración Patrimonial</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'declaracion-administrador-panel'}" class="uk-text-uppercase uk-text-small">Panel de administración</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'declaracion-administrador-panel-versiones-publicas'}" class="uk-text-uppercase uk-text-small">Versiones públicas</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Declaraciones públicas</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Declaraciones públicas</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR A PANEL DE ADMINISTRACIÓN"
                                         :to="{name: 'declaracion-administrador-panel-versiones-publicas'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-grid-small">
                <div class="uk-width-1-5@m uk-margin">
                    <div class="uk-form-controls">
                        <select class="uk-select uk-border-rounded"
                                v-model="ejercicio">
                            <option value="">Selecciona un ejercicio</option>
                            <option :value="ejercicio" v-for="ejercicio in ejercicios">{{ ejercicio }}</option>
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-5">
                    <button class="uk-button uk-button-primary uk-border-rounded" @click="seleccionarEjercicio">
                        Buscar
                    </button>
                </div>
                <div class="uk-width-3-5@m">
                    <button class="uk-button uk-width-auto uk-back-button uk-border-rounded uk-float-right"
                            type="button"
                            uk-toggle="target: #modal-descargar-declaraciones"
                            v-show="declaraciones_seleccionadas.length > 0">
                        Descargar Declaraciones
                    </button>
                    <button class="uk-button uk-width-auto uk-back-button uk-border-rounded uk-float-right uk-margin-small-right"
                            type="button"
                            uk-toggle="target: #modal-generar-declaraciones"
                            v-show="declaraciones_seleccionadas.length > 0">
                        Generar Declaraciones
                    </button>
                    <button class="uk-button uk-width-auto uk-back-button uk-border-rounded uk-float-right uk-margin-small-right"
                            type="button"
                            uk-toggle="target: #modal-borrar-declaraciones"
                            v-show="declaraciones_seleccionadas.length > 0">
                        Borrar Declaraciones
                    </button>
                </div>
            </div>
            <!-- Modal para borrar varias declaraciones generadas-->
            <div id="modal-borrar-declaraciones" class="uk-modal-container" uk-modal v-on:hide="getDeclaracionesDeEjercicio()" v-on:shown="verificarSeleccionados()">
                <div class="uk-modal-dialog uk-modal-body">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <h2 class="uk-modal-title">Borrar declaraciones por formato</h2>
                    <div class="uk-grid">
                        <div class="uk-width-1-2 uk-border-rounded">
                            <label>Selecciona el formato de declaración</label>
                            <select class="uk-select uk-border-rounded" v-model="formato_seleccionado">
                                <option v-for="(formato,index) in formatos"
                                        :key="index"
                                        :value="formato.FormatoID"
                                        v-if="formato.CamposAgregados == 1 && formato.SeccionesAgregadas == 1">
                                    {{formato.ClaveFormato}} - {{formato.NombreFormato}}
                                </option>
                            </select>
                        </div>
                        <div class="uk-width-1-2">
                            <label for=""></label>
                            <button class="uk-button uk-button-primary uk-border-rounded uk-align-center" type="button"
                                @click="borrarDeclaraciones(formato_seleccionado,declaraciones_seleccionadas)">
                                Borrar las declaraciones
                            </button>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <template>
                                <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-text-small uk-table-middle uk-table-hover">
                                    <thead>
                                        <tr>
                                            <th>Declarante</th>
                                            <th>Tipo Declaracion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(declaracion,index) in declaraciones_seleccionadas"
                                            :key="index"
                                            class="uk-cursor-pointer">
                                            <td>{{declaracion.Declarante}}</td>
                                            <td>{{declaracion.TipoDeclaracion}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal para descargar varias declaraciones -->
            <div id="modal-descargar-declaraciones" class="uk-modal-container" uk-modal v-on:shown="verificarSeleccionados()">
                <div class="uk-modal-dialog uk-modal-body">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <h2 class="uk-modal-title">Generar declaraciones por formato</h2>
                    <div class="uk-grid">
                        <div class="uk-width-1-2 uk-border-rounded">
                            <label>Selecciona el formato de declaración</label>
                            <select class="uk-select uk-border-rounded" v-model="formato_seleccionado">
                                <option v-for="(formato,index) in formatos"
                                        :key="index"
                                        :value="formato.FormatoID"
                                        v-if="formato.CamposAgregados == 1 && formato.SeccionesAgregadas == 1">
                                    {{formato.ClaveFormato}} - {{formato.NombreFormato}}
                                </option>
                            </select>
                        </div>
                        <div class="uk-width-1-2">
                            <label for=""></label>
                            <button class="uk-button uk-button-primary uk-border-rounded uk-align-center" type="button"
                                @click="descargarDeclaraciones(formato_seleccionado,declaraciones_seleccionadas)">
                                Descargar las declaraciones
                            </button>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <template>
                                <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-text-small uk-table-middle uk-table-hover">
                                    <thead>
                                        <tr>
                                            <th>Declarante</th>
                                            <th>Tipo Declaracion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(declaracion,index) in declaraciones_seleccionadas"
                                            :key="index"
                                            class="uk-cursor-pointer">
                                            <td>{{declaracion.Declarante}}</td>
                                            <td>{{declaracion.TipoDeclaracion}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal para generar varias declaraciones -->
            <div id="modal-generar-declaraciones" class="uk-modal-container" uk-modal v-on:hide="getDeclaracionesDeEjercicio()" v-on:shown="verificarSeleccionados()">
                <div class="uk-modal-dialog uk-modal-body">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <h2 class="uk-modal-title">Generar declaraciones por formato</h2>
                    <div class="uk-grid">
                        <div class="uk-width-1-2 uk-border-rounded">
                            <label>Selecciona el formato de declaración</label>
                            <select class="uk-select uk-border-rounded" v-model="formato_seleccionado">
                                <option value="">Selecciona una opción</option>
                                <option v-for="(formato,index) in formatos"
                                        :key="index"
                                        :value="formato.FormatoID"
                                        v-if="formato.CamposAgregados == 1 && formato.SeccionesAgregadas == 1">
                                    {{formato.ClaveFormato}} - {{formato.NombreFormato}}
                                </option>
                            </select>
                        </div>
                        <div class="uk-width-1-2">
                            <label></label>
                            <button class="uk-button uk-button-primary uk-border-rounded uk-align-center" type="button"
                                @click="generarDeclaraciones(formato_seleccionado,declaraciones_seleccionadas)">
                                Generar con el formato seleccionado
                            </button>
                        </div>
                    </div>
                    <template v-if="generando_declaraciones == true">
                        <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                            <div class="uk-width-1-1 uk-text-center uk-text-uppercase">
                                <span uk-spinner="ratio: 2"></span><br>
                                Cargando...
                            </div>
                        </div>
                    </template>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <template>
                                <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-text-small uk-table-middle uk-table-hover">
                                    <thead>
                                        <tr>
                                            <th>Declarante</th>
                                            <th>Tipo Declaracion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(declaracion,index) in declaraciones_seleccionadas"
                                            :key="index"
                                            class="uk-cursor-pointer">
                                            <td>{{declaracion.Declarante}}</td>
                                            <td>{{declaracion.TipoDeclaracion}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <!-- tabla de declaraciones -->
            <template v-if="hasEjercicoSelected == true || localEjercicio == true">
                <div v-if="loading" class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                    <div v-if="loading" class="uk-width-1-1 uk-text-center uk-text-uppercase">
                        <span uk-spinner="ratio: 2"></span><br>
                        Cargando...
                    </div>
                </div>
                <div v-else class="uk-grid uk-margin-bottom">
                    <div class="uk-grid uk-margin-large-bottom uk-margin-small-top">
                        <div class="uk-width-1-1">
                            <div class="uk-alert uk-alert-primary uk-border-rounded uk-text-uppercase uk-text-center uk-text-bold">
                                En la lista solo se muestran usuarios que han terminado su declaración
                            </div>
                        </div>
                        <!-- Filtros -->
                        <div class="uk-width-1-5 uk-margin">
                            <label class="uk-text-lead uk-margin-bottom">Filtros:</label>
                            <div class="uk-margin-bottom">
                                <label>Filtro por nombre</label>
                                <input class="uk-input uk-border-rounded" type="text" v-model="nombre_filtro" placeholder="Filtrar por nombre"/>
                            </div>

                            <label>Filtro por tipo</label>
                            <select  class="uk-select uk-border-rounded uk-margin-bottom" type="text" v-model="tipo_declaracion" placeholder="Filtrar por tipo declaración">
                                <!--<option value="">Filtrar por tipo de declaración</option>-->
                                <option>DECLARACIÓN DE SITUACIÓN PATRIMONIAL INICIAL</option>
                                <option>DECLARACIÓN DE SITUACIÓN PATRIMONIAL MODIFICACIÓN</option>
                                <option>DECLARACIÓN DE SITUACIÓN PATRIMONIAL CONCLUSIÓN</option>
                                <option>DECLARACIÓN DE SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO INICIAL</option>
                                <option>DECLARACIÓN DE SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO MODIFICACIÓN</option>
                                <option>DECLARACIÓN DE SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO CONCLUSIÓN</option>
                                <option>DECLARACIÓN DE CONFLICTO DE INTERESES</option>
                            </select>

                            <label>Filtro por área de adscipción</label>
                            <input type="text"
                                id="area_adscripcion"
                                class="uk-input uk-border-rounded uk-margin-bottom"
                                placeholder="Filtrar por área de adscripción"
                                v-model.trim="area_ads">

                            <button class="uk-button uk-back-button uk-border-rounded uk-width-expand" @click="limpiarFiltros()">
                                Limpiar filtros
                            </button>
                        </div>
                        <!-- Tablas -->
                        <div class="uk-width-4-5 uk-margin">
                            <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-text-small uk-table-middle uk-table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <input class="uk-checkbox uk-border-rounded" type="checkbox"
                                                uk-tooltip="title:Seleccionar todos"
                                                v-model="check_all">
                                        </th>
                                        <th>#</th>
                                        <th>Declarante</th>
                                        <th>Tipo declaración</th>
                                        <th>Formatos</th>
                                        <th class="uk-text-center">Detalles</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(declaracion, index) in filteredList"
                                        :key="index"
                                        class="uk-cursor-pointer">
                                        <!-- Checkbox -->
                                        <td>
                                            <input class="uk-checkbox uk-border-rounded check-declaracion"
                                                type="checkbox" :value="declaracion"
                                                v-model="declaraciones_seleccionadas"
                                                checked="">
                                        </td>
                                        <!-- # -->
                                        <td>
                                            {{ index + 1 }}
                                        </td>
                                        <!-- Declarante -->
                                        <td class="uk-text-uppercase">
                                            {{ declaracion.Declarante }}
                                        </td>
                                        <!-- Tipo declaración -->
                                        <td>
                                            {{declaracion.TipoDeclaracion}}
                                        </td>
                                        <!-- Formatos -->
                                        <td class="uk-text-uppercase">
                                            <template v-if="declaracion.DeclaracionesGeneradas != null">
                                                {{declaracion.DeclaracionesGeneradas}}
                                            </template>
                                            <template v-else>
                                                No se ha generado versión pública
                                            </template>
                                        </td>
                                        <!-- Detalles -->
                                        <td class="uk-text-center">
                                            <i class="fas fa-search fa-lg"
                                                uk-tooltip="title:Ver más"
                                                v-on:click="declaracion_seleccionada = declaracion"
                                                type="button" uk-toggle="target: #modal-close-default">
                                            </i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Modal para generar pdf de declaracion -->
                        <div id="modal-close-default" class="uk-modal-container" uk-modal v-on:hide="getDeclaracionesDeEjercicio()">
                            <div class="uk-modal-dialog uk-modal-body">
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                                <h2 class="uk-modal-title">Detalles de la declaración</h2>
                                <div class="uk-grid">
                                    <div class="uk-width-1-1">
                                        Declarante
                                        <input class="uk-input uk-border-rounded" type="text" readonly disabled v-model="declaracion_seleccionada.Declarante"/>
                                    </div>
                                    <div class="uk-width-1-1">
                                        Tipo de declaración
                                        <input class="uk-input uk-border-rounded" type="text" readonly disabled v-model="declaracion_seleccionada.TipoDeclaracion" />
                                    </div>
                                </div>
                                <div class="uk-grid">
                                    <div class="uk-width-1-1">
                                        <template v-if="loading_table == true">
                                            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                                                <div class="uk-width-1-1 uk-text-center uk-text-uppercase">
                                                    <span uk-spinner="ratio: 2"></span><br>
                                                    Cargando...
                                                </div>
                                            </div>
                                        </template>
                                        <template v-else>
                                            <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-text-small uk-table-middle uk-table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Clave</th>
                                                        <th>Formato</th>
                                                        <th>Opciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(documento,index) in documentos"
                                                        :key="index"
                                                        class="uk-cursor-pointer"
                                                        v-if="documento.CamposAgregados && documento.SeccionesAgregadas">
                                                        <td>{{documento.ClaveFormato}}</td>
                                                        <td>{{documento.NombreFormato}}</td>
                                                        <template v-if="documento.RutaDeclaracion == null">
                                                            <td>
                                                                <i class="fas fa-plus fa-lg" uk-tooltip="title:Generar declaración" @click="generarDeclaracionPublica({
                                                                    formato_id: documento.FormatoID,
                                                                    declaracion_id: declaracion_seleccionada.DeclaracionID
                                                                })"></i>
                                                            </td>
                                                        </template>
                                                        <template v-else>
                                                            <td>
                                                                <i class="fas fa-file-download fa-lg" uk-tooltip="title:Descargar declaración" @click="descargarDeclaracion(documento.RutaDeclaracion)"></i>
                                                                <i class="fas fa-trash fa-lg" uk-tooltip="title:Borrar archivo" @click="borrarDeclaracion({formato_id: documento.FormatoID,
                                                                    declaracion_id: declaracion_seleccionada.DeclaracionID})"></i>
                                                            </td>
                                                        </template>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
import MenuCard from "@/js/components/MenuCard";

export default {
    name: "IndexDeclaracionAdministradorDeclaracionesPublicas",
    components: {
        MenuCard
    },
    data(){
        return{
            declaraciones: [],
            ejercicio:'',
            loading: false,
            nombre_filtro: '',
            tipo_declaracion:' ',
            formato:'',
            area_ads: '',
            declaracion_seleccionada:[],
            documentos:[],
            loading_table: true,
            declaraciones_seleccionadas:[],
            check_all:false,
            formatos:[],
            formato_seleccionado:'',
            generando_declaraciones:false,
            ejercicios: []
        }
    },
    watch:{
        declaracion_seleccionada(val){
            this.documentos_disponibles = [];
            let data = {
                declaracion_id : val.DeclaracionID
            }
            axios.post('/api/declaracion/get-lista-pdf-generados', data).then(resp =>{
                this.documentos = resp.data.documentos;
                setTimeout(this.loading_table = false,1000);
            }).catch (e => {
                console.log(e);
            })
        },
        check_all(val){
            if(val == true){
                this.declaraciones_seleccionadas = this.declaraciones;
            }else{
                this.declaraciones_seleccionadas = [];
            }
        }
    },
    created(){
        axios.get('/api/declaracion/get-formatos-publicos').then(resp =>{
            this.formatos = resp.data.formatos;
        }).catch (e => {
            console.log(e);
        })
    },
    mounted() {
        this.getEjerciciosDeclaracionesPublicas();
    },
    computed:{
        filteredList() {
            if(this.ejercicio == '') {
                return [];
            } else {
                return this.declaraciones.filter(declaracion => {
                    if(_.isNull(declaracion.Declarante) == false) {
                        if(_.isNull(declaracion.AreaAdscripcion)){
                            declaracion.AreaAdscripcion = '';
                        }
                        return (
                            (declaracion.Declarante).toLowerCase().includes(this.nombre_filtro.toLowerCase())&&
                            (declaracion.AreaAdscripcion).toLowerCase().includes(this.area_ads.toLowerCase())&&
                            (declaracion.TipoDeclaracion).toLowerCase().includes(this.tipo_declaracion.toLowerCase())
                        )
                    }
                })
            }
        },
        hasEjercicoSelected() {
            if(_.isNull(localStorage.getItem('ejercicio'))) {
                return false;
            } else {
                return true
            }
        },
    },
    methods:{
        limpiarFiltros(){
            this.nombre_filtro = '';
            this.tipo_declaracion = ' ';
            this.formato = '';
            this.area_ads = '';
        },
        verificarSeleccionados(){
            if(this.declaraciones_seleccionadas.length == 0){
                UIkit.notification({
                    status: 'danger',
                    message: '<i class="fas fa-times"></i> Debes seleccionar declaraciones antes',
                    pos: 'top-right',
                    timeout: 3000
                });
            }
        },
        descargarDeclaracionPublica(ruta){
            let getUrl = window.location;
            let baseUrl = getUrl .protocol + "//" + getUrl.host + "/";
            window.open(baseUrl+ruta, '_blank');
        },
        descargarDeclaraciones(){
            if(this.formato_seleccionado == '') {
                alert('Seleccione el formato de declaración');
            } else {
                let ids_declaraciones = [];
                this.declaraciones_seleccionadas.forEach(element => {
                    ids_declaraciones.push(element.DeclaracionID);
                });
                let data = {
                    declaraciones_id: ids_declaraciones,
                    formato_id: this.formato_seleccionado
                };
                axios.post('/api/declaracion/get-rutas-declaraciones', data).then(resp =>{
                    let getUrl = window.location;
                    let baseUrl = getUrl .protocol + "//" + getUrl.host + "/";
                    window.open(baseUrl+'declaraciones-publicas/yzvJkB0OB3fkTva8XHK3ROTNvSkBVnU2u3b5bbtm', '_blank');
                }).catch (e => {
                    alert('Ocurrio un error, intentalo nuevamente');
                    console.log(e);
                });
            }
        },
        seleccionarEjercicio() {
            if(this.ejercicio == '') {
                alert('Selecciona un ejercicio');
                return false;
            } else {
                localStorage.setItem('ejercicio', this.ejercicio);
                this.localEjercicio = true;
                this.getDeclaracionesDeEjercicio();
            }
        },
        getDeclaracionesDeEjercicio(){
            let ejercicio = localStorage.getItem('ejercicio');
            if(_.isNull(ejercicio)) {
                return false;
            }
            this.loading = true;
            let data = {
                ejercicio: ejercicio
            };
            axios.post('/api/declaracion/get-declaraciones-terminadas', data).then(resp =>{
                this.declaraciones = resp.data.declaraciones;
                this.calDeclaracionesTerminadas();
            }).catch (e => {
                console.log(e);
            })
        },
        calDeclaracionesTerminadas(){
            this.pendientes = 0;
            this.sin_iniciar = 0;
            this.terminadas = 0;
            this.inicial = 0;
            this.modificacion = 0;
            this.conclucion = 0;
            this.inicial_simple = 0;
            this.inicial_simple = 0;
            this.inicial_simple = 0;
            this.declaraciones.forEach(declaracion => {
                if(declaracion.SeccionesTerminadas<declaracion.TotalSecciones && declaracion.SeccionesTerminadas > 0){
                    this.pendientes++;
                }else if(declaracion.SeccionesTerminadas == 0){
                    this.sin_iniciar++;
                }else{
                    this.terminadas++;
                }
                switch(declaracion.TipoDeclaracion){
                    case 'DECLARACIÓN DE SITUACIÓN PATRIMONIAL INICIAL':
                        this.inicial++;
                    break;
                    case 'DECLARACIÓN DE SITUACIÓN PATRIMONIAL MODIFICACIÓN':
                        this.modificacion++;
                    break;
                    case 'DECLARACIÓN DE SITUACIÓN PATRIMONIAL CONCLUSIÓN':
                        this.conclucion++;
                    break;
                    case 'DECLARACIÓN DE SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO INICIAL':
                        this.inicial_simple++;
                    break;
                    case 'DECLARACIÓN DE SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO MODIFICACIÓN':
                        this.inicial_simple++;
                    break;
                    case 'DECLARACIÓN DE SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO CONCLUCIÓN':
                        this.inicial_simple++;
                    break;
                }
            });
            setTimeout(()=>{
            },500);
            this.loading = false;
        },
        generarDeclaracionPublica(info) {
            let confirm = window.confirm('¿ESTA SEGURO QUE DESEA GENERAR ESTA DECLARACIÓN PATRIMONIAL?');
            if(confirm) {
                this.loading_table = true;
                let data = {
                    declaracion_id: info.declaracion_id,
                    formato_id: info.formato_id
                };
                axios.post('/api/declaracion/generar-declaracion-publica', data).then(resp => {
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Declaración generada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    data = {
                        declaracion_id : info.declaracion_id
                    }
                    axios.post('/api/declaracion/get-lista-pdf-generados', data).then(resp =>{
                        this.documentos = resp.data.documentos;
                        console.log(this.documentos)
                        this.loading_table = false;
                    }).catch (e => {
                        console.log(e);
                    })
                }).catch(e => {
                    console.log(e);
                });
            } else {
                return false;
            }
        },
        borrarDeclaracion(info){
            let confirm = window.confirm('¿ESTA SEGURO QUE DESEA GENERAR ESTA DECLARACIÓN PATRIMONIAL?');
            if(confirm) {
                let data = {
                    declaracion_id: info.declaracion_id,
                    formato_id: info.formato_id
                };
                axios.post('/api/declaracion/borrar-declaracion-publica', data).then(resp => {
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Archivo borrado correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    data = {
                        declaracion_id : info.declaracion_id
                    }
                    axios.post('/api/declaracion/get-lista-pdf-generados', data).then(resp =>{
                        this.documentos = resp.data.documentos;
                        console.log(this.documentos)
                        this.loading_table = false;
                    }).catch (e => {
                        console.log(e);
                    })
                }).catch(e => {
                    console.log(e);
                })
            }else {
                return false;
            }
        },
        borrarDeclaraciones(){
            if(this.formato_seleccionado == '') {
                alert('Seleccione el formato de declaración');
            } else {
                let confirm = window.confirm('¿ESTA SEGURO QUE DESEA BORRAR ESTAS VERSIONES DE LA DECLARACIÓN PATRIMONIAL?');
                if(confirm){
                    let ids_declaraciones = [];
                    this.declaraciones_seleccionadas.forEach(element => {
                        ids_declaraciones.push(element.DeclaracionID);
                    });
                    let data = {
                        declaraciones_id: ids_declaraciones,
                        formato_id: this.formato_seleccionado
                    };
                    axios.post('/api/declaracion/borrar-declaraciones-multiples', data).then(resp =>{
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Declaraciónes borradas correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                    }).catch (e => {
                        alert('Ocurrio un error, intentalo nuevamente');
                        console.log(e);
                    });
                }else {
                    return false;
                }
            }
        },
        descargarDeclaracion(ruta){
            let getUrl = window.location;
            let baseUrl = getUrl .protocol + "//" + getUrl.host + "/";
            window.open(baseUrl+ruta, '_blank');
        },
        generarDeclaraciones(formato,declaraciones){
            if(this.formato_seleccionado == '') {
                alert('Seleccione el formato de declaración');
            } else {
                this.verificarSeleccionados();
                if(formato == null){
                    UIkit.notification({
                        status: 'danger',
                        message: '<i class="fas fa-times"></i> Debes seleccionar un formato primero',
                        pos: 'top-right',
                        timeout: 3000
                    });
                }else{
                    let ids_declaraciones = [];
                    declaraciones.forEach(element => {
                        ids_declaraciones.push(element.DeclaracionID);
                    });
                    let data = {
                        formato_id : formato,
                        declaraciones_id : ids_declaraciones
                    }
                    this.generando_declaraciones = true;
                    axios.post('/api/declaracion/generar-multiples-declaraciones', data).then(resp =>{
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Declaración generada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.generando_declaraciones = false;
                    }).catch (e => {
                        console.log(e);
                    })
                }
            }
        },
        getEjerciciosDeclaracionesPublicas() {
            axios.get('/api/declaracion/get-ejercicios-publica').then(resp => {
                for (const ejercicio of resp.data.ejercicios) {
                    this.ejercicios.push(ejercicio.Year);
                }
            }).catch(e => {
                console.log(e);
            })
        }
    }
}
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
