<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'declaracion-administrador'}" class="uk-text-uppercase uk-text-small">Menú de Declaración Patrimonial</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Panel de administración</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Panel de administración</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR A MENÚ DE DECLARACIÓN PATRIMONIAL"
                                         :to="{name: 'declaracion-administrador'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <menu-card title="Asignación de usuarios a la declaración"
                           description="Listado de usuarios asignados a la declaración patrimonial"
                           goToUrl="declaracion-administrador-panel-usuarios"
                           :sidepat="$attrs.sidepat">
                    <i class="fas fa-user-check fa-3x"></i>
                </menu-card>
                <menu-card title="Monitoreo y estadísticas"
                           description="Monitoreo y estadisticas de las declaraciones patrimoniales"
                           goToUrl="declaracion-administrador-panel-estadisticas"
                           :sidepat="$attrs.sidepat">
                    <i class="fas fa-chart-pie fa-3x"></i>
                </menu-card>
                <menu-card title="Versiones públicas"
                           description="Formatos de versiones públicas"
                           goToUrl="declaracion-administrador-panel-versiones-publicas"
                           :sidepat="$attrs.sidepat">
                    <i class="fas fa-globe fa-3x"></i>
                </menu-card>

                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Video tutoriales</h3>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1">
                    <iframe width="1200" height="500" src="https://www.youtube.com/embed/videoseries?list=PLol0lI5xfSnHYpwk3ed8I2OiSzs_MZ3zp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import MenuCard from "@/js/components/MenuCard";
    export default {
        name: "IndexDeclaracionAdministradorFormatos",
        mounted() {
            this.setImage();
        },
        components: {
            MenuCard
        },
        methods: {
            setImage() {
                let buttons_hover = $(".uk-back-button");
                if(buttons_hover.length > 0) {
                    for(let i = 0; i < buttons_hover.length; i++) {
                        let self = this;
                        $(buttons_hover[i]).hover(function(){
                            $(this).css({'background-color': self.$attrs.sidepat.color_primario, "cursor": 'pointer'});
                        }, function(){
                            $(this).css({'background-color': 'transparent', "cursor": 'pointer'});
                        });
                    }
                }
            },
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
