<template>
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-margin-medium-top">
                <div class="uk-grid">
                    <div class="uk-width-2-3"></div>
                    <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                        <router-link class="uk-back-button uk-text-uppercase"
                                     tag="a"
                                     uk-tooltip="title: REGRESAR A MENÚ DE BACHEO"
                                     :to="{name: 'declaracion-bacheo'}">
                            <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                        </router-link>
                    </div>
                </div>
            </div>
            <div class="uk-card uk-card-default uk-width-1-1 uk-margin-medium-top uk-padding-remove-left uk-border-rounded uk-margin-large-bottom">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom uk-padding-remove-left">
                                Declaraciones
                            </h3>
                            <p class="uk-text-meta uk-margin-remove-top">
                                <i class="fas fa-cogs"></i> Herramienta de reasignación de declaraciones a ejercicios
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <div class="uk-grid uk-margin">
                        <div class="uk-width-1-1">
                            <div class="uk-form-controls">
                                <form @submit.prevent="searchDeclaraciones">
                                    <div class="uk-grid uk-grid-small">
                                        <div class="uk-width-1-3">
                                            <div class="uk-margin">
                                                <label class="uk-form-label">Selecciona un ejercicio</label>
                                                <select class="uk-select uk-border-rounded" required v-model="ejercicio_seleccionado">
                                                    <option :value="ejercicio.EjercicioID" v-for="ejercicio in ejerciciosDeclarados">{{ ejercicio.Year }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-3">
                                            <div class="uk-margin">
                                                <label class="uk-form-label">Selecciona un tipo de declaración</label>
                                                <select class="uk-select uk-border-rounded uk-margin-bottom"
                                                        type="text"
                                                        v-model="tipo_declaracion"
                                                        placeholder="Filtrar por tipo declaración">
                                                    <option value="">TODOS</option>
                                                    <option value="DECLARACIÓN DE SITUACIÓN PATRIMONIAL INICIAL">SITUACIÓN PATRIMONIAL INICIAL</option>
                                                    <option value="DECLARACIÓN DE SITUACIÓN PATRIMONIAL MODIFICACIÓN">SITUACIÓN PATRIMONIAL MODIFICACIÓN</option>
                                                    <option value="DECLARACIÓN DE SITUACIÓN PATRIMONIAL CONCLUSIÓN">SITUACIÓN PATRIMONIAL CONCLUSIÓN</option>
                                                    <option value="DECLARACIÓN DE CONFLICTO DE INTERESES">CONFLICTO DE INTERESES</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-3">
                                            <div class="uk-margin">
                                                <label class="uk-form-label">Selecciona un año en el que se presento la declaración</label>
                                                <select class="uk-select uk-border-rounded" v-model="ejercicios_presento_temp">
                                                    <option value="">TODOS</option>
                                                    <option :value="ejercicio.Ejercicio" v-for="ejercicio in ejercicios_presento">{{ ejercicio.Ejercicio }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit"
                                            class="uk-button uk-button-default uk-button-small uk-float-right uk-border-rounded uk-margin-small-top uk-margin-small-left"
                                            style="background-color: #7A0A2C; color: #FFFFFF;">
                                        <i class="fas fa-search"></i> Buscar declaraciones
                                    </button>
                                    <button class="uk-button uk-button-default uk-button-small uk-float-right uk-border-rounded uk-margin-small-top"
                                            type="button"
                                            v-if="declaracionesSeleccionadas.length > 0"
                                            uk-toggle="target: #modal-seleccionadas"
                                            @click="searchDeclaracionesDetalle">
                                        <i class="fas fa-exchange-alt"></i> Cambiar ejercicio a declaraciones
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="uk-width-1-1">
                            <div class="uk-margin" v-if="declaraciones.length > 0">
                                <table class="uk-table uk-table-striped uk-table-small uk-text-small uk-table-middle">
                                    <thead>
                                        <tr>
                                            <th class="uk-width-auto"></th>
                                            <th>Declarante</th>
                                            <th>Tipo de declaración</th>
                                            <th>Ejercicio declarado</th>
                                            <th>Año en que se presento la declaración</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="declaracion in declaraciones">
                                            <td class="uk-width-auto">
                                                <input class="uk-checkbox uk-border-rounded"
                                                       type="checkbox"
                                                       aria-label="Checkbox"
                                                       v-model="declaracionesSeleccionadas"
                                                       :value="declaracion.DeclaracionID">
                                            </td>
                                            <td class="uk-text-uppercase uk-text-left">{{ declaracion.Declarante }}</td>
                                            <td class="uk-text-left">{{ declaracion.TipoDeclaracion }}</td>
                                            <td class="uk-text-left">{{ declaracion.EjercicioDeclarado }}</td>
                                            <td class="uk-text-left">{{ declaracion.DeclaracionFecha }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul class="uk-pagination uk-flex-center uk-margin-remove-bottom" uk-margin>
                                    <li v-show="pagination.prev_page_url"><a href="#" @click.prevent="getPreviousPage"><span uk-pagination-previous></span></a></li>
                                    <li :class="{ 'uk-active-pagination': (pagination.current_page == n) }"
                                        v-for="n in pagination.last_page">
                                        <a href="#" @click.prevent="getPage(n)" style="border-radius: 5px !important;">{{ n }}</a>
                                    </li>
                                    <li v-show="pagination.next_page_url"><a href="#" @click.prevent="getNextPage"><span uk-pagination-next></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-seleccionadas" uk-modal>
            <div class="uk-modal-dialog">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">
                        Declaraciones seleccionadas
                    </h2>
                </div>
                <div class="uk-modal-body" uk-overflow-auto>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">Selecciona el ejercicio al que deseas reasignar</label>
                        <select class="uk-select uk-border-rounded uk-ejercicio-seleccionado" required v-model="ejercicio_seleccionado2">
                            <option value="">Selecciona un ejercicio</option>
                            <option :value="ejercicio.EjercicioID" v-for="ejercicio in ejerciciosDeclarados2">
                                {{ ejercicio.Year }}
                            </option>
                        </select>
                    </div>
                    <table class="uk-table uk-table-striped uk-table-small uk-text-small">
                        <thead>
                            <tr>
                                <th>Declarante</th>
                                <th>Tipo de declaracion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="declaracion in declaracionesDetalle">
                                <td class="uk-text-uppercase">{{ declaracion.Declarante }}</td>
                                <td class="uk-text-uppercase">{{ declaracion.TipoDeclaracion }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                    <button class="uk-button uk-button-primary" type="button" @click="cambiarEjercicio">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ReasignacionEjercicios",
    data(){
        return {
            ejerciciosDeclarados: [],
            declaraciones: [],
            ejercicio_seleccionado: '',
            ejercicio_seleccionado2: '',
            pagination: {},
            declaracionesSeleccionadas: [],
            declaracionesDetalle: [],
            tipo_declaracion: '',
            ejercicios_presento: [],
            ejercicios_presento_temp: ''
        }
    },
    mounted() {
        this.getEjerciciosDeclarados();
    },
    methods: {
        getEjerciciosDeclarados() {
            axios.get('/api/declaracion/get-ejercicios-declarados').then(resp => {
                this.ejerciciosDeclarados = resp.data.ejercicios;
                this.ejercicio_seleccionado = 12;
            }).catch((e) => {
                console.log(e)
            })
        },
        searchDeclaraciones() {
            this.declaraciones = [];
            axios.get('/api/declaracion/buscar-declaraciones-bacheo', {
                params: {
                    ejercicioID: this.ejercicio_seleccionado,
                    tipo_declaracion: this.tipo_declaracion,
                    ejercicios_presento: this.ejercicios_presento_temp
                }
            }).then(resp => {
                this.pagination = resp.data.declaraciones;
                this.declaraciones = resp.data.declaraciones.data;
                this.ejercicios_presento = resp.data.ejercicios_presento;
            }).catch(e => console.log(e))
        },
        getNextPage(){
            let base_url = this.pagination.next_page_url;
            let ejercicio = this.ejercicio_seleccionado;
            let tipo = this.tipo_declaracion;
            let ejercicio_presento = this.ejercicios_presento_temp;
            let url = base_url + '&ejercicioID=' + ejercicio + '&tipo_declaracion='+tipo+'&ejercicios_presento='+ejercicio_presento;
            axios.get(url).then((response)=>{
                this.pagination = response.data.declaraciones;
                this.declaraciones = response.data.declaraciones.data;
            },(response)=>{

            });
        },
        getPreviousPage() {
            let base_url = this.pagination.prev_page_url;
            let ejercicio = this.ejercicio_seleccionado;
            let tipo = this.tipo_declaracion;
            let ejercicio_presento = this.ejercicios_presento_temp;
            let url = base_url + '&ejercicioID=' + ejercicio + '&tipo_declaracion='+tipo+'&ejercicios_presento='+ejercicio_presento;
            axios.get(url).then((response)=>{
                this.pagination = response.data.declaraciones;
                this.declaraciones = response.data.declaraciones.data;
            },(response)=>{

            });
        },
        getPage(page){
            let base_url = this.pagination.path+'?page=' + page;
            let ejercicio = this.ejercicio_seleccionado;
            let tipo = this.tipo_declaracion;
            let ejercicio_presento = this.ejercicios_presento_temp;
            let url = base_url + '&ejercicioID=' + ejercicio + '&tipo_declaracion='+tipo+'&ejercicios_presento='+ejercicio_presento;
            axios.get(url).then((response)=>{
                this.pagination = response.data.declaraciones;
                this.declaraciones = response.data.declaraciones.data;
            },(response)=>{

            });
        },
        searchDeclaracionesDetalle() {
            let declaraciones = this.declaracionesSeleccionadas;
            axios.post('/api/declaracion/declaraciones-detalle', {declaraciones: declaraciones})
                .then(resp => {
                    this.declaracionesDetalle = resp.data.declaraciones;
                })
                .catch(e => {
                    console.log(e);
                });
        },
        cambiarEjercicio() {
            let seleccionado = $('.uk-ejercicio-seleccionado');
            if(seleccionado.val().trim() === '') {
                seleccionado.addClass('uk-form-danger');
                return false;
            } else {
                seleccionado.removeClass('uk-form-danger');
                if (confirm('¿Esta seguro que desea cambiar el ejercicio asignado a las declaraciones?') === true) {
                    let data = {
                        declaraciones: this.declaracionesSeleccionadas,
                        ejercicioID: this.ejercicio_seleccionado2
                    };
                    axios.post('/api/declaracion/cambiar-declaraciones-ejercicio', data).then(resp => {
                        this.declaracionesSeleccionadas = [];
                        UIkit.modal('#modal-seleccionadas').hide();
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Ejercicio actualizado correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.searchDeclaraciones();
                    }).catch(e => {
                        console.log(e);
                    })
                } else {
                    return false;
                }
            }
        }
    },
    computed: {
        ejerciciosDeclarados2() {
            let arr = [];
            for (let i = 0; i < this.ejerciciosDeclarados.length; i++) {
                if(this.ejerciciosDeclarados[i].EjercicioID !== this.ejercicio_seleccionado) {
                    arr.push(this.ejerciciosDeclarados[i]);
                }
            }
            return arr;
        }
    },
    watch: {
        ejercicio_seleccionado() {
            this.searchDeclaraciones();
        }
    }
}
</script>

<style lang="scss" scoped>
.uk-active.uk-active-button {
    background-color: $color-primary;
    color: $color-white;
    font-weight: bold;
}
.uk-tab > * > a {
    padding: 5px 20px;
    &:hover {
        background-color: #fafafa;
        color: $color-black;
    }
}
.uk-active > a {
    background-color: $color-primary;
    color: #FFFFFF;
    border-color: transparent;
    padding: 5px 20px;
    &:hover {
        background-color: $color-primary;
        color: #FFFFFF;
        border-color: transparent;
        padding: 5px 20px;
    }
}
.uk-active-pagination {
    background-color: $color-grey-disabled;
    border-radius: 5px;
    a {
        color: #0c0c0c !important;
    }
}
.uk-back-button{
    color: $color-black;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
    &:hover {
        color: $color-white;
        background-color: $color-primary;
    }
}
</style>
