<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li v-if="isAdmin == 'true'">
                            <router-link :to="{name: 'declaracion-administrador'}" class="uk-text-uppercase uk-text-small">
                                Menú de Declaración Patrimonial
                            </router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Declaraciones</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-small-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Declaraciones</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <a v-if="$attrs.sidepat.aviso_privacidad"
                               href="/docs/aviso_provacidad_declaracion.docx"
                               target="_blank"
                               class="uk-margin-small-right uk-back-button"
                               style="text-decoration: none;">
                                Aviso de privacidad <i class="fas fa-file-download fa-lg"></i>
                            </a>
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR A MENÚ PRINCIPAL"
                                         :to="{name: 'declaracion-administrador'}"
                                         v-if="isAdmin == 'true'">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR A MENÚ"
                                         :to="{name: 'dashboard'}"
                                         v-else>
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
                <template v-if="declaraciones.length == 0">
                    <div class="uk-width-1-1 uk-margin-small-top uk-margin-medium-bottom uk-text-center">
                        <img src="/img/svg/ilustration3.svg" width="500">
                        <p class="uk-margin-medium-top uk-text-bold">No se han asignado declaraciones</p>
                    </div>
                </template>
                <template v-else>
                    <div class="uk-width-1-1">
                        <div class="uk-width-1-1 uk-alert uk-alert-primary uk-border-rounded uk-text-center uk-text-uppercase uk-text-small"
                            v-if="declaraciones_sin_terminar.length == 0">
                            <!-- TODO: Esta leyenda desaparece para las declaraciones de conflicto de interes -->
                            Sin declaraciones pendientes para presentar
                        </div>
                        <div v-else class="uk-grid uk-margin-small-top uk-margin-medium-bottom">
                            <template v-for="declaracion in declaraciones_sin_terminar">
                                <template v-if="declaracion.TipoDeclaracionID == 2 || declaracion.TipoDeclaracionID == 5">
                                    <menu-card :title="'Situación patrimonial '+declaracion.NombreCorto +' ejercicio '+ declaracion.Year"
                                               :description="'Fecha de creación ' + setCreateDate(declaracion.created_at)"
                                               goToUrl="estatus-declaracion-administrador"
                                               :sidepat="$attrs.sidepat"
                                               v-show="hasDeclaracionPatrimonial"
                                               :idDeclaracion="declaracion.DeclaracionID"
                                               :formatoDeclaracion="true"
                                               :key="declaracion.DeclaracionID">
                                        <i class="fas fa-file-invoice-dollar fa-3x"></i>
                                    </menu-card>
                                </template>
                                <template v-else-if="declaracion.TipoDeclaracionID == 7">
                                    <menu-card :title="'Conflicto de intereses (' + setCreateDate(declaracion.created_at) + ')'"
                                               :description="'Fecha de creación ' + setCreateDate(declaracion.created_at)"
                                               goToUrl="estatus-declaracion-administrador"
                                               :sidepat="$attrs.sidepat"
                                               v-show="hasDeclaracionConflictos"
                                               :idDeclaracion="declaracion.DeclaracionID"
                                               :formatoDeclaracion="true"
                                               :key="declaracion.DeclaracionID">
                                        <i class="fas fa-compress-alt fa-4x" style="transform: rotate(45deg);"></i>
                                    </menu-card>
                                </template>
                                <template v-else>
                                    <menu-card :title="'Situación patrimonial '+declaracion.NombreCorto +' (' + setCreateDate(declaracion.created_at) + ')'"
                                               :description="'Fecha de creación ' + setCreateDate(declaracion.created_at)"
                                               goToUrl="estatus-declaracion-administrador"
                                               :sidepat="$attrs.sidepat"
                                               v-show="hasDeclaracionPatrimonial"
                                               :idDeclaracion="declaracion.DeclaracionID"
                                               :formatoDeclaracion="true"
                                               :key="declaracion.DeclaracionID">
                                        <i class="fas fa-file-invoice-dollar fa-3x"></i>
                                    </menu-card>
                                </template>
                            </template>
                        </div>
                    </div>
                </template>
                <div class="uk-width-1-1 uk-margin-top">
                    <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Historial</h3>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-bottom">
                    <table class="uk-table uk-table-striped uk-table-hover uk-table-small uk-table-middle">
                        <thead>
                        <tr>
                            <th>Declaración</th>
                            <th class="uk-text-center">Descargas</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-if="declaraciones_presentadas.length > 0">
                            <tr v-for="(declaracion, index) in declaraciones_presentadas" :key="index">
                                <td class="uk-text-uppercase">{{ declaracion.TipoDeclaracion+' (' + setDateHistorial(declaracion.created_at, declaracion) +')'}}</td>
                                <td class="uk-text-right uk-text-uppercase">
                                    <!--<button class="uk-button uk-button-small uk-button-download uk-border-rounded uk-padding-small">
                                        Acuse <i class="fas fa-file-download"></i>
                                    </button>
                                    <button class="uk-button uk-button-small uk-button-download uk-border-rounded uk-padding-small">
                                        Declaracion <i class="fas fa-file-download"></i>
                                    </button>-->
                                    <a :href="getBasePath(declaracion.RutaAcuse)"
                                       target="_blank"
                                       class="uk-link-reset uk-button uk-button-small uk-button-download uk-border-rounded"
                                       download><span>Acuse <i class="fas fa-file-download"></i></span></a>
                                    <a :href="getBasePath(declaracion.RutaDeclaracionCompleta)"
                                       target="_blank"
                                       class="uk-link-reset uk-button uk-button-small uk-button-download uk-border-rounded"
                                       download><span>Declaracion <i class="fas fa-file-download"></i></span></a>
                                </td>
                            </tr>
                        </template>
                        <template v-else>
                            <tr>
                                <td colspan="3" class="uk-text-center">
                                    No se encontraron declaraciones presentadas
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import MenuCard from "@/js/components/MenuCard";
    import moment from "moment";
    export default {
        name: "SeleccionarDeclaracion",
        components: {
            MenuCard
        },
        data() {
            return {
                declaraciones: [],
                declaraciones_presentadas: [],
                declaraciones_sin_terminar:[]
            }
        },
        created() {
            this.obtenerDeclaraciones();
        },
        mounted() {
            //this.setImage();
        },
        methods: {
            obtenerDeclaraciones() {
                axios.post('/api/declaracion/obtener-declaraciones').then(resp => {
                    this.declaraciones = resp.data.declaraciones;
                    this.declaraciones_presentadas = resp.data.declaraciones_presentadas;
                    this.declaraciones_sin_terminar = resp.data.declaraciones.filter(({Finalizado}) => (Finalizado == 0));
                    setTimeout(() => {
                        this.setImage();
                    }, 500);
                }).catch(e => {
                   console.error(e);
                });
            },
            getBasePath(path) {
                let getUrl = window.location;
                let baseUrl = getUrl .protocol + "//" + getUrl.host + "/";
                return baseUrl+path;
            },
            setCreateDate(date) {
                if(_.isNull(date)) {
                    return '';
                } else {
                    moment.locale('es');
                    return moment(date).format('D MMMM YYYY');
                }
            },
            setDateHistorial(date, declaracion) {
                if(_.isNull(date)) {
                    return '';
                } else {
                    if(declaracion.TipoDeclaracion == 'DECLARACIÓN DE SITUACIÓN PATRIMONIAL MODIFICACIÓN') {
                        moment.locale('es');
                        return 'EJERCICIO ' + moment(date).subtract(1, 'years').format('YYYY');
                    } else {
                        moment.locale('es');
                        return moment(date).format('D MMMM YYYY');
                    }
                }
            },
            setImage() {
                let buttons_hover = $(".uk-back-button");
                if(buttons_hover.length > 0) {
                    for(let i = 0; i < buttons_hover.length; i++) {
                        let self = this;
                        $(buttons_hover[i]).hover(function(){
                            $(this).css({'background-color': self.$attrs.sidepat.color_primario, "cursor": 'pointer'});
                        }, function(){
                            $(this).css({'background-color': 'transparent', "cursor": 'pointer'});
                        });
                    }
                }

                let buttons_download = $(".uk-button-download");
                if(buttons_download.length > 0) {
                    for(let i = 0; i < buttons_download.length; i++) {
                        let self = this;
                        $(buttons_download[i]).css({'background-color': self.$attrs.sidepat.color_primario, "cursor": 'pointer'});
                    }
                }
            },
        },
        computed: {
            hasDeclaracionPatrimonial() {
                if(this.declaraciones.length == 0) {
                    return false;
                } else {
                    let isDeclaracionPatrimonial = false;
                    for(let i = 0; i < this.declaraciones.length; i++) {
                        if(isDeclaracionPatrimonial == false) {
                            let tipo = this.declaraciones[i].TipoDeclaracionID;
                            if(tipo == 1 || tipo == 2 || tipo == 3 || tipo == 4 || tipo == 5 || tipo == 6) {
                                isDeclaracionPatrimonial = true;
                            }
                        }
                    }
                    return isDeclaracionPatrimonial;
                }
            },
            hasDeclaracionConflictos() {
                if(this.declaraciones.length == 0) {
                    return false;
                } else {
                    let isDeclaracionConflicto = false;
                    for(let i = 0; i < this.declaraciones.length; i++) {
                        if(isDeclaracionConflicto == false) {
                            let tipo = this.declaraciones[i].TipoDeclaracionID;
                            if(tipo == 7) {
                                isDeclaracionConflicto = true;
                            }
                        }
                    }
                    return isDeclaracionConflicto;
                }
            },
            getIdDeclaracionInteres() {
                let declaracion = this.declaraciones.filter(declaracion => {
                    return declaracion.TipoDeclaracionID != 7;
                });
                if (declaracion.length > 0) {
                    return declaracion[0].DeclaracionID;
                }
            },
            getIdDeclaracionConflictos() {
                let declaracion = this.declaraciones.filter(declaracion => {
                    return declaracion.TipoDeclaracionID == 7;
                });
                if (declaracion.length > 0) {
                    return declaracion[0].DeclaracionID;
                }
            },
            isAdmin() {
                return sessionStorage.getItem('isAdmin');
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .uk-button-download{
            text-transform: uppercase;
            font-size: 13px;
            background-color: $color-primary;
            color: #FFFFFF !important;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover{
                cursor: pointer;
            }
        }
    }
</style>
