<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'estatus-declaracion'}" class="uk-text-uppercase uk-text-small">Declaración patrimonial</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Desempeño como servidor público</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">
                                ¿TE DESEMPEÑASTE COMO SERVIDOR PLÚBLICO EN EL AÑO INMEDIATO ANTERIOR?
                            </h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         :to="{name: 'estatus-declaracion'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m">
                            <div class="uk-grid">
                                <div class="uk-width-1-1 uk-margin-small-bottom">
                                    <p class="uk-text-bold uk-text-uppercase">(*) Campos obligatorios</p>
                                </div>
                                <div class="uk-width-1-1@m uk-margin-small-bottom">
                                    <div class="uk-form-controls">
                                        <div class="uk-grid-small uk-grid">
                                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase" :class="{'uk-radio-custom-border': aplica === 1}">
                                                <input class="uk-radio" type="radio" name="radio" v-model="aplica" :value="1"> Si
                                            </label>
                                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase" :class="{'uk-radio-custom-border': aplica === 0}">
                                                <input class="uk-radio" type="radio" name="radio" v-model="aplica" :value="0"> No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <template v-if="aplica">
                        <div class="uk-width-1-1@m">
                            <form @submit.prevent="save">
                                <!--Primera sección-->
                                <div class="uk-alert uk-alert-info uk-border-rounded uk-text-uppercase uk-text-center uk-text-bold">
                                    Ingresos netos, recibidos durante el tiempo en el que se desempeñó como servidor público en el año inmediato anterior. Capturar cantidades libres de impuestos, sin comas, sin puntos, sin centavos y sin ceros a la izquierda
                                </div>
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-1-2@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="fecha_inicio">Fecha de inicio *</label>
                                        <div class="uk-form-controls">
                                            <flat-pickr id="fecha_inicio"
                                                        v-model="fecha_inicio"
                                                        :config="config"
                                                        required
                                                        class="uk-input uk-border-rounded"/>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-2@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="fecha_fin">Fecha de conclusión *</label>
                                        <div class="uk-form-controls">
                                            <flat-pickr id="fecha_fin"
                                                        v-model="fecha_fin"
                                                        :config="config"
                                                        required
                                                        class="uk-input uk-border-rounded"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-1-1">
                                        <div class="uk-alert uk-border-rounded uk-text-uppercase uk-text-bold uk-alert-dark">
                                            I. Remuneración neta del declarante, recibida durante el tiempo en el que se desempeñó como servidor público en el año indediato anterior (por concepto de sueldos, honorarios, compensasiones, bonos y otras prestaciones)(cantidades netas después de impuestos)
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom uk-margin-small-top">
                                        <div class="uk-form-controls">
                                            <div class="uk-form-controls">
                                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                       id="total-1"
                                                       type="number"
                                                       v-model.trim="total_1"
                                                       required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-1-1 uk-margin-medium-top">
                                        <div class="uk-alert uk-border-rounded uk-text-uppercase uk-text-bold uk-alert-dark">
                                            <div class="uk-grid uk-flex uk-flex-middle">
                                                <div class="uk-width-2-3">
                                                    II. Otros ingresos del declarante, recibidos durante el tiempo en el que se desempeñó como servidor público en el año inmediato anterior (Suma del II.1 al II.5)
                                                </div>
                                                <div class="uk-width-1-3">
                                                    <div class="uk-span-dark uk-float-right uk-border-rounded">
                                                        {{ setPriceFormat(total_2) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  II.1  -->
                                    <div class="uk-width-1-1@m uk-margin-small-bottom uk-margin-small-top">
                                        <label class="uk-form-label uk-text-uppercase uk-text-bold">
                                            II.1 Por actividad industrial, comercial y / o empresarial (despúes de impuestos)
                                        </label>
                                    </div>
                                    <div class="uk-width-1-4@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Nombre o razón social</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-form-controls">
                                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                       id="ii-1-nombre"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-4@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Tipo negocio</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-form-controls">
                                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                       id="ii-1-tipo"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-4@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Monto</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-form-controls">
                                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                       id="ii-1-monto"
                                                       type="number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-4@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">&nbsp;</label>
                                        <div class="uk-form-controls uk-text-right">
                                            <button class="uk-button uk-button-primary uk-border-rounded uk-width-1-1" type="button" @click="agregarIngresosTipo1">
                                                Agregar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1 uk-margin-bottom" v-if="ingresos_industrial.length > 0">
                                        <ul class="uk-list uk-list-disc">
                                            <li v-for="(ingreso,index) in ingresos_industrial" :key="index" class="uk-text-uppercase">
                                                <i class="fas fa-angle-right"></i> {{ ingreso.nombre }} - {{ ingreso.tipo }} - {{ setPriceFormat(ingreso.monto) }} <i class="far fa-trash-alt" uk-tooltip="BORRAR" @click="eliminarIngresoTipo1(ingreso)"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- II.2 -->
                                    <div class="uk-width-1-1@m uk-margin-small-bottom uk-margin-small-top">
                                        <label class="uk-form-label uk-text-uppercase uk-text-bold">
                                            II.2 Por actividad financiera (rendimientos o ganancias) (despúes de impuestos)
                                        </label>
                                    </div>
                                    <div class="uk-width-1-2@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Tipo de instrumento que generó el rendimiento o ganancia</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select uk-border-rounded uk-text-uppercase" v-model="IntrumentoID" id="ii-2-nombre">
                                                <option value="">Selecciona una opción</option>
                                                <option v-for="(instrumento, index) in cat_instrumentos"
                                                        :value="instrumento.IntrumentoID"
                                                        :key="index">
                                                    {{instrumento.TipoInstrumento}}
                                                </option>
                                            </select>
                                            <input type="text" id="ii-2-otro"
                                                   v-if="IntrumentoID === 99"
                                                   class="uk-input uk-border-rounded uk-margin-small-top uk-text-uppercase"
                                                   placeholder="Especifica tu respuesta"/>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-4@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Monto</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-form-controls">
                                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                       id="ii-2-monto"
                                                       type="number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-4@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">&nbsp;</label>
                                        <div class="uk-form-controls">
                                            <button class="uk-button uk-button-primary uk-border-rounded uk-width-1-1" type="button" @click="agregarIngresosTipo2">
                                                Agregar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1 uk-margin-bottom" v-if="ingresos_actividad.length > 0">
                                        <ul class="uk-list uk-list-disc">
                                            <li v-for="(ingreso,index) in ingresos_actividad" :key="index" class="uk-text-uppercase">
                                                <i class="fas fa-angle-right"></i> {{ setNombreActividad(ingreso.nombre) }} - {{ setPriceFormat(ingreso.monto) }} <i class="far fa-trash-alt" uk-tooltip="BORRAR" @click="eliminarIngresoTipo2(ingreso)"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- II.3 -->
                                    <div class="uk-width-1-1@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase uk-text-bold">II.3 Por servicios profesionales, consejos, consultoría y / o asesorías (despúes de impuestos)</label>
                                    </div>
                                    <div class="uk-width-1-2@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Tipo de servicio prestado</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-form-controls">
                                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                       id="ii-3-ente"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-4@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Monto</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-form-controls">
                                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                       id="ii-3-monto"
                                                       type="number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-4@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">&nbsp;</label>
                                        <div class="uk-form-controls">
                                            <button class="uk-button uk-button-primary uk-border-rounded uk-width-1-1" type="button" @click="agregarIngresosTipo3">
                                                Agregar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1 uk-margin-bottom" v-if="ingresos_servicios.length > 0">
                                        <ul class="uk-list uk-list-disc">
                                            <li v-for="(ingreso,index) in ingresos_servicios" :key="index" class="uk-text-uppercase">
                                                <i class="fas fa-angle-right"></i> {{ ingreso.nombre }} - {{ setPriceFormat(ingreso.monto) }} <i class="far fa-trash-alt" uk-tooltip="BORRAR" @click="eliminarIngresoTipo3(ingreso)"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- II.4 -->
                                    <div class="uk-width-1-1@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase uk-text-bold">II.4 Por enajenación de bienes (despúes de impuestos)</label>
                                    </div>
                                    <div class="uk-width-1-2@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Tipo de bien enajenado</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select uk-border-rounded uk-text-uppercase" v-model="IntrumentoID" id="ii-4-bien">
                                                <option value="">Selecciona una opción</option>
                                                <option value="Mueble">Mueble</option>
                                                <option value="Inmueble">Inmueble</option>
                                                <option value="Vehiculo">Vehículo</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-4@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Monto</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-form-controls">
                                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                       id="ii-4-monto"
                                                       type="number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-4@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">&nbsp;</label>
                                        <div class="uk-form-controls">
                                            <button class="uk-button uk-button-primary uk-border-rounded uk-width-1-1" type="button" @click="agregarIngresosTipo4">
                                                Agregar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1 uk-margin-bottom" v-if="ingresos_bienes.length > 0">
                                        <ul class="uk-list uk-list-disc">
                                            <li v-for="(ingreso,index) in ingresos_bienes" :key="index" class="uk-text-uppercase">
                                                <i class="fas fa-angle-right"></i> {{ setNombreActividad(ingreso.nombre) }} - {{ setPriceFormat(ingreso.monto) }} <i class="far fa-trash-alt" uk-tooltip="BORRAR" @click="eliminarIngresoTipo4(ingreso)"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- II.5 -->
                                    <div class="uk-width-1-1@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase uk-text-bold">
                                            II.5 Otros ingresos no considerados a los anteriores (arrendamiento, regalía, sorteos, concursos, donaciones, seguros de vida, etc)
                                        </label>
                                    </div>
                                    <div class="uk-width-1-2@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Nombre del tipo de ingreso</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-form-controls">
                                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                       id="ii-5-ente"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-4@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">Monto</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-form-controls">
                                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                       id="ii-5-monto"
                                                       type="number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-4@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase">&nbsp;</label>
                                        <div class="uk-form-controls">
                                            <button class="uk-button uk-button-primary uk-border-rounded uk-width-1-1" type="button" @click="agregarIngresosTipo5">
                                                Agregar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1 uk-margin-bottom" v-if="ingresos_otros.length > 0">
                                        <ul class="uk-list uk-list-disc">
                                            <li v-for="(ingreso,index) in ingresos_otros" :key="index" class="uk-text-uppercase">
                                                <i class="fas fa-angle-right"></i> {{ ingreso.nombre }} - {{ setPriceFormat(ingreso.monto) }} <i class="far fa-trash-alt" uk-tooltip="BORRAR" @click="eliminarIngresoTipo5(ingreso)"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="uk-width-1-1 uk-margin-medium-top">
                                        <div class="uk-alert uk-border-rounded uk-text-uppercase uk-text-bold uk-alert-dark">
                                            <div class="uk-grid uk-flex uk-flex-middle">
                                                <div class="uk-width-2-3">
                                                    A.- Ingreso neto del declarante, recibido en el año inmediato anterior (Suma del numeral I y II)
                                                </div>
                                                <div class="uk-width-1-3">
                                                    <div class="uk-span-dark uk-float-right uk-border-rounded">
                                                        {{ setPriceFormat(total_a) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1@m uk-margin-small-bottom uk-margin-medium-top">
                                        <div class="uk-alert uk-border-rounded uk-text-uppercase uk-text-bold uk-alert-dark">
                                            <div class="uk-grid uk-flex uk-flex-middle">
                                                <div class="uk-width-2-3">
                                                    B.- INGRESO NETO DE LA PAREJA Y / O DEPENDIENTES ECONÓMICOS, , recibido en el año inmediato anterior (DESPUÉS DE IMPUESTOS)
                                                </div>
                                                <div class="uk-width-1-3">
                                                    <div class="uk-span-dark uk-float-right uk-border-rounded">
                                                        {{ setPriceFormat(total_b) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-grid">
                                            <div class="uk-width-1-3">
                                                <div class="uk-form-controls">
                                                    <div class="uk-form-controls">
                                                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                               id="total-b"
                                                               type="number"
                                                               v-model.trim="total_b">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1@m uk-margin-medium-top">
                                        <div class="uk-alert uk-border-rounded uk-text-uppercase uk-text-bold uk-alert-dark">
                                            <div class="uk-grid uk-flex uk-flex-middle">
                                                <div class="uk-width-2-3">
                                                    C.- Total de ingresos netos percibidos por el declarante, pareja y / o dependientes económicos, en el año inmediato anterior (Suma de los apartados A y B)
                                                </div>
                                                <div class="uk-width-1-3">
                                                    <div class="uk-span-dark uk-float-right uk-border-rounded">
                                                        {{ setPriceFormat(total_c) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1@m uk-margin-small-bottom uk-margin-small-top">
                                        <label class="uk-form-label uk-text-uppercase" for="observaciones">Aclaraciones / Observaciones</label>
                                        <div class="uk-form-controls">
                                            <textarea rows="3"
                                                      class="uk-textarea uk-border-rounded uk-text-uppercase"
                                                      v-model.trim="observaciones"
                                                      id="observaciones"></textarea>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                                        <button class="uk-button uk-button-primary uk-border-rounded"
                                                :disabled="loadingBtn"
                                                type="submit">
                                            <span v-show="loadingBtn === false">Guardar</span>
                                            <span uk-spinner="ratio: 0.8" v-if="loadingBtn"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </template>
                    <template v-else>
                        <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                            <div class="uk-alert uk-border-rounded uk-margin-small-top uk-margin-small-bottom uk-text-center uk-text-uppercase"
                                 v-if="this.ingresosDeclaracion.ingresos_ocultos > 0">
                                En la presente declaración se señala que no te desempeñaste como servidor público el año inmediato anterior
                            </div>
                            <div class="uk-alert uk-border-rounded uk-margin-small-top uk-margin-small-bottom uk-text-center uk-text-uppercase" v-else>
                                En la presente declaración se registrará que no te desempeñaste como servidor público el año inmediato anterior
                            </div>
                            <button class="uk-button uk-button-primary uk-border-rounded"
                                    :disabled="loadingBtn"
                                    type="button"
                                    @click="marcarNoAplica">
                                <span v-show="loadingBtn === false">Guardar</span>
                                <span uk-spinner="ratio: 0.8" v-if="loadingBtn"></span>
                            </button>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import flatpickr from "flatpickr";
import { Spanish } from "flatpickr/dist/l10n/es.js"
flatpickr.localize(Spanish);
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';
let numeral = require('numeral');

export default {
    name:"ServidorPublicoPasado",
    components: {
        flatPickr,
    },
    data(){
        return{
            ingresos_industrial : [],
            ingresos_actividad : [],
            ingresos_servicios: [],
            ingresos_bienes: [],
            ingresos_otros: [],
            ingresos_netos: [],
            total_1: 0,
            total_2: 0,
            total_a: 0,
            total_b: 0,
            total_c: 0,
            aplica: 1,
            fecha_inicio: '',
            fecha_fin: '',
            cat_instrumentos: [],
            IntrumentoID: "",
            observaciones: '',
            loadingBtn: false,
            exp_info:[],
            ingresosDeclaracion: {},
            config: {
                altInput: true,
                altFormat: "j/F/Y",
                dateFormat: "Y-m-d",
            },
        }
    },
    created(){
        this.getCatInstrumentos();
        this.getDataDeclaracion();
    },
    methods:{
        getDataDeclaracion() {
            this.$store.dispatch('getDatosDeclaracion');
        },
        getCatInstrumentos(){
            axios.get('/api/declaracion/get-catalogo-instrumento').then(resp =>{
                this.cat_instrumentos = resp.data.catalogo;
            }).catch(e => {
                console.log(e);
            })
        },
        agregarIngresosTipo1(){
            if($('#ii-1-nombre').val()!== "" && $('#ii-1-tipo').val()!== "" && $('#ii-1-monto').val()!== ""){
                let nombre = $('#ii-1-nombre').val();
                let tipo = $("#ii-1-tipo").val();
                let monto= $("#ii-1-monto").val();
                let ingreso = {"nombre":nombre,"tipo":tipo,"monto":monto};
                this.ingresos_industrial.push(ingreso);

                this.total_2 = parseInt(this.total_2) + parseInt(monto);

                $('#ii-1-nombre').val("");
                $('#ii-1-tipo').val("");
                $('#ii-1-monto').val("");
            }else{
                console.log("Está vacio");
            }

        },
        eliminarIngresoTipo1: function(elemento){
            this.total_2 = parseInt(this.total_2) - parseInt(elemento.monto);
            this.ingresos_industrial.splice(this.ingresos_industrial.indexOf(elemento),1);
        },
        agregarIngresosTipo2(){
            if($('#ii-2-nombre').val()!== "" && $('#ii-2-monto').val()!== ""){
                let nombre = $('#ii-2-nombre').val();
                let monto= $("#ii-2-monto").val();
                let ingreso = {};
                if( parseInt(nombre) === 99 ) {
                    ingreso = {
                        nombre: $("#ii-2-otro").val(),
                        monto: monto
                    };
                } else {
                    ingreso = {
                        nombre: nombre,
                        monto: monto
                    };
                }
                this.ingresos_actividad.push(ingreso);
                this.total_2 = parseInt(this.total_2) + parseInt(monto);
                $('#ii-2-nombre').val("");
                $('#ii-2-monto').val("");
                this.IntrumentoID = "";
            }else{
                console.log("Está vacio");
            }

        },
        eliminarIngresoTipo2: function(elemento){
            this.total_2 = parseInt(this.total_2) - parseInt(elemento.monto);
            this.ingresos_actividad.splice(this.ingresos_actividad.indexOf(elemento),1);
        },
        agregarIngresosTipo3(){
            if($('#ii-3-ente').val()!== "" && $('#ii-3-monto').val()!== ""){
                let nombre = $('#ii-3-ente').val();
                let monto= $("#ii-3-monto").val();
                let ingreso = {"nombre":nombre,"monto":monto};
                this.ingresos_servicios.push(ingreso);

                this.total_2 = parseInt(this.total_2) + parseInt(monto);

                $('#ii-3-ente').val("");
                $('#ii-3-monto').val("");
            }else{
                console.log("Está vacio");
            }

        },
        eliminarIngresoTipo3: function(elemento){
            this.total_2 = parseInt(this.total_2) - parseInt(elemento.monto);
            this.ingresos_servicios.splice(this.ingresos_servicios.indexOf(elemento),1);
        },
        agregarIngresosTipo4(){
            if($('#ii-4-bien').val()!== "" && $('#ii-4-monto').val()!== ""){
                let nombre = $('#ii-4-bien').val();
                let monto= $("#ii-4-monto").val();
                let ingreso = {"nombre":nombre,"monto":monto};
                this.ingresos_bienes.push(ingreso);
                this.total_2 = parseInt(this.total_2) + parseInt(monto);
                $('#ii-4-bien').val("");
                $('#ii-4-monto').val("");
                this.IntrumentoID = "";
            }else{
                console.log("Está vacio");
            }

        },
        eliminarIngresoTipo4: function(elemento){
            this.total_2 = parseInt(this.total_2) - parseInt(elemento.monto);
            this.ingresos_bienes.splice(this.ingresos_bienes.indexOf(elemento),1);
        },
        agregarIngresosTipo5(){
            if($('#ii-5-ente').val()!== "" && $('#ii-5-monto').val()!== ""){
                let nombre  = $('#ii-5-ente').val();
                let monto   = $("#ii-5-monto").val();
                let ingreso = {"nombre":nombre,"monto":monto};
                this.ingresos_otros.push(ingreso);

                this.total_2 = parseInt(this.total_2) + parseInt(monto);

                $('#ii-5-ente').val("");
                $('#ii-5-monto').val("");
            }else{
                console.log("Está vacio");
            }

        },
        eliminarIngresoTipo5: function(elemento){
            this.total_2 = parseInt(this.total_2) - parseInt(elemento.monto);
            this.ingresos_otros.splice(this.ingresos_otros.indexOf(elemento),1);
        },
        save(){
            var t1 = new Date(this.fecha_inicio);
            var t2 = new Date(this.fecha_fin);

            if(t1.getTime() < t2.getTime()){
                this.exp_info.fecha_inicio =       this.fecha_inicio;
                this.exp_info.fecha_fin =        this.fecha_fin;
            }else{
                alert("LA FECHA INICIAL DEBE SER MENOR A LA FECHA DE EGRESO");
                return false;
            }
            let data = {
                fecha_inicio:           this.fecha_inicio,
                fecha_fin:              this.fecha_fin,
                punto_1:                parseInt(this.total_1),
                punto_2:                parseInt(this.total_2),
                actividad_industrial:   this.ingresos_industrial,
                actividad_financiera:   this.ingresos_actividad,
                servicios_prestados:    this.ingresos_servicios,
                bienes_enajenados:      this.ingresos_bienes,
                otros_ingresos:         this.ingresos_otros,
                punto_a:                parseInt(this.total_a),
                punto_b:                parseInt(this.total_b),
                punto_c:                parseInt(this.total_c),
                observaciones:          this.observaciones,
                aplica:                 this.aplica,
                declaracion_id:         this.getDatosDeclaracion.inf_gral.DeclaracionID
            }
            this.loadingBtn = true;
            axios.post('/api/declaracion/save-servidor-pasado',data).then(resp =>{
                UIkit.notification({
                    message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                    pos: 'top-right',
                    timeout: 3000
                });
                setTimeout(() => {
                    location.reload();
                }, 2000);
                this.loadingBtn = false;
                this.getIngresosDeclaracion();
            }).catch(e =>{
                console.log(e);
                this.loadingBtn = false;
                alert("OCURRIO UN ERROR | CONTACTA A LA UNIDAD DE TECNOLOGÍAS DE INFORMACIÓN");
            })
        },
        setPriceFormat(number) {
            return numeral(number).format('$0,0');
        },
        setNombreActividad(actividad) {
            let actividadId = parseInt(actividad);
            if(_.isNaN(actividadId) === false) {
                let nombre = '';
                for(let i = 0; i < this.cat_instrumentos.length; i++) {
                    let item = this.cat_instrumentos[i];
                    if(item.IntrumentoID === actividadId) {
                        nombre = item.TipoInstrumento
                    }
                }
                return nombre;
            } else {
                return actividad;
            }
        },
        marcarNoAplica() {
            if(_.isNull(this.ingresosDeclaracion.ingresos)) {
                let resp = window.confirm("¿ESTA SEGURO QUE DESEA SEÑALAR QUE NO TE DESEMPEÑASTE COMO SERVIDOR PLÚBLICO EN EL AÑO INMEDIATO ANTERIOR?");
                if(resp) {
                    this.loadingBtn = true;
                    let data = {
                        declaracion_id: this.getDatosDeclaracion.inf_gral.DeclaracionID
                    };
                    axios.post('/api/declaracion/save-servidor-pasado-no-aplica', data).then(resp =>{
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.loadingBtn = false;
                        this.getIngresosDeclaracion();
                    }).catch(e =>{
                        console.log(e);
                        this.loadingBtn = false;
                        alert("OCURRIO UN ERROR | CONTACTA A LA UNIDAD DE TECNOLOGÍAS DE INFORMACIÓN");
                    })
                }
            } else {
                let resp = window.confirm("¿ESTA SEGURO QUE DESEA SEÑALAR QUE NO TE DESEMPEÑASTE COMO SERVIDOR PLÚBLICO EN EL AÑO INMEDIATO ANTERIOR?");
                if(resp) {
                    this.loadingBtn = true;
                    let data = {
                        declaracion_id: this.getDatosDeclaracion.inf_gral.DeclaracionID
                    };
                    axios.post('/api/declaracion/save-servidor-pasado-no-aplica', data).then(resp =>{
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.loadingBtn = false;
                        this.getIngresosDeclaracion();
                    }).catch(e =>{
                        console.log(e);
                        this.loadingBtn = false;
                        alert("OCURRIO UN ERROR | CONTACTA A LA UNIDAD DE TECNOLOGÍAS DE INFORMACIÓN");
                    })
                }
            }
        },
        getIngresosDeclaracion() {
            let data = {
                declaracion_id: this.getDatosDeclaracion.inf_gral.DeclaracionID
            }
            axios.post('/api/declaracion/get-ingresos-declaracion-servidor-pasado', data).then(resp => {
                this.ingresosDeclaracion = resp.data.ingresosDeclaracion;
                console.log(this.ingresosDeclaracion.ingresos);
                this.observaciones = this.ingresosDeclaracion.ingresos.Observaciones;
                if(_.isNull(this.ingresosDeclaracion.ingresos) === false) {
                    this.fecha_inicio = this.ingresosDeclaracion.ingresos.FechaInicio;
                    this.fecha_fin    = this.ingresosDeclaracion.ingresos.FechaConclusion;
                    this.total_1      = parseInt(this.ingresosDeclaracion.ingresos.RemuneracionNeta);
                    this.total_2      = parseInt(this.ingresosDeclaracion.ingresos.TotalOtrosIngresos);
                    this.total_a      = parseInt(this.total_1 + this.total_2);
                    this.total_b      = parseInt(this.ingresosDeclaracion.ingresos.IngNetoParejaDependientes);
                    this.total_c      = parseInt(this.total_a + this.total_b);
                    this.setIngresosIndustriales(this.ingresosDeclaracion.otros_ingresos.actividades_industriales);
                    this.setIngresosFinancieros(this.ingresosDeclaracion.otros_ingresos.actividades_financieras);
                    this.setIngresosServicios(this.ingresosDeclaracion.otros_ingresos.servicios_profesionales);
                    this.setIngresosOtros(this.ingresosDeclaracion.otros_ingresos.otros_ingresos);
                    this.setIngresosEnajenados(this.ingresosDeclaracion.otros_ingresos.bienes_enajenados);
                } else {
                    if( _.isNull(this.ingresosDeclaracion.ingresos) && this.ingresosDeclaracion.ingresos_ocultos > 0) {
                        console.log('entra');
                        this.aplica = 0;
                    } else {
                        console.log('no entra');
                        this.aplica = 1;
                    }
                }
            }).catch(e => {
                console.log(e);
            });
        },
        setIngresosIndustriales(ingresos) {
            for(let i = 0; i < ingresos.length; i++) {
                let ingreso = ingresos[i];
                this.ingresos_industrial.push({
                    nombre: ingreso.NombreRazonSocial,
                    tipo: ingreso.TipoNegocio,
                    monto: ingreso.Monto
                });
            }
        },
        setIngresosFinancieros(ingresos) {
            for(let i = 0; i < ingresos.length; i++) {
                let ingreso = ingresos[i];
                this.ingresos_actividad.push({
                    nombre: (ingreso.InstrumentoID === 99) ? ingreso.OtroInstrumento: ingreso.InstrumentoID,
                    monto: ingreso.Monto
                });
            }
        },
        setIngresosServicios(ingresos) {
            for(let i = 0; i < ingresos.length; i++) {
                let ingreso = ingresos[i];
                this.ingresos_servicios.push({
                    nombre: ingreso.TipoServicioPrestado,
                    monto: ingreso.Monto
                });
            }
        },
        setIngresosOtros(ingresos) {
            for(let i = 0; i < ingresos.length; i++) {
                let ingreso = ingresos[i];
                this.ingresos_otros.push({
                    nombre: ingreso.TipoBien,
                    monto: ingreso.Monto
                });
            }
        },
        setIngresosEnajenados(ingresos) {
            for(let i = 0; i < ingresos.length; i++) {
                let ingreso = ingresos[i];
                this.ingresos_bienes.push({
                    nombre: ingreso.TipoBien,
                    monto: ingreso.Monto
                });
            }
        },
    },
    computed: {
        getDatosDeclaracion(){
            return this.$store.getters.getDatosDeclaracion;
        },
    },
    watch: {
        'getDatosDeclaracion': function() {
            this.getIngresosDeclaracion();
        },
        "total_2": function(val){
            this.total_a = parseInt(val) + parseInt(this.total_1);
            parseInt(this.total_a);
        },
        "total_1": function(val){
            this.total_a = parseInt(val) + parseInt(this.total_2);
            parseInt(this.total_a);
        },
        "total_a":function(val){
            this.total_c = parseInt(val) + parseInt(this.total_b);
            parseInt(this.total_a);
        },
        "total_b":function(val){
            if(val === '') {
                val = 0;
            }
            this.total_c = parseInt(val) + parseInt(this.total_a);
            parseInt(this.total_b);
        },
    }
}
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
                .uk-radio-custom {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    background-color: #ffffff;
                    padding-right: 15px;
                    &:hover{
                        background-color: #f5f5f5;
                        cursor: pointer;
                    }
                }
                .uk-radio-custom-border {
                    border: 1px #1E87F0 solid;
                }
                .uk-alert-dark {
                    background-color: #616161;
                    color: #ffffff;
                }
                .uk-span-dark {
                    background-color: #212121;
                    color: #ffffff;
                    min-width: 100px;
                    text-align: center;
                    padding: 5px 10px;
                }
                .fa-trash-alt{
                    &:hover {
                        color: $color-primary;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
