<template>
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-margin-medium-top">
                <div class="uk-grid">
                    <div class="uk-width-2-3"></div>
                    <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                        <router-link class="uk-back-button uk-text-uppercase"
                                     tag="a"
                                     uk-tooltip="title: REGRESAR A MENÚ DE BACHEO"
                                     :to="{name: 'declaracion-bacheo'}">
                            <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                        </router-link>
                    </div>
                </div>
            </div>
            <div class="uk-card uk-card-default uk-width-1-1 uk-margin-medium-top uk-padding-remove-left uk-border-rounded uk-margin-large-bottom">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom uk-padding-remove-left">
                                Unificar declaraciones
                            </h3>
                            <p class="uk-text-meta uk-margin-remove-top">
                                <i class="fas fa-cogs"></i> Nombres de declarantes que fueron registrados mas de una vez
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body">
                    <div v-if="usuarios.length === 0">
                        <div uk-alert class="uk-text-center">
                            No se encontraron usuarios
                        </div>
                    </div>
                    <table class="uk-table uk-table-striped uk-table-small uk-text-small" v-else>
                        <thead>
                            <tr>
                                <th>Declarante</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="usuario in usuarios">
                                <td class="uk-text-uppercase">{{ usuario.Nombre }}</td>
                                <td class="uk-text-right">
                                    <button class="uk-button uk-button-small uk-button-default" @click="mostrarDetalle(usuario.Nombre)">
                                        <i class="fas fa-search"></i> Revisar declaraciones
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "UnificarDeclaraciones",
    data() {
        return {
            usuarios: []
        }
    },
    mounted() {
        this.obtenerUsuariosDuplicados();
    },
    methods: {
        obtenerUsuariosDuplicados() {
            axios.get('/api/declaracion/usuarios-duplicados')
                 .then(resp => {
                     this.usuarios = resp.data.usuarios;
                 }).catch(e => {
                    console.log(e);
                 });
        },
        mostrarDetalle(nombre) {
            axios.get('/api/declaracion/obtener-usuario-nombre', {
                params: {
                    nombre: nombre
                }
            }).then(resp => {
                console.log(resp.data);
            }).catch(e => {
                console.log(e);
            });
        }
    }
}
</script>

<style lang="scss" scoped>
.uk-back-button{
    color: $color-black;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
    &:hover {
        color: $color-white;
        background-color: $color-primary;
    }
}
</style>
