<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Auditoría de Control Interno</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-2-3 uk-margin-medium-top">
                    <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Auditoría de Control Interno</h3>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-top uk-flex uk-flex-middle uk-flex-right">
                    <router-link class="uk-back-button uk-text-uppercase"
                                 tag="a"
                                 uk-tooltip="title: IR A MENÚ PRINCIPAL"
                                 :to="{name: 'dashboard'}">
                        <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                    </router-link>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <!--Módulo de auditoría-->
                <menu-card
                    title="Módulo de Auditoría"
                    description="Administrar auditorías, asignar enlaces, asignar cuestionarios."
                    goToUrl="modulo-auditorias-control-interno">
                    <i class="fas fa-clipboard-check fa-3x"></i>
                </menu-card>
                <!--Módulo de enlaces-->
                <menu-card
                    title="Módulo de Enlace"
                    description="Registrar, editar y consultar información de los enlaces de auditoría"
                    goToUrl="modulo-enlaces-control-interno">
                    <i class="fas fa-user-tie fa-3x"></i>
                </menu-card>
                <!--Módulo de respuesta inicial de auditoría-->
                <menu-card
                    title="Módulo de Respuesta inicial de auditoría"
                    description="Revisar y evaluar las respuestas y documentación anexa enviados por enlaces"
                    goToUrl="modulo-respuesta-inicial-control-interno">
                    <i class="fas fa-clipboard-list fa-3x"></i>
                    <span class="uk-badge" :class="{'uk-animation-shake': noRespuestas > 0 }">{{noRespuestas}}</span>
                </menu-card>
                <!--Módulo de solventación de recomendaciones de auditoría-->
                <menu-card
                    title="Módulo de Solventación de Recomendaciones de Auditoría"
                    description="Revisar y evaluar las respuestas y documentación anexa enviados por enlaces"
                    goToUrl="modulo-solventacion-recomendaciones-control-interno">
                    <i class="fas fa-tasks fa-3x"></i>
                    <span class="uk-badge" :class="{'uk-animation-shake': noSolventaciones > 0 }">{{noSolventaciones}}</span>
                </menu-card>
                <!--Módulo de monitoreo de auditoría-->
                <menu-card
                    title="Módulo de Monitoreo de Auditoría"
                    description="Monitorear el avance de auditoría"
                    goToUrl="modulo-monitoreo-control-interno">
                    <i class="fas fa-desktop fa-3x"></i>
                </menu-card>
                <!--Módulo de administración de cuestionarios -->
                <menu-card
                    title="Módulo de administración de cuestionarios"
                    description="Administrar los cuestionarios para la auditoría"
                    goToUrl="admin-cuestionarios">
                    <i class="fas fa-folder-open fa-3x"></i>
                </menu-card>
            </div>
        </div>
    </div>
</template>

<script>
    import MenuCard from "@/js/components/MenuCard";
    export default {
        name: "index",
        components: {
            MenuCard
        },
        created() {
            this.getNoRespuestasSolventaciones();
        },
        data() {
            return {
                noRespuestas: 0,
                noSolventaciones: 0
            }
        },
        methods: {
            getNoRespuestasSolventaciones() {
                axios.post('/api/get-respuestas-solventaciones').then(resp => {
                        this.noRespuestas = resp.data.noRespuestas;
                    this.noSolventaciones = resp.data.noSolventaciones;
                }).catch(e => console.log(e));
            },
        },
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                .uk-badge{
                    background-color: $color-primary;
                    color: $color-white;
                    position: absolute;
                    top: 45px;
                    left: 65px;
                }
            }
            .uk-back-button{
                color: $color-black;
                border: 1px solid;
                padding: 5px 10px;
                border-radius: 5px;
                &:hover {
                    color: $color-white;
                    background-color: $color-primary;
                }
            }
        }
    }
</style>
