<template>
    <div class="uk-container-expand" uk-heigh-viewport="offset-top:true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Monitoreo de Control Interno</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-small-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Monitoreo de Control Interno</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR A MENÚ PRINCIPAL"
                                         :to="{name: 'dashboard'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <template v-if="!searching">
                            <div class="uk-width-1-1">
                                <div class="uk-width-1-1 uk-text-center uk-margin-medium-top" v-if="auditorias.length === 0">
                                    No se encontraron auditorías
                                </div>
                                <table id="myTable" class="uk-table uk-table-small uk-table-divider uk-table-striped uk-text-small uk-table-hover" v-else>
                                    <thead>
                                    <tr>
                                        <th>Auditoría <i class="fas fa-sort"></i></th>
                                        <th class="uk-text-center">Nivel de revisión <i class="fas fa-sort"></i></th>
                                        <th class="uk-text-center">Auditor <i class="fas fa-sort"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(auditoria, index) in auditorias" :key="index" style="cursor: pointer;" @click="mostrarDetalleAuditoria(auditoria.Nombre)">
                                            <td>{{ auditoria.Nombre }}</td>
                                            <td class="uk-text-center">{{ auditoria.etapa_actual }}</td>
                                            <td class="uk-text-center">
                                                <span v-if="auditoria.Auditor == null">
                                                    No definido
                                                </span>
                                                <span>
                                                    {{ auditoria.Auditor }}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </template>
                        <template v-else>
                           <div class="uk-width-1-1@m uk-text-center uk-margin-medium-top">
                               <span uk-spinner="ratio: 2.5"></span>
                           </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <div id="detalle_modal" class="uk-modal-container" uk-modal>
            <div class="uk-modal-dialog">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h3>{{ municipio }}</h3>
                </div>
                <div class="uk-modal-body" uk-overflow-auto>
                    <div class="uk-grid uk-margin-small-top uk-margin-remove-left uk-grid-table"
                         v-for="(pregunta, index) in cuestionario"
                         @click="showBody(index)">
                        <div class="uk-width-auto uk-flex uk-flex-middle">
                            <span style="color: #000000; font-weight: 100;">{{ index + 1 }}</span>
                        </div>
                        <div class="uk-width-expand uk-flex uk-flex-middle">
                            {{ pregunta.Pregunta }}
                        </div>
                        <div class="uk-width-1-1 uk-padding-small" :class="'uk-body-table-'+index" style="background-color: #ffffff; display: none;">
                            <div class="uk-grid">
                                <div class="uk-width-1-1 uk-text-center" :class="'uk-load-respuesta-'+index">
                                    Cargando...
                                </div>
                                <div class="uk-width-1-1" :class="'uk-respuesta-'+index" style="display: none;">
                                    <dl class="uk-description-list">
                                        <dt>Respuesta</dt>
                                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                                        <dt>Sub pregunta</dt>
                                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                                        <dt>Sub respuesta</dt>
                                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    require('@/js/helpers/sortable.js');
    export default {
        name: "ModuloMonitoreoRoot",
        created() {
            this.getData();
            this.getAuditorias();
            this.getCuestionario();
        },
        mounted() {
            //
        },
        data() {
            return {
                ejercicioFiscal:        null,
                etapas:                 [],
                auditores:              [],
                searching:              false,
                auditorias:             [],
                auditorias_copy:        [],
                auditorIdSeleccionado:  0,
                municipio:              '',
                cuestionario:           []
            }
        },
        methods: {
            getData() {
                // Obtener ejercicio fiscal, etapas y auditores para hacer filtros
                axios.get('/api/get-data-auditorias-monitoreo').then(resp => {
                    this.ejercicioFiscal = resp.data.ejercicio_fiscal;
                    this.auditores = resp.data.auditores;
                }).catch(e => {
                    console.log(e);
                });
            },
            getAuditorias() {
                this.searching = true;
                axios.post('/api/get-auditorias-monitoreo-root').then(resp => {
                    this.auditorias = resp.data.auditorias;
                    this.auditorias_copy = resp.data.auditorias;
                    this.searching = false;
                    setTimeout(() => {
                        $("#myTable").tablesorter();
                    }, 1000);
                }).catch(e => {
                    console.log(e);
                    this.searching = false;
                });
            },
            filtrar() {
                let filtro_auditorias = [];
                if(this.auditorIdSeleccionado == 0) {
                    filtro_auditorias = this.auditorias_copy;
                } else {
                    filtro_auditorias = this.auditorias.filter((auditoria) => {
                        return auditoria.auditor_id == this.auditorIdSeleccionado;
                    });
                }
                this.auditorias = filtro_auditorias;
            },
            mostrarDetalleAuditoria(municipio) {
                this.municipio = municipio;
                UIkit.modal('#detalle_modal').show();
                setTimeout(() => {
                    $(".uk-grid-table").addClass('table-modal');
                }, 500);
            },
            getCuestionario() {
                axios.post('/api/get-cuestionario').then(resp => {
                    this.cuestionario = resp.data.data;
                }).catch(e => {
                    console.log(e);
                });
            },
            showBody(index) {
                let pregunta = $('.uk-body-table-'+index);
                let display = pregunta.css('display');
                let load_respuesta = $('.uk-load-respuesta-'+index);
                let respusta = $('.uk-respuesta-'+index);
                if(display == 'none') {
                    pregunta.show();
                    pregunta.css('border','1px #7A0A2C solid');
                    this.loadRespuesta(load_respuesta, respusta);
                } else {
                    pregunta.hide();
                    load_respuesta.show();
                    respusta.hide();
                }
            },
            loadRespuesta(load_respuesta, respuesta) {
                setTimeout(() => {
                    load_respuesta.hide();
                    respuesta.show();
                }, 1500);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
            .uk-row-table{
                border: 1px solid;
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
    .table-modal {
        background-color: #f5f5f5;
        margin-top: 3px !important;
        border-radius: 3px;
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
        &:hover {
            background-color: #eeeeee;
        }
    }
</style>
