<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'auditoria-control-interno'}" class="uk-text-uppercase uk-text-small">Auditoría de control interno</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Módulo de Enlaces</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Módulo de Enlaces</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: IR A AUDITORÍA DE CONTROL INTERNO"
                                         :to="{name: 'auditoria-control-interno'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m">
                            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                                <div class="uk-grid">
                                    <div class="uk-width-1-1">
                                        <span class="uk-text-bold uk-btn-icon uk-border-rounded"
                                              uk-tooltip="title: AGREGAR NUEVO ENLACE"
                                              v-if="enlaces.length > 0"
                                              @click="goToCreateEnlace">
                                            <i class="fas fa-plus-circle fa-lg"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1">
                            <button type="button"
                                    class="uk-button uk-button-filter uk-border-rounded uk-float-right"
                                    :class="{ 'uk-button-filter-active' : showFiltros }"
                                    @click="showFiltros = !showFiltros">
                                <i class="fas fa-ellipsis-v"></i> Filtros
                            </button>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-remove-top uk-grid-small" v-show="showFiltros">
                        <div class="uk-width-1-3">
                            <div class="uk-inline uk-width-1-1">
                                <a class="uk-form-icon uk-form-icon-flip uk-link-reset">
                                    <i class="fas fa-search" v-if="!searching"></i>
                                    <span v-else uk-spinner="ratio: 0.7"></span>
                                </a>
                                <input class="uk-input uk-border-rounded uk-width-1-1 uk-text-uppercase"
                                       type="text"
                                       placeholder="Buscar enlace..."
                                       @keyup.enter="getEnlaces()"
                                       v-model.trim="query"
                                       :disabled="disabledSearch">
                            </div>
                        </div>
                        <div class="uk-width-2-3">
                            <button type="button"
                                    class="uk-button uk-button-default uk-border-rounded">
                                Seleccionar filtro <i class="fas fa-angle-down"></i>
                            </button>
                            <div uk-dropdown="mode: click" class="uk-width-medium">
                                <ul class="uk-list uk-width-medium">
                                    <li>
                                        <label class="uk-text-uppercase">
                                            <input class="uk-checkbox"
                                                   type="checkbox"
                                                   value="all"
                                                   v-model="ejercicios_filter"> Todos
                                        </label>
                                    </li>
                                    <li v-for="(ejercicio, index) in ejerciciosFiscales" :key="index">
                                        <label class="uk-text-uppercase">
                                            <input class="uk-checkbox"
                                                   type="checkbox"
                                                   :value="ejercicio.Ejercicio"
                                                   v-model="ejercicios_filter"> Ejercicio {{ ejercicio.Ejercicio }}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-large-bottom uk-margin-small-top">
                        <div class="uk-width-1-1">
                            <template v-if="enlaces.length > 0">
                                <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-text-small uk-table-middle uk-table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="uk-width-xlarge uk-cursor-pointer" @click="sort('Entidad')">
                                            Entidad
                                            <i class="fas fa-sort-alpha-up" v-if="currentSortDir === 'asc'"></i>
                                            <i class="fas fa-sort-alpha-up-alt" v-else></i>
                                        </th>
                                        <th class="uk-text-center uk-cursor-pointer" @click="sort('NombreCompleto')">
                                            Enlace
                                            <i class="fas fa-sort-alpha-up" v-if="currentSortDir === 'asc'"></i>
                                            <i class="fas fa-sort-alpha-up-alt" v-else></i>
                                        </th>
                                        <th class="uk-text-center">Puesto</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(enlace, index) in sortedEnlaces" :key="index" @click="goToEnlaceDetail(enlace)" style="cursor: pointer;">
                                        <td>{{ index + 1 }}</td>
                                        <td class="uk-text-uppercase">{{ enlace.Entidad }}</td>
                                        <td class="uk-text-center uk-text-uppercase">{{ enlace.NombreCompleto }}</td>
                                        <td class="uk-text-center uk-text-uppercase">{{ enlace.Puesto }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </template>
                            <template v-else>
                                <template v-if="query === ''">
                                    <div class="uk-alert uk-border-rounded uk-text-center uk-text-uppercase uk-padding">
                                        <i class="fas fa-user-tie fa-4x"></i>
                                        <p>
                                            No se encontraron enlaces
                                        </p>
                                        <button class="uk-button uk-button-default uk-border-rounded" @click="goToCreateEnlace">
                                            Crear nuevo enlace
                                        </button>
                                    </div>
                                </template>
                                <template v-else>
                                    <div class="uk-alert uk-border-rounded uk-text-center uk-text-uppercase uk-padding">
                                        <i class="far fa-folder-open fa-4x"></i>
                                        <p>
                                            No se encontraron enlaces con la búsqueda especificada
                                            <br>
                                            <button type="button"
                                                    class="uk-button uk-button-primary uk-border-rounded uk-button-small uk-margin-small-top"
                                                    @click="getResetSearch">
                                                Ver todas los enlaces
                                            </button>
                                        </p>
                                    </div>
                                </template>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ModuloEnlaces",
        created() {
            this.getEjerciciosFiscales();
            this.getEnlaces();
        },
        data() {
            return {
                disabledSearch: false,
                searching: false,
                enlaces: [],
                ejerciciosFiscales: [],
                query: '',
                currentSort:'Entidad',
                currentSortDir:'asc',
                showFiltros: false,
                ejercicios_filter: ['all']
            }
        },
        methods: {
            getEjerciciosFiscales(){
                axios.get('/api/get-ejercicios-fiscales').then(resp => {
                    this.ejerciciosFiscales = resp.data.ejercicios;
                }).catch(e => {
                    console.log(e);
                });
            },
            getEnlaces() {
                this.searching = true;
                let data = {
                    search: this.query,
                    ejercicios: this.ejercicios_filter,
                    tipoAuditoria: 'control_interno'
                };
                axios.post('/api/get-enlaces', data).then(resp => {
                    this.enlaces = resp.data.enlaces;
                    this.searching = false;
                }).catch(e => {
                    console.log(e);
                    this.searching = false;
                });
            },
            goToCreateEnlace() {
                this.$router.push({
                    name: 'modulo-enlaces-control-interno-crear'
                });
            },
            getResetSearch(){
                this.query = '';
                this.getEnlaces();
            },
            goToEnlaceDetail(enlace) {
                this.$router.push({
                    name: 'modulo-enlaces-control-interno-editar',
                    params: {
                        enlace: enlace.FuncionarioID
                    }
                });
            },
            sort(s) {
                if(s === this.currentSort) {
                    this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                }
                this.currentSort = s;
            }
        },
        computed: {
            sortedEnlaces() {
                return this.enlaces.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDir === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            }
        },
        watch: {
            'ejercicios_filter': function(val) {
                if(val.length === 0) {
                    alert('SE DEBE ESPECIFICAR AL MENOS UN CRITERIO DE BUSQUEDA');
                    setTimeout(() => {
                        this.ejercicios_filter = ['all'];
                    }, 500);
                } else {
                    this.getEnlaces();
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-white solid;
                        cursor: pointer;
                    }
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
            }
        }
        .uk-cursor-pointer {
            cursor:pointer;
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
