<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'auditoria-control-interno'}" class="uk-text-uppercase uk-text-small">Auditoría de control interno</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'modulo-auditorias-control-interno'}" class="uk-text-uppercase uk-text-small">Módulo de Auditorías</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Detalle de Auditoría</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <template v-if="loading">
                        <div class="uk-text-center uk-text-uppercase">
                            <span uk-spinner="ratio: 2.8"></span> <br>
                            Cargando auditoría...
                        </div>
                    </template>
                    <template v-else>
                        <div class="uk-grid uk-flex uk-flex-middle">
                            <div class="uk-width-1-2@m">
                                <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">
                                    Detalle de Auditoría
                                </h3>
                            </div>
                            <div class="uk-width-1-2 uk-text-right">
                                <router-link class="uk-back-button uk-text-uppercase"
                                             tag="a"
                                             uk-tooltip="title: IR A MÓDULO DE AUDITORÍAS"
                                             :to="{name: 'modulo-auditorias-control-interno'}">
                                    <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                                </router-link>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-small-top">
                            <div class="uk-width-1-1@m">
                                <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark" style="z-index: 980;" uk-sticky="bottom: #offset">
                                    <div class="uk-grid uk-flex uk-flex-middle">
                                        <div class="uk-width-1-2">
                                            <span class="uk-text-bold">
                                                {{ auditoria.Nombre }}
                                            </span>
                                        </div>
                                        <div class="uk-width-1-2 uk-text-right">
                                            <span class="uk-text-bold">
                                                <i class="far fa-calendar-alt"></i> Ejercicio Fiscal {{ getEjercicioFiscal }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Datos generales-->
                        <generales-auditoria :auditoria="auditoria"></generales-auditoria>
                        <!-- Sección de fechas para enlaces-->
                        <fechas-auditoria :auditoria="auditoria"></fechas-auditoria>
                        <!-- Sección de asignación de auditor-->
                        <auditores-auditoria :auditoria="auditoria"></auditores-auditoria>
                        <!-- Sección de asignación de enlaces-->
                        <enlaces-auditoria :auditoria="auditoria"></enlaces-auditoria>
                        <!-- Sección de prorrogas-->
                        <prorrogas-auditoria :auditoria="auditoria"></prorrogas-auditoria>
                        <!-- Sección de monitoreo de auditoría-->
                        <monitoreo-aiuditoria :auditoria="auditoria"></monitoreo-aiuditoria>
                        <!--- Sección de papeles de la auditoría-->
                        <papeles-auditoria :auditoria="auditoria"></papeles-auditoria>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import GeneralesAuditoria from "@/js/components/auditoria_control_interno/GeneralesAuditoria";
    import FechasAuditoria from "@/js/components/auditoria_control_interno/FechasAuditoria";
    import AuditoresAuditoria from "@/js/components/auditoria_control_interno/AuditoresAuditoria";
    import EnlacesAuditoria from "@/js/components/auditoria_control_interno/EnlacesAuditoria";
    import ProrrogasAuditoria from "@/js/components/auditoria_control_interno/ProrrogasAuditoria";
    import MonitoreoAiuditoria from "@/js/components/auditoria_control_interno/MonitoreoAiuditoria";
    import PapelesAuditoria from "@/js/components/auditoria_control_interno/PapelesAuditoria";
    export default {
        name: "ModuloAuditoriasDetalle",
        components: {
            GeneralesAuditoria,
            FechasAuditoria,
            AuditoresAuditoria,
            EnlacesAuditoria,
            ProrrogasAuditoria,
            MonitoreoAiuditoria,
            PapelesAuditoria
        },
        created() {
            this.getDataAuditoria();
        },
        data() {
            return {
                auditoria: {},
                loading: false,
            }
        },
        methods: {
            getDataAuditoria() {
                this.loading = true;
                let data = {
                    auditoriaID: this.$route.params.auditoria,
                    ejercicio: this.$route.params.ejercicio
                };
                axios.post('/api/get-auditoria-detalle', data).then(resp => {
                    this.auditoria = resp.data.auditoria;
                    this.loading = false;
                }).catch(e => {
                    console.log(e);
                    this.loading = false;
                    this.$router.push({name: 'modulo-auditorias-control-interno'});
                });
            }
        },
        computed: {
            getEjercicioFiscal(){
                return this.$route.params.ejercicio;
            },
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-bg-dark {
                    background-color: #212121;
                    color: $color-white;
                }
            }
        }
    }
</style>
