<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'auditoria-control-interno'}" class="uk-text-uppercase uk-text-small">Auditoría de control interno</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Módulo de Monitoreo</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Módulo de Monitoreo</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: IR A AUDITORÍA DE CONTROL INTERNO"
                                         :to="{name: 'auditoria-control-interno'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m">
                            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                                <div class="uk-grid">
                                    <div class="uk-width-1-1 uk-text-right">
                                        <span class="uk-text-bold">
                                            <i class="far fa-calendar-alt"></i> Ejercicio Fiscal
                                            <span v-if="ejercicioFiscal !== null">{{ ejercicioFiscal }}</span>
                                            <span v-else uk-spinner="ratio: 0.5"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1">
                            <button type="button"
                                    class="uk-button uk-button-filter uk-border-rounded uk-float-right"
                                    :class="{ 'uk-button-filter-active' : showFiltros }"
                                    @click="showFiltros = !showFiltros">
                                <i class="fas fa-ellipsis-v"></i> Filtros
                            </button>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-remove-top uk-grid-small" v-show="showFiltros">
                        <div class="uk-width-1-3">
                            <div class="uk-inline uk-width-1-1">
                                <a class="uk-form-icon uk-form-icon-flip uk-link-reset">
                                    <i class="fas fa-search" v-if="!searching"></i>
                                    <span v-else uk-spinner="ratio: 0.7"></span>
                                </a>
                                <input class="uk-input uk-border-rounded uk-width-1-1 uk-text-uppercase"
                                       type="text"
                                       placeholder="Buscar auditoría..."
                                       @keyup.enter="getAuditorias"
                                       v-model.trim="query"
                                       :disabled="disabledSearch">
                            </div>
                        </div>
                        <div class="uk-width-2-3">
                            <button type="button"
                                    class="uk-button uk-button-default uk-border-rounded">
                                Seleccionar etapa <i class="fas fa-angle-down"></i>
                            </button>
                            <div uk-dropdown="mode: click" class="uk-width-medium">
                                <ul class="uk-list uk-width-medium">
                                    <li v-for="(etapa, index) in etapas" :key="index">
                                        <label class="uk-text-uppercase">
                                            <input class="uk-checkbox"
                                                   type="checkbox"
                                                   :value="etapa.DescripcionEtapa"
                                                   v-model="etapas_filter"> {{ etapa.DescripcionEtapa }}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            &lt;!&ndash;<button type="button"
                                    class="uk-button uk-button-default uk-border-rounded">
                                Seleccionar auditor <i class="fas fa-angle-down"></i>
                            </button>
                            <div uk-dropdown="mode: click" class="uk-width-medium">
                                <ul class="uk-list uk-width-medium">
                                    <li v-for="(auditor, index) in auditores" :key="index">
                                        <label class="uk-text-uppercase">
                                            <input class="uk-checkbox"
                                                   type="checkbox"
                                                   :value="auditor.NombreCompleto"
                                                   v-model="auditores_filter"> {{ auditor.NombreCompleto }}
                                        </label>
                                    </li>
                                </ul>
                            </div>&ndash;&gt;
                        </div>
                    </div>-->
                </div>
                <div class="uk-width-1-1 uk-margin-small-top uk-margin-large-bottom">
                    <template v-if="auditorias.length > 0">
                        <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-text-small uk-table-middle uk-table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="uk-cursor-pointer" @click="sort('Nombre')">
                                        Auditoría
                                        <i class="fas fa-sort-alpha-up" v-if="currentSortDir === 'asc'"></i>
                                        <i class="fas fa-sort-alpha-up-alt" v-else></i>
                                    </th>
                                    <th class="uk-text-center">
                                        Usuario actual
                                    </th>
                                    <th class="uk-text-center uk-cursor-pointer">
                                        Etapa actual
                                    </th>
                                    <th class="uk-text-center uk-cursor-pointer">
                                        Avance
                                    </th>
                                    <th class="uk-text-center uk-width-auto">

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(auditoria, index) in sortedAuditorias"
                                    :key="index"
                                    class="uk-cursor-pointer">
                                    <td>{{ index + 1 }}</td>
                                    <td class="uk-text-uppercase">
                                        {{ auditoria.NombreCorto }}
                                    </td>
                                    <td class="uk-text-center uk-text-uppercase">
                                        <span v-if="isEtapaEnlace(auditoria.etapa_actual)">
                                            <span>{{ auditoria.Enlace }}</span>
                                        </span>
                                        <span v-if="isEtapaAuditor(auditoria.etapa_actual)">
                                            <span>{{ auditoria.Auditor }}</span>
                                        </span>
                                        <span v-if="isEtapaResponsabe(auditoria.etapa_actual)">
                                            <span>{{ auditoria.Responsable }}</span>
                                        </span>
                                    </td>
                                    <td class="uk-text-center uk-text-uppercase">
                                        <span v-if="isEtapaEnlace(auditoria.etapa_actual)">
                                            <span>{{ auditoria.etapa_actual }}</span>
                                            <br>
                                            <span class="uk-text-warning uk-text-small uk-text-bold">(Enlace)</span>
                                        </span>
                                        <span v-if="isEtapaAuditor(auditoria.etapa_actual)">
                                            <span>{{ auditoria.etapa_actual }}</span>
                                            <br>
                                            <span class="uk-text-primary uk-text-bold uk-text-small">(Auditor)</span>
                                        </span>
                                        <span v-if="isEtapaResponsabe(auditoria.etapa_actual)">
                                            <span>{{ auditoria.etapa_actual }}</span>
                                            <br>
                                            <span class="uk-text-danger uk-text-bold uk-text-small">(Responsable)</span>
                                        </span>
                                    </td>
                                    <td class="uk-text-center">
                                        <span v-if="auditoria.etapa_actual === 'Enlace contestando'">
                                            <b>{{ auditoria.estatus[0].RespuestasCRP }}</b> de <b>51</b>
                                        </span>
                                        <span v-else-if="auditoria.etapa_actual === 'Revisión auditor'">
                                            Pendiente
                                        </span>
                                        <span v-else-if="auditoria.etapa_actual === 'Revision responsable'">
                                            <b>{{ auditoria.estatus[0].RecomendacionesCRP }}</b> de <b>51</b>
                                        </span>
                                        <span v-else-if="auditoria.etapa_actual === 'Solventación de CRP'">
                                            <b>{{ auditoria.estatus[0].RespuestaSolv }}</b> de <b>{{ auditoria.estatus[0].RespuestasPorSolventar }}</b>
                                        </span>
                                    </td>
                                    <td>
                                        <button class="uk-button uk-button-default uk-border-rounded uk-button-small" @click="showModalAvance(auditoria)">Ver más</button>
<!--                                        <span class="icon-table"
                                            @click="showModalAvance(auditoria)">
                                            <i class="fas fa-chart-line"
                                               uk-tooltip="title: VER AVANCE;">
                                            </i>
                                        </span>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </template>
                    <template v-else>
                        <template v-if="query === '' && auditores_filter.length === 0 && etapas_filter.length === 0">
                            <div class="uk-alert uk-border-rounded uk-text-center uk-text-uppercase uk-padding">
                                <i class="far fa-folder-open fa-4x"></i>
                                <p>
                                    No se encontraron auditorías de control interno para el ejercicio fiscal
                                    <span v-if="ejercicioFiscal !== null">{{ ejercicioFiscal }}</span>
                                    <span v-else uk-spinner="ratio: 0.5"></span>
                                </p>
                            </div>
                        </template>
                        <template v-else>
                            <div class="uk-alert uk-border-rounded uk-text-center uk-text-uppercase uk-padding">
                                <i class="far fa-folder-open fa-4x"></i>
                                <p>
                                    No se encontraron auditorías de control interno con la búsqueda especificada
                                    <br>
                                    <button type="button"
                                            class="uk-button uk-button-primary uk-border-rounded uk-button-small uk-margin-small-top"
                                            @click="getResetSearch">
                                        Ver todas las auditorías
                                    </button>
                                </p>
                            </div>
                        </template>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    let moment = require('moment');
    export default {
        name: "ModuloMonitoreo",
        created() {
            this.getData();
            this.getAuditorias();
        },
        data() {
            return {
                ejercicioFiscal: null,
                etapas: [],
                auditores: [],
                auditorias: [],
                searching: false,
                query: '',
                currentSort:'Entidad',
                currentSortDir:'asc',
                showFiltros: false,
                etapas_filter: [],
                auditores_filter: []
            }
        },
        methods: {
            getData() {
                // Obtener ejercicio fiscal, etapas y auditores para hacer filtros
                axios.get('/api/get-data-auditorias-monitoreo').then(resp => {
                    this.ejercicioFiscal = resp.data.ejercicio_fiscal;
                    this.etapas = resp.data.etapas;
                    this.auditores = resp.data.auditores;
                }).catch(e => {
                    console.log(e);
                });
            },
            getAuditorias() {
                this.searching = true;
                let data = {
                    search: this.query,
                    etapas: this.etapas_filter,
                    auditores: this.auditores_filter
                };
                axios.post('/api/get-auditorias-monitoreo', data).then(resp => {
                    this.auditorias = resp.data.auditorias;
                    this.searching = false;
                }).catch(e => {
                    console.log(e);
                    this.searching = false;
                });
            },
            getResetSearch(){
                this.query = '';
                this.etapas_filter = [];
                this.auditores_filter = [];
                this.getAuditorias();
            },
            sort(s) {
                if(s === this.currentSort) {
                    this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                }
                this.currentSort = s;
            },
            setDate(date) {
                moment.locale('es');
                return (date === null) ? '' : moment(date).format('D MMMM YYYY');
            },
            showModalExpedientes(auditoria) {
                // Los modales no están importados, se registran en el archivo Layout.vue
                this.$store.dispatch('getExpedientesAuditoria', auditoria);
                UIkit.modal('#modal-expedientes-control-interno').show();
            },
            showModalAvance(auditoria) {
                this.$store.dispatch('getExpedientesAuditoria', auditoria);
                UIkit.modal('#modal-avance-control-interno').show();
            },
            isEtapaEnlace(etapa_actual) {
                let etapas = [
                    'Enlace contestando',
                    'Solventación de CRP'
                ];
                return etapas.includes(etapa_actual);
            },
            isEtapaAuditor(etapa_actual) {
                let etapas = [
                    'Revisión auditor',
                    'Revisando solventación CRP auditor'
                ];
                return etapas.includes(etapa_actual);
            },
            isEtapaResponsabe(etapa_actual) {
                let etapas = [
                    'Revision responsable',
                    'Generando CRP',
                    'Enviar CRP',
                    'Revisando solventación CRP responsable',
                    'Generando Informe',
                ];
                return etapas.includes(etapa_actual);
            },
        },
        computed: {
            disabledSearch() {
                return (this.auditorias.length === 0 && this.query.length > 0);
            },
            sortedAuditorias() {
                return this.auditorias.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDir === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            }
        },
        watch: {
            etapas_filter(val) {
                this.getAuditorias();
            },
            auditores_filter(val) {
                this.getAuditorias();
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
                .uk-cursor-pointer {
                    cursor:pointer;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .icon-table {
                    padding: 5px 6px;
                    border-radius: 5px;
                    background-color: #424242;
                    color: $color-white;
                }
            }
            .uk-back-button{
                color: $color-black;
                border: 1px solid;
                padding: 5px 10px;
                border-radius: 5px;
                &:hover {
                    color: $color-white;
                    background-color: $color-primary;
                }
            }
        }
        .uk-button-filter-active {
            background-color: $color-grey-disabled;
            color: $color-grey-ligth;
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
