<template>
    <div class="uk-container">
        <div class="uk-grid" uk-height-viewport="offset-top: true">
            <div class="uk-width-1-1 uk-padding-large uk-text-uppercase uk-text-center" v-if="loading">
                <div uk-spinner="ratio: 2"></div>
                <br>
                Cargando...
            </div>
            <div class="uk-width-1-1" uk-height-viewport="offset-top: true" v-else>
                <iframe :src="setUrlFile" frameborder="0" width='100%' height='100%'></iframe>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PreviewRespuestas",
        created() {
            this.setFile();
        },
        data() {
            return {
                loading: false,
                url_src: '',
            }
        },
        methods: {
            setFile() {
                this.loading = true;
                let ejercicio = this.$route.params.ejercicio;
                let auditoria = this.$route.params.auditoria;
                let tipo_auditoria = this.$route.params.tipo_auditoria;
                let url = window.location;
                let baseUrl = '';
                if(tipo_auditoria === 'control_interno') {
                    baseUrl = url .protocol + "//" + url.host+"/control_interno/"+ejercicio+"/"+auditoria+"/acuses/respuestas_auditoria_control_interno.pdf";
                }
                this.url_src = baseUrl;
                this.loading = false;
            }
        },
        computed: {
            setUrlFile() {
                return 'https://docs.google.com/gview?url='+this.url_src+'&embedded=true';
            }
        }
    }
</script>

<style scoped>

</style>
