<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'plataforma-admon'}" class="uk-text-uppercase uk-text-small">Sistema de Administración Ti</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Módulo de Catálogos</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Módulo de Catálogos</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: IR A SISTEMA DE ADMINISTRACION TI"
                                         :to="{name: 'plataforma-admon'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
                <!--Contenido de la página-->
                <div class="uk-width-1-1">
                    <div class="uk-grid uk-margin-small-top uk-margin-large-bottom" v-if="loading">
                        <div class="uk-width-1-1">
                            <div class="uk-text-center uk-margin-medium-top uk-text-uppercase" >
                                <div class="uk-text-center" uk-spinner="ratio: 2.5"></div>
                                <br>
                                Cargando...
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top uk-margin-large-bottom" v-else>
                        <div class="uk-width-1-1">
                            <table v-if="catalogos.length > 0" class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small uk-margin-remove-top uk-table-middle">
                                <thead>
                                    <tr class="uk-thead">
                                        <th class="uk-text-center" style="position: sticky; top: 0;">#</th>
                                        <th class="uk-width-auto" style="position: sticky; top: 0;">Catalogo</th>
                                        <th class="uk-width-auto uk-text-center" style="position: sticky; top: 0;">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(catalogo, index) in catalogos" :key='index'>
                                        <td class="uk-text-center">
                                            {{ index + 1}}
                                        </td>
                                        <td class="uk-text-uppercase">
                                            {{catalogo.Catalogo}}
                                        </td>
                                        <td class="uk-text-uppercase uk-text-center">
                                            <button class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded"
                                                @click="goToCatalogo(catalogo.CatalogoID)">
                                                Ver catalogo
                                                <i class="far fa-edit"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "Catalogos",
        data() {
            return {
                loading: false,
                catalogos:[]
            }
        },
        created() {
            this.getListaCatalogos();
        },
        mounted() {
        },
        computed:{
        },
        methods: {
            getListaCatalogos(){
                this.loading = true;
                axios.post('/api/declaracion/get-catalogos').then(resp =>{
                    this.catalogos = resp.data.catalogos;
                    this.loading = false;
                }).catch(e=>{
                    console.log(e);
                    this.loading = false;
                });
            },
            goToCatalogo(catalogo){
                if(_.isString(catalogo)) {
                    catalogo = parseInt(catalogo);
                }
                let getUrl = window.location;
                let baseUrl = getUrl .protocol + "//" + getUrl.host + "/";
                switch(catalogo){
                    case 1:
                        console.log( this.$router.push({name: 'catalogo-inversiones'}) );
                        break;
                    case 2:
                        this.$router.push({name: 'catalogo-adscripciones'});
                        break;
                    case 3:
                        this.$router.push({name: 'catalogo-ambito'});
                        break;
                    case 4:
                        this.$router.push({name: 'catalogo-beneficiarios'});
                        break;
                    case 5:
                        this.$router.push({name: 'catalogo-forma-operacion'});
                        break;
                    case 6:
                        this.$router.push({name: 'catalogo-nivel-empleo'});
                        break;
                    case 7:
                        this.$router.push({name: 'catalogo-nivel-estudios'});
                        break;
                    case 8:
                        this.$router.push({name: 'catalogo-puestos'});
                        break;
                    case 9:
                        this.$router.push({name: 'catalogo-sectores-productivos'});
                        break;
                    case 10:
                        this.$router.push({name: 'catalogo-tipo-adeudos'});
                        break;
                    case 11:
                        this.$router.push({name: 'catalogo-tipo-bienes'});
                        break;
                    case 12:
                        this.$router.push({name: 'catalogo-tipo-institucion'});
                        break;
                    case 15:
                        this.$router.push({name: 'catalogo-tipo-participante'});
                        break;
                    case 16:
                        this.$router.push({name: 'catalogo-tipo-trabajador'});
                        break;
                    case 16:
                        window.location.replace(baseUrl+'panel/sati/catalogo-tipo-trabajador');
                        break;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-primary{
                    background-color: $color-primary;
                    color: $color-white;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-cursor-pointer{
                    cursor: pointer;
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .uk-thead > th{
            font-weight: bold;
            background-color: #424242;
            color: $color-white;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .uk-button-hover{
            color: $color-black;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-button-primary {
            background-color: $color-primary !important;
        }
    }
</style>
