<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Sistema de Administración Ti</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Sistema de Administración Ti</h3>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <menu-card title="Módulo de Privilegios"
                           description="Administrar permisos de usuarios por plataforma"
                           goToUrl="administracion-ti-privilegios"
                           :sidepat="$attrs.sidepat">
                    <i class="fas fa-user-lock fa-3x"></i>
                </menu-card>
                <menu-card title="Módulo de Usuarios"
                           description="Lista de usuarios del sistema"
                           goToUrl="administracion-ti-usuarios"
                           :sidepat="$attrs.sidepat">
                    <i class="fas fa-users fa-3x"></i>
                </menu-card>
                <menu-card title="Módulo de Catálogos"
                        description="Lista de catálogos"
                        goToUrl="administracion-catalogos"
                        :sidepat="$attrs.sidepat">
                    <i class="fas fa-database fa-3x"></i>
                </menu-card>
                <!--Tarjeta de Sidepat-->
                <div class="uk-width-1-2@m uk-margin-small-bottom">
                    <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-height-small uk-padding-small uk-card-hover uk-animation-fade" @click="openModalSidepat">
                        <div class="uk-grid uk-height-1-1">
                            <div class="uk-width-1-5 uk-flex uk-flex-middle uk-flex-center uk-height-1-1">
                                <i class="fas fa-cog fa-3x"></i>
                            </div>
                            <div class="uk-width-4-5 uk-height-1-1">
                                <p class="uk-text-bold uk-margin-small-bottom uk-margin-top-custom uk-text-uppercase">
                                    Módulo de Sidepat
                                </p>
                                <p class="uk-margin-small-top uk-text-uppercase uk-text-small">
                                    Configuraciones Sidepat
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <menu-card title="Módulo de Limpieza de auditorías"
                           description="Limpieza de auditorías de desempeño y control interno"
                           goToUrl="limpieza-auditorias"
                           :sidepat="$attrs.sidepat"
                            v-if="$attrs.sidepat.limpieza_auditorias == true">
                    <i class="fas fa-broom fa-3x"></i>
                </menu-card>
            </div>
        </div>
        <div id="modal-sidepat" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">
                    Configuración Sidepat
                </h2>
                <form @submit.prevent="saveConfiguracion">
                    <div class="uk-margin">
                        <label class="uk-form-label">Nombre de la entidad</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded" type="text" required v-model="configuracion.NombreEnte">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label">Orden de gobierno de la entidad</label>
                        <div class="uk-form-controls">
                            <select class="uk-select uk-border-rounded" v-model="configuracion.OrdenGobiernoID" required>
                                <option v-for="(orden, index) in ordenes_gobierno" :key="index" :value="orden.NivelOrdenID">
                                    {{ orden.NombreOrden }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label">Ámbito público de la entidad</label>
                        <div class="uk-form-controls">
                            <select class="uk-select uk-border-rounded" v-model="configuracion.AmbitoID" required>
                                <option v-for="(ambito, index) in ambitos_publicos" :key="index" :value="ambito.AmbitoID">
                                    {{ ambito.NombreAmbito }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label">Fecha limite de declaración</label>
                        <div class="uk-form-controls">
                            <flat-pickr id="fecha_ingreso"
                                        :config="config"
                                        class="uk-input uk-border-rounded"
                                        v-model="configuracion.FechaLimite"/>
                        </div>
                    </div>
                    <div class="uk-margin-small">
                        <div class="uk-form-label">
                            Ejericio configurado
                        </div>
                        <div class="uk-form-controls">
                            <select name="ejercicio" class="uk-select uk-border-rounded" v-model="ejercicio_seleccionado">
                                <option v-for="(ejercicio, index) in ejercicios" :key="index" :value="ejercicio.EjercicioID">
                                    {{ejercicio.Year}}
                                </option>
                                <option value="NUEVO">Aperturar nuevo ejercicio</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label">
                            Color de la plataforma
                        </label>
                        <div class="uk-form-controls uk-margin-small">
                            <input type="color" id="favcolor" class="uk-border-rounded" name="favcolor" v-model="color">
                            <br><br>
                        </div>
                    </div>
                    <p class="uk-text-right uk-margin-remove-bottom">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                        <button class="uk-button uk-button-primary" type="submit">
                            Continuar <i class="fas fa-arrow-right"></i>
                        </button>
                    </p>
                </form>
            </div>
        </div>

        <div id="modal-sidepat-cambiar-configuracion" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <div class="uk-alert-danger uk-alert-border-letf" uk-alert>
                    <p class="uk-text-justify" v-if="cambiarEjercicioFiscal">
                        <span class="uk-text-bold"><i class="fas fa-exclamation-circle"></i> Atención.</span> Se ha seleccionado un ejercicio fiscal diferente.
                        Las declaraciones patrimoniales que se mostraran en la plataforma corresponden al ejercicio seleccionado.
                    </p>
                    <p class="uk-text-justify">
                        <span class="uk-text-bold"><i class="fas fa-exclamation-circle"></i> Atención.</span> Se van a realizar cambios en la configuración de Sidepat ¿Confirma que desea guardar?
                    </p>
                </div>
                <div class="uk-alert-warning uk-alert-border-letf" uk-alert>
                    <p><span class="uk-text-bold"><i class="fas fa-exclamation-circle"></i> Atención.</span> Para realizar la actualización es necesario escribir su contraseña <i class="fas fa-key"></i></p>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded"
                               type="password"
                               placeholder="Escribe contraseña"
                               v-model.trim="editarPassword"
                               :class="{ 'uk-animation-shake': errorPassword, 'uk-form-danger': errorPassword}">
                        <span class="uk-text-danger" v-if="errorPassword == true">
                            La contraseña no es válida
                        </span>
                    </div>
                </div>
                <div class="uk-float-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button" @click="reloadPage">
                        Cancelar
                    </button>
                    <button class="uk-button uk-button-primary" type="button" @click="validarPassword" :disabled="editarPasswordVacio == true || loading == true">
                        Aceptar <span v-show="loading == true" uk-spinner="ratio: .7"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import MenuCard from "@/js/components/MenuCard";
    export default {
        name: "index",
        components: {
            MenuCard,
            flatPickr,
        },
        data() {
            return {
                ambitos_publicos: [],
                ordenes_gobierno: [],
                ejercicios:[],
                ejercicio_seleccionado:'',
                ejercicio_actual:'',
                configuracion: {},
                color:'',
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
                ejercicioTemp: '',
                cambiarEjercicioFiscal: false,
                editarPassword: '',
                errorPassword: false,
                loading: false
            }
        },
        mounted() {
            this.getDataConfiguracion();
        },
        methods: {
            getDataConfiguracion() {
                axios.post('/api/administracion-ti/get-configuracion').then(resp => {
                    this.ambitos_publicos = resp.data.ambitos_publicos;
                    this.ordenes_gobierno = resp.data.ordenes_gobierno;
                    this.configuracion    = resp.data.configuracion;
                    this.ejercicios       = resp.data.ejercicios;
                    this.ejercicios.forEach(element => {
                        if(element.Actual == 1){
                            this.ejercicio_seleccionado = element.EjercicioID;
                            this.ejercicio_actual = element.EjercicioID;
                        }
                    });
                    this.color = this.configuracion.ColorPlataforma;
                }).catch(e => {
                    console.error(e);
                });
            },
            openModalSidepat() {
                UIkit.modal("#modal-sidepat").show();
            },
            saveConfiguracion() {
                this.cambiarEjercicioFiscal = false;
                if(this.configuracion.FechaLimite == '') {
                    alert('La fecha limite de la declaración es requerida');
                    return false;
                } else {
                    if(this.ejercicio_seleccionado != this.ejercicio_actual){
                        this.cambiarEjercicioFiscal = true;
                    }
                    UIkit.modal("#modal-sidepat-cambiar-configuracion").show();
                }
            },
            actualizarConfiguracion() {
                this.loading = true;
                let data = {
                    nombre  : this.configuracion.NombreEnte,
                    orden   : this.configuracion.OrdenGobiernoID,
                    ambito  : this.configuracion.AmbitoID,
                    fecha   : this.configuracion.FechaLimite,
                    color   : this.color
                }
                axios.post('/api/administracion-ti/save-configuracion', data).then(resp => {
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    if(this.ejercicio_seleccionado != this.ejercicio_actual){
                        if(this.ejercicio_seleccionado == 'NUEVO'){
                            axios.post('/api/administracion-ti/apertura-ejericio').then(resp =>{
                                UIkit.notification({
                                    message: '<i class="fas fa-check"></i> El ejericio fue cambiado correctamente',
                                    pos: 'top-right',
                                    timeout: 3000
                                });
                                this.loading = false;
                            }).catch(e => {
                                console.error(e);
                                this.loading = false;
                            })
                        }else{
                            let data = {
                                ejericio_id : this.ejercicio_seleccionado,
                            }
                            axios.post('/api/administracion-ti/cambiar-ejericio-activo',data).then(resp =>{
                                UIkit.notification({
                                    message: '<i class="fas fa-check"></i> El ejericio fue cambiado correctamente',
                                    pos: 'top-right',
                                    timeout: 3000
                                });
                                this.loading = false;
                            }).catch(e => {
                                console.error(e);
                                this.loading = false;
                            })
                        }
                    }
                    this.getDataConfiguracion();
                    setTimeout(() => {
                        this.reloadPage();
                    }, 2500)
                }).catch(e => {
                    console.error(e);
                });
            },
            validarPassword() {
                this.errorPassword = false;
                let data = {
                    password: this.editarPassword,
                    email: this.getDataUser.Email
                };
                axios.post('/api/administracion-ti/validar-password', data).then(resp => {
                    this.actualizarConfiguracion();
                }).catch(e => {
                    this.errorPassword = true;
                    console.log(e);
                });
            },
            reloadPage() {
                location.reload();
            }
        },
        computed: {
            editarPasswordVacio() {
                return this.editarPassword.length <= 0;
            },
            getDataUser(){
                return this.$store.getters.dataUser;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
            }
            .uk-card{
                border-left: 7px $color-black solid;
                &:hover{
                    cursor: pointer;
                    color: $color-primary;
                    border-left: 7px $color-primary solid;
                }
                p {
                    font-family: $ff-franklin !important;
                }
            }
            .uk-margin-top-custom{
                margin-top: 25px;
            }
        }
    }
</style>
