<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'plataforma-admon'}" class="uk-text-uppercase uk-text-small">Sistema de Administración Ti</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Limpieza de auditorías</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Limpieza de auditorías</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: IR A SISTEMA DE ADMINISTRACION TI"
                                         :to="{name: 'plataforma-admon'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-2 uk-margin-small-top">
                    <p class="uk-text-section">Auditoria de desempeño</p>
                    <table class="uk-table uk-table-middle uk-table-small uk-text-small uk-table-divider uk-table-striped">
                        <thead>
                            <tr>
                                <th class="uk-width-auto"></th>
                                <th class="uk-width-expand">
                                    Entidad
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="entidad in entidades">
                                <td class="uk-width-auto">
                                    <input type="checkbox" :value="entidad.EntidadID" v-model="entidadesDesempeno" class="uk-checkbox uk-border-rounded">
                                </td>
                                <td class="uk-width-expand">
                                    {{ entidad.Nombre }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="uk-button uk-button-primary uk-width-1-1 uk-border-rounded"
                            @click="limpiarDesempeno">
                        <div v-if="loadDesempenio === false">
                            <i class="fas fa-broom"></i> Limpiar auditorias
                        </div>
                        <div v-else>
                            <span uk-spinner="ratio: 0.8"></span> Espera un momento..
                        </div>
                    </button>
                </div>
                <div class="uk-width-1-2 uk-margin-small-top">
                    <p class="uk-text-section">Auditoria de control interno</p>
                    <table class="uk-table uk-table-middle uk-table-small uk-text-small uk-table-divider uk-table-striped">
                        <thead>
                            <tr>
                                <th class="uk-width-auto"></th>
                                <th class="uk-width-expand">
                                    Entidad
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="entidad in entidades">
                                <td class="uk-width-auto">
                                    <input type="checkbox" :value="entidad.EntidadID" v-model="entidadesControl" class="uk-checkbox uk-border-rounded">
                                </td>
                                <td class="uk-width-expand">
                                    {{ entidad.Nombre }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="uk-button uk-button-primary uk-width-1-1 uk-border-rounded"
                            @click="limpiarControlInterno">
                        <div v-if="loadControl === false">
                            <i class="fas fa-broom"></i> Limpiar auditorias
                        </div>
                        <div v-else>
                            <span uk-spinner="ratio: 0.8"></span> Espera un momento..
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "LimpiezaAuditorias",
    data() {
        return {
            entidades: [],
            entidadesDesempeno: [],
            entidadesControl: [],
            loadDesempenio: false,
            loadControl: false
        }
    },
    mounted() {
        this.getAuditorias();
    },
    methods: {
        getAuditorias() {
            axios.get('/api/get-entidades')
                 .then(resp => {
                    this.entidades = resp.data.entidades;
                 })
                 .catch(e => {
                    console.log(e);
                 })
        },
        limpiarDesempeno() {
            let data = {
                entidades: this.entidadesDesempeno
            }
            this.loadDesempenio = true;
            axios.post('/api/desempenio/limpiar-desempenio', data).then(resp => {
                UIkit.notification({
                    message: '<i class="fas fa-check"></i> Auditorias lipiadas correctamente',
                    pos: 'top-right',
                    timeout: 3000
                });
                this.entidadesDesempeno = [];
                this.loadDesempenio = false;
            }).catch(e => {
                consoloe.log(e);
            });
        },
        limpiarControlInterno() {
            let data = {
                entidades: this.entidadesControl
            }
            this.loadControl = true;
            axios.post('/api/limpiar-control-interno', data).then(resp => {
                UIkit.notification({
                    message: '<i class="fas fa-check"></i> Auditorias lipiadas correctamente',
                    pos: 'top-right',
                    timeout: 3000
                });
                this.loadControl = false;
                this.entidadesControl = [];
            }).catch(e => {
                consoloe.log(e);
            });
        }
    }
}
</script>

<style lang="scss" scoped>
.uk-container-expand{
    .uk-container {
        .uk-grid{
            .uk-breadcrumb{
                li > span {
                    font-family: $ff-franklin !important;
                }
                .uk-breadcrumb-active{
                    background-color: $color-grey-disabled;
                    color: $color-black;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 4px;
                    padding-bottom: 5px;
                    border-radius: 5px;
                }
            }
            h3{
                font-family: $ff-franklin !important;
            }
            .uk-back-button{
                color: $color-black;
                border: 1px solid;
                padding: 5px 10px;
                border-radius: 5px;
                &:hover {
                    color: $color-white;
                    background-color: $color-primary;
                }
            }
            .uk-button-primary{
                background-color: $color-primary;
                color: $color-white;
            }
            .uk-button-primary:disabled,
            .uk-button-primary[disabled] {
                background-color: $color-grey-disabled !important;
                color: $color-black;
            }
            .uk-cursor-pointer{
                cursor: pointer;
            }
            .uk-button-filter-active {
                background-color: $color-grey-disabled;
                color: $color-grey-ligth;
            }
        }
        .uk-text-section {
            color: $color-black2;
            font-size: 20px;
            font-weight: 500;
        }
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-thead > th{
        font-weight: bold;
        background-color: #424242;
        color: $color-white;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .uk-button-hover{
        color: $color-black;
        &:hover {
            color: $color-white;
            background-color: $color-primary;
        }
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
}
</style>
