<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'plataforma-admon'}" class="uk-text-uppercase uk-text-small">Sistema de Administración Ti</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Módulo de Privilegios</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Módulo de Privilegios</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: IR A SISTEMA DE ADMINISTRACION TI"
                                         :to="{name: 'plataforma-admon'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <div class="uk-width-1-1 uk-text-center uk-padding" v-if="loading">
                    <img src="/img/svg/ilustration2.svg" width="450" class="uk-margin-large-top"/>
                    <p class="uk-margin-small-top">
                        <span uk-spinner="ratio: 2"></span> <br>
                        CARGANDO PLATAFORMAS...
                    </p>
                </div>
                <div class="uk-width-1-1" v-else>
                    <div class="uk-grid">
                        <div class="uk-width-1-1 uk-margin-small-bottom">
                            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                                <span class="uk-text-bold">
                                    <i class="fas fa-laptop"></i> Plataformas del sistema
                                </span>
                            </div>
                        </div>
                        <menu-card
                            :title="platform.Descripcion"
                            description="Administrar privilegios"
                            :goToUrl="{name: 'administracion-ti-privilegios-plataforma', params: {platform: JSON.stringify(platform)}}"
                            v-for="(platform, index) in platforms" :key="index"
                            :sidepat="$attrs.sidepat">
                            <i :class="setIconPlatform(platform.Descripcion)"></i>
                        </menu-card>
                    </div>
                    <!--<div class="uk-grid">
                        <div class="uk-width-1-1 uk-margin-small-bottom">
                            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                                <span class="uk-text-bold">
                                    <i class="fas fa-user-lock"></i> Roles de usuario
                                </span>
                            </div>
                        </div>
                        <menu-card
                            title="Roles de usuario del sistema"
                            description="Administrar roles de usuarios del sistema"
                            goToUrl="administracion-roles-usuario"
                            :sidepat="$attrs.sidepat">
                            <i class="fas fa-user-cog fa-3x"></i>
                        </menu-card>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import MenuCard from "@/js/components/MenuCard";
    export default {
        name: "privilegios",
        components: {
            MenuCard
        },
        created() {
            this.getPlataformas();
        },
        mounted() {
            this.setImage();
        },
        data() {
            return {
                loading: false,
                platforms: []
            }
        },
        methods: {
            setImage() {
                let buttons_hover = $(".uk-back-button");
                if(buttons_hover.length > 0) {
                    for(let i = 0; i < buttons_hover.length; i++) {
                        let self = this;
                        $(buttons_hover[i]).hover(function(){
                            $(this).css({'background-color': self.$attrs.sidepat.color_primario, "cursor": 'pointer'});
                        }, function(){
                            $(this).css({'background-color': 'transparent', "cursor": 'pointer'});
                        });
                    }
                }
            },
            getPlataformas() {
                this.loading = true;
                axios.get('/api/get-platforms').then(resp => {
                    this.platforms = resp.data.platforms;
                    this.loading = false;
                    setTimeout(() => {
                        this.setImage();
                    }, 500);
                }).catch(e => {
                    console.log(e);
                    this.platforms = [];
                    this.loading = false
                });
            },
            setIconPlatform(descripcion) {
                if(descripcion == 'SiDePat') {
                    return 'fas fa-file-signature fa-3x';
                } else if(descripcion == 'Sistema de administración TI') {
                    return 'fas fa-cogs fa-3x';
                } else if(descripcion == 'Sistema de Auditoría de Control Interno') {
                    return 'fas fa-clipboard-check fa-3x';
                } else if(descripcion == 'Sistema de Auditoria de Desempeño (SAD)') {
                    return 'fas fa-handshake fa-3x';
                } else {
                    return 'fas fa-desktop fa-3x';
                }
            }
        },
        watch: {

        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-primary{
                    background-color: $color-primary;
                    color: $color-white;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-cursor-pointer{
                    cursor: pointer;
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
