<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'plataforma-admon'}" class="uk-text-uppercase uk-text-small">Sistema de Administración Ti</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'administracion-ti-privilegios'}" class="uk-text-uppercase uk-text-small">Módulo de Privilegios</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">{{ setPlatformName }}</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase"><i class="fas fa-desktop"></i> {{ setPlatformName }}</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: IR A MÓDULO DE PRIVILEGIOS"
                                         :to="{name: 'administracion-ti-privilegios'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <div class="uk-width-1-1">
                    <div class="uk-grid">
                        <div class="uk-width-1-2 uk-margin-small-bottom uk-text-left">
                            <div class="uk-inline">
                                <a class="uk-form-icon uk-form-icon-flip uk-link-reset"
                                   href="#"
                                   style="background-color: #7E042E; color: #FFFFFF !important;"
                                   @click="search()">
                                    <i class="fas fa-search"></i>
                                </a>
                                <input class="uk-input" type="text" placeholder="Buscar por nombre" v-model.trim="name" v-on:keyup.enter="search">
                            </div>
                        </div>
                        <div class="uk-width-1-2 uk-margin-small-bottom uk-text-right">
                            <button class="uk-button uk-button-primary uk-border-rounded"
                                    v-if="setPlatformName === 'SiDePat'"
                                    @click="asignarUsuariosSdp">
                                Asignar usuarios sdp
                            </button>
                        </div>
                    </div>
                    <div v-if="users.length > 0">
                        <table class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small">
                            <thead>
                            <tr class="uk-thead">
                                <th class="uk-text-center" style="position: sticky; top: 0;">#</th>
                                <th class="uk-width-auto" style="position: sticky; top: 0;">Usuario</th>
                                <th class="uk-width-auto uk-text-center" style="position: sticky; top: 0;" v-for="(tipo, index) in tipoUsuariosRoles" :key="index">
                                    {{ tipo.NombreRol }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(user, index) in users">
                                <td class="uk-text-center">
                                    {{ index + 1}}
                                </td>
                                <td class="uk-text-uppercase">
                                    {{ setUserName(user) }}
                                </td>
                                <td class="uk-text-center" v-for="(tipo, index) in tipoUsuariosRoles" :key="index">
                                    <input type="checkbox"
                                           class="uk-checkbox"
                                           :id="user.UsuarioID + '_' + tipo.TipoUsuarioID + '_' + index"
                                           @click="checked(user.UsuarioID, tipo.TipoUsuarioID, index, tipo.PlataformaID)"
                                           :checked="setCheckbox(tipo, user)">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <ul class="uk-pagination uk-flex-center uk-margin-remove-bottom" uk-margin>
                            <li v-show="pagination.prev_page_url"><a href="#" @click.prevent="getPreviousPage"><span uk-pagination-previous></span></a></li>
                            <li :class="{ 'uk-active-pagination': (pagination.current_page == n) }"
                                v-for="n in pagination.last_page">
                                <a href="#" @click.prevent="getPage(n)" style="border-radius: 5px !important;">{{ n }}</a>
                            </li>
                            <li v-show="pagination.next_page_url"><a href="#" @click.prevent="getNextPage"><span uk-pagination-next></span></a></li>
                        </ul>
                        <div class="uk-text-center">
                            <span uk-spinner="ratio: .8" v-show="loading_users == true"></span>
                        </div>
                    </div>
                    <div v-else>
                        <div class="uk-alert uk-border-rounded uk-text-center uk-text-uppercase">
                            USUARIOS NO ENCONTRADOS
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PrivilegiosPlataforma",
        data() {
            return {
                plataforma: {},
                users: [],
                tipoUsuariosRoles: [],
                selected: {},
                selectedDb: [],
                name:'',
                pagination: {},
                loading_users: false
            }
        },
        created() {
            this.getPlatform();
            this.getUsers();
        },
        mounted() {
            this.setImage();
        },
        methods: {
            setImage() {
                let buttons_hover = $(".uk-back-button");
                if(buttons_hover.length > 0) {
                    for(let i = 0; i < buttons_hover.length; i++) {
                        let self = this;
                        $(buttons_hover[i]).hover(function(){
                            $(this).css({'background-color': self.$attrs.sidepat.color_primario, "cursor": 'pointer'});
                        }, function(){
                            $(this).css({'background-color': 'transparent', "cursor": 'pointer'});
                        });
                    }
                }
            },
            getUsers() {
                axios.get('/api/administracion-ti/get-users', {
                    params: {
                        nombre: this.name
                    }
                }).then(resp => {
                    this.pagination = resp.data.users;
                    this.users = resp.data.users.data;
                    setTimeout(() => {
                        this.setImage();
                        this.loading = false;
                    }, 500);
                }).catch(e => {
                    console.log(e);
                });
            },
            setUserName(user) {
                return user.Nombres + ' ' + user.PrimerApellido + ' ' + user.SegundoApellido;
            },
            getTipoUsuarioCat() {
                axios.post('/api/administracion-ti/get-tipo-usuarios-ti', {platform: this.$route.params.platform}).then(resp => {
                    console.log(resp.data);
                    this.tipoUsuariosRoles = resp.data.tipoUsuariosRoles;
                    this.getUsuariosPrivilegios();
                }).catch(e => {
                    console.log(e);
                });
            },
            checked(user, tipo, index, plataforma) {
                let refString = '#' + user + '_' + tipo + '_' + index;
                let ref = $(refString);
                let userType = 'tipo_usuario_'+tipo;
                if(ref.is(":checked")) {
                    if(_.isUndefined(this.selected[userType])) {
                        this.selected[userType] = [];
                        this.selected[userType].push(user);
                        let result = window.confirm("¿ESTA SEGURO QUE DESEA ASIGNAR ESTE PROVILEGIO AL USUARIO?");
                        if(result) {
                            // -- usuario, plataforma, tipo_usuario
                            this.addPrivilegio(user, plataforma, tipo);
                        } else {
                            $(refString).prop('checked', false);
                        }
                    } else {
                        this.selected[userType].push(user);
                        let result = window.confirm("¿ESTA SEGURO QUE DESEA ASIGNAR ESTE PROVILEGIO AL USUARIO?");
                        if(result) {
                            // -- usuario, plataforma, tipo_usuario
                            this.addPrivilegio(user, plataforma, tipo);
                        } else {
                            $(refString).prop('checked', false);
                        }
                    }
                } else {
                    let result = window.confirm("¿ESTA SEGURO QUE DESEA QUITAR ESTE PRIVILEGIO AL USUARIO?");
                    if(result) {
                        if(_.isUndefined(this.selected[userType]) === false) {
                            const indexSelected = this.selected[userType].indexOf(user);
                            if (indexSelected > -1) {
                                this.selected[userType].splice(indexSelected, 1);
                            }
                        }
                        this.removePrivilegio(user, plataforma, tipo);
                    } else {
                        $(refString).prop('checked', true);
                    }
                }
            },
            getPlatform() {
                let data = {
                    platform: this.$route.params.platform
                }
                axios.post('/api/administracion-ti/get-platform', data).then(resp => {
                    this.plataforma = resp.data.plataforma;
                    this.getTipoUsuarioCat();
                }).catch(e => {
                    console.log(e)
                });
            },
            getUsuariosPrivilegios() {
                let data = {
                    users: this.users,
                    plataformaId: this.plataforma.PlataformaID,
                    tipoUsuarioRol: this.tipoUsuariosRoles
                }
                axios.post('/api/administracion-ti/get-users-privilegios', data).then(resp => {
                    this.selectedDb = resp.data.privilegio;
                }).catch(e => {
                    console.log(e);
                });
            },
            setCheckbox(tipo, user) {
                let tipoId = tipo.TipoUsuarioID;
                let userId = user.UsuarioID
                for (const property in this.selectedDb) {
                    if(property.includes(tipoId)) {
                        let arr_usrs = this.selectedDb[property];
                        if(arr_usrs.includes(userId)) {
                            return true
                        } else {
                            return false;
                        }
                    }
                }
            },
            addPrivilegio(user, plataforma, tipo) {
                let data = {
                    user: user,
                    plataforma: plataforma,
                    tipo: tipo
                };
                axios.post('/api/administracion-ti/add-user-privilegio', data).then(resp => {
                    console.log(resp.data);
                }).catch(e => {
                    console.log(e);
                })
            },
            removePrivilegio(user, plataforma, tipo) {
                let data = {
                    user: user,
                    plataforma: plataforma,
                    tipo: tipo
                };
                axios.post('/api/administracion-ti/remove-user-privilegio', data).then(resp => {
                    console.log(resp.data);
                }).catch(e => {
                    console.log(e);
                })
            },
            asignarUsuariosSdp() {
                let result = window.confirm("¿ESTA SEGURO QUE DESEA ASIGNAR EL PRIVILEGIO (USUARIOS SDP) A TODOS LOS USUARIOS?");
                if(result === true) {
                    let tipo = this.tipoUsuariosRoles.filter(tipo => tipo.NombreRol === 'Usuario SDP');
                    let data = {
                        users: this.users,
                        plataforma: this.plataforma.PlataformaID,
                        tipo: tipo[0].TipoUsuarioID
                    };
                    axios.post('/api/administracion-ti/add-users-privilegio-sdp', data).then(resp => {
                        console.log(resp.data);
                        location.reload();
                    }).catch(e => {
                        console.log(e);
                    })
                } else {
                    return false;
                }
            },
            getNextPage(){
                this.loading_users = true;
                let base_url = this.pagination.next_page_url;
                let url = base_url + '&nombre=' + this.name;
                axios.get(url).then((response)=>{
                    this.pagination = response.data.users;
                    this.users = response.data.users.data;
                    this.loading_users = false;
                },(response)=>{

                });
            },
            getPreviousPage() {
                this.loading_users = true;
                let base_url = this.pagination.prev_page_url;
                let url = base_url + '&nombre=' + this.name;
                axios.get(url).then((response)=>{
                    this.pagination = response.data.users;
                    this.users = response.data.users.data;
                    this.loading_users = false;
                },(response)=>{

                });
            },
            getPage(page){
                this.loading_users = true;
                let base_url = this.pagination.path+'?page=' + page;
                let url = base_url + '&nombre=' + this.name;
                axios.get(url).then((response)=>{
                    this.pagination = response.data.users;
                    this.users = response.data.users.data;
                    this.loading_users = false;
                },(response)=>{

                });
            },
            search() {
                this.getUsers();
            }
        },
        computed: {
            setPlatformName() {
                return this.$route.params.platform
            },
        },
        watch: {
            users(val) {
                if(val.length > 0) {
                    this.getUsuariosPrivilegios();
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-primary{
                    background-color: $color-primary;
                    color: $color-white;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-cursor-pointer{
                    cursor: pointer;
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
            }
            .uk-active-pagination {
                background-color: $color-grey-disabled;
                border-radius: 5px;
                a {
                    color: #0c0c0c !important;
                }
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .uk-thead > th{
            font-weight: bold;
            background-color: #424242;
            color: $color-white;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
</style>
