<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'plataforma-admon'}" class="uk-text-uppercase uk-text-small">Sistema de Administración Ti</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Módulo de Usuarios</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Módulo de Usuarios</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: IR A SISTEMA DE ADMINISTRACION TI"
                                         :to="{name: 'plataforma-admon'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <div class="uk-width-1-1">
                    <div class="uk-grid">
                        <div class="uk-width-1-3 uk-margin-small-bottom uk-text-left">
                            <div class="uk-inline">
                                <a class="uk-form-icon uk-form-icon-flip uk-link-reset"
                                   href="#"
                                   style="background-color: #7E042E; color: #FFFFFF !important;"
                                   @click="search()">
                                    <i class="fas fa-search"></i>
                                </a>
                                <input class="uk-input" type="text" placeholder="Buscar por nombre" v-model.trim="name" v-on:keyup.enter="search">
                            </div>
                        </div>
                        <div class="uk-width-2-3 uk-margin-small-bottom uk-text-right">
                            <div>
                                <div class="uk-button-group">
                                    <router-link :to="{name: 'formulario-usuario'}" class="uk-button uk-button-small uk-button-primary">
                                        Registrar usuario <i class="fas fa-user-plus"></i>
                                    </router-link>
                                    <button class="uk-button uk-button-small uk-button-primary" @click="setAllPasswords" :disabled="loading">
                                        <span v-if="loading === false">
                                            Asignar contraseñas <i class="fas fa-key"></i>
                                        </span>
                                        <span v-else uk-spinner="ratio: 0.8"></span>
                                    </button>
                                    <button class="uk-button uk-button-small uk-button-primary" @click="downloadUsers">
                                        Descargar usuarios <i class="fas fa-file-excel"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-text-center uk-margin-medium-top uk-text-uppercase" v-if="loading">
                        <div uk-spinner="ratio: 2.5"></div>
                        <br>
                        Cargando...
                    </div>
                    <template v-else>
                        <div v-if="users.length > 0">
                            <table class="uk-table uk-table-small uk-table-divider uk-table-hover uk-text-small uk-margin-remove-top">
                                <thead>
                                <tr class="uk-thead">
                                    <th class="uk-text-center" style="position: sticky; top: 0;">#</th>
                                    <th class="uk-width-auto" style="position: sticky; top: 0;">Usuario</th>
                                    <th class="uk-width-auto uk-text-center" style="position: sticky; top: 0;">
                                        Tipo de trabajador
                                    </th>
                                    <th style="position: sticky; top: 0;"></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(user, index) in users" :key="index">
                                        <td class="uk-text-center">
                                            {{ index + 1}}
                                        </td>
                                        <td class="uk-text-uppercase">
                                            {{ setUserName(user) }}
                                        </td>
                                        <td class="uk-text-right">
                                            <span uk-spinner="ratio: .6" class="uk-float-right" :class="'uk-spinner-table_'+index" style="display: none; margin-top: 5px;"></span>
                                            <span class="uk-float-right uk-text-success" :class="'uk-check-table_'+index" style="margin-top: 5px; display: none;"><i class="fas fa-check"></i></span>
                                            <select class="uk-select uk-form-small uk-border-rounded uk-text-uppercase uk-width-medium uk-float-right uk-margin-small-right"
                                                    :class="'uk-select-table_'+index"
                                                    @change="tipoTrabajadorListener(index, user.UsuarioID)">
                                                <option value="">Tipo de trabajador</option>
                                                <option :value="tipo.TipoTrabajadorID"
                                                        v-for="(tipo, index) in tipo_usuarios"
                                                        :key="index"
                                                        :selected="parseInt(user.TipoTrabajadorID) == parseInt(tipo.TipoTrabajadorID)">
                                                    {{ tipo.TipoTrabajador }}
                                                </option>
                                            </select>
                                        </td>
                                        <td class="uk-text-right">
                                            <span class="uk-icon-button">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </span>
                                            <div uk-dropdown="mode: click" class="uk-padding-remove-horizontal">
                                                <ul class="uk-nav uk-dropdown-nav uk-margin-small-left uk-margin-small-right">
                                                    <li class="uk-text-uppercase">
                                                        <router-link class="uk-text-small-custom"
                                                                     :to="{name: 'formulario-usuario',params:{user_id:user.UsuarioID}}">
                                                            <i class="fas fa-user-cog"></i> Actualizar datos
                                                        </router-link>
                                                        <a class="uk-text-small-custom"
                                                           uk-toggle="target: #modal-cambio-pswd-usuarios"
                                                           @click="setUserUpdate(user)">
                                                            <i class="fas fa-edit"></i> Actualizar contraseña
                                                        </a>
                                                        <a class="uk-text-small-custom" uk-toggle="target: #modal-baja-usuario" @click="setUserUpdate(user)">
                                                            <i class="fas fa-user-minus"></i> Dar de baja
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="uk-pagination uk-flex-center uk-margin-remove-bottom" uk-margin>
                                <li v-show="pagination.prev_page_url"><a href="#" @click.prevent="getPreviousPage"><span uk-pagination-previous></span></a></li>
                                <li :class="{ 'uk-active-pagination': (pagination.current_page == n) }"
                                    v-for="n in pagination.last_page">
                                    <a href="#" @click.prevent="getPage(n)" style="border-radius: 5px !important;">{{ n }}</a>
                                </li>
                                <li v-show="pagination.next_page_url"><a href="#" @click.prevent="getNextPage"><span uk-pagination-next></span></a></li>
                            </ul>
                            <div class="uk-text-center">
                                <span uk-spinner="ratio: .8" v-show="loading_users == true"></span>
                            </div>
                        </div>
                        <div v-else>
                            <div class="uk-alert uk-border-rounded uk-text-center uk-text-uppercase">
                                USUARIOS NO ENCONTRADOS
                            </div>
                        </div>
                    </template>
                    <!-- This is the modal -->
                    <div id="modal-cambio-pswd-usuarios" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h2 class="uk-modal-title">¿Desea cambiar la contraseña?</h2>
                            <div class="uk-alert-primary" uk-alert>
                                <p>La contraseña debe tener por lo menos 8 caracteres</p>
                            </div>
                            <form @submit.prevent='updatePassword'>
                                <label class="uk-form-label uk-text-uppercase">Ingrese la nueva contraseña</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-border-rounded"
                                            id="nueva-password"
                                            type="password"
                                            minlength="8"
                                            v-model="password_new"
                                            required>
                                </div>
                                <label class="uk-form-label uk-text-uppercase">Verifique la nueva contraseña</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input uk-border-rounded"
                                            id="conforma-password"
                                            type="password"
                                            minlength="8"
                                            v-model="password_verified"
                                            required>
                                </div>
                                <p class="uk-text-right">
                                    <button class="uk-button uk-button-default uk-modal-close uk-border-rounded" type="button">Cancelar</button>
                                    <button class="uk-button uk-button-primary uk-border-rounded"
                                        style="background-color: #7A0A2C  !important;"
                                        type="submit">
                                        Guardar
                                    </button>
                                </p>
                            </form>
                        </div>
                    </div>
                    <!-- modal baja de usuario -->
                    <div id="modal-baja-usuario" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h2 class="uk-modal-title">¿Desea dar de baja el usuario?</h2>
                            <div class="uk-alert-primary" uk-alert>
                                <p>El usuario será eliminado de forma PERMANENTE del sistema</p>
                            </div>
                            <form @submit.prevent='deleteUser'>
                                <p class="uk-text-right">
                                    <button class="uk-button uk-button-default uk-modal-close uk-border-rounded" type="button">Cancelar</button>
                                    <button class="uk-button uk-button-primary uk-border-rounded"
                                        style="background-color: #7A0A2C  !important;"
                                        type="submit">
                                        Aceptar
                                    </button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import user from '../../../store/modules/user';
    export default {
        name: "Usuarios",
        data() {
            return {
                users: [],
                password_new:'',
                password_verified:'',
                user_id: '',
                loading: false,
                name:'',
                tipo_usuarios: [],
                selectedOption: {},
                pagination: {},
                loading_users: false
            }
        },
        created() {
            this.getUsers();
            this.getTipoUsuarios();
        },
        mounted() {
            this.setImage();
        },
        computed:{
            getDataUser(){
                return this.$store.getters.dataUser;
            }
        },
        methods: {
            setImage() {
                let buttons_hover = $(".uk-button-hover, .uk-back-button");
                if(buttons_hover.length > 0) {
                    for(let i = 0; i < buttons_hover.length; i++) {
                        let self = this;
                        $(buttons_hover[i]).hover(function(){
                            $(this).css({'background-color': self.$attrs.sidepat.color_primario, "cursor": 'pointer'});
                        }, function(){
                            $(this).css({'background-color': 'transparent',});
                        });
                    }
                }

                let buttons_primary = $(".uk-button-primary");
                if(buttons_primary.length > 0) {
                    for(let i = 0; i < buttons_primary.length; i++) {
                        $(buttons_primary[i]).css('background-color', this.$attrs.sidepat.color_primario);
                    }
                }
            },
            getUsers() {
                this.loading = true;
                axios.get('/api/administracion-ti/get-users', {
                    params: {
                        nombre: this.name
                    }
                }).then(resp => {
                    this.pagination = resp.data.users;
                    this.users = resp.data.users.data;
                    setTimeout(() => {
                        this.setImage();
                        this.loading = false;
                    }, 500);
                }).catch(e => {
                    console.log(e);
                    this.loading = false;
                });
            },
            setUserName(user) {
                return user.Nombres + ' ' + user.PrimerApellido + ' ' + user.SegundoApellido;
            },
            updatePassword(){
                let data = {
                    usuario_id: this.user_id,
                    password: this.password_new
                };
                if( this.password_new == this.password_verified){
                    axios.post('/api/administracion-ti/update-password', data).then(resp=>{
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        UIkit.modal('#modal-cambio-pswd').hide();
                    }).catch(e =>{
                        console.log(e);
                    })
                }else{
                    alert('Las contraseñas no coinciden');
                }
                this.password_new = '';
                this.password_verified = '';
            },
            deleteUser(){
                let data = {
                    usuario_id: this.user_id,
                    usuario_editando: this.getDataUser.UsuarioID
                };
                axios.post('/api/administracion-ti/delete-user', data).then(resp=>{
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Usuario dado de baja',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    UIkit.modal('#modal-baja-usuario').hide();
                    location.reload();
                }).catch(e =>{
                    console.log(e);
                })
            },
            setUserUpdate(user) {
                this.user_id  = user.UsuarioID;
            },
            setAllPasswords() {
                let confirm = window.confirm('¡ATENCIÓN!. ESTA APUNTO DE ASIGNAR UNA NUEVA CONTRASEÑA A TODOS LOS USUARIOS QUE NO SE LES HA DEFINIDO UNA. ¿DESEA CONTINUAR?');
                if(confirm) {
                    this.loading = true;
                    axios.post('/api/declaracion/set-all-passwords')
                         .then(resp => {
                             this.loading = false;
                             UIkit.notification({
                                 message: '<i class="fas fa-check"></i> Contraseñas asignadas correctamente',
                                 pos: 'top-right',
                                 timeout: 4000
                             });
                         })
                         .catch(e => console.log(e))
                }
            },
            downloadUsers() {
                let base_url = window.location.origin;
                window.open(base_url+'/download-users/yzvJkB0OB3fkTva8XHK3ROTNvSkBVnU2u3b5bbtm');
            },
            getTipoUsuarios() {
                axios.post('/api/administracion-ti/get-tipo-usuarios').then(resp => {
                    this.tipo_usuarios = resp.data.tipo_usuarios;
                }).catch(e => {
                    console.log(e);
                    this.loading = false;
                });
            },
            tipoTrabajadorListener(index, usuarioID) {
                let spinner = $('.uk-spinner-table_'+index);
                let check = $('.uk-check-table_'+index);
                let tipo_trabajador = $('.uk-select-table_'+index).val();
                let data = {
                    UsuarioID: usuarioID,
                    tipoTrabajador: tipo_trabajador
                };
                spinner.show();
                axios.post('/api/administracion-ti/actualizar-tipo-trabajador', data).then(() => {
                    spinner.hide();
                    check.show();
                    setTimeout(() => {
                        check.hide();
                    }, 2000)
                }).catch((e) => {
                    console.log(e);
                });
            },
            getNextPage(){
                this.loading_users = true;
                let base_url = this.pagination.next_page_url;
                let url = base_url + '&nombre=' + this.name;
                axios.get(url).then((response)=>{
                    this.pagination = response.data.users;
                    this.users = response.data.users.data;
                    this.loading_users = false;
                },(response)=>{

                });
            },
            getPreviousPage() {
                this.loading_users = true;
                let base_url = this.pagination.prev_page_url;
                let url = base_url + '&nombre=' + this.name;
                axios.get(url).then((response)=>{
                    this.pagination = response.data.users;
                    this.users = response.data.users.data;
                    this.loading_users = false;
                },(response)=>{

                });
            },
            getPage(page){
                this.loading_users = true;
                let base_url = this.pagination.path+'?page=' + page;
                let url = base_url + '&nombre=' + this.name;
                axios.get(url).then((response)=>{
                    this.pagination = response.data.users;
                    this.users = response.data.users.data;
                    this.loading_users = false;
                },(response)=>{

                });
            },
            search() {
                this.getUsers();
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-primary{
                    background-color: $color-primary;
                    color: $color-white;
                    &:hover {
                        background-color: #5E0822 !important;
                    }
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-cursor-pointer{
                    cursor: pointer;
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
            }
            .uk-active-pagination {
                background-color: $color-grey-disabled;
                border-radius: 5px;
                a {
                    color: #0c0c0c !important;
                }
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .uk-thead > th{
            font-weight: bold;
            background-color: #424242;
            color: $color-white;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .uk-button-hover{
            color: $color-black;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-button-primary {
            background-color: $color-primary !important;
        }
        .uk-text-small-custom{
            font-size: 12px;
            font-weight: 500;
            text-align: left;
            padding-left: 5px;
            padding-right: 5px;
            &:hover{
                background-color: $color-grey-ligth;
            }
        }
    }
</style>
