<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'plataforma-admon'}" class="uk-text-uppercase uk-text-small">Sistema de Administración Ti</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'administracion-ti-usuarios'}" class="uk-text-uppercase uk-text-small">Módulo de Usuarios</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Configuración de datos del usuario</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Configuración de datos del usuario</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                        tag="a"
                                        uk-tooltip="title: IR A MÓDULO DE USUARIO"
                                        :to="{name: 'administracion-ti-usuarios'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div class="uk-width-1-1@m">
                            <form @submit.prevent="save">
                                <!--Primera sección-->
                                <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                                    <span class="uk-text-bold">
                                        <i class="fas fa-user"></i> Datos generales
                                    </span>
                                </div>
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-1-1 uk-margin-small-bottom">
                                        <p class="uk-text-bold uk-text-uppercase">(*) Campos obligatorios</p>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="nombre">Nombre *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                id="nombre"
                                                type="text"
                                                required
                                                v-model="nombre">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="primerapellido">Primer apellido *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                id="primerapellido"
                                                type="text"
                                                required
                                                v-model="primer_apellido">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="segundoapellido">Segundo apellido</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                id="segundoapellido"
                                                type="text"
                                                v-model="segundo_apellido">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="email">Correo electrónico institucional *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded"
                                                id="email"
                                                type="email"
                                                required
                                                v-model="email">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="nocontrol">No. Control</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded"
                                                id="nocontrol"
                                                type="nocontrol"
                                                v-model="no_control">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="rfc">RFC *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded"
                                                id="rfc"
                                                type="text"
                                                required
                                                v-model="rfc">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="curp">CURP *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                id="curp"
                                                type="text"
                                                required
                                                v-model="curp">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="nombre">Puesto</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-select uk-border-rounded" v-model="puesto">
                                                <option value="">Selecciona el puesto</option>
                                                <option v-for="(cargo, index) in cargos" :key="index"
                                                    :value="cargo.PuestoID">{{cargo.Nombre}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m">
                                        <label class="uk-form-label uk-text-uppercase" for="fecha_obtencion">Fecha de ingreso</label>
                                        <div class="uk-form-controls">
                                            <flat-pickr id="fecha_obtencion"
                                                :config="config"
                                                class="uk-input uk-border-rounded"
                                                v-model="fecha_ingreso"
                                                required/>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                                        <button class="uk-button uk-button-default uk-border-rounded" @click="cancel">
                                            <i class="fas fa-long-arrow-alt-left"></i> Regresar
                                        </button>
                                        <button type="submit" class="uk-button uk-button-primary uk-border-rounded"
                                                :disabled="loadingBtn">
                                            <span v-show="loadingBtn === false">Guardar</span>
                                            <span uk-spinner="ratio: 0.8" v-if="loadingBtn"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';

    export default{
        name: "UsuarioForm",
        components: {
            flatPickr,
        },
        data(){
            return{
                loadingBtn: false,
                nombre:'',
                primer_apellido:'',
                segundo_apellido:'',
                email:'',
                no_control:'',
                rfc:'',
                curp:'',
                puesto:'',
                genero: '',
                fecha_ingreso:'',
                usuario_id:'',
                cargos:[],
                user_data:[],
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
            }
        },
        created(){
            this.getCargos();
            this.getDatosPersonales();
        },
        computed:{
            getDataUser(){
                return this.$store.getters.dataUser;
            }
        },
        methods:{
            save(){
                this.loadingBtn = true;
                let data = {
                    nombre: this.nombre,
                    primer_apellido: this.primer_apellido,
                    segundo_apellido: this.segundo_apellido,
                    email: this.email,
                    no_control: this.no_control,
                    rfc: this.rfc,
                    curp: this.curp,
                    puesto: this.puesto,
                    genero: this.genero,
                    fecha_ingreso: this.fecha_ingreso,
                    id_usuario: this.$route.params.user_id,
                    usuario_editando: this.getDataUser.UsuarioID
                }
                axios.post('/api/administracion-ti/save-user-data',data).then(resp=>{
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Nuevo usuario registrado',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.loadingBtn = false;
                    location.reload();
                }).catch(e => {
                    console.log(e);
                    this.loadingBtn = false;
                    alert("OCURRIO UN ERROR | CONTACTA A LA UNIDAD DE TECNOLOGÍAS DE INFORMACIÓN");
                })
            },
            getCargos(){
                axios.get('/api/administracion-ti/get-puestos').then(resp => {
                    this.cargos = resp.data.cargos;
                }).catch(e => {
                    console.log(e);
                });
            },
            getDatosPersonales(){
                if(this.$route.params.user_id != null){
                    let data = {
                        user_id: this.$route.params.user_id
                    }
                    axios.post('/api/administracion-ti/get-datos-personales', data).then(resp=>{
                        this.user_data = resp.data;
                        this.nombre = this.user_data.data_usuario[0].Nombres;
                        this.primer_apellido = this.user_data.data_usuario[0].PrimerApellido;
                        this.segundo_apellido = this.user_data.data_usuario[0].SegundoApellido;
                        this.email = this.user_data.data_usuario[0].Email;
                        this.no_control = this.user_data.data_usuario[0].NoControl;
                        this.rfc = this.user_data.data_usuario[0].RFC;
                        this.curp = this.user_data.data_usuario[0].CURP;
                        this.puesto = this.user_data.data_usuario[0].PuestoID;
                        this.genero = this.user_data.data_usuario[0].Genero;
                        this.fecha_ingreso = this.user_data.data_usuario[0].FechaIngreso;
                    }).catch(e=>{
                        console.log(e);
                    })
                }
            },
            cancel() {
                this.$router.push({name: 'administracion-ti-usuarios'});
            }
        },
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-primary{
                    background-color: $color-primary;
                    color: $color-white;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-cursor-pointer{
                    cursor: pointer;
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .uk-thead > th{
            font-weight: bold;
            background-color: #424242;
            color: $color-white;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .uk-button-hover{
            color: $color-black;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-button-primary {
            background-color: $color-primary !important;
        }
        .uk-radio-custom {
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: #ffffff;
            padding-right: 15px;
            &:hover{
                background-color: #f5f5f5;
                cursor: pointer;
            }
        }
        .uk-radio-custom-border {
            border: 1px #1E87F0 solid;
        }
    }
</style>
