<template>
    <div class="uk-grid uk-margin-small-top">
        <div class="uk-width-1-1 uk-margin-medium-bottom">
            <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold uk-text-uppercase uk-alert-primary">
                <i class="fas fa-clipboard-list"></i> Respuesta
            </div>
            <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold">
                {{ formTopic.temaId }}.{{ pregunta.NoPregunta }} {{ pregunta.Pregunta }}
            </div>
            <!-- ---------------------------------------- -->
            <!--           PREGUNTA SOLVENTADA            -->
            <!-- ---------------------------------------- -->
            <div v-if="isSolventada(pregunta)">
                <div class="uk-alert uk-alert-success uk-border-rounded uk-text-center uk-text-uppercase">
                    <p class="uk-text-large"><i class="far fa-check-circle"></i></p>
                    Pregunta solventada
                </div>
                <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-width-1-3">
                        <button type="button"
                                class="uk-button uk-button-default uk-border-rounded uk-button-large uk-width-1-1"
                                :disabled="preguntaAnteriorEmpty"
                                @click="goToAfter">
                            <i class="fas fa-angle-left"></i> Ir a pregunta anterior
                        </button>
                    </div>
                    <div class="uk-width-1-3"></div>
                    <div class="uk-width-1-3">
                        <button type="button"
                                class="uk-button uk-button-default uk-border-rounded uk-button-large uk-width-1-1"
                                :disabled="preguntaSiguienteEmpty"
                                @click="goToBefore">
                            Ir a pregunta siguiente <i class="fas fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div v-else>
                <!-- ---------------------------------------- -->
                <!--        TIPO DE PREGUNTA 1 ABIERTA        -->
                <!-- ---------------------------------------- -->
                <template v-if="pregunta.TipoPreguntaID === 1">
                    <template v-if="pregunta.Subpregunta === null">
                        <!--Respuesta previa-->
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase">Respuesta Previa</label>
                            <card-respuesta :respuesta="pregunta.Respuesta" :small="false"></card-respuesta>
                        </div>
                        <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                            <span uk-spinner="ratio: 2"></span><br>
                            Cargando anexos...
                        </div>
                        <template v-else>
                            <documentacion-anexada :anexos="setAnexosPrevios" v-if="setAnexosPrevios.length > 0" :pregunta="pregunta" tipo="control_interno"></documentacion-anexada>
                        </template>
                        <hr>
                        <!--Respuesta atual-->
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase">Respuesta</label>
                            <card-respuesta :respuesta="pregunta.solvRespuesta" :small="false"></card-respuesta>
                        </div>
                        <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                            <span uk-spinner="ratio: 2"></span><br>
                            Cargando anexos...
                        </div>
                        <template v-else>
                            <documentacion-anexada :anexos="setAnexosSolventacion" v-if="setAnexosSolventacion.length > 0" :pregunta="pregunta" tipo="control_interno"></documentacion-anexada>
                        </template>
                    </template>
                    <template v-else>
                        <!--Respuesta previa-->
                        <template v-if="pregunta.Condicional === 1">
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Respuesta Previa</label>
                                <card-respuesta :respuesta="setRespConcional(pregunta.Condicional)" :small="true"></card-respuesta>
                            </div>
                            <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold">
                                {{ pregunta.Subpregunta }}
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Detalle de respuesta Previa</label>
                                <card-respuesta :respuesta="pregunta.Respuesta" :small="false"></card-respuesta>
                            </div>
                            <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                                <span uk-spinner="ratio: 2"></span><br>
                                Cargando anexos...
                            </div>
                            <template v-else>
                                <documentacion-anexada :anexos="setAnexosPrevios" v-if="setAnexosPrevios.length > 0" :pregunta="pregunta" tipo="control_interno"></documentacion-anexada>
                            </template>
                        </template>
                        <template v-else>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Respuesta Previa</label>
                                <card-respuesta :respuesta="setRespConcional(pregunta.Condicional)" :small="true"></card-respuesta>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Mecanismo de atención previo</label>
                                <card-respuesta :respuesta="pregunta.Respuesta" :small="false"></card-respuesta>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Fecha de Mecanismo de atención previa</label>
                                <card-respuesta :respuesta="pregunta.FechaMecanismos" :small="true"></card-respuesta>
                            </div>
                        </template>
                        <hr>
                        <!--Respuesta actual-->
                        <template v-if="pregunta.solvCondicional === 1">
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Respuesta</label>
                                <card-respuesta :respuesta="setRespConcional(pregunta.solvCondicional)" :small="true"></card-respuesta>
                            </div>
                            <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold">
                                {{ pregunta.Subpregunta }}
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Detalle de respuesta</label>
                                <card-respuesta :respuesta="pregunta.solvRespuesta" :small="false"></card-respuesta>
                            </div>
                            <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                                <span uk-spinner="ratio: 2"></span><br>
                                Cargando anexos...
                            </div>
                            <template v-else>
                                <documentacion-anexada :anexos="setAnexosSolventacion" v-if="setAnexosSolventacion.length > 0" :pregunta="pregunta" tipo="control_interno"></documentacion-anexada>
                            </template>
                        </template>
                        <template v-else>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Respuesta</label>
                                <card-respuesta :respuesta="setRespConcional(pregunta.solvCondicional)" :small="true"></card-respuesta>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Mecanismo de atención</label>
                                <card-respuesta :respuesta="pregunta.solvRespuesta" :small="false"></card-respuesta>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Fecha de Mecanismo de atención</label>
                                <card-respuesta :respuesta="pregunta.solvFechaMecanismos" :small="true"></card-respuesta>
                            </div>
                        </template>
                    </template>
                </template>
                <!-- ---------------------------------------- -->
                <!--        TIPO DE PREGUNTA 2 CERRADA        -->
                <!-- ---------------------------------------- -->
                <template v-else-if="pregunta.TipoPreguntaID === 2">
                    <!-- Respuesta previa -->
                    <div class="uk-margin">
                        <div class="uk-form-label uk-text-uppercase">Respuesta</div>
                        <card-respuesta :respuesta="setRespuestaRadio(pregunta.Condicional)" :small="true"></card-respuesta>
                    </div>
                    <template v-if="pregunta.Condicional === 0">
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase">Mecanismo de atención previo</label>
                            <card-respuesta :respuesta="pregunta.Respuesta" :small="false"></card-respuesta>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase">Fecha de Mecanismo de atención previa</label>
                            <card-respuesta :respuesta="pregunta.FechaMecanismos" :small="true"></card-respuesta>
                        </div>
                    </template>
                    <template v-else>
                        <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold">
                            {{ pregunta.Subpregunta }}
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase">Detalle de respuesta Previa</label>
                            <card-respuesta :respuesta="pregunta.Respuesta" :small="false"></card-respuesta>
                        </div>
                        <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                            <span uk-spinner="ratio: 2"></span><br>
                            Cargando anexos...
                        </div>
                        <template v-else>
                            <documentacion-anexada :anexos="setAnexosPrevios" v-if="setAnexosPrevios.length > 0" :pregunta="pregunta" tipo="control_interno"></documentacion-anexada>
                        </template>
                    </template>
                    <hr>
                    <!-- Respuesta actual -->
                    <div class="uk-margin">
                        <div class="uk-form-label uk-text-uppercase">Respuesta</div>
                        <card-respuesta :respuesta="setRespuestaRadio(pregunta.solvCondicional)" :small="true"></card-respuesta>
                    </div>
                    <template v-if="pregunta.solvCondicional === 0">
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase">Mecanismo de atención</label>
                            <card-respuesta :respuesta="pregunta.solvRespuesta" :small="false"></card-respuesta>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase">Fecha de Mecanismo de atención</label>
                            <card-respuesta :respuesta="pregunta.solvFechaMecanismos" :small="true"></card-respuesta>
                        </div>
                    </template>
                    <template v-else>
                        <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold">
                            {{ pregunta.Subpregunta }}
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase">Detalle de respuesta</label>
                            <card-respuesta :respuesta="pregunta.solvRespuesta" :small="false"></card-respuesta>
                        </div>
                        <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                            <span uk-spinner="ratio: 2"></span><br>
                            Cargando anexos...
                        </div>
                        <template v-else>
                            <documentacion-anexada :anexos="setAnexosSolventacion" v-if="setAnexosSolventacion.length > 0" :pregunta="pregunta" tipo="control_interno"></documentacion-anexada>
                        </template>
                    </template>
                </template>
                <!-- ---------------------------------------- -->
                <!--   TIPO DE PREGUNTA 3 OPCION MULTIPLE     -->
                <!-- ---------------------------------------- -->
                <template v-else>
                    <!-- Respuesta previa -->
                    <div class="uk-margin">
                        <div class="uk-form-label uk-text-uppercase">Respuesta Previa</div>
                        <card-respuesta :respuesta="setRespuestaRadio(pregunta.Condicional)" :small="true"></card-respuesta>
                    </div>
                    <template v-if="pregunta.Condicional === 0">
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase">Mecanismo de atención previo</label>
                            <card-respuesta :respuesta="pregunta.Respuesta" :small="false"></card-respuesta>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase">Fecha de Mecanismo de atención previa</label>
                            <card-respuesta :respuesta="pregunta.FechaMecanismos" :small="true"></card-respuesta>
                        </div>
                    </template>
                    <template v-else>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase">Opciones seleccionadas previas</label>
                            <card-respuesta :respuesta="opcionesSeleccionadas" :small="false"></card-respuesta>
                        </div>
                        <div class="uk-margin" v-if="OtherOptionSelected">
                            <label class="uk-form-label uk-text-uppercase">Otras opciones previas agregadas</label>
                            <card-respuesta :respuesta="subrespuesta" :small="false"></card-respuesta>
                        </div>
                        <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                            <span uk-spinner="ratio: 2"></span><br>
                            Cargando anexos...
                        </div>
                        <template v-else>
                            <documentacion-anexada :anexos="setAnexosPrevios" v-if="setAnexosPrevios.length > 0" :pregunta="pregunta" tipo="control_interno"></documentacion-anexada>
                        </template>
                    </template>
                    <hr>
                    <!--Respuesta actual-->
                    <div class="uk-margin">
                        <div class="uk-form-label uk-text-uppercase">Respuesta</div>
                        <card-respuesta :respuesta="setRespuestaRadio(pregunta.solvCondicional)" :small="true"></card-respuesta>
                    </div>
                    <template v-if="pregunta.solvCondicional === 0">
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase">Mecanismo de atención</label>
                            <card-respuesta :respuesta="pregunta.solvRespuesta" :small="false"></card-respuesta>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase">Fecha de Mecanismo de atención</label>
                            <card-respuesta :respuesta="pregunta.solvFechaMecanismos" :small="true"></card-respuesta>
                        </div>
                    </template>
                    <template v-else>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase">Opciones seleccionadas</label>
                            <card-respuesta :respuesta="opcionesSeleccionadasSolventacion" :small="false"></card-respuesta>
                        </div>
                        <div class="uk-margin" v-if="OtherOptionSelectedSolventacion">
                            <label class="uk-form-label uk-text-uppercase">Otras opciones agregadas</label>
                            <card-respuesta :respuesta="subrespuesta" :small="false"></card-respuesta>
                        </div>
                        <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                            <span uk-spinner="ratio: 2"></span><br>
                            Cargando anexos...
                        </div>
                        <template v-else>
                            <documentacion-anexada :anexos="setAnexosSolventacion" v-if="setAnexosSolventacion.length > 0" :pregunta="pregunta" tipo="control_interno"></documentacion-anexada>
                        </template>
                    </template>
                </template>
                <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold uk-text-uppercase uk-alert-primary">
                    <i class="fas fa-clipboard-check"></i> Valoración
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label uk-text-uppercase">Puntuación actual</label>
                    <card-respuesta :respuesta="pregunta.crpPuntuacion" :small="true"></card-respuesta>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label uk-text-uppercase">Valoración</label>
                    <card-respuesta :respuesta="pregunta.crpValoracion" :small="false"></card-respuesta>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label uk-text-uppercase">Recomendación en CRP</label>
                    <card-respuesta :respuesta="pregunta.crpRecomendacion" :small="false"></card-respuesta>
                </div>
                <div class="uk-grid uk-flex uk-flex-center uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-width-3-5">
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-1-3">
                                <div class="uk-button-calificacion uk-border-rounded uk-flex uk-flex-center uk-flex-middle"
                                     :class="{'uk-button-selected': puntuacionLetra === 'bajo'}"
                                     @click="setValoracion('bajo')">
                                    <i class="fas fa-times-circle fa-lg"></i>
                                </div>
                            </div>
                            <div class="uk-width-1-3">
                                <div class="uk-button-calificacion uk-border-rounded uk-flex uk-flex-center uk-flex-middle"
                                     :class="{'uk-button-selected': puntuacionLetra === 'medio'}"
                                     @click="setValoracion('medio')">
                                    <i class="fas fa-minus-circle fa-lg"></i>
                                </div>
                            </div>
                            <div class="uk-width-1-3">
                                <div class="uk-button-calificacion uk-border-rounded uk-flex uk-flex-center uk-flex-middle"
                                     :class="{'uk-button-selected': puntuacionLetra === 'alto'}"
                                     @click="setValoracion('alto')">
                                    <i class="fas fa-check-circle fa-lg"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label uk-text-uppercase">
                        Valoración del auditor
                        <i class="fas fa-info-circle"
                           uk-tooltip="Escribe una valoración que justifique la calificación asignada a la respuesta"></i>
                    </label>
                    <vue-ckeditor type="classic"
                                  :editors="editors"
                                  v-model.trim="valoracion"
                                  :config="editors.config">
                    </vue-ckeditor>
                </div>
                <div class="uk-margin" v-if="showRecomendacionEditor">
                    <label class="uk-form-label uk-text-uppercase">
                        Recomendación del auditor
                        <i class="fas fa-info-circle"
                           uk-tooltip="Escribe una recomendación que le permita al enlace solventar satisfacoriamente su respuesta"></i>
                    </label>
                    <vue-ckeditor type="classic"
                                  :editors="editors"
                                  v-model.trim="recomendacion"
                                  :config="editors.config">
                    </vue-ckeditor>
                </div>
                <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-width-1-3">
                        <button type="button"
                                class="uk-button uk-button-default uk-border-rounded uk-button-large uk-width-1-1"
                                :disabled="preguntaAnteriorEmpty"
                                @click="goToAfter">
                            <i class="fas fa-angle-left"></i> Ir a pregunta anterior
                        </button>
                    </div>
                    <div class="uk-width-1-3">
                        <button type="button"
                                class="uk-button uk-button-primary uk-border-rounded uk-button-large uk-width-1-1"
                                @click="saveRecomendacion"
                                :disabled="loading">
                            Guardar Valoración <i class="fas fa-check"></i>
                        </button>
                    </div>
                    <div class="uk-width-1-3">
                        <button type="button"
                                class="uk-button uk-button-default uk-border-rounded uk-button-large uk-width-1-1"
                                :disabled="preguntaSiguienteEmpty"
                                @click="goToBefore">
                            Ir a pregunta siguiente <i class="fas fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import DocumentacionAnexada from '@/js/components/auditoria_control_interno/Responsable/DocumentacionAnexada.vue';
    import CardRespuesta from '@/js/components/auditoria_control_interno/Auditor/CardRespuesta.vue'
    let moment = require('moment');
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import VueCkeditor from 'vue-ckeditor5';
    require('@ckeditor/ckeditor5-build-classic/build/translations/es.js');
    export default {
        name: "PreguntaCuestionarioSolventacion",
        props: ['preguntas', 'temas'],
        components: {
            flatPickr,
            DocumentacionAnexada,
            'vue-ckeditor': VueCkeditor.component,
            CardRespuesta
        },
        mounted() {
            this.getOpcionesPregunta();
            this.setPuntuacionInicial();
        },
        data() {
            return {
                respuesta: '',
                subrespuesta: '',
                radioRespuesta: '',
                fechaTermino: null,
                opcionesPregunta: [],
                opcionesSeleccionadas: [],
                opcionesSeleccionadasSolventacion: [],
                opcionesGuardadas: [],
                opcionesGuardadasSolventacion: [],
                loading: false,
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
                editors: {
                    classic: ClassicEditor,
                    config: {
                        toolbar: [
                            'heading',
                            '|',
                            'bold',
                            'italic',
                            'link',
                            'numberedList',
                            'bulletedList',
                            '|',
                            'undo',
                            'redo'],
                        language: 'es',
                    },
                },
                puntuacion: '',
                puntuacionLetra: '',
                valoracion: '',
                recomendacion: '',
                puntuacionTemp: '',
                recomendacionTemp: '',
                respuestaCrp: '',
                radioRespuestaCrp: '',
                subrespuestaCrp: '',
                fechaTerminoCrp: '',
                puntuacionCrp: '',
                valoracionCrp: '',
                recomendacionCrp: '',
                puntuacionTempCrp: '',
                recomendacionTempCrp: '',
            }
        },
        methods:{
            getOpcionesPregunta() {
                let pregunta = this.pregunta;
                let data = {
                    preguntaID: pregunta.PreguntaID,
                    RespuestaID: pregunta.RespuestaID,
                    RespuestaID2: pregunta.solvRespuestaID
                }
                if(pregunta.TipoPreguntaID === 3) {
                    axios.post('/api/auditor/get-opciones-pregunta', data).then(resp => {
                        this.opcionesPregunta = resp.data.opciones_pregunta;
                        this.opcionesGuardadas = resp.data.opciones_guardadas;
                        if(this.opcionesGuardadas.length > 0) {
                            for(let i = 0; i < this.opcionesGuardadas.length; i++) {
                                this.opcionesSeleccionadas.push(this.opcionesGuardadas[i].Opcion);
                            }
                        }
                        //Opciones Solventacion
                        this.opcionesGuardadasSolventacion = resp.data.opciones_guardadas_solventacion;
                        if(this.opcionesGuardadasSolventacion.length > 0) {
                            for(let i = 0; i < this.opcionesGuardadasSolventacion.length; i++) {
                                this.opcionesSeleccionadasSolventacion.push(this.opcionesGuardadasSolventacion[i].Opcion);
                            }
                        }
                    }).catch(e => {
                        console.log(e);
                    });
                }
            },
            saveRecomendacion() {
                if(this.puntuacionLetra === '') {
                    alert("DEBE ESPECIFICAR UNA CALIFICACIÓN A LA RESPUESTA");
                } else {
                    if(this.puntuacionLetra === 'bajo' || this.puntuacionLetra === 'medio') {
                        if(this.valoracion === '' || _.isNull(this.valoracion)) {
                            alert("LA VALORACIÓN ES REQUERIDA");
                            return false;
                        }
                        if(this.recomendacion === '' || _.isNull(this.recomendacion)) {
                            alert("LA RECOMENDACIÓN ES REQUERIDA");
                            return false;
                        }
                        this.sendRecomendacion();
                    } else {
                        if(this.valoracion === '' || _.isNull(this.valoracion)) {
                            alert("LA VALORACIÓN ES REQUERIDA");
                            return false;
                        } else {
                            this.sendRecomendacion()
                        }
                    }
                }
            },
            sendRecomendacion() {
                this.loading = true;
                let data = {
                    pregunta: this.pregunta,
                    auditoriaId: this.formTopic.auditoriaId,
                    valoracion: this.valoracion,
                    puntuacion: this.puntuacion,
                    recomendacion: this.recomendacion,
                };

                axios.post('/api/save-valoracion', data).then(resp => {
                    this.loading = false;
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Pregunta evaluada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.$emit("reloadpreguntas");
                    this.$store.dispatch('getAnexosAuditor', {
                        pregunta: this.pregunta
                    });
                }).catch(e => {
                    console.log(e);
                    this.loading = false;
                });
            },
            goToAfter() {
                this.$store.commit('updatePregunta', this.preguntaAnterior);
                this.$store.dispatch('getAnexosAuditor', {
                    pregunta: this.preguntaAnterior
                });
                if(this.preguntaAnterior.TipoPreguntaID === 3) {
                    setTimeout(() => {
                        this.getOpcionesPregunta();
                    }, 500);
                }
                this.setPreguntaAntSig(this.preguntaAnterior);
                this.documentosSeleccionados = [];
                this.documentosSeleccionadosDes = [];
                var elmnt = document.getElementById("top-pregunta");
                elmnt.scrollIntoView();
            },
            goToBefore() {
                this.$store.commit('updatePregunta', this.preguntaSiguiente);
                this.$store.dispatch('getAnexosAuditor', {
                    pregunta: this.preguntaSiguiente
                });
                if(this.preguntaSiguiente.TipoPreguntaID === 3) {
                    setTimeout(() => {
                        this.getOpcionesPregunta();
                    }, 500);
                }
                this.setPreguntaAntSig(this.preguntaSiguiente);
                this.documentosSeleccionados = [];
                this.documentosSeleccionadosDes = [];
                var elmnt = document.getElementById("top-pregunta");
                elmnt.scrollIntoView();
            },
            setPreguntaAntSig(pregunta) {
                let noPregunta = pregunta.NoPregunta;
                let totalPreguntas = this.preguntas.length;
                this.preguntaAnterior = {};
                this.preguntaSiguiente = {};
                if(noPregunta === 1) {
                    this.$store.commit('updatePreguntaAnterior', {});
                    this.$store.commit('updatePreguntaSiguiente', this.preguntas[1]);
                } else if(noPregunta === totalPreguntas) {
                    this.$store.commit('updatePreguntaAnterior', this.preguntas[totalPreguntas - 2]);
                    this.$store.commit('updatePreguntaSiguiente', {});
                } else {
                    this.$store.commit('updatePreguntaAnterior', this.preguntas[noPregunta - 2]);
                    this.$store.commit('updatePreguntaSiguiente', this.preguntas[noPregunta]);
                }
            },
            setRespuestaRadio(radioRespuesta) {
                return (radioRespuesta === 1) ? 'Si' : 'No';
            },
            setValoracion(valor) {
                this.puntuacionLetra = valor;
                this.setPuntuacion();
            },
            setPuntuacion() {
                let total_preguntas = 51;
                let puntuacion_pregunta = 100 / total_preguntas;
                puntuacion_pregunta = puntuacion_pregunta.toFixed(2);
                if(this.puntuacionLetra === 'bajo') {
                    this.puntuacion = 0;
                } else if(this.puntuacionLetra === 'medio') {
                    this.puntuacion = puntuacion_pregunta / 2;
                    this.puntuacion = this.puntuacion.toFixed(2);
                } else {
                    this.puntuacion = puntuacion_pregunta
                }
            },
            setPuntuacionInicial() {
                let puntuacion = this.puntuacion;
                let total_preguntas = 51;
                let puntuacion_pregunta = 100 / total_preguntas;
                puntuacion_pregunta = puntuacion_pregunta.toFixed(2);
                let alto = puntuacion_pregunta;
                let medio = puntuacion_pregunta / 2;
                medio = medio.toFixed(2);
                if(puntuacion === parseFloat(alto)) {
                    this.puntuacionLetra = 'alto';
                } else if(puntuacion === parseFloat(medio)) {
                    this.puntuacionLetra = 'medio';
                } else if(puntuacion === 0) {
                    this.puntuacionLetra = 'bajo';
                } else {
                    this.puntuacionLetra = '';
                }
            },
            setCreateDate(date) {
                if(_.isNull(date)) {
                    return '';
                } else {
                    moment.locale('es');
                    return moment(date).format('D MMMM YYYY');
                }
            },
            isSolventada(pregunta) {
                let totalPreguntas = this.getAllPreguntas;
                let puntuacionMaxima = parseFloat(100 / totalPreguntas).toFixed(2);
                return (parseFloat(puntuacionMaxima) === pregunta.crpPuntuacion);
            },
            setRespConcional(condicional) {
                return (condicional === 1) ? 'Si' : 'No';
            },
            setPuntuacionResponsable(pregunta) {
                if(_.isNull(pregunta.recomResponPuntos)) {
                    return pregunta.recomAuditorPuntuacion;
                } else {
                    return pregunta.recomResponPuntos;
                }
            },
            setValoracionResponsable(pregunta) {
                if(_.isNull(pregunta.recomResponValoracion)) {
                    return (_.isNull(pregunta.recomAuditorValoracion)) ? '' : pregunta.recomAuditorValoracion;
                } else {
                    return (_.isNull(pregunta.recomResponValoracion)) ? '' : pregunta.recomResponValoracion;
                }
            },
            setRecomendacion(pregunta) {
                if(_.isNull(pregunta.recomResponRecomendacion)) {
                    return (_.isNull(pregunta.recomAuditorRecomendacion)) ? '' : pregunta.recomAuditorRecomendacion;
                } else {
                    return (_.isNull(pregunta.recomResponRecomendacion)) ? '' : pregunta.recomResponRecomendacion;
                }
            }
        },
        computed: {
            formTopic() {
                return this.$store.getters.dataFormTopic;
            },
            pregunta() {
                let data_pregunta = this.$store.getters.dataPregunta;
                // Guardar en data Condicional, Respuesta, FechaMecanismos, Puntuacion, Valoracion, Recomendacion (Para la primera vuelta)
                this.respuestaCrp          = data_pregunta.Condicional;
                this.radioRespuestaCrp     = data_pregunta.Condicional;
                this.subrespuestaCrp       = data_pregunta.Respuesta;
                this.fechaTerminoCrp       = data_pregunta.FechaMecanismos;
                this.puntuacionCrp         = data_pregunta.crpPuntuacion;
                this.valoracionCrp         = data_pregunta.crpValoracion;
                this.recomendacionCrp      = data_pregunta.crpRecomendacion;
                this.puntuacionTempCrp     = JSON.parse(JSON.stringify(data_pregunta.crpPuntuacion));
                this.recomendacionTempCrp  = JSON.parse(JSON.stringify(data_pregunta.crpRecomendacion));
                // Guardar en data Condicional, Respuesta, FechaMecanismos, Puntuacion, Valoracion, Recomendacion (Para la segunda vuelta)
                this.respuesta          = data_pregunta.solvCondicional;
                this.radioRespuesta     = data_pregunta.solvCondicional;
                this.subrespuesta       = data_pregunta.solvRespuesta;
                this.fechaTermino       = data_pregunta.solvFechaMecanismos;
                // Datos a mostrarse al responsable
                this.puntuacion         = this.setPuntuacionResponsable(data_pregunta);
                this.valoracion         = this.setValoracionResponsable(data_pregunta);
                this.recomendacion      = this.setRecomendacion(data_pregunta);
                this.puntuacionTemp     = JSON.parse(JSON.stringify(this.setPuntuacionResponsable(data_pregunta)));
                this.recomendacionTemp  = JSON.parse(JSON.stringify((_.isNull(data_pregunta.recomResponRecomendacion)) ? '' : data_pregunta.recomResponRecomendacion));
                return data_pregunta;
            },
            preguntaAnterior: {
                get () {
                    return this.$store.getters.dataPreguntaAnterior;
                },
                set() {}
            },
            preguntaSiguiente: {
                get () {
                    return this.$store.getters.dataPreguntaSiguiente;
                },
                set() {}
            },
            anexos() {
                return this.$store.getters.dataAnexosPregunta;
            },
            OtherOptionSelected() {
                return this.opcionesSeleccionadas.includes('Otro');
            },
            OtherOptionSelectedSolventacion() {
                return this.opcionesSeleccionadasSolventacion.includes('Otro');
            },
            preguntaAnteriorEmpty() {
                return (_.isEmpty(this.preguntaAnterior));
            },
            preguntaSiguienteEmpty() {
                return (_.isEmpty(this.preguntaSiguiente));
            },
            noContestada() {
                if(this.pregunta.Subpregunta !== null){
                    return (this.radioRespuesta === "");
                } else {
                    return true;
                }
            },
            getLoadingAnexos() {
                return this.$store.getters.loadingAnexosPregunta;
            },
            showRecomendacionEditor() {
                if(this.puntuacionTemp === 1.96 || this.puntuacionTemp === '1.96') {
                    if(this.puntuacionLetra === 'alto') {
                        this.recomendacion = '';
                        return false;
                    } else {
                        this.recomendacion = this.recomendacionTemp;
                        return true;
                    }
                } else {
                    if(this.puntuacionLetra === 'alto') {
                        this.recomendacion = '';
                        return false;
                    } else {
                        if(this.recomendacionTemp !== '') {
                            this.recomendacion = this.recomendacionTemp;
                        }
                        return true;
                    }
                }
            },
            getAllPreguntas() {
                let total = 0;
                for(let i = 0; i < this.temas.length; i++) {
                    total = this.temas[i].NoPregunta + total;
                }
                return total;
            },
            setAnexosPrevios() {
                let respuestaId = this.pregunta.RespuestaID;
                let anexos = this.anexos.filter(anexo => {
                    return anexo.RespuestaID === respuestaId;
                });
                return anexos;
            },
            setAnexosSolventacion() {
                let respuestaId = this.pregunta.solvRespuestaID;
                let anexos = this.anexos.filter(anexo => {
                    return anexo.RespuestaID === respuestaId;
                });
                return anexos;
            },
        },
        watch: {
            preguntas(val) {
                let noPregunta = this.pregunta.NoPregunta;
                let i = 0;
                let encontrado = false;
                while (i < val.length && encontrado === false) {
                    if(val[i].NoPregunta === noPregunta) {
                        encontrado = true;
                    } else {
                        i = i + 1;
                    }
                }
                this.$store.commit('updatePregunta', val[i]);
            },
            pregunta(val) {
                this.setPuntuacionInicial();
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-alert-primary {
        color: $color-white !important;
        background-color: $color-primary !important;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
    .uk-button-calificacion {
        border: 1px $color-grey-disabled solid;
        height: 60px;
        &:hover {
            color: $color-primary;
            border: 1px $color-primary solid;
            cursor: pointer;
        }
    }
    .uk-button-selected {
        background-color: $color-primary !important;
        color: $color-white !important;
    }
</style>
