<template>
    <button type="button"
            class="uk-button uk-button-default uk-border-rounded uk-button-large uk-width-1-1"
            :disabled="preguntaSiguienteEmpty"
            @click="goToBefore">
        Ir a pregunta siguiente <i class="fas fa-angle-right"></i>
    </button>
</template>

<script>
export default {
    name: "ButtonGotoAfter",
    props: ['preguntaSiguienteEmpty'],
    methods:{
        goToBefore() {
            this.$emit('goToBefore');
        }
    }
}
</script>

<style scoped>

</style>
