<template>
    <button type="button"
            class="uk-button uk-button-default uk-border-rounded uk-button-large uk-width-1-1"
            :disabled="preguntaAnteriorEmpty"
            @click="goToAfter">
        <i class="fas fa-angle-left"></i> Ir a pregunta anterior
    </button>
</template>

<script>
export default {
    name: "ButtonGotoBefore",
    props: ['preguntaAnteriorEmpty'],
    methods: {
        goToAfter() {
            this.$emit('goToAfter');
        }
    }
}
</script>

<style scoped>

</style>
