<template>
    <button type="button"
            class="uk-button uk-button-primary uk-border-rounded uk-button-large uk-width-1-1"
            @click="saveRespuesta"
            :disabled="loading">
        Guardar respuestas <i class="fas fa-check"></i>
    </button>
</template>

<script>
export default {
    name: "ButtonSaveRespuesta",
    props: ['loading'],
    methods: {
        saveRespuesta() {
            this.$emit('saveRespuesta');
        }
    }
}
</script>

<style scoped>

</style>
