<template>
    <div class="uk-grid uk-margin-remove-left">
        <div class="uk-width-1-1 uk-margin-small-top uk-margin-small-bottom uk-alert uk-border-rounded">
            <p class="uk-text-uppercase uk-text-bold">
                Documentación anexa
            </p>
            <table class="uk-table uk-table-small uk-text-small uk-table-middle uk-table-striped uk-table-divider uk-table-hover uk-table-justify">
                <thead>
                    <tr>
                        <th class="uk-width-1-4 uk-text-left">Nombre de documento</th>
                        <th class="uk-width-1-2">Descripción</th>
                        <th class="uk-width-1-4"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(anexo, index) in anexos">
                        <td class="uk-text-left uk-text-uppercase">
                            <i :class="setFileIcon(anexo.NombreArchivo)"></i> {{ anexo.NombreArchivo }}
                        </td>
                        <td>
                            <input type="text"
                                   class="uk-input uk-border-rounded uk-form-small"
                                   :id="'input_description_'+anexo.AnexoID"
                                   :value="anexo.Descripcion"
                                   disabled
                            />
                        </td>
                        <td class="uk-text-right">
                            <div :id="'template_options_'+anexo.AnexoID">
                                <button class="uk-button-delete uk-border-rounded" @click="habilitarDescripcion(anexo.AnexoID, anexo.Descripcion)">
                                    Editar descripción <i class="fas fa-pencil-alt"></i>
                                </button>
                                <a class="uk-link-reset uk-button-delete uk-border-rounded" @click="removeAnexo(anexo)">
                                    Borrar <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                            <div :id="'template_options2_'+anexo.AnexoID" style="display: none;">
                                <button class="uk-button-delete uk-border-rounded" @click="guardarDescripcion(anexo.AnexoID)">
                                    Guardar <i class="fas fa-save"></i>
                                </button>
                                <button class="uk-button-delete uk-border-rounded" @click="deshabilitarDescripcion(anexo.AnexoID)">
                                    Cancelar <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
	export default {
        name: "DocumentacionAnexada",
        props: ['anexos', 'pregunta'],
        data() {
            return {
                tempDescripcion: ''
            }
        },
        methods: {
            setFileIcon(nameFile) {
                if(nameFile.includes('.pdf')) {
                    return 'fas fa-file-pdf uk-text-danger';
                } else if(nameFile.includes('.docx')) {
                    return 'fas fa-file-word uk-text-primary';
                } else if(nameFile.includes('.xlsx')) {
                    return 'fas fa-file-excel uk-text-success';
                } else if(nameFile.includes('.zip') || nameFile.includes('.rar')) {
                    return 'fas fa-file-archive';
                } else if(nameFile.includes('.jpg') || nameFile.includes('.png')) {
                    return 'fas fa-image uk-text-warning';
                } else if(nameFile.includes('.pptx') || nameFile.includes('.ppt')) {
                    return 'fas fa-file-powerpoint uk-text-danger';
                } else {
                    return 'fas fa-file';
                }
            },
            removeAnexo(anexo) {
                UIkit.modal.confirm('¡ATENCIÓN! ¿DESEA BORRAR EL ANEXO DE FORMA PERMANETE? YA NO PODRÁ RECUPERARLO').then(() => {
                    let data = {
                        api_token: localStorage.getItem('api_token'),
                        anexo_id: anexo.AnexoID
                    };
                    axios.post('/api/delete-anexo', data).then(resp => {
                        this.$store.dispatch('getAnexos', {
                            pregunta: this.pregunta
                        });
                    }).catch(e => {
                        console.log(e);
                    });
                },  () => console.log('Cerrar sesión cancelado'));
                setTimeout(() => {
                    $('.uk-modal-close').addClass('uk-border-rounded').text('CANCELAR');
                    $('.uk-modal-footer > .uk-button-primary').addClass('uk-border-rounded').addClass('uk-button-danger').text('ACEPTAR');
                }, 200);
            },
            habilitarDescripcion(anexoID, descripcion) {
                let input_desc = $('#input_description_'+anexoID);
                input_desc.prop("disabled", false);
                $('#template_options_'+anexoID).hide();
                $('#template_options2_'+anexoID).show();
                this.tempDescripcion = descripcion;
            },
            deshabilitarDescripcion(anexoID) {
                let input_desc = $('#input_description_'+anexoID);
                input_desc.prop("disabled", true);
                $('#template_options_'+anexoID).show();
                $('#template_options2_'+anexoID).hide();
                input_desc.val(this.tempDescripcion);
                this.tempDescripcion = '';
            },
            guardarDescripcion(anexoID) {
                let descripcion = $('#input_description_'+anexoID).val();
                let data = {
                    api_token: localStorage.getItem('api_token'),
                    anexoID: anexoID,
                    descripcion: descripcion
                };
                axios.post('/api/update-description-anexo', data)
                     .then((resp) => {
                         let input_desc = $('#input_description_'+anexoID);
                         input_desc.prop("disabled", true);
                         $('#template_options_'+anexoID).show();
                         $('#template_options2_'+anexoID).hide();
                     })
                     .catch(e => {
                         console.log(e);
                     });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-button-delete {
        border: 1px $color-primary solid;
        color: $color-primary !important;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 7px;
        padding-right: 7px;
        &:hover {
            cursor: pointer;
            background-color: $color-primary;
            color: $color-white !important;
        }
    }
</style>
