<template>
    <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-padding-small">
        <div class="uk-alert-danger uk-border-rounded uk-text-center" uk-alert>
            Esta documentación fue precargada. Para guardarla da clic en el botón guardar respuestas.
        </div>
        <table class="uk-table uk-table-small uk-table-divider uk-text-small uk-table-middle">
            <thead>
            <tr>
                <th class="uk-width-1-3">Nombre</th>
                <th>Descripción</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(document, index) in documentosSeleccionadosDes" :key="index">
                <td>
                    <i :class="setFileIcon(document.name)"></i> {{ document.name }} ({{ document.size }}MB)
                </td>
                <td>
                    <input type="text"
                           class="uk-input uk-border-rounded uk-form-small"
                           placeholder="Escribe una descripción del documento"
                           :id="'documento_precargado_'+index"/>
                </td>
                <td class="uk-text-center">
                    <i class="fas fa-trash-alt" title="Borrar documentación" @click="emitDropDocument(index)"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: "DocumentacionPrecargada",
    props: ['documentosSeleccionadosDes'],
    methods: {
        setFileIcon(nameFile) {
            if(nameFile.includes('.pdf')) {
                return 'fas fa-file-pdf uk-text-danger';
            } else if(nameFile.includes('.docx')) {
                return 'fas fa-file-word uk-text-primary';
            } else if(nameFile.includes('.xlsx')) {
                return 'fas fa-file-excel uk-text-success';
            } else if(nameFile.includes('.zip') || nameFile.includes('.rar')) {
                return 'fas fa-file-archive';
            } else if(nameFile.includes('.jpg') || nameFile.includes('.png')) {
                return 'fas fa-image uk-text-warning';
            } else {
                return 'fas fa-file';
            }
        },
        emitDropDocument(i) {
            this.$emit('emitDropDocument', i);
        },
    }
}
</script>

<style scoped>

</style>
