<template>
    <div id="modal-expedientes-control-interno" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title uk-text-uppercase">Expedientes</h2>
            <!-- SECCION DE PERIODO DE CÉDULA DE RESULTADOS PRELIMINARES -->
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                <span class="uk-text-bold">
                    <i class="far fa-file-alt"></i> PERIODO DE CÉDULA DE RESULTADOS PRELIMINARES
                </span>
            </div>
            <div v-if="hasExpedientesCrp === false" class="uk-height-small uk-text-uppercase uk-text-center uk-flex uk-flex-middle uk-flex-center">
                No disponible en estos momentos
            </div>
            <div v-else>
                <div class="uk-grid" style="margin-left: 0px">
                    <div class="uk-card uk-card-default uk-width-1-2 uk-border-rounded uk-text-center" name="Respuestas del cuestionario">
                        <h4 class="uk-card-title">Respuestas del cuestionario</h4>
                        <i class="far fa-file-pdf fa-4x uk-margin-bottom" style="color: #EB1000;"></i>
                        <br>
                        <a class="uk-button uk-button-default uk-margin-bottom" href="#" @click="descargarRespuestasCRP()"><i class="far fa-eye"></i>  Ver</a>
                    </div>
                    <div class="uk-card uk-card-default uk-width-1-2 uk-border-rounded uk-text-center" name="Acuse ">
                        <h4 class="uk-card-title">Acuse</h4>
                        <i class="far fa-file-pdf fa-4x uk-margin-bottom" style="color: #EB1000;"></i>
                        <br>
                        <a class="uk-button uk-button-default uk-margin-bottom" href="#" @click="descargarAcuseCRP()"><i class="far fa-eye"></i>  Ver</a>
                    </div>
                </div>
            </div>
            <!-- SECCION DE PERIODO DE SOLVENTACIÓN DE RESULTADOS -->
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                <span class="uk-text-bold">
                    <i class="far fa-file-alt"></i> PERIODO DE SOLVENTACIÓN DE RECOMENDACIONES
                </span>
            </div>
            <div v-if="hasExpedientesSolventacion === false" class="uk-height-small uk-text-uppercase uk-text-center uk-flex uk-flex-middle uk-flex-center">
                No disponible en estos momentos
            </div>
            <div v-else>
                <div class="uk-grid" style="margin-left: 0px">
                    <div class="uk-card uk-card-default uk-width-1-2 uk-border-rounded uk-text-center" name="Respuestas del cuestionario">
                        <h4 class="uk-card-title">Respuestas de solventación</h4>
                        <i class="far fa-file-pdf fa-4x uk-margin-bottom" style="color: #EB1000;"></i>
                        <br>
                        <a class="uk-button uk-button-default uk-margin-bottom" href="#" @click="descargarRespuestasSolv()"><i class="far fa-eye"></i>  Ver</a>
                    </div>
                    <div class="uk-card uk-card-default uk-width-1-2 uk-border-rounded uk-text-center" name="Acuse ">
                        <h4 class="uk-card-title">Acuse</h4>
                        <i class="far fa-file-pdf fa-4x uk-margin-bottom" style="color: #EB1000;"></i>
                        <br>
                        <a class="uk-button uk-button-default uk-margin-bottom" href="#" @click="descargarAcuseSolv()"><i class="far fa-eye"></i>  Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FileModal from "@/js/components/FileModal";
    export default {
        name: "ModalExpendientes",
        components: {
            FileModal
        },
        data() {
            return {
                auditoria: []
            }
        },
        created() {
            //
        },
        methods: {
            descargarRespuestasCRP() {
                let url = window.location;
                let ruta = url.protocol+ "//" +url.host+'/control_interno/'+this.datosAuditoria.Anio+'/'+this.datosAuditoria.AuditoriaID+'/acuses/respuestas_auditoria_control_interno.pdf';
                window.open(ruta, '_blank');
            },
            descargarAcuseCRP() {
                let url = window.location;
                let ruta = url.protocol+ "//" +url.host+'/control_interno/'+this.datosAuditoria.Anio+'/'+this.datosAuditoria.AuditoriaID+'/acuses/acuse_auditoria_control_interno.pdf';
                window.open(ruta, '_blank');
            },
            descargarRespuestasSolv() {
                let url = window.location;
                let ruta = url.protocol+ "//" +url.host+'/control_interno/'+this.datosAuditoria.Anio+'/'+this.datosAuditoria.AuditoriaID+'/acuses/solventacion_respuestas_auditoria_control_interno.pdf';
                window.open(ruta, '_blank');
            },
            descargarAcuseSolv() {
                let url = window.location;
                let ruta = url.protocol+ "//" +url.host+'/control_interno/'+this.datosAuditoria.Anio+'/'+this.datosAuditoria.AuditoriaID+'/acuses/acuse_solventacion_auditoria_control_interno.pdf';
                window.open(ruta, '_blank');
            },
        },
        computed: {
            hasExpedientesCrp() {
                // return false;
                return this.$store.getters.getHasExpedientesCrp;
            },
            hasExpedientesSolventacion() {
                // return false;
                return this.$store.getters.getHasExpedientesSolventacion;
            },
            datosAuditoria(){
                return this.$store.getters.getDatosAuditoria;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
</style>
