<template>
    <div id="modal-avance-control-interno" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <p class="uk-margin-remove-top">
                <span v-if="auditoriaNombre === ''" uk-spinner="ratio: 0.7"></span>
                <span v-else>
                    <h1 class="uk-text-lead"> {{ auditoriaNombre }} </h1>
                </span>
            </p>
            <monitoreo-aiuditoria v-if="datosAuditoria!=null" :auditoria="datosAuditoria"></monitoreo-aiuditoria>
            <div  class="uk-grid">
                <div class="uk-width-1-1@m uk-margin">
                    <table class="uk-table uk-table-striped">
                        <thead>
                            <tr>
                                <th>Etapa</th>
                                <th>Estatus cuestionario</th>
                            </tr>
                        </thead>
                        <tbody v-if="resultados!=null">
                            <tr>
                                <td>Enlace contestando</td>
                                <td>Preguntas contestadas {{resultados.RespuestasCRP}} de 51</td>
                            </tr>
                            <tr>
                                <td>Revision responsable</td>
                                <td>Preguntas revisadas {{resultados.RecomendacionesCRP}} de 51</td>
                            </tr>
                            <tr>
                                <td>Enlace Solventando</td>
                                <td>Respuestas de preguntas por solventar {{resultados.RespuestaSolv}} de {{resultados.RespuestasPorSolventar}}</td>
                            </tr>
                            <tr>
                                <td>Revision responsable</td>
                                <td>Solventaciones revisadas {{resultados.RecomendacioneSolv}} de {{resultados.RespuestasPorSolventar}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import MonitoreoAiuditoria from "@/js/components/auditoria_control_interno/MonitoreoAiuditoria";
    import FileModal from "@/js/components/FileModal";
    export default {
        name: "ModalAvance",
        components: {
            FileModal,
            MonitoreoAiuditoria
        },
        data() {
            return {
                auditoria: [],
                resultados: null,
                auditoriaNombre: ''
            }
        },
        watch:{
            datosAuditoria: function(){
                this.getResultados();
            }
        },
        methods: {
            getResultados(){
                let data = {
                    auditoriaID: this.datosAuditoria.AuditoriaID,
                    ejercicio: this.datosAuditoria.Anio
                };
                this.auditoriaNombre = '';
                axios.post('/api/get-resultados-auditoria',data).then(resp => {
                    this.resultados = resp.data.respuestas_recomendaciones[0];
                    this.auditoriaNombre = this.resultados.Nombre;
                }).catch(e =>{
                    console.log(e);
                });
            }
        },
        computed: {
            hasExpedientesCrp() {
                // return false;
                return this.$store.getters.getHasExpedientesCrp;
            },
            hasExpedientesSolventacion() {
                // return false;
                return this.$store.getters.getHasExpedientesSolventacion;
            },
            datosAuditoria(){
                let auditoria = this.$store.getters.getDatosAuditoria;
                return auditoria;
            },
            getEjercicioFiscal(){
                return this.$route.params.ejercicio;
            },
            resultadosIsNull() {
                return _.isNull(this.resultados);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
</style>
