<template>
    <div class="uk-grid">
        <div class="uk-width-1-1 uk-margin-medium-bottomd">
            <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold">
                {{ formTopic.temaId }}.{{ pregunta.NoPregunta }} {{ pregunta.Pregunta }}
            </div>
            <template v-if="etapa_actual === 'Solventación de CRP'">
                <div v-if="isSolventada(pregunta)">
                    <div class="uk-alert uk-alert-success uk-border-rounded uk-text-center uk-text-uppercase">
                        <p class="uk-text-large"><i class="far fa-check-circle"></i></p>
                        Pregunta solventada
                    </div>
                    <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                        <div class="uk-width-1-3">
                            <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                        </div>
                        <div class="uk-width-1-3"></div>
                        <div class="uk-width-1-3">
                            <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold uk-text-uppercase uk-alert-primary">
                        <i class="fas fa-clipboard-list"></i> Respuesta previa
                    </div>
                    <!-- ---------------------------------------- -->
                    <!--        TIPO DE PREGUNTA 1 ABIERTA        -->
                    <!-- ---------------------------------------- -->
                    <template v-if="pregunta.TipoPreguntaID === 1">
                        <template v-if="pregunta.Subpregunta === null">
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Respuesta Previa</label>
                                <card-respuesta :respuesta="pregunta.Respuesta" :small="false"></card-respuesta>
                            </div>
                        </template>
                        <template v-else>
                            <template v-if="pregunta.Condicional === 1">
                                <div class="uk-margin">
                                    <label class="uk-form-label uk-text-uppercase">Respuesta Previa</label>
                                    <card-respuesta :respuesta="setRespConcional(pregunta.Condicional)" :small="true"></card-respuesta>
                                </div>
                                <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold">
                                    {{ pregunta.Subpregunta }}
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label uk-text-uppercase">Detalle de respuesta Previa</label>
                                    <card-respuesta :respuesta="pregunta.Respuesta" :small="false"></card-respuesta>
                                </div>
                            </template>
                            <template v-else>
                                <div class="uk-margin">
                                    <label class="uk-form-label uk-text-uppercase">Respuesta Previa</label>
                                    <card-respuesta :respuesta="setRespConcional(pregunta.Condicional)" :small="true"></card-respuesta>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label uk-text-uppercase">Mecanismo de atención</label>
                                    <card-respuesta :respuesta="pregunta.Respuesta" :small="false"></card-respuesta>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label uk-text-uppercase">Fecha de Mecanismo de atención</label>
                                    <card-respuesta :respuesta="pregunta.FechaMecanismos" :small="true"></card-respuesta>
                                </div>
                            </template>
                        </template>
                    </template>
                    <!-- ---------------------------------------- -->
                    <!--        TIPO DE PREGUNTA 2 CERRADA        -->
                    <!-- ---------------------------------------- -->
                    <template v-else-if="pregunta.TipoPreguntaID === 2">
                        <template v-if="pregunta.Condicional === 1">
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Respuesta Previa</label>
                                <card-respuesta :respuesta="setRespConcional(pregunta.Condicional)" :small="true"></card-respuesta>
                            </div>
                            <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold">
                                {{ pregunta.Subpregunta }}
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Detalle de respuesta previa</label>
                                <card-respuesta :respuesta="pregunta.Respuesta" :small="false"></card-respuesta>
                            </div>
                        </template>
                        <template v-else>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Respuesta Previa</label>
                                <card-respuesta :respuesta="setRespConcional(pregunta.Condicional)" :small="true"></card-respuesta>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Mecanismo de atención</label>
                                <card-respuesta :respuesta="pregunta.Respuesta" :small="false"></card-respuesta>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Fecha de Mecanismo de atención</label>
                                <card-respuesta :respuesta="pregunta.FechaMecanismos" :small="true"></card-respuesta>
                            </div>
                        </template>
                    </template>
                    <!-- ---------------------------------------- -->
                    <!--   TIPO DE PREGUNTA 3 OPCION MULTIPLE     -->
                    <!-- ---------------------------------------- -->
                    <template v-else>
                        <template v-if="pregunta.Condicional === 1">
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Respuesta Previa</label>
                                <card-respuesta :respuesta="setRespConcional(pregunta.Condicional)" :small="true"></card-respuesta>
                            </div>
                            <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold">
                                ¿Cuales?
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Respuesta Previa</label>
                                <div class="uk-height-small uk-padding-small uk-border-rounded uk-box-shadow-small" style="height: 100px !important;overflow: scroll; overflow-x: hidden; background-color: #EEEEEE;">
                                    <ul class="uk-margin-small-bottom">
                                        <li v-for="(opcion, index) in opcionesGuardadasPrev" :key="index">
                                            {{ opcion.Opcion }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Otras opciones</label>
                                <card-respuesta :respuesta="pregunta.Respuesta" :small="false"></card-respuesta>
                            </div>
                        </template>
                        <template v-else>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Respuesta Previa</label>
                                <card-respuesta :respuesta="setRespConcional(pregunta.Condicional)" :small="true"></card-respuesta>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Mecanismo de atención</label>
                                <card-respuesta :respuesta="pregunta.Respuesta" :small="false"></card-respuesta>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Fecha de Mecanismo de atención</label>
                                <card-respuesta :respuesta="pregunta.FechaMecanismos" :small="true"></card-respuesta>
                            </div>
                        </template>
                    </template>
                    <div class="uk-margin" v-if="setAnexosPrevios.length > 0">
                        <documentacion-anexada-solo-lectura :anexos="setAnexosPrevios"
                                                            :pregunta="pregunta"
                                                            :etapa_actual="etapa_actual"/>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-uppercase">Recomendación Preliminar</label>
                        <card-respuesta :respuesta="pregunta.RecomCRP" :small="false"></card-respuesta>
                    </div>
                    <!--Respuesta solventación-->
                    <div class="uk-alert uk-border-rounded uk-text-justify uk-text-bold uk-text-uppercase uk-alert-primary">
                        <i class="fas fa-clipboard-list"></i> Respuesta
                    </div>
                    <!-- ---------------------------------------- -->
                    <!--        TIPO DE PREGUNTA 1 ABIERTA        -->
                    <!-- ---------------------------------------- -->
                    <template v-if="pregunta.TipoPreguntaID === 1">
                        <template v-if="pregunta.Subpregunta === null">
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Respuesta</label>
                                <vue-ckeditor type="classic"
                                              v-model.trim="subrespuestaSolventacion"
                                              :editors="editors"
                                              :config="editors.config">
                                </vue-ckeditor>
                            </div>
                            <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                                <span uk-spinner="ratio: 2"></span><br>
                                Cargando anexos...
                            </div>
                            <template v-else>
                                <documentacion-anexada :anexos="setAnexosSolventacion" v-if="setAnexosSolventacion.length > 0" :pregunta="pregunta"></documentacion-anexada>
                            </template>
                            <div class="uk-margin" v-if="documentosSeleccionadosDes.length > 0">
                                <documentacion-precargada :documentosSeleccionadosDes="documentosSeleccionadosDes" @emitDropDocument="emitDropDocument"></documentacion-precargada>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-text-right">
                                    <button class="uk-button uk-button-default uk-border-rounded uk-width-1-1" @click="trigerFileElement">
                                        Agregar documentación (tamaño maximo por archivo 10MB) <i class="far fa-folder"></i>
                                    </button>
                                    <br>
                                </div>
                                <input class="fileElement" type="file" style="display:none" @change="previewFiles" multiple/>
                            </div>
                            <template v-if="noContestada">
                                <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                                    <div class="uk-width-1-3">
                                        <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                                    </div>
                                    <div class="uk-width-1-3">
                                        <button-save-respuesta :loading="loading" @saveRespuesta="saveRespuesta"></button-save-respuesta>
                                    </div>
                                    <div class="uk-width-1-3">
                                        <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                                    </div>
                                </div>
                            </template>
                            <template v-else>
                                <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                                    <div class="uk-width-1-3">
                                        <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                                    </div>
                                    <div class="uk-width-1-3">
                                        <button-save-respuesta :loading="loading" @saveRespuesta="saveRespuesta"></button-save-respuesta>
                                    </div>
                                    <div class="uk-width-1-3">
                                        <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                                    </div>
                                </div>
                            </template>
                        </template>
                        <template v-else>
                            <div class="uk-margin">
                                <div class="uk-form-label uk-text-uppercase">Respuesta</div>
                                <div class="uk-form-controls">
                                    <label>
                                        <input class="uk-radio" type="radio" name="radio1" v-model="radioRespuestaSolventacion" :value="1"> SI
                                    </label><br>
                                    <label>
                                        <input class="uk-radio" type="radio" name="radio1" v-model="radioRespuestaSolventacion" :value="0"> NO
                                    </label>
                                </div>
                            </div>
                            <div v-if="radioRespuestaSolventacion === 0">
                                <div class="uk-margin uk-margin-small-bottom">
                                    <label class="uk-form-label uk-text-uppercase">Mecanismo de atención</label>
                                    <vue-ckeditor type="classic"
                                                  v-model.trim="subrespuestaSolventacion"
                                                  :editors="editors"
                                                  :config="editors.config">
                                    </vue-ckeditor>
                                </div>
                                <div class="uk-margin-small-top">
                                    <label class="uk-form-label uk-text-uppercase">Fecha de término</label>
                                    <div class="uk-form-controls">
                                        <flat-pickr v-model.trim="fechaTerminoSolventacion" :config="config" class="uk-input uk-border-rounded"/>
                                    </div>
                                </div>
                            </div>
                            <div v-else-if="radioRespuestaSolventacion === 1">
                                <div class="uk-alert uk-text-justify uk-text-bold">
                                    {{ pregunta.Subpregunta }}
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label uk-text-uppercase">Respuesta</label>
                                    <vue-ckeditor type="classic"
                                                  v-model.trim="subrespuestaSolventacion"
                                                  :editors="editors"
                                                  :config="editors.config">
                                    </vue-ckeditor>
                                </div>
                                <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                                    <span uk-spinner="ratio: 2"></span><br>
                                    Cargando anexos...
                                </div>
                                <template v-else>
                                    <documentacion-anexada :anexos="setAnexosSolventacion" v-if="setAnexosSolventacion.length > 0" :pregunta="pregunta"></documentacion-anexada>
                                </template>
                                <div class="uk-margin" v-if="documentosSeleccionadosDes.length > 0">
                                    <documentacion-precargada :documentosSeleccionadosDes="documentosSeleccionadosDes" @emitDropDocument="emitDropDocument"></documentacion-precargada>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-text-right">
                                        <button class="uk-button uk-button-default uk-border-rounded uk-width-1-1" @click="trigerFileElement">
                                            Agregar documentación (tamaño maximo por archivo 10MB) <i class="far fa-folder"></i>
                                        </button>
                                        <br>
                                    </div>
                                    <input class="fileElement" type="file" style="display:none" @change="previewFiles" multiple/>
                                </div>
                            </div>
                            <div v-else></div>
                            <template v-if="noContestada">
                                <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                                    <div class="uk-width-1-3">
                                        <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                                    </div>
                                    <div class="uk-width-1-3"></div>
                                    <div class="uk-width-1-3">
                                        <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                                    </div>
                                </div>
                            </template>
                            <template v-else>
                                <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                                    <div class="uk-width-1-3">
                                        <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                                    </div>
                                    <div class="uk-width-1-3">
                                        <button-save-respuesta :loading="loading" @saveRespuesta="saveRespuesta"></button-save-respuesta>
                                    </div>
                                    <div class="uk-width-1-3">
                                        <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                                    </div>
                                </div>
                            </template>
                        </template>
                    </template>
                    <!-- ---------------------------------------- -->
                    <!--        TIPO DE PREGUNTA 2 CERRADA        -->
                    <!-- ---------------------------------------- -->
                    <template v-else-if="pregunta.TipoPreguntaID === 2">
                        <div class="uk-margin">
                            <div class="uk-form-label uk-text-uppercase">Respuesta</div>
                            <div class="uk-form-controls">
                                <label>
                                    <input class="uk-radio" type="radio" name="radio1" v-model="radioRespuestaSolventacion" :value="1"> SI
                                </label><br>
                                <label>
                                    <input class="uk-radio" type="radio" name="radio1" v-model="radioRespuestaSolventacion" :value="0"> NO
                                </label>
                            </div>
                        </div>
                        <div v-if="radioRespuestaSolventacion === 0">
                            <div class="uk-margin uk-margin-small-bottom">
                                <label class="uk-form-label uk-text-uppercase">Mecanismo de atención</label>
                                <vue-ckeditor type="classic"
                                              v-model.trim="subrespuestaSolventacion"
                                              :editors="editors"
                                              :config="editors.config">
                                </vue-ckeditor>
                            </div>
                            <div class="uk-margin-small-top">
                                <label class="uk-form-label uk-text-uppercase">Fecha de término</label>
                                <div class="uk-form-controls">
                                    <flat-pickr v-model.trim="fechaTerminoSolventacion" :config="config" class="uk-input uk-border-rounded"/>
                                </div>
                            </div>
                        </div>
                        <div v-else-if="radioRespuestaSolventacion === 1">
                            <div class="uk-alert uk-text-justify uk-text-bold">
                                {{ pregunta.Subpregunta }}
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Respuesta</label>
                                <vue-ckeditor type="classic"
                                              v-model.trim="subrespuestaSolventacion"
                                              :editors="editors"
                                              :config="editors.config">
                                </vue-ckeditor>
                            </div>
                            <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                                <span uk-spinner="ratio: 2"></span><br>
                                Cargando anexos...
                            </div>
                            <template v-else>
                                <documentacion-anexada :anexos="setAnexosSolventacion" v-if="setAnexosSolventacion.length > 0" :pregunta="pregunta"></documentacion-anexada>
                            </template>
                            <div class="uk-margin" v-if="documentosSeleccionadosDes.length > 0">
                                <documentacion-precargada :documentosSeleccionadosDes="documentosSeleccionadosDes" @emitDropDocument="emitDropDocument"></documentacion-precargada>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-text-right">
                                    <button class="uk-button uk-button-default uk-border-rounded uk-width-1-1" @click="trigerFileElement">
                                        Agregar documentación (tamaño maximo por archivo 10MB) <i class="far fa-folder"></i>
                                    </button>
                                    <br>
                                </div>
                                <input class="fileElement" type="file" style="display:none" @change="previewFiles" multiple/>
                            </div>
                        </div>
                        <div v-else></div>
                        <template v-if="noContestada">
                            <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                                <div class="uk-width-1-3">
                                    <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                                </div>
                                <div class="uk-width-1-3"></div>
                                <div class="uk-width-1-3">
                                    <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                                <div class="uk-width-1-3">
                                    <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                                </div>
                                <div class="uk-width-1-3">
                                    <button-save-respuesta :loading="loading" @saveRespuesta="saveRespuesta"></button-save-respuesta>
                                </div>
                                <div class="uk-width-1-3">
                                    <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                                </div>
                            </div>
                        </template>
                    </template>
                    <!-- ---------------------------------------- -->
                    <!--   TIPO DE PREGUNTA 3 OPCION MULTIPLE     -->
                    <!-- ---------------------------------------- -->
                    <template v-else>
                        <div class="uk-margin">
                            <div class="uk-form-label uk-text-uppercase">Respuesta</div>
                            <div class="uk-form-controls">
                                <label>
                                    <input class="uk-radio" type="radio" name="radio1" v-model="radioRespuestaSolventacion" :value="1"> SI
                                </label><br>
                                <label>
                                    <input class="uk-radio" type="radio" name="radio1" v-model="radioRespuestaSolventacion" :value="0"> NO
                                </label>
                            </div>
                        </div>
                        <div v-if="radioRespuestaSolventacion === 0">
                            <div class="uk-margin uk-margin-small-bottom">
                                <label class="uk-form-label uk-text-uppercase">Mecanismo de atención</label>
                                <vue-ckeditor type="classic"
                                              v-model.trim="subrespuestaSolventacion"
                                              :editors="editors"
                                              :config="editors.config">
                                </vue-ckeditor>
                            </div>
                            <div class="uk-margin-small-top">
                                <label class="uk-form-label uk-text-uppercase">Fecha de término</label>
                                <div class="uk-form-controls">
                                    <flat-pickr v-model.trim="fechaTerminoSolventacion" :config="config" class="uk-input uk-border-rounded"/>
                                </div>
                            </div>
                        </div>
                        <div v-else-if="radioRespuestaSolventacion === 1">
                            <div class="uk-alert uk-text-bold">
                                Selecciona cuales
                            </div>
                            <div class="uk-margin">
                                <div class="uk-form-controls">
                                    <ul class="uk-list">
                                        <li v-for="(opcion, index) in opcionesPregunta" :key="index">
                                            <label class="uk-text-uppercase">
                                                <input class="uk-checkbox"
                                                       type="checkbox"
                                                       v-model="opcionesSeleccionadas"
                                                       :value="opcion.Opcion">
                                                {{opcion.Opcion}}
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-margin" v-if="OtherOptionSelected">
                                <label class="uk-form-label uk-text-uppercase">Escribe las otras opciones</label>
                                <vue-ckeditor type="classic"
                                              v-model.trim="subrespuestaSolventacion"
                                              :editors="editors"
                                              :config="editors.config">
                                </vue-ckeditor>
                            </div>
                            <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                                <span uk-spinner="ratio: 2"></span><br>
                                Cargando anexos...
                            </div>
                            <template v-else>
                                <documentacion-anexada :anexos="setAnexosSolventacion" v-if="setAnexosSolventacion.length > 0" :pregunta="pregunta"></documentacion-anexada>
                            </template>
                            <div class="uk-margin" v-if="documentosSeleccionadosDes.length > 0">
                                <documentacion-precargada :documentosSeleccionadosDes="documentosSeleccionadosDes" @emitDropDocument="emitDropDocument"></documentacion-precargada>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-text-right">
                                    <button class="uk-button uk-button-default uk-border-rounded uk-width-1-1" @click="trigerFileElement">
                                        Agregar documentación (tamaño maximo por archivo 10MB) <i class="far fa-folder"></i>
                                    </button>
                                    <br>
                                </div>
                                <input class="fileElement" type="file" style="display:none" @change="previewFiles" multiple/>
                            </div>
                        </div>
                        <div v-else></div>
                        <template v-if="noContestada">
                            <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                                <div class="uk-width-1-3">
                                    <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                                </div>
                                <div class="uk-width-1-3"></div>
                                <div class="uk-width-1-3">
                                    <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                                <div class="uk-width-1-3">
                                    <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                                </div>
                                <div class="uk-width-1-3">
                                    <button-save-respuesta :loading="loading" @saveRespuesta="saveRespuesta"></button-save-respuesta>
                                </div>
                                <div class="uk-width-1-3">
                                    <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                                </div>
                            </div>
                        </template>
                    </template>
                </div>
            </template>
            <template v-else>
                <!-- ---------------------------------------- -->
                <!--        TIPO DE PREGUNTA 1 ABIERTA        -->
                <!-- ---------------------------------------- -->
                <template v-if="pregunta.TipoPreguntaID === 1">
                    <template v-if="pregunta.Subpregunta === null">
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase">Respuesta</label>
                            <vue-ckeditor type="classic"
                                          v-model.trim="subrespuesta"
                                          :editors="editors"
                                          :config="editors.config">
                            </vue-ckeditor>
                        </div>
                        <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                            <span uk-spinner="ratio: 2"></span><br>
                            Cargando anexos...
                        </div>
                        <template v-else>
                            <documentacion-anexada :anexos="anexos" v-if="anexos.length > 0" :pregunta="pregunta"></documentacion-anexada>
                        </template>
                        <div class="uk-margin" v-if="documentosSeleccionadosDes.length > 0">
                            <documentacion-precargada :documentosSeleccionadosDes="documentosSeleccionadosDes" @emitDropDocument="emitDropDocument"></documentacion-precargada>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-text-right">
                                <button class="uk-button uk-button-default uk-border-rounded uk-width-1-1" @click="trigerFileElement">
                                    Agregar documentación (tamaño maximo por archivo 10MB) <i class="far fa-folder"></i>
                                </button>
                                <br>
                            </div>
                            <input class="fileElement" type="file" style="display:none" @change="previewFiles" multiple/>
                        </div>
                        <template v-if="noContestada">
                            <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                                <div class="uk-width-1-3">
                                    <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                                </div>
                                <div class="uk-width-1-3">
                                    <button-save-respuesta :loading="loading" @saveRespuesta="saveRespuesta"></button-save-respuesta>
                                </div>
                                <div class="uk-width-1-3">
                                    <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                                <div class="uk-width-1-3">
                                    <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                                </div>
                                <div class="uk-width-1-3">
                                    <button-save-respuesta :loading="loading" @saveRespuesta="saveRespuesta"></button-save-respuesta>
                                </div>
                                <div class="uk-width-1-3">
                                    <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                                </div>
                            </div>
                        </template>
                    </template>
                    <template v-else>
                        <div class="uk-margin">
                            <div class="uk-form-label uk-text-uppercase">Respuesta</div>
                            <div class="uk-form-controls">
                                <label>
                                    <input class="uk-radio" type="radio" name="radio1" v-model="radioRespuesta" :value="1"> SI
                                </label><br>
                                <label>
                                    <input class="uk-radio" type="radio" name="radio1" v-model="radioRespuesta" :value="0"> NO
                                </label>
                            </div>
                        </div>
                        <div v-if="radioRespuesta === 0">
                            <div class="uk-margin uk-margin-small-bottom">
                                <label class="uk-form-label uk-text-uppercase">Mecanismo de atención</label>
                                <vue-ckeditor type="classic"
                                              v-model.trim="subrespuesta"
                                              :editors="editors"
                                              :config="editors.config">
                                </vue-ckeditor>
                            </div>
                            <div class="uk-margin-small-top">
                                <label class="uk-form-label uk-text-uppercase">Fecha de término</label>
                                <div class="uk-form-controls">
                                    <flat-pickr v-model.trim="fechaTermino" :config="config" class="uk-input uk-border-rounded"/>
                                </div>
                            </div>
                        </div>
                        <div v-else-if="radioRespuesta === 1">
                            <div class="uk-alert uk-text-justify uk-text-bold">
                                {{ pregunta.Subpregunta }}
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label uk-text-uppercase">Respuesta</label>
                                <vue-ckeditor type="classic"
                                              v-model.trim="subrespuesta"
                                              :editors="editors"
                                              :config="editors.config">
                                </vue-ckeditor>
                            </div>
                            <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                                <span uk-spinner="ratio: 2"></span><br>
                                Cargando anexos...
                            </div>
                            <template v-else>
                                <documentacion-anexada :anexos="anexos" v-if="anexos.length > 0" :pregunta="pregunta"></documentacion-anexada>
                            </template>
                            <div class="uk-margin" v-if="documentosSeleccionadosDes.length > 0">
                                <documentacion-precargada :documentosSeleccionadosDes="documentosSeleccionadosDes" @emitDropDocument="emitDropDocument"></documentacion-precargada>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-text-right">
                                    <button class="uk-button uk-button-default uk-border-rounded uk-width-1-1" @click="trigerFileElement">
                                        Agregar documentación (tamaño maximo por archivo 10MB) <i class="far fa-folder"></i>
                                    </button>
                                    <br>
                                </div>
                                <input class="fileElement" type="file" style="display:none" @change="previewFiles" multiple/>
                            </div>
                        </div>
                        <div v-else></div>
                        <template v-if="noContestada">
                            <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                                <div class="uk-width-1-3">
                                    <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                                </div>
                                <div class="uk-width-1-3"></div>
                                <div class="uk-width-1-3">
                                    <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                                <div class="uk-width-1-3">
                                    <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                                </div>
                                <div class="uk-width-1-3">
                                    <button-save-respuesta :loading="loading" @saveRespuesta="saveRespuesta"></button-save-respuesta>
                                </div>
                                <div class="uk-width-1-3">
                                    <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                                </div>
                            </div>
                        </template>
                    </template>
                </template>
                <!-- ---------------------------------------- -->
                <!--        TIPO DE PREGUNTA 2 CERRADA        -->
                <!-- ---------------------------------------- -->
                <template v-else-if="pregunta.TipoPreguntaID === 2">
                    <div class="uk-margin">
                        <div class="uk-form-label uk-text-uppercase">Respuesta</div>
                        <div class="uk-form-controls">
                            <label>
                                <input class="uk-radio" type="radio" name="radio1" v-model="radioRespuesta" :value="1"> SI
                            </label><br>
                            <label>
                                <input class="uk-radio" type="radio" name="radio1" v-model="radioRespuesta" :value="0"> NO
                            </label>
                        </div>
                    </div>
                    <div v-if="radioRespuesta === 0">
                        <div class="uk-margin uk-margin-small-bottom">
                            <label class="uk-form-label uk-text-uppercase">Mecanismo de atención</label>
                            <vue-ckeditor type="classic"
                                          v-model.trim="subrespuesta"
                                          :editors="editors"
                                          :config="editors.config">
                            </vue-ckeditor>
                        </div>
                        <div class="uk-margin-small-top">
                            <label class="uk-form-label uk-text-uppercase">Fecha de término</label>
                            <div class="uk-form-controls">
                                <flat-pickr v-model.trim="fechaTermino" :config="config" class="uk-input uk-border-rounded"/>
                            </div>
                        </div>
                    </div>
                    <div v-else-if="radioRespuesta === 1">
                        <div class="uk-alert uk-text-justify uk-text-bold">
                            {{ pregunta.Subpregunta }}
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label uk-text-uppercase">Respuesta</label>
                            <vue-ckeditor type="classic"
                                          v-model.trim="subrespuesta"
                                          :editors="editors"
                                          :config="editors.config">
                            </vue-ckeditor>
                        </div>
                        <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                            <span uk-spinner="ratio: 2"></span><br>
                            Cargando anexos...
                        </div>
                        <template v-else>
                            <documentacion-anexada :anexos="anexos" v-if="anexos.length > 0" :pregunta="pregunta"></documentacion-anexada>
                        </template>
                        <div class="uk-margin" v-if="documentosSeleccionadosDes.length > 0">
                            <documentacion-precargada :documentosSeleccionadosDes="documentosSeleccionadosDes" @emitDropDocument="emitDropDocument"></documentacion-precargada>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-text-right">
                                <button class="uk-button uk-button-default uk-border-rounded uk-width-1-1" @click="trigerFileElement">
                                    Agregar documentación (tamaño maximo por archivo 10MB) <i class="far fa-folder"></i>
                                </button>
                                <br>
                            </div>
                            <input class="fileElement" type="file" style="display:none" @change="previewFiles" multiple/>
                        </div>
                    </div>
                    <div v-else></div>
                    <template v-if="noContestada">
                        <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                            <div class="uk-width-1-3">
                                <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                            </div>
                            <div class="uk-width-1-3"></div>
                            <div class="uk-width-1-3">
                                <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                            <div class="uk-width-1-3">
                                <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                            </div>
                            <div class="uk-width-1-3">
                                <button-save-respuesta :loading="loading" @saveRespuesta="saveRespuesta"></button-save-respuesta>
                            </div>
                            <div class="uk-width-1-3">
                                <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                            </div>
                        </div>
                    </template>
                </template>
                <!-- ---------------------------------------- -->
                <!--   TIPO DE PREGUNTA 3 OPCION MULTIPLE     -->
                <!-- ---------------------------------------- -->
                <template v-else>
                    <div class="uk-margin">
                        <div class="uk-form-label uk-text-uppercase">Respuesta</div>
                        <div class="uk-form-controls">
                            <label>
                                <input class="uk-radio" type="radio" name="radio1" v-model="radioRespuesta" :value="1"> SI
                            </label><br>
                            <label>
                                <input class="uk-radio" type="radio" name="radio1" v-model="radioRespuesta" :value="0"> NO
                            </label>
                        </div>
                    </div>
                    <div v-if="radioRespuesta === 0">
                        <div class="uk-margin uk-margin-small-bottom">
                            <label class="uk-form-label uk-text-uppercase">Mecanismo de atención</label>
                            <vue-ckeditor type="classic"
                                          v-model.trim="subrespuesta"
                                          :editors="editors"
                                          :config="editors.config">
                            </vue-ckeditor>
                        </div>
                        <div class="uk-margin-small-top">
                            <label class="uk-form-label uk-text-uppercase">Fecha de término</label>
                            <div class="uk-form-controls">
                                <flat-pickr v-model.trim="fechaTermino" :config="config" class="uk-input uk-border-rounded"/>
                            </div>
                        </div>
                    </div>
                    <div v-else-if="radioRespuesta === 1">
                        <div class="uk-alert uk-text-bold">
                            Selecciona cuales
                        </div>
                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <ul class="uk-list">
                                    <li v-for="(opcion, index) in opcionesPregunta" :key="index">
                                        <label class="uk-text-uppercase">
                                            <input class="uk-checkbox"
                                                   type="checkbox"
                                                   v-model="opcionesSeleccionadas"
                                                   :value="opcion.Opcion">
                                            {{opcion.Opcion}}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="uk-margin" v-if="OtherOptionSelected">
                            <label class="uk-form-label uk-text-uppercase">Escribe las otras opciones</label>
                            <vue-ckeditor type="classic"
                                          v-model.trim="subrespuesta"
                                          :editors="editors"
                                          :config="editors.config">
                            </vue-ckeditor>
                        </div>
                        <div v-if="getLoadingAnexos" class="uk-text-center uk-text-uppercase">
                            <span uk-spinner="ratio: 2"></span><br>
                            Cargando anexos...
                        </div>
                        <template v-else>
                            <documentacion-anexada :anexos="anexos" v-if="anexos.length > 0" :pregunta="pregunta"></documentacion-anexada>
                        </template>
                        <div class="uk-margin" v-if="documentosSeleccionadosDes.length > 0">
                            <documentacion-precargada :documentosSeleccionadosDes="documentosSeleccionadosDes" @emitDropDocument="emitDropDocument"></documentacion-precargada>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-text-right">
                                <button class="uk-button uk-button-default uk-border-rounded uk-width-1-1" @click="trigerFileElement">
                                    Agregar documentación (tamaño maximo por archivo 10MB) <i class="far fa-folder"></i>
                                </button>
                                <br>
                            </div>
                            <input class="fileElement" type="file" style="display:none" @change="previewFiles" multiple/>
                        </div>
                    </div>
                    <div v-else></div>
                    <template v-if="noContestada">
                        <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                            <div class="uk-width-1-3">
                                <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                            </div>
                            <div class="uk-width-1-3"></div>
                            <div class="uk-width-1-3">
                                <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <div class="uk-grid uk-grid-small uk-margin-medium-top uk-margin-medium-bottom">
                            <div class="uk-width-1-3">
                                <button-goto-before :preguntaAnteriorEmpty="preguntaAnteriorEmpty" @goToAfter="goToAfter"></button-goto-before>
                            </div>
                            <div class="uk-width-1-3">
                                <button-save-respuesta :loading="loading" @saveRespuesta="saveRespuesta"></button-save-respuesta>
                            </div>
                            <div class="uk-width-1-3">
                                <button-goto-after :preguntaSiguienteEmpty="preguntaSiguienteEmpty" @goToBefore="goToBefore"></button-goto-after>
                            </div>
                        </div>
                    </template>
                </template>
            </template>
        </div>
    </div>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import DocumentacionAnexada from '@/js/components/auditoria_control_interno/DocumentacionAnexada.vue';
    import DocumentacionPrecargada from '@/js/components/auditoria_control_interno/DocumentacionPrecargada.vue';
    import ButtonSaveRespuesta from '@/js/components/auditoria_control_interno/ButtonSaveRespuesta.vue';
    import ButtonGotoBefore from '@/js/components/auditoria_control_interno/ButtonGotoBefore.vue';
    import ButtonGotoAfter from '@/js/components/auditoria_control_interno/ButtonGotoAfter.vue';
    import DocumentacionAnexadaSoloLectura from "@/js/components/auditoria_desempenio/DocumentacionAnexadaSoloLectura";
    import filesHelper from '@/js/helpers/files';
    let moment = require('moment');
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import VueCkeditor from 'vue-ckeditor5';
    require('@ckeditor/ckeditor5-build-classic/build/translations/es.js');
    import CardRespuesta from '@/js/components/auditoria_control_interno/Auditor/CardRespuesta.vue';
    export default {
        name: "PreguntaCuestionario",
        props: ['preguntas', 'etapa_actual', 'temas_cuestionario'],
        components: {
            flatPickr,
            DocumentacionAnexada,
            'vue-ckeditor': VueCkeditor.component,
            CardRespuesta,
            DocumentacionAnexadaSoloLectura,
            DocumentacionPrecargada,
            ButtonSaveRespuesta,
            ButtonGotoBefore,
            ButtonGotoAfter
        },
        mounted() {
            this.getOpcionesPregunta();
        },
        data() {
            return {
                respuesta: '',
                respuestaSolventacion: '',
                subrespuesta: '',
                subrespuestaTemp: '',
                subrespuestaSolventacion: '',
                subrespuestaSolventacionTemp: '',
                respuestaSolventacionTemp: '',
                radioRespuesta: '',
                radioRespuestaSolventacion: '',
                fechaTermino: null,
                fechaTerminoSolventacion: null,
                opcionesPregunta: [],
                opcionesSeleccionadas: [],
                opcionesGuardadas: [],
                opcionesGuardadasPrev: [],
                documentosSeleccionados:[],
                documentosSeleccionadosDes:[],
                loading: false,
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
                editors: {
                    classic: ClassicEditor,
                    config: {
                        toolbar: [
                            'heading',
                            '|',
                            'bold',
                            'italic',
                            'link',
                            'numberedList',
                            'bulletedList',
                            'blockQuote',
                            '|',
                            'undo',
                            'redo'],
                        language: 'es',
                    },
                }
            }
        },
        methods:{
            getOpcionesPregunta() {
                if(this.etapa_actual === 'Solventación de CRP') {
                    let pregunta = this.pregunta;
                    let data = {
                        api_token: localStorage.getItem('api_token'),
                        preguntaID: pregunta.PreguntaID,
                        RespuestaID: pregunta.solvRespuestaID
                    }
                    if(pregunta.TipoPreguntaID === 3) {
                        axios.post('/api/get-opciones-pregunta', data).then(resp => {
                            this.opcionesPregunta = resp.data.opciones_pregunta;
                            this.opcionesGuardadas = resp.data.opciones_guardadas;
                            if(this.opcionesGuardadas.length > 0) {
                                for(let i = 0; i < this.opcionesGuardadas.length; i++) {
                                    this.opcionesSeleccionadas.push(this.opcionesGuardadas[i].Opcion);
                                }
                            }
                        }).catch(e => {
                            console.log(e);
                        });
                    }
                    // Obtener opciones seleccionadas previamente
                    let data2 = {
                        api_token: localStorage.getItem('api_token'),
                        preguntaID: pregunta.PreguntaID,
                        RespuestaID: pregunta.RespuestaID
                    }
                    if(pregunta.TipoPreguntaID === 3) {
                        axios.post('/api/get-opciones-pregunta', data2).then(resp => {
                            this.opcionesGuardadasPrev = resp.data.opciones_guardadas;
                        }).catch(e => {
                            console.log(e);
                        });
                    }

                } else {
                    let pregunta = this.pregunta;
                    let data = {
                        api_token: localStorage.getItem('api_token'),
                        preguntaID: pregunta.PreguntaID,
                        RespuestaID: pregunta.RespuestaID
                    }
                    if(pregunta.TipoPreguntaID === 3) {
                        axios.post('/api/get-opciones-pregunta', data).then(resp => {
                            this.opcionesPregunta = resp.data.opciones_pregunta;
                            this.opcionesGuardadas = resp.data.opciones_guardadas;
                            if(this.opcionesGuardadas.length > 0) {
                                for(let i = 0; i < this.opcionesGuardadas.length; i++) {
                                    this.opcionesSeleccionadas.push(this.opcionesGuardadas[i].Opcion);
                                }
                            }
                        }).catch(e => {
                            console.log(e);
                        });
                    }
                }
            },
            previewFiles(event) {
                let files = event.target.files;
                const fileListArr = [...files];
                // Documentos seleccionados des
                for (let i = 0; i < fileListArr.length; i++) {
                    let file = fileListArr[i];
                    let size = (file.size / 1000000).toFixed(2);
                    let obj = {
                        name: file.name,
                        size: size,
                        type: file.type,
                        description: ''
                    }
                    this.documentosSeleccionadosDes.push(obj);
                }
                let exededSize = false;
                for(let j = 0; j < this.documentosSeleccionadosDes.length; j++) {
                    let file = this.documentosSeleccionadosDes[j];
                    if(exededSize === false) {
                        if(file.size > 10) {
                            exededSize = true;
                        }
                    }
                }
                if(exededSize) {
                    this.documentosSeleccionados = [];
                    this.documentosSeleccionadosDes = [];
                    alert('El tamaño máximo por documento es de hasta 10MB, alguno de los documentos excede el limite máximo');
                } else {
                    this.documentosSeleccionados = fileListArr;
                }
            },
            trigerFileElement() {
                var el = document.getElementsByClassName("fileElement");
                if (el[0]) {
                    el[0].click();
                }
            },
            setFileIcon(nameFile) {
                if(nameFile.includes('.pdf')) {
                    return 'fas fa-file-pdf uk-text-danger';
                } else if(nameFile.includes('.docx')) {
                    return 'fas fa-file-word uk-text-primary';
                } else if(nameFile.includes('.xlsx')) {
                    return 'fas fa-file-excel uk-text-success';
                } else if(nameFile.includes('.zip') || nameFile.includes('.rar')) {
                    return 'fas fa-file-archive';
                } else if(nameFile.includes('.jpg') || nameFile.includes('.png')) {
                    return 'fas fa-image uk-text-warning';
                } else {
                    return 'fas fa-file';
                }
            },
            saveRespuesta() {
                if(this.etapa_actual === 'Solventación de CRP') {
                    if(this.pregunta.Subpregunta !== null) {
                        if(this.radioRespuestaSolventacion === '' || this.radioRespuestaSolventacion === null) {
                            alert('SELECCIONE UNA RESPUESTA');
                            return false;
                        } else {
                            if(this.opcionesPregunta.length > 0) {
                                if(this.respuestaSolventacion === 1) {
                                    if(this.opcionesSeleccionadas.length > 0) {
                                        if(this.opcionesSeleccionadas.includes('Otro')) {
                                            if(this.subrespuestaSolventacion === '' || _.isNull(this.subrespuestaSolventacion)){
                                                alert("DEBE ESPECIFICAR QUE OTROS COMITÉS EXISTEN");
                                            } else {
                                                this.sendData();
                                            }
                                        } else {
                                            this.sendData();
                                        }
                                    } else {
                                        alert("DEBE SELECCIONAR AL MENOS UNA OPCIÓN");
                                    }
                                } else {
                                    if(this.subrespuestaSolventacion === '' || _.isNull(this.subrespuestaSolventacion)){
                                        alert("LA RESPUESTA ES REQUERIDA");
                                    } else {
                                        this.sendData();
                                    }
                                }
                            } else {
                                if(this.subrespuestaSolventacion === '' || _.isNull(this.subrespuestaSolventacion)){
                                    alert("LA RESPUESTA ES REQUERIDA");
                                } else {
                                    this.sendData();
                                }
                            }
                        }
                    } else {
                        if(this.subrespuestaSolventacion === '' || _.isNull(this.subrespuestaSolventacion)){
                            alert("LA RESPUESTA ES REQUERIDA");
                        } else {
                            this.sendData();
                        }
                    }
                } else {
                    if(this.pregunta.Subpregunta !== null) {
                        if(this.radioRespuesta === '' || this.radioRespuesta === null) {
                            alert('SELECCIONE UNA RESPUESTA');
                            return false;
                        } else {
                            if(this.opcionesPregunta.length > 0) {
                                if(this.respuesta === 1) {
                                    if(this.opcionesSeleccionadas.length > 0) {
                                        if(this.opcionesSeleccionadas.includes('Otro')) {
                                            if(this.subrespuesta === '' || _.isNull(this.subrespuesta)){
                                                alert("DEBE ESPECIFICAR QUE OTROS COMITÉS EXISTEN");
                                            } else {
                                                this.sendData();
                                            }
                                        } else {
                                            this.sendData();
                                        }
                                    } else {
                                        alert("DEBE SELECCIONAR AL MENOS UNA OPCIÓN");
                                    }
                                } else {
                                    if(this.subrespuesta === '' || _.isNull(this.subrespuesta)){
                                        alert("LA RESPUESTA ES REQUERIDA");
                                    } else {
                                        this.sendData();
                                    }
                                }
                            } else {
                                if(this.subrespuesta === '' || _.isNull(this.subrespuesta)){
                                    alert("LA RESPUESTA ES REQUERIDA");
                                } else {
                                    this.sendData();
                                }
                            }
                        }
                    } else {
                        if(this.subrespuesta === '' || _.isNull(this.subrespuesta)){
                            alert("LA RESPUESTA ES REQUERIDA");
                        } else {
                            this.sendData();
                        }
                    }
                }
            },
            sendData() {
                if(this.etapa_actual === 'Solventación de CRP') {
                    if(this.setAnexosSolventacion.length > 0 && this.respuestaSolventacion === 0) {
                        UIkit.modal.confirm('¿ESTA SEGURO QUE DESEA ACTUALIZAR SU RESPUESTA? LA INFORMACIÓN ANEXA SERA BORRADA Y NO SE PODRÁ RECUPERAR').then(() => {
                            this.sendDataOk();
                        },  () => console.log('Actualización cancelada'));
                        setTimeout(() => {
                            $('.uk-modal-close').addClass('uk-border-rounded').text('CANCELAR');
                            $('.uk-modal-footer > .uk-button-primary').addClass('uk-border-rounded').addClass('uk-button-danger').text('ACEPTAR');
                        }, 200);
                    } else {
                        this.sendDataOk();
                    }
                } else {
                    if(this.setAnexosPrevios.length > 0 && this.respuesta === 0) {
                        UIkit.modal.confirm('¿ESTA SEGURO QUE DESEA ACTUALIZAR SU RESPUESTA? LA INFORMACIÓN ANEXA SERA BORRADA Y NO SE PODRÁ RECUPERAR').then(() => {
                            this.sendDataOk();
                        },  () => console.log('Actualización cancelada'));
                        setTimeout(() => {
                            $('.uk-modal-close').addClass('uk-border-rounded').text('CANCELAR');
                            $('.uk-modal-footer > .uk-button-primary').addClass('uk-border-rounded').addClass('uk-button-danger').text('ACEPTAR');
                        }, 200);
                    } else {
                        this.sendDataOk();
                    }
                }
            },
            sendDataOk() {
                //Validar si hay documentos agregados sin agregar descripción
                let isEmpty = false;
                for(let i = 0; i < this.documentosSeleccionadosDes.length; i++) {
                    let element = document.getElementById('documento_precargado_'+i);
                    if(element.value.trim() == '') {
                        isEmpty = true;
                    }
                }
                if(isEmpty) {
                    alert('Es necesario agregar una descripción a cada uno de los documentos precargados');
                    return false;
                } else {
                    // agregar descripción de los anexos al cuerpo de la solicitud
                    for(let i = 0; i < this.documentosSeleccionadosDes.length; i++) {
                        let element = document.getElementById('documento_precargado_'+i);
                        this.documentosSeleccionadosDes[i].description = element.value.trim();
                    }
                    if(this.etapa_actual === 'Solventación de CRP') {
                        //Meter condicional para setear la respuesta
                        let respuesta = null;
                        if(this.pregunta.TipoPreguntaID === 1) {
                            if(this.pregunta.Subpregunta === null) {
                                respuesta = 1;
                            } else {
                                respuesta = this.radioRespuestaSolventacion;
                            }
                        } else if(this.pregunta.TipoPreguntaID === 2) {
                            respuesta = this.radioRespuestaSolventacion;
                        } else {
                            respuesta = this.radioRespuestaSolventacion;
                        }
                        let data = {
                            api_token: localStorage.getItem('api_token'),
                            pregunta: this.pregunta,
                            respuesta: respuesta,
                            subrespuesta: this.subrespuestaSolventacion,
                            fechaTermino: this.fechaTerminoSolventacion,
                            opcionesSeleccionadas: this.opcionesSeleccionadas,
                            auditoriaId: this.formTopic.auditoriaId,
                            documentosSeleccionadosDes: JSON.stringify(this.documentosSeleccionadosDes),
                            funcionarioID: this.getDataUser.FuncionarioID
                        };
                        let docs = this.documentosSeleccionados;
                        if(docs.length > 0) {
                            data.files = docs;
                        }
                        let new_data = filesHelper.makeFormData(data);
                        this.loading = true;
                        axios.post('/api/save-respuesta', new_data).then(resp => {
                            localStorage.setItem('respuesta_id', resp.data.respuesta_id);
                            this.loading = false;
                            UIkit.notification({
                                message: '<i class="fas fa-check"></i> Pregunta guardada correctamente',
                                pos: 'top-right',
                                timeout: 3000
                            });
                            this.$emit("reloadpreguntas");
                            this.documentosSeleccionados = [];
                            this.documentosSeleccionadosDes = [];
                            this.$store.dispatch('getAnexos', {
                                pregunta: this.pregunta
                            });
                            this.subrespuestaSolventacionTemp = '';
                        }).catch(e => {
                            console.log(e);
                            this.loading = false;
                        });
                    } else {
                        //Meter condicional para setear la respuesta
                        let respuesta = null;
                        if(this.pregunta.TipoPreguntaID === 1) {
                            if(this.pregunta.Subpregunta === null) {
                                respuesta = 1;
                            } else {
                                respuesta = this.radioRespuesta;
                            }
                        } else if(this.pregunta.TipoPreguntaID === 2) {
                            respuesta = this.radioRespuesta;
                        } else {
                            respuesta = this.radioRespuesta;
                        }
                        let data = {
                            api_token: localStorage.getItem('api_token'),
                            pregunta: this.pregunta,
                            respuesta: respuesta,
                            subrespuesta: this.subrespuesta,
                            fechaTermino: this.fechaTermino,
                            opcionesSeleccionadas: this.opcionesSeleccionadas,
                            auditoriaId: this.formTopic.auditoriaId,
                            documentosSeleccionadosDes: JSON.stringify(this.documentosSeleccionadosDes),
                            funcionarioID: this.getDataUser.FuncionarioID
                        };
                        let docs = this.documentosSeleccionados;
                        if(docs.length > 0) {
                            data.files = docs;
                        }
                        let new_data = filesHelper.makeFormData(data);
                        this.loading = true;
                        axios.post('/api/save-respuesta', new_data).then(resp => {
                            localStorage.setItem('respuesta_id', resp.data.respuesta_id);
                            this.loading = false;
                            UIkit.notification({
                                message: '<i class="fas fa-check"></i> Pregunta guardada correctamente',
                                pos: 'top-right',
                                timeout: 3000
                            });
                            this.$emit("reloadpreguntas");
                            this.documentosSeleccionados = [];
                            this.documentosSeleccionadosDes = [];
                            this.$store.dispatch('getAnexos', {
                                pregunta: this.pregunta
                            });
                            this.subrespuestaTemp = '';
                        }).catch(e => {
                            console.log(e);
                            this.loading = false;
                        });
                    }
                }
            },
            goToAfter() {
                this.$store.commit('updatePregunta', this.preguntaAnterior);
                this.$store.dispatch('getAnexos', {
                    pregunta: this.preguntaAnterior
                });
                if(this.preguntaAnterior.TipoPreguntaID === 3) {
                    setTimeout(() => {
                        this.getOpcionesPregunta();
                    }, 500);
                }
                this.setPreguntaAntSig(this.preguntaAnterior);
                this.documentosSeleccionados = [];
                this.documentosSeleccionadosDes = [];
                this.subrespuestaTemp = '';
                var elmnt = document.getElementById("pregunta_section");
                elmnt.scrollIntoView();
            },
            goToBefore() {
                this.$store.commit('updatePregunta', this.preguntaSiguiente);
                this.$store.dispatch('getAnexos', {
                    pregunta: this.preguntaSiguiente
                });
                if(this.preguntaSiguiente.TipoPreguntaID === 3) {
                    setTimeout(() => {
                        this.getOpcionesPregunta();
                    }, 500);
                }
                this.setPreguntaAntSig(this.preguntaSiguiente);
                this.documentosSeleccionados = [];
                this.documentosSeleccionadosDes = [];
                this.subrespuestaTemp = '';
                var elmnt = document.getElementById("pregunta_section");
                elmnt.scrollIntoView();
            },
            setPreguntaAntSig(pregunta) {
                let noPregunta = pregunta.NoPregunta;
                let totalPreguntas = this.preguntas.length;
                this.preguntaAnterior = {};
                this.preguntaSiguiente = {};
                if(noPregunta === 1) {
                    this.$store.commit('updatePreguntaAnterior', {});
                    this.$store.commit('updatePreguntaSiguiente', this.preguntas[1]);
                } else if(noPregunta === totalPreguntas) {
                    this.$store.commit('updatePreguntaAnterior', this.preguntas[totalPreguntas - 2]);
                    this.$store.commit('updatePreguntaSiguiente', {});
                } else {
                    this.$store.commit('updatePreguntaAnterior', this.preguntas[noPregunta - 2]);
                    this.$store.commit('updatePreguntaSiguiente', this.preguntas[noPregunta]);
                }
            },
            isSolventada(pregunta) {
                let temas = this.temas_cuestionario;
                let totalPreguntas = 0;
                for(let i = 0; i < temas.length; i++) {
                    totalPreguntas = temas[i].NoPregunta + totalPreguntas
                }
                let puntuacionMaxima = parseFloat(100 / totalPreguntas).toFixed(2);
                return (parseFloat(puntuacionMaxima) === pregunta.PuntosCRP);
            },
            setRespConcional(condicional) {
                return (condicional === 1) ? 'Si' : 'No';
            },
            emitDropDocument(i) {
                this.documentosSeleccionadosDes.splice(i, 1);
                this.documentosSeleccionados.splice(i, 1);
            }
        },
        computed: {
            formTopic() {
                return this.$store.getters.dataFormTopic;
            },
            pregunta() {
                let data_pregunta = this.$store.getters.dataPregunta;
                this.respuesta = data_pregunta.Condicional;
                this.radioRespuesta = data_pregunta.Condicional;
                this.subrespuesta = data_pregunta.Respuesta;
                this.fechaTermino = data_pregunta.FechaMecanismos;
                if(this.etapa_actual === 'Solventación de CRP') {
                    this.respuestaSolventacion = (_.isNull(data_pregunta.solvCondicional)) ? '' : data_pregunta.solvCondicional;
                    this.subrespuestaSolventacion = (_.isNull(data_pregunta.solvRespuesta)) ? '' : data_pregunta.solvRespuesta;
                    this.radioRespuestaSolventacion = (_.isNull(data_pregunta.solvCondicional)) ? '' : data_pregunta.solvCondicional;
                    this.fechaTerminoSolventacion = data_pregunta.solvFechaMecanismos;
                }
                return data_pregunta;
            },
            preguntaAnterior: {
                get () {
                    return this.$store.getters.dataPreguntaAnterior;
                },
                set() {}
            },
            preguntaSiguiente: {
                get () {
                    return this.$store.getters.dataPreguntaSiguiente;
                },
                set() {}
            },
            anexos() {
                return this.$store.getters.dataAnexosPregunta;
            },
            OtherOptionSelected() {
                return this.opcionesSeleccionadas.includes('Otro');
            },
            preguntaAnteriorEmpty() {
                return (_.isEmpty(this.preguntaAnterior));
            },
            preguntaSiguienteEmpty() {
                return (_.isEmpty(this.preguntaSiguiente));
            },
            noContestada() {
                if(this.pregunta.Subpregunta !== null){
                    return (this.radioRespuesta === "");
                } else {
                    return true;
                }
            },
            getLoadingAnexos() {
                return this.$store.getters.loadingAnexosPregunta;
            },
            setAnexosPrevios() {
                let respuestaId = this.pregunta.RespuestaID;
                let anexos = this.anexos.filter(anexo => {
                    return anexo.RespuestaID === respuestaId;
                });
                return anexos;
            },
            setAnexosSolventacion() {
                let respuestaId = this.pregunta.solvRespuestaID;
                let anexos = this.anexos.filter(anexo => {
                    return anexo.RespuestaID === respuestaId;
                });
                return anexos;
            },
            getDataUser() {
                return this.$store.getters.dataUser;
            }
        },
        watch: {
            radioRespuestaSolventacion(val) {
                if(this.etapa_actual === 'Solventación de CRP') {
                    if(_.isNull(this.radioRespuestaSolventacion)) {
                        this.radioRespuestaSolventacion = '';
                    }
                    // TIPO DE PREGUNTA 1 ABIERTA
                    if(this.pregunta.TipoPreguntaID === 1) {
                        if(this.radioRespuestaSolventacion === '' ) {
                            if(this.respuestaSolventacion === '') {
                                if(_.isNull(val)) {
                                    this.respuestaSolventacion = '';
                                } else {
                                    this.respuestaSolventacion = val;
                                }
                            } else {
                                this.respuestaSolventacion = val;
                                this.subrespuestaSolventacion = '';
                                this.fechaTerminoSolventacion = null;
                            }
                        } else {
                            if(this.respuestaSolventacion === '') {
                                if(_.isNull(val)) {
                                    this.respuestaSolventacion = '';
                                } else {
                                    this.respuestaSolventacion = val;
                                }
                            } else {
                                if(_.isNull(val)) {
                                    this.respuestaSolventacion = '';
                                } else {
                                    if(this.pregunta.solvCondicional !== val) {
                                        this.respuestaSolventacion = val;
                                        // Subrespuesta temporal
                                        this.subrespuestaSolventacionTemp = JSON.parse(JSON.stringify(this.subrespuestaSolventacion));
                                        this.subrespuestaSolventacion = '';
                                    } else {
                                        if(this.subrespuestaSolventacionTemp !== '') {
                                            this.respuestaSolventacion = val;
                                            // Subrespuesta temporal
                                            this.subrespuestaSolventacion = this.subrespuestaSolventacionTemp;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    // TIPO DE PREGUNTA CERRADA
                    else if(this.pregunta.TipoPreguntaID === 2) {
                        if(this.radioRespuestaSolventacion === '') {
                            if(this.respuestaSolventacion === '') {
                                if(_.isNull(val)) {
                                    this.respuestaSolventacion = '';
                                } else {
                                    this.respuestaSolventacion = val;
                                }
                            } else {
                                this.respuestaSolventacion = val;
                                this.subrespuestaSolventacion = '';
                                this.fechaTerminoSolventacion = null;
                            }
                        } else {
                            if(this.respuestaSolventacion === '') {
                                if(_.isNull(val)) {
                                    this.respuestaSolventacion = '';
                                } else {
                                    this.respuestaSolventacion = val;
                                }
                            } else {
                                if(_.isNull(val)) {
                                    this.respuestaSolventacion = '';
                                } else {
                                    if(this.pregunta.solvCondicional !== val) {
                                        this.respuestaSolventacion = val;
                                        this.subrespuestaSolventacionTemp = JSON.parse(JSON.stringify(this.subrespuestaSolventacion));
                                        this.subrespuestaSolventacion = '';
                                    } else {
                                        if(this.subrespuestaSolventacionTemp !== '') {
                                            this.respuestaSolventacion = val;
                                            this.subrespuestaSolventacion = this.subrespuestaSolventacionTemp;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    // TIPO DE PREGUNTA DE OPCIÓN MULTIPLE
                    else {
                        if(this.radioRespuestaSolventacion === '') {
                            if(this.respuestaSolventacion === '') {
                                if(_.isNull(val)) {
                                    this.respuestaSolventacion = '';
                                } else {
                                    this.respuestaSolventacion = val;
                                }
                            } else {
                                if(val === 0) {
                                    //TODO: pendiente
                                    this.opcionesSeleccionadas = [];
                                }
                                this.respuestaSolventacion = val;
                                this.subrespuestaSolventacion = '';
                                this.fechaTerminoSolventacion = null;
                            }
                        } else {
                            if(this.respuestaSolventacion === '') {
                                if(_.isNull(val)) {
                                    this.respuestaSolventacion = '';
                                } else {
                                    this.respuestaSolventacion = val;
                                }
                            } else {
                                if(_.isNull(val)) {
                                    this.respuestaSolventacion = '';
                                } else {
                                    if(this.pregunta.solvCondicional !== val) {
                                        this.respuestaSolventacion = val;
                                        this.subrespuestaSolventacionTemp = JSON.parse(JSON.stringify(this.subrespuestaSolventacion));
                                        this.subrespuestaSolventacion = '';
                                    } else {
                                        if(this.subrespuestaSolventacionTemp !== '') {
                                            this.respuestaSolventacion = val;
                                            this.subrespuestaSolventacion = this.subrespuestaSolventacionTemp;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            radioRespuesta(val) {
                if(_.isNull(this.radioRespuesta)) {
                    this.radioRespuesta = '';
                }
                // TIPO DE PREGUNTA 1 ABIERTA
                if(this.pregunta.TipoPreguntaID === 1) {
                    if(this.radioRespuesta === '' ) {
                        if(this.respuesta === '') {
                            if(_.isNull(val)) {
                                this.respuesta = '';
                            } else {
                                this.respuesta = val;
                            }
                        } else {
                            this.respuesta = val;
                            this.subrespuesta = '';
                            this.fechaTermino = null;
                        }
                    } else {
                        if(this.respuesta === '') {
                            if(_.isNull(val)) {
                                this.respuesta = '';
                            } else {
                                this.respuesta = val;
                            }
                        } else {
                            if(_.isNull(val)) {
                                this.respuesta = '';
                            } else {
                                if(this.pregunta.Condicional !== val) {
                                    this.respuesta = val;
                                    this.subrespuestaTemp = JSON.parse(JSON.stringify(this.subrespuesta));
                                    this.subrespuesta = '';
                                } else {
                                    if(this.subrespuestaTemp !== '') {
                                        this.respuesta = val;
                                        this.subrespuesta = this.subrespuestaTemp;
                                    }
                                }
                            }
                        }
                    }
                }
                // TIPO DE PREGUNTA CERRADA
                else if(this.pregunta.TipoPreguntaID === 2) {
                    if(this.radioRespuesta === '') {
                        if(this.respuesta === '') {
                            if(_.isNull(val)) {
                                this.respuesta = '';
                            } else {
                                this.respuesta = val;
                            }
                        } else {
                            this.respuesta = val;
                            this.subrespuesta = '';
                            this.fechaTermino = null;
                        }
                    } else {
                        if(this.respuesta === '') {
                            if(_.isNull(val)) {
                                this.respuesta = '';
                            } else {
                                this.respuesta = val;
                            }
                        } else {
                            if(_.isNull(val)) {
                                this.respuesta = '';
                            } else {
                                if(this.pregunta.Condicional !== val) {
                                    this.respuesta = val;
                                    this.subrespuestaTemp = JSON.parse(JSON.stringify(this.subrespuesta));
                                    this.subrespuesta = '';
                                } else {
                                    if(this.subrespuestaTemp !== '') {
                                        this.respuesta = val;
                                        this.subrespuesta = this.subrespuestaTemp;
                                    }
                                }
                            }
                        }
                    }
                }
                // TIPO DE PREGUNTA DE OPCIÓN MULTIPLE
                else {
                    if(this.radioRespuesta === '') {
                        if(this.respuesta === '') {
                            if(_.isNull(val)) {
                                this.respuesta = '';
                            } else {
                                this.respuesta = val;
                            }
                        } else {
                            if(val === 0) {
                                this.opcionesSeleccionadas = [];
                            }
                            this.respuesta = val;
                            this.subrespuesta = '';
                            this.fechaTermino = null;
                        }
                    } else {
                        if(this.respuesta === '') {
                            if(_.isNull(val)) {
                                this.respuesta = '';
                            } else {
                                this.respuesta = val;
                            }
                        } else {
                            if(_.isNull(val)) {
                                this.respuesta = '';
                            } else {
                                if(this.pregunta.Condicional !== val) {
                                    this.respuesta = val;
                                    this.subrespuestaTemp = JSON.parse(JSON.stringify(this.subrespuesta));
                                    this.subrespuesta = '';
                                } else {
                                    if(this.subrespuestaTemp !== '') {
                                        this.respuesta = val;
                                        this.subrespuesta = this.subrespuestaTemp;
                                    }
                                }
                            }
                        }
                    }
                }
            },
            preguntas(val) {
                let noPregunta = this.pregunta.NoPregunta;
                let i = 0;
                let encontrado = false;
                while (i < val.length && encontrado === false) {
                    if(val[i].NoPregunta === noPregunta) {
                        encontrado = true;
                    } else {
                        i = i + 1;
                    }
                }
                this.$store.commit('updatePregunta', val[i]);
            }
        }
    }

</script>

<style lang="scss" scoped>
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
    .uk-alert-primary {
        color: $color-white !important;
        background-color: $color-primary !important;
    }
</style>
