<template>
    <div class="uk-grid uk-margin-medium-top">
        <div class="uk-width-1-1@m">
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                <div class="uk-grid uk-flex-middle">
                    <div class="uk-width-1-1@m">
                        <span class="uk-text-bold">
                            <i class="fas fa-clock"></i> Prorrogas
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-1@m uk-margin-small-top">
            <div class="uk-grid">
                <div class="uk-width-1-1" v-if="prorrogas.length > 0">
                    <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-text-small uk-table-middle">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="uk-width-xlarge">Motivo o razón de la prorroga</th>
                                <th class="uk-text-center uk-width-medium">Fecha de creación</th>
                                <th class="uk-text-center uk-width-medium">Fecha de vigencia</th>
                                <th class="uk-width-small"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(prorroga, index) in prorrogas" :key="index">
                                <td>{{ index + 1 }}</td>
                                <td class="uk-text-uppercase">{{ prorroga.Motivo }}</td>
                                <td class="uk-text-center">
                                    {{ setCreateDate(prorroga.created_at) }}
                                </td>
                                <td class="uk-text-center">
                                    {{ setCreateDate(prorroga.FechaCierre) }}
                                </td>
                                <td class="uk-text-right">
                                    <template v-if="isActiveProrroga(prorroga)">
                                        <button type="button"
                                                class="uk-button uk-button-default uk-button-small uk-border-rounded uk-margin-small-right"
                                                @click="editarProrrogaVigente(prorroga)"
                                                uk-tooltip="title: Editar; pos: top">
                                            <i class="fas fa-cog"></i>
                                        </button>
                                        <button type="button"
                                                class="uk-button uk-button-default uk-button-small uk-border-rounded"
                                                @click="deleteProrrogaVigente(prorroga)"
                                                uk-tooltip="title: Borrar; pos: top">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </template>
                                    <template v-else>
                                        <span class="uk-text-uppercase uk-text-danger">
                                            Expirada
                                        </span>
                                    </template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="uk-width-1-1" v-else>
                    <p class="uk-text-uppercase uk-text-center">
                        No se han registrado prorrogas
                    </p>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top" v-if="estapaDisponibleProrroga">
                    <div class="uk-width-1-1" v-if="error !== null">
                        <div class="uk-alert uk-alert-danger uk-border-rounded uk-text-uppercase uk-text-bold uk-margin-small-bottom uk-margin-small-top uk-text-center uk-animation-shake">
                            {{ error }}
                        </div>
                    </div>
                    <template v-if="formAddProrroga">
                        <form @submit.prevent="saveProrroga">
                            <div class="uk-grid">
                                <div class="uk-width-1-1" v-if="error !== null">
                                    <div class="uk-alert uk-alert-danger uk-border-rounded uk-text-uppercase uk-text-bold uk-margin-small-bottom uk-margin-small-top uk-text-center uk-animation-shake">
                                        {{ error }}
                                    </div>
                                </div>
                                <div class="uk-width-3-5@m">
                                    <div class="uk-text-uppercase uk-text-bold">
                                        Motivo de la prorroga
                                    </div>
                                    <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-small-bottom">
                                        <div class="uk-width-1-1@m">
                                            <div class="uk-form-controls">
                                                <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                       v-model.trim="motivo"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-2-5@m">
                                    <div class="uk-text-uppercase uk-text-bold">
                                        Fecha de vigencia de la prorroga
                                    </div>
                                    <div class="uk-grid uk-grid-small uk-margin-small-top uk-margin-small-bottom">
                                        <div class="uk-width-1-1@m">
                                            <div class="uk-form-controls">
                                                <flat-pickr v-model.trim="fechaVigencia"
                                                            :config="config"
                                                            class="uk-input uk-border-rounded"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1@m uk-margin-small-top uk-text-right">
                                    <button type="button"
                                            class="uk-button uk-button-default uk-border-rounded"
                                            @click="cancelProrroga">
                                        Cancelar
                                    </button>
                                    <button type="submit"
                                            class="uk-button uk-button-primary uk-border-rounded">
                                        Guardar <span uk-spinner="ratio: 0.6" v-show="updating"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </template>
                    <button class="uk-button uk-button-primary uk-border-rounded uk-text-uppercase uk-float-right"
                            type="button"
                            v-if="!formAddProrroga"
                            @click="agregarProrroga">
                        Agregar prorroga
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    let moment = require('moment');
    export default {
        name: "ProrrogasAuditoria",
        props: ['auditoria'],
        components: {
            flatPickr
        },
        created() {
              this.getProrrogas();
              this.getEtapaAuditoria();
        },
        data() {
            return {
                error: null,
                prorrogas: [],
                etapaAuditoria: {},
                formAddProrroga: false,
                updating: false,
                motivo: '',
                fechaVigencia: null,
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
                editarProrroga: false,
                prorroga_id_edit: null
            }
        },
        methods: {
            getProrrogas() {
                let data = {
                    auditoria: this.auditoria.AuditoriaID
                };
                axios.post('/api/get-prorrogas', data).then(resp => {
                    this.prorrogas = resp.data.prorrogas;
                }).catch(e => {
                    console.log(e)
                })
            },
            getEtapaAuditoria(){
                let data = {
                    auditoria: this.auditoria.AuditoriaID
                };
                axios.post('/api/get-etapa-auditoria', data).then(resp => {
                    this.etapaAuditoria = resp.data.etapa_actual;
                }).catch(e => {
                    console.log(e)
                })
            },
            setCreateDate(date) {
                moment.locale('es');
                return moment(date).format('D MMMM YYYY');
            },
            saveProrroga(){
                this.error = null;
                //Validar prorroga
                if(this.motivo === '' || this.fechaVigencia === null || this.fechaVigencia === ''){
                    this.error = 'El motivo y la fecha de vigencia de la prorroga son obligatorios';
                    return false;
                }
                this.updating = true;
                let data = {};
                let url = '';
                if(this.editarProrroga) {
                    url = '/api/edit-prorroga';
                    data = {
                        prorrogaId: this.prorroga_id_edit,
                        motivo: this.motivo,
                        fechaVigencia: this.fechaVigencia
                    };
                } else {
                    url = '/api/add-prorroga';
                    data = {
                        auditoria: this.auditoria.AuditoriaID,
                        motivo: this.motivo,
                        fechaVigencia: this.fechaVigencia
                    };
                }
                axios.post(url, data).then(resp => {
                    this.getProrrogas();
                    this.cancelProrroga();
                    this.updating = false;
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Auditoría actualizada correctamente',
                        pos: 'top-right',
                        timeout: 4000
                    });
                }).catch(e => {
                    console.log(e);
                    this.updating = false;
                });
            },
            cancelProrroga(){
                this.formAddProrroga = false;
                this.motivo = '';
                this.fechaVigencia = null;
                this.error = null;
                this.editarProrroga = false;
            },
            isActiveProrroga(prorroga){
                let vigencia = prorroga.FechaCierre;
                let today = moment(new Date()).format('YYYY-MM-DD');
                let is_active = moment(vigencia).isAfter(today, 'day');
                if(is_active === false) {
                    if(vigencia === today) {
                        is_active = true;
                    }
                }
                return is_active;
            },
            agregarProrroga(){
                this.error = null;
                let has_active_prorroga = false;
                for(let i = 0; i < this.prorrogas.length; i++) {
                    if(has_active_prorroga === false) {
                        has_active_prorroga = this.isActiveProrroga(this.prorrogas[i]);
                    }
                }
                if(has_active_prorroga) {
                    this.error = 'No se puede agregar una nueva prorroga debido a que existe una prorroga activa';
                    setTimeout(() => {
                        this.error = null;
                    }, 4000);
                } else {
                    this.formAddProrroga = true;
                }
            },
            editarProrrogaVigente(prorroga) {
                this.editarProrroga = true;
                this.formAddProrroga = true;
                this.motivo = prorroga.Motivo;
                this.fechaVigencia = prorroga.FechaCierre;
                this.prorroga_id_edit = prorroga.ProrrogaID;
            },
            deleteProrrogaVigente(prorroga){
                UIkit.modal.confirm('¿CONFIRMA QUE DESEA BORRAR LA PRORROGA?').then(() => {
                    let data = {
                        prorrogaId: prorroga.ProrrogaID
                    };
                    axios.post('/api/delete-prorroga', data).then(resp => {
                        this.getProrrogas();
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Auditoría actualizada correctamente',
                            pos: 'top-right',
                            timeout: 4000
                        });
                    }).catch(e => {
                        console.log(e)
                    });
                },  () => console.log('Eliminar prorroga cancelado'));
                setTimeout(() => {
                    $('.uk-modal-close').addClass('uk-border-rounded').text('CANCELAR');
                    $('.uk-modal-footer > .uk-button-primary').addClass('uk-border-rounded').addClass('uk-button-danger').text('ACEPTAR');
                }, 200);
            },
            isEmptyObject(object) {
                return _.isEmpty(object);
            }
        },
        computed: {
            estapaDisponibleProrroga() {
                if(_.isEmpty(this.etapaAuditoria)) {
                    return false;
                }
                if(this.etapaAuditoria.DescripcionEtapa === 'Enlace contestando' || this.etapaAuditoria.DescripcionEtapa === 'Solventación de CRP') {
                    return true;
                } else {
                    return false;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-text-primary{
        color: $color-primary !important;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
</style>
