<template>
    <div>
        <layout :sidepat="sidepat" :ejercicio_seleccionado="ejercicio_seleccionado">
            <router-view :sidepat="sidepat" :ejercicio_seleccionado="ejercicio_seleccionado"></router-view>
        </layout>
    </div>
</template>

<script>
    import Layout from "../layouts/Layout";
    export default {
        name: "App",
        components: {
            Layout
        },
        created() {
            this.sidepat = JSON.parse(document.head.querySelector('meta[name="sidepat"]').content);
            this.ejercicio_seleccionado = JSON.parse(document.head.querySelector('meta[name="ejercicio_seleccionado"]').content);
        },
        data() {
            return {
                sidepat: {},
                ejercicio_seleccionado: {}
            }
        },
    }
</script>

<style scoped>

</style>
