<template>
    <div class="uk-padding-remove uk-border-rounded uk-box-file uk-width-medium uk-text-center">
        <div class="uk-height-custom uk-text-uppercase uk-text-bold uk-flex uk-flex-middle uk-flex-center">
            {{ name }}
        </div>
        <div class="uk-height-custom uk-flex uk-flex-middle uk-flex-center">
            <slot></slot>
        </div>
        <div class="uk-height-custom uk-flex uk-flex-middle uk-flex-center">
            <button class="uk-button uk-button-default uk-border-rounded uk-margin-small-right uk-button-small">
                Ver <i class="far fa-eye"></i>
            </button>
            <button class="uk-button uk-button-default uk-border-rounded uk-button-small">
                Descargar <i class="fas fa-download"></i>
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FileModal",
        props: ['name']
    }
</script>

<style lang="scss" scoped>
    .uk-box-file {
        border: 1px $color-grey-disabled solid;
        height: 200px;
        .uk-height-custom {
            height: 66px;
        }
    }
</style>
