<template>
    <div class="uk-width-1-2@m uk-margin-small-bottom">
        <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-height-small uk-padding-small uk-card-hover uk-animation-fade" @click="goTo">
            <div class="uk-grid uk-height-1-1">
                <!-- Cuestionario -->
                <div class="uk-position-top-right uk-height-1-1 uk-flex uk-flex-middle uk-padding-small section-delete"
                     v-if="cuestionario_prop">
                    <i class="fas fa-trash-alt"></i>
                </div>
                <!-- Tema -->
                <div class="uk-position-top-right uk-height-1-1 uk-flex uk-flex-middle uk-padding-small section-delete"
                     v-if="tema_prop">
                    <i class="fas fa-trash-alt"></i>
                </div>
                <div class="uk-width-1-5 uk-flex uk-flex-middle uk-flex-center uk-height-1-1">
                    <slot></slot>
                </div>
                <div class="uk-width-4-5 uk-height-1-1">
                    <p class="uk-text-bold uk-margin-small-bottom uk-margin-top-custom uk-text-uppercase">
                        {{ title }}
                    </p>
                    <p class="uk-margin-small-top uk-text-uppercase uk-text-small">
                        {{ description }}
                    </p>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "MenuCard",
        props: ['title', 'description', 'goToUrl', 'sidepat', 'cuestionario_prop', 'tema_prop', 'formatoDeclaracion', 'idDeclaracion'],
        data() {
            return {
                overSectionDelete: false
            }
        },
        mounted() {
            // Cuestionario
            if(this.cuestionario_prop) {
                $(".section-delete")
                    .mouseover(() => {
                        this.overSectionDelete = true;
                    })
                    .mouseout(() => {
                        this.overSectionDelete = false;
                    });
            }
            // Tema
            if(this.tema_prop) {
                $(".section-delete")
                    .mouseover(() => {
                        this.overSectionDelete = true;
                    })
                    .mouseout(() => {
                        this.overSectionDelete = false;
                    });
            }
            if(_.isUndefined(this.sidepat) === false) {
                let cards = $(".uk-card");
                if(cards.length > 0) {
                    for(let i = 0; i < cards.length; i++) {
                        let self = this;
                        $(cards[i]).hover(function(){
                            $(this).css({
                                "color": self.sidepat.color_primario,
                                "border-left": "7px " + self.sidepat.color_primario + ' solid', "cursor": 'pointer'
                            });
                        }, function(){
                            $(this).css({
                                "color": self.sidepat.color_dark2,
                                "border-left": "7px " + self.sidepat.color_dark1 + ' solid', "cursor": 'pointer'
                            });
                        });
                    }
                }
            }
        },
        methods: {
            goTo() {
                if(this.formatoDeclaracion == true) {
                    sessionStorage.setItem('declaracion_id', this.idDeclaracion);
                    if(this.goToUrl !== '') {
                        this.$router.push({
                            name: this.goToUrl
                        });
                    }
                } else {
                    if(_.isUndefined(this.cuestionario_prop) === false) {
                        if(this.overSectionDelete) {
                            this.$emit('bajaCuestionario');
                        } else {
                            this.setModuloCuestionario(this.goToUrl);
                        }
                    } else if(_.isUndefined(this.tema_prop) === false) {
                        if(this.overSectionDelete) {
                            this.$emit('bajaTemaCuestionario');
                        } else {
                            this.$emit('goToPreguntasTema');
                        }
                    } else {
                        if(_.isObject(this.goToUrl)) {
                            let name = this.goToUrl.name;
                            let platform = JSON.parse(this.goToUrl.params.platform);
                            this.$router.push({
                                name: name,
                                params: {
                                    platform: platform.Descripcion
                                }
                            });
                        } else {
                            if(this.goToUrl !== '') {
                                this.$router.push({
                                    name: this.goToUrl
                                });
                            }
                        }
                    }
                }
            },
            setModuloCuestionario(goToUrl) {
                let cuestionario = goToUrl;
                this.$router.push({
                    name: 'modulo-cuestionarios-editar',
                    params:{
                        cuestionario_id: cuestionario.CuestionarioID
                    }
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-card{
        border-left: 7px $color-black solid;
        &:hover{
            cursor: pointer;
            color: $color-primary;
            border-left: 7px $color-primary solid;
        }
        p {
            font-family: $ff-franklin !important;
        }
        .fa-ellipsis-v{
            &:hover{
                background-color: $color-grey-ligth;
            }
        }
        .section-delete {
            border-left: 1px $color-grey-ligth solid;
            &:hover{
                background-color: #FEF4F6;
                color: #F0556E;
            }
        }
    }
    .uk-margin-top-custom{
        margin-top: 25px;
    }
</style>
