<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'plataforma-admon'}" class="uk-text-uppercase uk-text-small">Sistema de Administración Ti</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'administracion-catalogos'}" class="uk-text-uppercase uk-text-small">Catalogos</router-link>
                        </li>
                        <li>
                            <span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Adscripciones</span>
                        </li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Catálogo de Adscripciones</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: IR A LISTA DE CATALOGOS"
                                         :to="{name: 'administracion-catalogos'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
                <!--Contenido de la página-->
                <div class="uk-grid uk-margin-small-top">
                    <div class="uk-width-1-1">
                        <button class="uk-button uk-button-primary uk-border-rounded"
                            uk-toggle="target: #modal-registro">
                            Registrar Adscripción
                        </button>     
                    </div>
                </div>
                <!-- Modal de registro de nueva adscripcion -->
                <div id="modal-registro" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Registrar nueva Adscripción</h3>
                        <div class="uk-grid">
                            <div class="uk-width-1-1 uk-margin">
                                <input class="uk-input uk-border-rounded" type="text" placeholder="Nueva adscripción" v-model="nueva_adscripcion">
                            </div>
                            <div class="uk-width-1-1 uk-text-right">
                                <button class="uk-button uk-button-primary uk-border-rounded"
                                    uk-toggle="target: #modal-registro"
                                    v-on:click="guardarNuevaAdscripcion()">
                                    Guardar
                                </button>
                                <button class="uk-button uk-modal-close uk-border-rounded"
                                    uk-toggle="target: #modal-registro">
                                    Cancelar
                                </button>   
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="uk-width-1-1">
                    <div class="uk-grid uk-margin-small-top uk-margin-large-bottom" v-if="loading">
                        <div class="uk-width-1-1">
                            <div class="uk-text-center uk-margin-medium-top uk-text-uppercase" >
                                <div class="uk-text-center" uk-spinner="ratio: 2.5"></div>
                                <br>
                                Cargando...
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top uk-margin-large-bottom" v-else>
                        <div class="uk-width-1-1">
                            <table v-if="adscripciones.length > 0" class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small uk-margin-remove-top">
                                <thead>
                                    <tr class="uk-thead">
                                        <th class="uk-text-center" style="position: sticky; top: 0;">#</th>
                                        <th class="uk-width-auto" style="position: sticky; top: 0;">Área de adscripcion</th>
                                        <th class="uk-width-auto uk-text-center" style="position: sticky; top: 0;">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(adscripcion, index) in adscripciones" :key='index'>
                                        <td class="uk-text-center uk-width-1-6">
                                            {{ index + 1}}
                                        </td>
                                        <td class="uk-text-uppercase uk-width-1-3" v-show="adscripcion.edit == false">
                                            {{adscripcion.Nombre}}
                                        </td>
                                        <td v-show="adscripcion.edit == true" class="uk-text-uppercase uk-width-1-3">
                                            <input  class="uk-input" type="text" v-model="adscripcion.Nombre">
                                        </td>
                                        <td class="uk-text-uppercase uk-text-center uk-width-2-6" v-show="adscripcion.edit == false">
                                            <button class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded uk-margin-right"
                                                v-on:click="editarElemento(adscripcion)">
                                                Editar
                                                <i class="far fa-edit"></i>
                                            </button>
                                            <button v-if="adscripcion.Visible == 1" class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded uk-margin-right"
                                                v-on:click="visibilizarElemento(adscripcion)">
                                                Ocultar
                                                <i class="fas fa-eye-slash"></i>
                                            </button>
                                            <button v-else class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded uk-margin-right"
                                                v-on:click="visibilizarElemento(adscripcion)">
                                                Mostrar
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </td>
                                        <td class="uk-text-uppercase uk-text-center uk-width-2-6" v-show="adscripcion.edit == true">
                                            <button class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded uk-margin-right"
                                                v-on:click="cancelarEdicionElemento(adscripcion)">
                                                Cancelar
                                                <i class="fas fa-window-close"></i>
                                            </button>
                                            <button class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded uk-margin-right"
                                                v-on:click="guardarElemento(adscripcion)">
                                                Guardar
                                                <i class="far fa-edit"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Adscripciones",
        data() {
            return {
                loading: false,
                adscripciones : [],
                nueva_adscripcion:''
            }
        },
        created() {
            this.getAdscripciones();
        },
        mounted() {
        },
        computed:{
        },
        methods: {
            getAdscripciones(){
                this.loading = true;
                axios.post('/api/declaracion/get-catalogo-adscripciones').then(resp =>{
                    this.adscripciones = resp.data.adscripciones;
                    this.adscripciones.forEach(element => {
                        element.edit=false
                    });
                    this.loading = false;
                }).catch(e=>{
                    console.log(e);
                    this.loading = false;
                });
            },
            visibilizarElemento(adscripcion){
                this.loading = true;
                let data = {
                    id_elemento: adscripcion.AdscripcionID,
                    visibilidad: adscripcion.Visible
                };
                axios.post('/api/declaracion/visibilidad-adscripcion',data).then(resp =>{
                    this.getAdscripciones();
                    this.loading = false; 
                }).catch(e=>{
                    console.log(e);
                    this.loading = false;
                })
            },
            editarElemento(adscripcion){
                let arraytemp;
                this.adscripciones.forEach(element => {
                    if(element.AdscripcionID == adscripcion.AdscripcionID){
                        element.edit = true;
                    }
                    arraytemp = this.adscripciones;
                    this.adscripciones = [];
                    this.adscripciones = arraytemp;
                    return this.adscripciones;
                });
            },
            cancelarEdicionElemento(adscripcion){
                let arraytemp;
                this.adscripciones.forEach(element => {
                    if(element.AdscripcionID == adscripcion.AdscripcionID){
                        element.edit = false;
                    }
                    arraytemp = this.adscripciones;
                    this.adscripciones = [];
                    this.adscripciones = arraytemp;
                    return this.adscripciones;
                });
            },
            guardarElemento(adscripcion){
                this.loading = true;
                let data = {
                    id_elemento: adscripcion.AdscripcionID,
                    nombre: adscripcion.Nombre
                };
                axios.post('/api/declaracion/actualizar-adscripcion',data).then(resp =>{
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.getAdscripciones();
                    this.loading = false;
                }).catch(e=>{
                    console.log(e);
                    this.loading = false;
                })
            },
            guardarNuevaAdscripcion(){
                let data = {
                    adscripcion : this.nueva_adscripcion 
                };
                this.nueva_adscripcion = ''
                axios.post('/api/declaracion/nueva-adscripcion',data).then(resp =>{
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.getAdscripciones();
                    this.loading = false;
                }).catch(e=>{
                    console.log(e);
                    this.loading = false;
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-primary{
                    background-color: $color-primary;
                    color: $color-white;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-cursor-pointer{
                    cursor: pointer;
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .uk-thead > th{
            font-weight: bold;
            background-color: #424242;
            color: $color-white;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .uk-button-hover{
            color: $color-black;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-button-primary {
            background-color: $color-primary !important;
        }
    }
</style>