<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'plataforma-admon'}" class="uk-text-uppercase uk-text-small">Sistema de Administración Ti</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'administracion-catalogos'}" class="uk-text-uppercase uk-text-small">Catalogos</router-link>
                        </li>
                        <li>
                            <span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Inversiones</span>
                        </li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Catálogo de Inversiones</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: IR A SISTEMA DE ADMINISTRACION TI"
                                         :to="{name: 'administracion-catalogos'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
                <!--Contenido de la página-->
                <div class="uk-width-1-1">
                    <div class="uk-grid uk-margin-small-top uk-margin-large-bottom" v-if="loading">
                        <div class="uk-width-1-1">
                            <div class="uk-text-center uk-margin-medium-top uk-text-uppercase" >
                                <div class="uk-text-center" uk-spinner="ratio: 2.5"></div>
                                <br>
                                Cargando...
                            </div>
                        </div>
                    </div>
                    <!-- Aquí va la tabla -->
                    <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                        <div class="uk-width-1-1">
                            <ul uk-tab>
                                <li>
                                    <a href="#">Tipo de inversiones</a>
                                </li>
                                <li>
                                    <a href="#">Activos financieros</a>
                                </li>
                            </ul>
                            <ul class="uk-switcher uk-margin">
                                <li>
                                    <table class="uk-table uk-table-divider uk-table-small uk-text-small uk-table-striped">
                                        <thead>
                                            <tr class="uk-thead">
                                                <th colspan="2">Tipo de inversión</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="tipo in tipo_inversion">
                                                <td>
                                                    <span :id="'label_tipo_inversion_'+tipo.TipoInversionID" style="display: block;">{{ tipo.Nombre }}</span>
                                                    <input :id="'input_tipo_inversion_'+tipo.TipoInversionID"
                                                           class="uk-input uk-border-rounded uk-form-small uk-text-uppercase"
                                                           type="text"
                                                           placeholder="Input"
                                                           aria-label="Input"
                                                           style="display: none;"
                                                           v-model.trim="tipo.Nombre">
                                                </td>
                                                <td class="uk-text-right">
                                                    <div :id="'btns1_'+tipo.TipoInversionID">
                                                        <button class="uk-button uk-button-default uk-border-rounded uk-button-small"
                                                                @click="editar(tipo)">
                                                            <i class="fas fa-pencil-alt"></i> Editar
                                                        </button>
                                                        <button class="uk-button uk-button-default uk-border-rounded uk-button-small"
                                                                v-if="tipo.Eliminado == 0"
                                                                @click="ocultar(tipo)">
                                                            <i class="fas fa-eye-slash"></i> Ocultar
                                                        </button>
                                                        <button class="uk-button uk-button-default uk-border-rounded uk-button-small"
                                                                v-if="tipo.Eliminado == 1"
                                                                @click="mostrar(tipo)">
                                                            <i class="fas fa-eye"></i> Mostrar
                                                        </button>
                                                    </div>
                                                    <div :id="'btns2_'+tipo.TipoInversionID" style="display: none;">
                                                        <button class="uk-button uk-button-primary uk-border-rounded uk-button-small"
                                                                @click="guardar(tipo)">
                                                            <i class="fas fa-save"></i> Guardar
                                                        </button>
                                                        <button class="uk-button uk-button-default uk-border-rounded uk-button-small"
                                                                @click="cancelar(tipo)">
                                                            <i class="fas fa-times"></i> Cancelar
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li>
                                    <table class="uk-table uk-table-divider uk-table-small uk-text-small uk-table-striped">
                                        <thead>
                                            <tr class="uk-thead">
                                                <th>Activos financieros</th>
                                                <th>Tipos de inversión</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="activo in activos_financieros">
                                                <td>
                                                    <span :id="'label_activo_'+activo.ActivoID" style="display: block;">{{ activo.NombreActivo }}</span>
                                                    <input :id="'input_activo_'+activo.ActivoID"
                                                           class="uk-input uk-border-rounded uk-form-small uk-text-uppercase"
                                                           type="text"
                                                           placeholder="Input"
                                                           aria-label="Input"
                                                           style="display: none;"
                                                           v-model.trim="activo.NombreActivo">
                                                </td>
                                                <td>
                                                    <span :id="'label_activo_inversion'+activo.ActivoID" style="display: block;">
                                                        {{ setNombreTipoInversion(activo.TipoInversionID) }}
                                                    </span>
                                                    <select :id="'select_activo_inversion'+activo.ActivoID" class="uk-select uk-form-small uk-border-rounded" style="display: none">
                                                        <option v-for="tipo in tipo_inversion">
                                                            {{ tipo.Nombre }}
                                                        </option>
                                                    </select>
                                                </td>
                                                <td class="uk-text-right">
                                                    <div :id="'btns21_'+activo.ActivoID">
                                                        <button class="uk-button uk-button-default uk-border-rounded uk-button-small"
                                                                @click="editarActivo(activo)">
                                                            <i class="fas fa-pencil-alt"></i> Editar
                                                        </button>
                                                        <button class="uk-button uk-button-default uk-border-rounded uk-button-small"
                                                                v-if="activo.Activo == 1"
                                                                @click="ocultarActivo(activo)">
                                                            <i class="fas fa-eye-slash"></i> Ocultar
                                                        </button>
                                                        <button class="uk-button uk-button-default uk-border-rounded uk-button-small"
                                                                v-if="activo.Activo == 0"
                                                                @click="mostrarActivo(activo)">
                                                            <i class="fas fa-eye"></i> Mostrar
                                                        </button>
                                                    </div>
                                                    <div :id="'btns22_'+activo.ActivoID" style="display: none;">
                                                        <button class="uk-button uk-button-primary uk-border-rounded uk-button-small"
                                                                @click="guardarActivo(activo)">
                                                            <i class="fas fa-save"></i> Guardar
                                                        </button>
                                                        <button class="uk-button uk-button-default uk-border-rounded uk-button-small"
                                                                @click="cancelarActivo(activo)">
                                                            <i class="fas fa-times"></i> Cancelar
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Inversiones",
        data() {
            return {
                loading: false,
                tipo_inversion : [],
                activos_financieros : []
            }
        },
        created() {
            this.getInversiones();
        },
        mounted() {
        },
        computed:{
        },
        methods: {
            getInversiones(){
                this.loading = true;
                axios.post('/api/declaracion/get-catalogo-inversiones').then(resp =>{
                    this.tipo_inversion = resp.data.tipo_inversion;
                    this.activos_financieros = resp.data.activos_financieros;
                    this.loading = false;
                }).catch(e=>{
                    console.log(e);
                    this.loading = false;
                });
            },
            setNombreTipoInversion(tipoInversion) {
                let tipo = '';
                for(let i = 0; i < this.tipo_inversion.length; i++) {
                    if(this.tipo_inversion[i].TipoInversionID == tipoInversion) {
                        tipo = this.tipo_inversion[i].Nombre;
                    }
                }
                return tipo;
            },
            setIdTipoInversion(nombre) {
                let tipo = '';
                for(let i = 0; i < this.tipo_inversion.length; i++) {
                    if(this.tipo_inversion[i].Nombre == nombre) {
                        tipo = this.tipo_inversion[i].TipoInversionID;
                    }
                }
                return tipo;
            },
            ocultar(tipo) {
                axios.post('/api/declaracion/ocultar-inversion', {inversionId: tipo.TipoInversionID})
                    .then(resp => {
                        this.getInversiones();
                    })
                    .catch(e => console.log(e));
            },
            mostrar(tipo) {
                axios.post('/api/declaracion/mostrar-inversion', {inversionId: tipo.TipoInversionID})
                    .then(resp => {
                        this.getInversiones();
                    })
                    .catch(e => console.log(e));
            },
            editar(tipo) {
                let id = tipo.TipoInversionID;
                let lbl = $('#label_tipo_inversion_'+id);
                let txt = $('#input_tipo_inversion_'+id);
                let btns1 = $("#btns1_"+id);
                let btns2 = $("#btns2_"+id);
                lbl.hide();
                txt.show();
                btns1.hide();
                btns2.show();
                return false;
            },
            guardar(tipo) {
                let id = tipo.TipoInversionID;
                let txt = $('#input_tipo_inversion_'+id).val();
                axios.post('/api/declaracion/actualizar-tipo-inversion', {tipoId: id, tipo: txt})
                    .then(resp => {
                        this.getInversiones();
                    })
                    .catch(e => console.log(e));
            },
            cancelar(tipo) {
                let id = tipo.TipoInversionID;
                let lbl = $('#label_tipo_inversion_'+id);
                let txt = $('#input_tipo_inversion_'+id);
                let btns1 = $("#btns1_"+id);
                let btns2 = $("#btns2_"+id);
                lbl.show();
                txt.hide();
                btns1.show();
                btns2.hide();
                this.getInversiones();
            },
            ocultarActivo(activo) {
                axios.post('/api/declaracion/ocultar-activo', {activoId: activo.ActivoID})
                     .then(resp => {
                        this.getInversiones();
                    })
                     .catch(e => console.log(e));
            },
            editarActivo(activo) {
                let id = activo.ActivoID;
                let lbl = $('#label_activo_'+id);
                let lbl2 = $('#label_activo_inversion'+id);
                let txt = $('#input_activo_'+id);
                let sel = $('#select_activo_inversion'+id);
                let btns1 = $("#btns21_"+id);
                let btns2 = $("#btns22_"+id);
                lbl.hide();
                lbl2.hide();
                txt.show();
                sel.show();
                btns1.hide();
                btns2.show();
                let sel_option = this.setNombreTipoInversion(activo.TipoInversionID);
                sel.val(sel_option);
                return false;
            },
            mostrarActivo(activo) {
                axios.post('/api/declaracion/mostrar-activo', {activoId: activo.ActivoID})
                    .then(resp => {
                        this.getInversiones();
                    })
                    .catch(e => console.log(e));
            },
            guardarActivo(activo) {
                let id = activo.ActivoID;
                let txt = $('#input_activo_'+id);
                let sel = $('#select_activo_inversion'+id);
                let inversionId = this.setIdTipoInversion(sel.val());
                let data = {
                    activoId: id,
                    activo: txt.val(),
                    inversionId: inversionId,
                    inversion: sel.val()
                };
                axios.post('/api/declaracion/guardar-activo', data)
                     .then(resp => {
                        this.getInversiones();
                    })
                     .catch(e => console.log(e));
            },
            cancelarActivo(activo) {
                let id = activo.ActivoID;
                let lbl = $('#label_activo_'+id);
                let lbl2 = $('#label_activo_inversion'+id);
                let txt = $('#input_activo_'+id);
                let sel = $('#select_activo_inversion'+id);
                let btns1 = $("#btns21_"+id);
                let btns2 = $("#btns22_"+id);
                lbl.show();
                lbl2.show();
                txt.hide();
                sel.hide();
                btns1.show();
                btns2.hide();
                return false;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-primary{
                    background-color: $color-primary;
                    color: $color-white;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-cursor-pointer{
                    cursor: pointer;
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
                .uk-tab > .uk-active > a {
                    color: #ffffff;
                    border-color: transparent;
                    background-color: #424242;
                    font-weight: bold;
                    padding: 10px;
                }
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .uk-thead > th{
            font-weight: bold;
            background-color: #424242;
            color: $color-white;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .uk-button-hover{
            color: $color-black;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-button-primary {
            background-color: $color-primary !important;
        }
    }
</style>
