<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'plataforma-admon'}" class="uk-text-uppercase uk-text-small">Sistema de Administración Ti</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'administracion-catalogos'}" class="uk-text-uppercase uk-text-small">Catalogos</router-link>
                        </li>
                        <li>
                            <span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Puestos</span>
                        </li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Catálogo de Puestos</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: IR A SISTEMA DE ADMINISTRACION TI"
                                         :to="{name: 'administracion-catalogos'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
                <!--Contenido de la página-->
                <div class="uk-grid uk-margin-small-top">
                    <div class="uk-width-1-1">
                        <button class="uk-button uk-button-primary uk-border-rounded"
                            uk-toggle="target: #modal-registro">
                            Registrar puesto
                        </button>     
                    </div>
                </div>
                <!-- Modal de registro de nuevo puesto -->
                <div id="modal-registro" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Registrar nuevo puesto</h3>
                        <form class="uk-grid">
                            <div class="uk-width-1-1 uk-margin-small">
                                <input class="uk-input uk-border-rounded" type="text" placeholder="Nuevo puesto" 
                                v-model="nuevo_puesto"
                                required>
                            </div>
                            <div class="uk-width-1-1 uk-margin-small">
                                Tipo de formato
                                <select class="uk-select uk-border-rounded" v-model="nuevo_formato" required>
                                    <option value="">Selecciona un formato</option>
                                    <option value="1">Completo</option>
                                    <option value="0">Simplificado</option>
                                </select>
                            </div>
                            <div class="uk-width-1-1 uk-text-right">
                                <button class="uk-button uk-button-primary uk-border-rounded"
                                    v-on:click="guardarNuevoPuesto()"
                                    type="submit">
                                    Guardar
                                </button>
                                <button class="uk-button uk-modal-close uk-border-rounded"
                                    uk-toggle="target: #modal-registro">
                                    Cancelar
                                </button>   
                            </div>
                        </form>                        
                    </div>
                </div>
                <div class="uk-width-1-1">
                    <div class="uk-grid uk-margin-small-top uk-margin-large-bottom" v-if="loading">
                        <div class="uk-width-1-1">
                            <div class="uk-text-center uk-margin-medium-top uk-text-uppercase" >
                                <div class="uk-text-center" uk-spinner="ratio: 2.5"></div>
                                <br>
                                Cargando...
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top uk-margin-large-bottom" v-else>
                        <div class="uk-width-1-1">
                            <table v-if="puestos.length > 0" class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small uk-margin-remove-top">
                                <thead>
                                    <tr class="uk-thead">
                                        <th class="uk-text-center" style="position: sticky; top: 0;">#</th>
                                        <th class="uk-width-auto" style="position: sticky; top: 0;">Puesto</th>
                                        <th class="uk-width-auto" style="position: sticky; top: 0;">Tipo de formato</th>
                                        <th class="uk-width-auto uk-text-center" style="position: sticky; top: 0;">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(puesto, index) in puestos" :key='index'>
                                        <td class="uk-text-center uk-width-1-6">
                                            {{ index + 1}}
                                        </td>
                                        <td class="uk-text-uppercase uk-width-1-3" v-show="puesto.edit == false">
                                            {{puesto.Nombre}}
                                        </td>
                                        <td v-show="puesto.edit == true" class="uk-text-uppercase uk-width-1-3">
                                            <input  class="uk-input uk-border-rounded" type="text" v-model="puesto.Nombre">
                                        </td>
                                        <template v-if="puesto.edit == false">
                                            <td class="uk-text-uppercase uk-text-center uk-width-1-6" v-show="puesto.Completo == false">
                                                Simplificado
                                                <button class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded uk-margin-right"
                                                    v-on:click="cambiarFormato(puesto)"
                                                    uk-tooltip="title: Cambiar">
                                                    <i class="fas fa-exchange-alt"></i>
                                                </button>
                                            </td>
                                            <td class="uk-text-uppercase uk-text-center uk-width-1-6" v-show="puesto.Completo == true">
                                                Completo
                                                <button class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded uk-margin-right"
                                                    v-on:click="cambiarFormato(puesto)"
                                                    uk-tooltip="title: Cambiar">
                                                    <i class="fas fa-exchange-alt"></i>
                                                </button>
                                            </td>
                                        </template>
                                        <template v-else>
                                            <td class="uk-text-uppercase uk-text-center">
                                                <select class="uk-select uk-border-rounded" v-model="puesto.Completo" required>
                                                    <option value="">Selecciona un formato</option>
                                                    <option value="1">Completo</option>
                                                    <option value="0">Simplificado</option>
                                                </select>
                                            </td>
                                        </template>
                                        <td class="uk-text-uppercase uk-text-center uk-width-2-6" v-show="puesto.edit == false">
                                            <button class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded uk-margin-right"
                                                v-on:click="editarElemento(puesto)">
                                                Editar
                                                <i class="far fa-edit"></i>
                                            </button>
                                            <button v-if="puesto.Activo == 1" class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded uk-margin-right"
                                                v-on:click="visibilizarElemento(puesto)">
                                                Ocultar
                                                <i class="fas fa-eye-slash"></i>
                                            </button>
                                            <button v-else class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded uk-margin-right"
                                                v-on:click="visibilizarElemento(puesto)">
                                                Mostrar
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </td>
                                        <td class="uk-text-uppercase uk-text-center uk-width-2-6" v-show="puesto.edit == true">
                                            <button class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded uk-margin-right"
                                                v-on:click="cancelarEdicionElemento(puesto)">
                                                Cancelar
                                                <i class="fas fa-window-close"></i>
                                            </button>
                                            <button class="uk-button uk-button-hover uk-button-default uk-button-small uk-border-rounded uk-margin-right"
                                                v-on:click="guardarElemento(puesto)">
                                                Guardar
                                                <i class="far fa-edit"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Puestos",
        data() {
            return {
                loading: false,
                puestos : [],
                nuevo_puesto:'',
                nuevo_formato:''
            }
        },
        created() {
            this.getPuestos();
        },
        mounted() {
        },
        computed:{
        },
        methods: {
            getPuestos(){
                this.loading = true;
                axios.post('/api/declaracion/get-catalogo-puestos').then(resp =>{
                    this.puestos = resp.data.puestos;
                    this.puestos.forEach(element => {
                        element.edit=false
                    });
                    this.loading = false;
                }).catch(e=>{
                    console.log(e);
                    this.loading = false;
                });
            },
            visibilizarElemento(puesto){
                this.loading = true;
                let data = {
                    id_elemento: puesto.PuestoID,
                    activo: puesto.Activo
                };
                axios.post('/api/declaracion/visibilidad-puesto',data).then(resp =>{
                    this.getPuestos();
                    this.loading = false; 
                }).catch(e=>{
                    console.log(e);
                    this.loading = false;
                })
            },
            editarElemento(puesto){
                let arraytemp;
                this.puestos.forEach(element => {
                    if(element.PuestoID == puesto.PuestoID){
                        element.edit = true;
                    }
                    arraytemp = this.puestos;
                    this.puestos = [];
                    this.puestos = arraytemp;
                    return this.puestos;
                });
            },
            cancelarEdicionElemento(puesto){
                let arraytemp;
                this.puestos.forEach(element => {
                    if(element.PuestoID == puesto.PuestoID){
                        element.edit = false;
                    }
                    arraytemp = this.puestos;
                    this.puestos = [];
                    this.puestos = arraytemp;
                    return this.puestos;
                });
            },
            guardarElemento(puesto){
                this.loading = true;
                let data = {
                    id_elemento: puesto.PuestoID,
                    nombre: puesto.Nombre,
                    formato: puesto.Completo
                };
                axios.post('/api/declaracion/actualizar-puesto',data).then(resp =>{
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.getPuestos();
                    this.loading = false;
                }).catch(e=>{
                    console.log(e);
                    this.loading = false;
                })
            },
            guardarNuevoPuesto(){
                let data = {
                    puesto : this.nuevo_puesto,
                    formato : this.nuevo_formato
                };
                axios.post('/api/declaracion/nuevo-puesto',data).then(resp =>{
                    this.nuevo_puesto = ''
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información registrada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.getPuestos();
                    this.loading = false;
                }).catch(e=>{
                    console.log(e);
                    this.loading = false;
                })
            },
            cambiarFormato(puesto){
                this.loading = true;
                let data = {
                    id_elemento: puesto.PuestoID,
                    formato: puesto.Completo
                };
                axios.post('/api/declaracion/cambiar-formato-puesto',data).then(resp =>{
                    this.getPuestos();
                    this.loading = false; 
                }).catch(e=>{
                    console.log(e);
                    this.loading = false;
                })
            },
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-primary{
                    background-color: $color-primary;
                    color: $color-white;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-cursor-pointer{
                    cursor: pointer;
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .uk-thead > th{
            font-weight: bold;
            background-color: #424242;
            color: $color-white;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .uk-button-hover{
            color: $color-black;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-button-primary {
            background-color: $color-primary !important;
        }
    }
</style>