<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'plataforma-admon'}" class="uk-text-uppercase uk-text-small">Sistema de Administración Ti</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'administracion-catalogos'}" class="uk-text-uppercase uk-text-small">Catalogos</router-link>
                        </li>
                        <li>
                            <span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Tipo de trabajadores</span>
                        </li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Catálogo de Tipo de trabajadores</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: IR A MÓDULO DE CATÁLOGOS"
                                         :to="{name: 'administracion-catalogos'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                </div>
                <!--Contenido de la página-->
                <div class="uk-width-1-1">
                    <div class="uk-grid uk-margin-small-top uk-margin-large-bottom" v-if="loading">
                        <div class="uk-width-1-1">
                            <div class="uk-text-center uk-margin-medium-top uk-text-uppercase" >
                                <div class="uk-text-center" uk-spinner="ratio: 2.5"></div>
                                <br>
                                Cargando...
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top uk-margin-large-bottom uk-flex uk-flex-center" v-else>
                        <div class="uk-width-1-1">
                            <button class="uk-button uk-button-primary uk-button uk-border-rounded uk-float-left uk-margin-small-bottom"
                                    @click="agregarTipo = true"
                                    v-if="agregarTipo == false">
                                <i class="fas fa-plus-circle"></i> Agregar nuevo
                            </button>
                            <div class="uk-width-1-1 uk-margin-small-bottom" v-if="agregarTipo">
                                <div class="uk-margin-medium-top uk-margin-small-bottom">
                                    <div class="uk-form-controls">
                                        <input class="uk-input uk-border-rounded"
                                               type="text"
                                               placeholder="Nombre del tipo de trabajo"
                                               v-model.trim="nuevoTipo"/>
                                    </div>
                                </div>
                                <button class="uk-button uk-button-primary uk-button-small uk-border-rounded uk-float-right uk-margin-small-left uk-margin-small-bottom"
                                        @click="guardarTipo">
                                    Guardar
                                </button>
                                <button class="uk-button uk-button-default uk-button-small uk-border-rounded uk-float-right" @click="cancelarNuevo">
                                    Cancelar
                                </button>
                            </div>
                            <table class="uk-table uk-table-divider uk-table-striped uk-table-small uk-text-small uk-margin-medium-top">
                                <thead>
                                    <tr class="uk-thead">
                                        <th>Tipo de trabajador</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="tipo in tipos">
                                        <td class="uk-text-uppercase">
                                            <span :id="'label_tipo_trabajador_'+tipo.TipoTrabajadorID"
                                                  style="display: block;">{{ tipo.TipoTrabajador }}</span>
                                            <input :id="'input_tipo_trabajador_'+tipo.TipoTrabajadorID"
                                                   class="uk-input uk-border-rounded uk-form-small"
                                                   type="text"
                                                   placeholder="Input"
                                                   aria-label="Input"
                                                   style="display: none;"
                                                   v-model.trim="tipo.TipoTrabajador">
                                        </td>
                                        <td class="uk-text-right">
                                            <div :id="'btns1_'+tipo.TipoTrabajadorID">
                                                <button class="uk-button uk-button-default uk-border-rounded uk-button-small"
                                                        @click="editar(tipo)">
                                                    <i class="fas fa-pencil-alt"></i> Editar
                                                </button>
                                                <button class="uk-button uk-button-default uk-border-rounded uk-button-small"
                                                        v-if="tipo.Visible == 1"
                                                        @click="ocultar(tipo)">
                                                    <i class="fas fa-eye-slash"></i> Ocultar
                                                </button>
                                                <button class="uk-button uk-button-default uk-border-rounded uk-button-small"
                                                        v-else
                                                        @click="mostrar(tipo)">
                                                    <i class="fas fa-eye"></i> Mostrar
                                                </button>
                                            </div>
                                            <div :id="'btns2_'+tipo.TipoTrabajadorID" style="display: none;">
                                                <button class="uk-button uk-button-primary uk-border-rounded uk-button-small"
                                                        @click="guardar(tipo)">
                                                    <i class="fas fa-save"></i> Guardar
                                                </button>
                                                <button class="uk-button uk-button-default uk-border-rounded uk-button-small"
                                                        @click="cancelar(tipo)">
                                                    <i class="fas fa-times"></i> Cancelar
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "TipoTrabajador",
    data() {
        return {
            loading: false,
            agregarTipo: false,
            nuevoTipo: '',
            tipos: []
        }
    },
    created() {
        this.getTipoTrabajo();
    },
    methods: {
        getTipoTrabajo() {
            this.loading = true;
            axios.post('/api/declaracion/get-catalogo-tipos-trabajo')
                 .then(resp => {
                     this.tipos = resp.data.tipos_trabajo;
                     this.loading = false;
                 })
                 .catch(e => {
                     console.log(e);
                     this.loading = false;
                 })
        },
        cancelarNuevo() {
            this.nuevoTipo = '';
            this.agregarTipo = false;
        },
        guardarTipo() {
            // Validar repetidos
            let repetida = false;
            this.tipos.forEach(tipo => {
               if(tipo.TipoTrabajador.toUpperCase() == this.nuevoTipo.toUpperCase()) {
                   repetida = true;
               }
            });
            if(repetida) {
                alert("El tipo ingresado ya se encuentra registrado");
            } else {
                let data = {
                    tipo: this.nuevoTipo
                };
                axios.post('/api/declaracion/guardar-tipo-trabajo', data)
                     .then(resp => {
                         this.getTipoTrabajo();
                         this.cancelarNuevo();
                     })
                     .catch(e => {
                         console.log(e);
                     });
            }
        },
        ocultar(tipo) {
            axios.post('/api/declaracion/ocultar-tipo', {tipoId: tipo.TipoTrabajadorID})
                 .then(resp => {
                     this.getTipoTrabajo();
                 })
                 .catch(e => console.log(e));
        },
        mostrar(tipo) {
            axios.post('/api/declaracion/mostrar-tipo', {tipoId: tipo.TipoTrabajadorID})
                 .then(resp => {
                     this.getTipoTrabajo();
                 })
                 .catch(e => console.log(e));
        },
        editar(tipo) {
            let id = tipo.TipoTrabajadorID;
            let lbl = $('#label_tipo_trabajador_'+id);
            let txt = $('#input_tipo_trabajador_'+id);
            let btns1 = $("#btns1_"+id);
            let btns2 = $("#btns2_"+id);
            lbl.hide();
            txt.show();
            btns1.hide();
            btns2.show();
            return false;
        },
        guardar(tipo) {
            let id = tipo.TipoTrabajadorID;
            let txt = $('#input_tipo_trabajador_'+id).val();
            axios.post('/api/declaracion/actualizar-tipo', {tipoId: id, tipo: txt})
                 .then(resp => {
                     this.getTipoTrabajo();
                 })
                 .catch(e => console.log(e));
        },
        cancelar(tipo) {
            let id = tipo.TipoTrabajadorID;
            let lbl = $('#label_tipo_trabajador_'+id);
            let txt = $('#input_tipo_trabajador_'+id);
            let btns1 = $("#btns1_"+id);
            let btns2 = $("#btns2_"+id);
            lbl.show();
            txt.hide();
            btns1.show();
            btns2.hide();
            this.getTipoTrabajo();
        }
    }
}
</script>

<style lang="scss" scoped>
.uk-container-expand{
    .uk-container {
        .uk-grid{
            .uk-breadcrumb{
                li > span {
                    font-family: $ff-franklin !important;
                }
                .uk-breadcrumb-active{
                    background-color: $color-grey-disabled;
                    color: $color-black;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 4px;
                    padding-bottom: 5px;
                    border-radius: 5px;
                }
            }
            h3{
                font-family: $ff-franklin !important;
            }
            .uk-back-button{
                color: $color-black;
                border: 1px solid;
                padding: 5px 10px;
                border-radius: 5px;
                &:hover {
                    color: $color-white;
                    background-color: $color-primary;
                }
            }
            .uk-button-primary{
                background-color: $color-primary;
                color: $color-white;
            }
            .uk-button-primary:disabled,
            .uk-button-primary[disabled] {
                background-color: $color-grey-disabled !important;
                color: $color-black;
            }
            .uk-cursor-pointer{
                cursor: pointer;
            }
            .uk-button-filter-active {
                background-color: $color-grey-disabled;
                color: $color-grey-ligth;
            }
        }
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-thead > th{
        font-weight: bold;
        background-color: #424242;
        color: $color-white;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .uk-button-hover{
        color: $color-black;
        &:hover {
            color: $color-white;
            background-color: $color-primary;
        }
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
}
</style>
