<template>
    <div class="uk-grid">
        <div class="uk-width-1-1 uk-text-center uk-margin-medium-top uk-text-uppercase" v-show="loading">
            <div uk-spinner="ratio: 2.0"></div>
            <br>
            Cargando...
        </div>
        <div class="uk-width-1-1" v-show="!loading">
            <div class="uk-grid uk-margin-small-bottom uk-margin-small-top uk-flex uk-flex-right" id="pregunta_section">
                <div class="uk-width-1-2 uk-text-right" v-if="!isEmptyPregunta">
                    <span class="uk-text-primary uk-text-bold uk-text-uppercase uk-info-number uk-border-rounded">Pregunta {{ getNumberPregunta }} de {{ getNumberPreguntas }}</span>
                </div>
            </div>
            <template v-if="showListaPreguntas">
                <div v-if="etapa.DescripcionEtapa === 'Revisando solventación CRP responsable'" class="uk-width-1-1">
                    <div class="uk-grid uk-margin-remove-left">
                        <div class="uk-width-1-1">
                            <div class="uk-grid">
                                <div class="uk-width-1-1@m uk-text-right">
                                    <div class="uk-label-success uk-border-rounded uk-display-inline uk-margin-small-right uk-text-uppercase uk-text-bold">
                                        Solventadas
                                    </div>
                                    <div class="uk-label-danger uk-border-rounded uk-display-inline uk-text-uppercase uk-text-bold">
                                        No solventadas
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-text-small uk-table-middle uk-table-hover">
                    <thead>
                    <tr>
                        <th class="uk-text-center">No. Pregunta</th>
                        <th>Pregunta</th>
                        <th class="uk-text-center">Estado</th>
                        <th class="uk-text-center">Puntuación</th>
                        <th class="uk-text-center">Clasificación</th>
                        <th class="uk-text-center">Anexos</th>
                    </tr>
                    </thead>
                    <tbody>
                        <template v-if="etapa.DescripcionEtapa !== 'Revisando solventación CRP responsable'">
                            <tr v-for="(pregunta, index) in preguntas" :key="index"
                                @click="showFormPregunta(pregunta)" class="uk-table-hover">
                                <td class="uk-text-uppercase uk-text-center">
                                    {{ pregunta.NoPregunta }}
                                </td>
                                <td class="uk-text-justify">
                                    {{ pregunta.Pregunta }}
                                </td>
                                <td class="uk-text-center">
                                    <span v-if="checkPreguntaTerminada(pregunta)" class="uk-text-success">
                                        Revisada
                                    </span>
                                    <span v-else class="uk-text-danger">
                                        No revisada
                                    </span>
                                </td>
                                <td class="uk-text-center">
                                    {{ pregunta.PuntosRespon }}
                                </td>
                                <td class="uk-text-center">
                                    {{ setClasificacion(pregunta.PuntosRespon) }}
                                </td>
                                <td class="uk-text-center">
                                    <span v-if="isNullAnexos(pregunta.No_Anexos)"></span>
                                    <span v-else-if="pregunta.No_Anexos === 0"></span>
                                    <span v-else>
                                        <i class="fas fa-paperclip fa-lg" :uk-tooltip="pregunta.No_Anexos"></i>
                                    </span>
                                </td>
                            </tr>
                        </template>
                        <template v-else>
                            <tr v-for="(pregunta, index) in preguntas"
                                :key="index"
                                style="cursor: pointer;"
                                @click="showFormPregunta(pregunta)"
                                :class="{'bg-success': isSolventada(pregunta), 'bg-danger': !isSolventada(pregunta)}">
                                <td class="uk-text-uppercase uk-text-center">
                                    {{ pregunta.NoPregunta }}
                                </td>
                                <td class="uk-text-justify">
                                    {{ pregunta.Pregunta }}
                                </td>
                                <td class="uk-text-center">
                                    <template v-if="isSolventada(pregunta) === false">
                                        <span v-if="checkPreguntaTerminada(pregunta)" class="uk-text-success">
                                            Revisada
                                        </span>
                                        <span v-else class="uk-text-danger">
                                            No revisada
                                        </span>
                                    </template>
                                </td>
                                <td class="uk-text-center">
                                    {{ pregunta.PuntosRespon }}
                                </td>
                                <td class="uk-text-center">
                                    {{ setClasificacion(pregunta.PuntosRespon) }}
                                </td>
                                <td class="uk-text-center">
                                    <template v-if="isSolventada(pregunta) === false">
                                        <span v-if="isNullAnexos(pregunta.No_Anexos) && isNullAnexos(pregunta.SolvNo_Anexos)"></span>
                                        <span v-else-if="pregunta.No_Anexos === 0 && pregunta.SolvNo_Anexos === 0"></span>
                                        <span v-else>
                                            <i class="fas fa-paperclip fa-lg" :uk-tooltip="pregunta.No_Anexos + pregunta.SolvNo_Anexos"></i>
                                        </span>
                                    </template>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5" class="uk-text-lead uk-text-bold">
                            TOTAL
                        </td>
                        <td class="uk-text-lead uk-text-bold">
                            {{ setPuntuacionTotal }}
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </template>
            <template v-else>
                <pregunta-cuestionario :preguntas="preguntas"
                                       @reloadpreguntas="reloadPreguntas"
                                       :auditoria="auditoria"
                                       :etapa="etapa"></pregunta-cuestionario>
                <button type="button"
                        class="uk-button uk-button-default uk-border-rounded uk-float-left uk-margin-small-top"
                        @click="resetPregunta"
                        v-show="showButtonBack">
                    <i class="fas fa-long-arrow-alt-left"></i> Regresar a lista de preguntas
                </button>
            </template>
        </div>
    </div>
</template>

<script>
    import PreguntaCuestionario from "@/js/components/auditoria_desempenio/Responsable/PreguntaCuestionario";
    export default {
        name: "FormCuestionario",
        props: ['auditoria', 'etapa'],
        components: {
            PreguntaCuestionario
        },
        created() {
            this.getPreguntas();
        },
        data() {
            return {
                preguntas: [],
                loading: false,
                pregunta: {},
                preguntaAnterior: {},
                preguntaSiguiente: {}
            }
        },
        methods: {
            getPreguntas() {
                this.loading = true;
                let data = {
                    auditoria: this.auditoria.AuditoriaID
                };
                axios.post('/api/desempenio/auditor/get-preguntas', data).then(resp => {
                    this.preguntas = resp.data.preguntas;
                    this.$store.commit('updateNoPreguntas', this.preguntas.length);
                    this.$store.commit('updatePreguntasDesempenio', this.preguntas);
                    this.loading = false;
                }).catch(e => {
                    console.log(e);
                    this.loading = false;

                })
            },
            checkPreguntaTerminada(pregunta) {
                if(pregunta.RecomendacionRespon === null) {
                    return false;
                } else {
                    return true;
                }
            },
            showFormPregunta(pregunta) {
                if(this.etapa.DescripcionEtapa !== 'Revisando solventación CRP responsable') {
                    this.$store.commit('updatePregunta', pregunta);
                    this.$store.dispatch('getAnexosDesempenioAuditor', {
                        pregunta: pregunta
                    });
                    this.setPreguntaAntSig(pregunta);
                    var elmnt = document.getElementById("pregunta_section");
                    elmnt.scrollIntoView();
                } else {
                    let isSolventada = this.isSolventada(pregunta);
                    if(isSolventada === false) {
                        this.$store.commit('updatePregunta', pregunta);
                        this.$store.dispatch('getAnexosDesempenioAuditor', {
                            pregunta: pregunta
                        });
                        this.setPreguntaAntSig(pregunta);
                        var elmnt = document.getElementById("pregunta_section");
                        elmnt.scrollIntoView();
                    } else {
                        return false;
                    }
                }
            },
            resetPregunta() {
                this.$store.commit('resetPregunta');
                this.getPreguntas();
                this.$store.commit('resetAnexos');
            },
            setPreguntaAntSig(pregunta) {
                let noPregunta = pregunta.NoPregunta;
                let totalPreguntas = this.preguntas.length;
                this.preguntaAnterior = {};
                this.preguntaSiguiente = {};
                if(noPregunta === 1) {
                    this.$store.commit('updatePreguntaAnterior', {});
                    this.$store.commit('updatePreguntaSiguiente', this.preguntas[1]);
                } else if(noPregunta === totalPreguntas) {
                    this.$store.commit('updatePreguntaAnterior', this.preguntas[totalPreguntas - 2]);
                    this.$store.commit('updatePreguntaSiguiente', {});
                } else {
                    this.$store.commit('updatePreguntaAnterior', this.preguntas[noPregunta - 2]);
                    this.$store.commit('updatePreguntaSiguiente', this.preguntas[noPregunta]);
                }
            },
            reloadPreguntas() {
                this.getPreguntas();
            },
            isNullAnexos(anexos){
                return _.isNull(anexos);
            },
            setClasificacion(puntuacion) {
                if(_.isNull(puntuacion)) {
                    return '';
                } else {
                    let totalPreguntas = this.getNumberPreguntas;
                    let puntuacionAlta = parseFloat(100 / totalPreguntas).toFixed(2);
                    let puntuacionMedia = parseFloat(puntuacionAlta / 2).toFixed(2);
                    if(parseFloat(puntuacion) === parseFloat(puntuacionAlta)) {
                        return 'A';
                    } else if(parseFloat(puntuacion) === parseFloat(puntuacionMedia)) {
                        return 'B';
                    } else {
                        return 'C';
                    }
                }
            },
            isSolventada(pregunta) {
                let totalPreguntas = this.preguntas.length;
                let puntuacionMaxima = parseFloat(100 / totalPreguntas).toFixed(2);
                return (parseFloat(puntuacionMaxima) === pregunta.PuntuacionActual);
            },
            setNumeroAnexosSolventacion(pregunta) {
                let anexosPrev = (_.isNull(pregunta.No_Anexos)) ? 0 : pregunta.No_Anexos;
                let anexosSolv = (_.isNull(pregunta.SolvNo_Anexos)) ? 0 : pregunta.SolvNo_Anexos;
                return anexosPrev + anexosSolv;
            }
        },
        computed: {
            getNumeroPreguntas() {
                return this.$store.getters.dataCuestionario.noPreguntas;
            },
            getDataPregunta() {
                return this.$store.getters.dataPregunta;
            },
            showButtonBack() {
                return (this.getNumeroPreguntas > 0 && _.isEmpty(this.getDataPregunta) === false);
            },
            showListaPreguntas() {
                return (_.isEmpty(this.$store.getters.dataPregunta));
            },
            isEmptyPregunta() {
                return (_.isEmpty(this.$store.getters.dataPregunta));
            },
            getNumberPregunta() {
                return this.$store.getters.dataPregunta.NoPregunta;
            },
            getNumberPreguntas() {
                return this.$store.getters.dataCuestionario.noPreguntas;
            },
            setPuntuacionTotal() {
                let preguntas = this.preguntas;
                let puntuacion = 0;
                for(let i = 0; i < preguntas.length; i++) {
                    puntuacion = puntuacion + preguntas[i].PuntosRespon;
                }
                return puntuacion.toFixed(2);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
    .uk-table-hover {
        cursor: pointer;
    }
    .uk-text-primary{
        color: $color-primary !important;
    }
    .uk-info-number {
        color: $color-primary !important;
    }
    .uk-label-success {
        width: 35px;
        height: 25px;
        border: 1px #81c784 solid;
        background-color: #81c784;
        padding: 5px 5px;
    }
    .uk-label-danger {
        width: 35px;
        height: 25px;
        border: 1px #e57373 solid;
        background-color: #e57373;
        padding: 5px 5px;
    }
    .bg-success {
        background-color: #EDFBF6 !important;
    }
    .bg-danger {
        background-color: #FEF4F6 !important;
    }
</style>
