<template>
    <form @submit.prevent="save">
        <!--Primera sección-->
        <div class="uk-alert-primary uk-border-rounded uk-text-uppercase uk-text-bold" uk-alert>
            <p>Adeudos del declarante, pareja y/o dependientes economicos</p>
        </div>
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-margin-small-bottom">
                <p class="uk-text-bold uk-text-uppercase">(*) Campos obligatorios</p>
            </div>
        </div>
        <div class="uk-grid uk-grid-small">
            <!-- cargar catalogo -->
            <div class="uk-width-2-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Titular del adeudo*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="tipo_titular" required>
                        <option :value="''">Seleccione el/los titulares</option>
                        <option v-for="(tipo_titular, index) in cat_tipo_titular" :key="index"
                                :value="tipo_titular.TipoTitular">{{tipo_titular.TipoTitular}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo de adeudo*</label>
                <div class="uk-form-controls">
                    <div class="uk-form-controls">
                        <select class="uk-select uk-border-rounded" v-model="tipo_adeudo" required>
                            <option :value="''">Seleccione el tipo de adeudo</option>
                            <option v-for="(tipo_adeudo, index) in cat_tipo_adeudo" :key="index"
                                    :value="tipo_adeudo.TipoAdeudoID">{{tipo_adeudo.Nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom" v-if="tipo_adeudo == 99">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Otro tipo de adeudo</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           type="text"
                           v-model="otro_tipo_adeudo">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Número de cuenta o contrato</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="no-cuenta"
                           type="text"
                           v-model="no_cuenta">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Fecha de adquisición adeudo/pasivo</label>
                <div class="uk-form-controls">
                    <flat-pickr id="fecha_inicio" class="uk-input uk-border-rounded" :config="config" v-model="fecha_adquisision"/>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Monto original del adeudo/pasivo</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="monto"
                           type="number"
                           v-model="monto">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Tipo de moneda</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="tipo-moneda"
                           type="text"
                           v-model="tipo_moneda">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">{{ setTextSaldo }}</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="saldo"
                           type="text"
                           v-model="saldo">
                </div>
            </div>
            <div class="uk-width-2-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">¿Dónde selocaliza la inversión, cuenta bancaria y otro tipo de valores / activos?</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': en_extranjero == 0}">
                            <input class="uk-radio" type="radio" name="radio3" v-model="en_extranjero" :value="0">En México
                        </label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': en_extranjero == 1}">
                            <input class="uk-radio" type="radio" name="radio3" v-model="en_extranjero" :value="1">En el extranjero
                        </label>
                    </div>
                </div>
            </div>
            <div v-if="en_extranjero == 1" class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">País</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="pais"
                           type="text"
                           v-model="pais">
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Aclaraciones / observaciones</label>
                <div class="uk-form-controls">
                    <textarea rows="3"
                              class="uk-textarea uk-border-rounded uk-text-uppercase"
                              v-model.trim="observaciones"
                              id="funciones"></textarea>
                </div>
            </div>
        </div>
        <!-- otorgante del credito -->
        <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
            <span class="uk-text-bold">
                <i class="fas fa-money-check"></i> Otorgante del credito
            </span>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo persona</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': tipo_persona_otorgante == 0}">
                            <input class="uk-radio" type="radio" name="radio4" v-model="tipo_persona_otorgante" :value="0">Persona física
                        </label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': tipo_persona_otorgante == 1}">
                            <input class="uk-radio" type="radio" name="radio4" v-model="tipo_persona_otorgante" :value="1">Persona Moral
                        </label>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">Nombre/Institución o razón social</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="razon-social"
                           type="text"
                           v-model="nombre_otorgante">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">RFC</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="rfc_institucion"
                           type="text"
                           v-model="rfc_otorgante">
                </div>
            </div>
        </div>
        <!-- Seccion terceros -->
        <div id="datos-terceros" v-if="showTerceros">
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                <span class="uk-text-bold">
                    <i class="fas fa-file-invoice"></i> Datos terceros
                </span>
            </div>
            <div class="uk-grid uk-grid-small">
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase">Tipo persona</label>
                    <div class="uk-form-controls">
                        <div class="uk-grid-small uk-child-width-auto uk-grid">
                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                   :class="{'uk-radio-custom-border': tipo_persona == 0}">
                                <input class="uk-radio" type="radio" v-model="tipo_persona" name="radio2" :value="0">Persona física
                            </label>
                            <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                                   :class="{'uk-radio-custom-border': tipo_persona == 1}">
                                <input class="uk-radio" type="radio" v-model="tipo_persona" name="radio2" :value="1">Persona Moral
                            </label>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="nombre-terceros">Nombre del tercero o terceros</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="nombre-terceros"
                               type="text"
                               v-model="nombre_tercero">
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase" for="rfc-terceros">RFC</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                               id="rfc-terceros"
                               type="text"
                               v-model="rfc_tercero">
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
            <button class="uk-button uk-button-default uk-border-rounded"
                    type="button"
                    @click="cancel">
                <span>Regresar</span>
            </button>
            <button class="uk-button uk-button-primary uk-border-rounded" :disabled="btnLoading" type="submit">
                <span v-show="btnLoading == false">Guardar</span>
                <span uk-spinner="ratio: 0.8" v-if="btnLoading"></span>
            </button>
        </div>
    </form>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';

    export default {
        name: "AdeudoForm",
        props: [
            'cat_tipo_titular',
            'cat_tipo_adeudo',
            'adeudo',
            'tipo',
            'marcadoComo'
        ],
        components: {
            flatPickr,
        },
        mounted() {
            if(_.isEmpty(this.adeudo) == false) {
                let adeudo = this.adeudo;
                this.tipo_titular = adeudo.Titular;
                this.tipo_adeudo = adeudo.TipoAdeudoID;
                this.no_cuenta = this.setNullVal(adeudo.NoCuenta);
                this.fecha_adquisision = this.setNullVal(adeudo.FechaOtorgamiento);
                this.monto = this.setNullVal(adeudo.MontoOriginal);
                this.tipo_moneda = this.setNullVal(adeudo.Moneda);
                this.saldo = this.setNullVal(adeudo.SaldoInsoluto);
                this.en_extranjero = adeudo.EsExtranjero;
                this.pais = this.setNullVal(adeudo.Ubicacion);
                this.observaciones = this.setNullVal(adeudo.Aclaraciones);
                this.tipo_persona_otorgante = parseInt(adeudo.TipoPersonaOtorgante);
                this.nombre_otorgante = this.setNullVal(adeudo.NombreRazonSocial);
                this.rfc_otorgante = this.setNullVal(adeudo.RFCOtorgante);
                this.tipo_persona = parseInt(adeudo.TipoPersonaTercero);
                this.nombre_tercero = this.setNullVal(adeudo.NombreTercero);
                this.rfc_tercero = this.setNullVal(adeudo.RFCTercero);
                this.adeudo_id = adeudo.AdeudoID;
                this.otro_tipo_adeudo = this.setNullVal(adeudo.TipoAdeudo);
            }
        },
        data() {
            return {
                tipo_titular: '',
                tipo_adeudo: '',
                no_cuenta: '',
                fecha_adquisision: '',
                monto: '',
                tipo_moneda: '',
                saldo: '',
                en_extranjero: 0,
                pais: '',
                observaciones: '',
                tipo_persona_otorgante: 0,
                nombre_otorgante: '',
                rfc_otorgante: '',
                tipo_persona: 0,
                nombre_tercero: '',
                rfc_tercero: '',
                btnLoading: false,
                adeudo_id: null,
                otro_tipo_adeudo: '',
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
            }
        },
        methods: {
            setNullVal(val) {
                return (_.isNull(val)) ? '' : val;
            },
            save(){
                if(_.isNull(this.marcadoComo)) {
                    alert('DEBE SELECCIONAR ALGUNA DE LAS OPCIONES GENERALES DE ESTA SECCIÓN (NINGUNO, AGREGAR, MODIFICAR, SIN CAMBIO, BAJA)');
                    return false;
                } else {
                    let data = {};
                    let adeudo_id;
                    if(this.adeudo_id == null){
                        adeudo_id = null;
                    } else {
                        adeudo_id = this.adeudo_id;
                    }

                    if (this.pais == ''){
                        data.ubicacion = 'Mexíco';
                    } else {
                        data.ubicacion = this.pais;
                    }
                    data.declaracion_id             =   this.getDatosDeclaracion.inf_gral.DeclaracionID;
                    data.titular                    =   this.tipo_titular;
                    data.tipo_adeudo_id             =   this.tipo_adeudo;
                    data.otro_tipo_adeudo           =   this.otro_tipo_adeudo;
                    data.no_cuenta                  =   this.no_cuenta;
                    data.fecha_otorgamiento         =   this.fecha_adquisision;
                    data.monto_original             =   this.monto;
                    data.moneda                     =   this.tipo_moneda;
                    data.saldo_insoluto             =   this.saldo;
                    data.nombre_tercero             =   this.nombre_tercero;
                    data.tipo_persona_tercero       =   this.tipo_persona;
                    data.rfc_tercero                =   this.rfc_tercero;
                    data.nombre_razon_social        =   this.nombre_otorgante;
                    data.tipo_persona_declarante    =   this.tipo_persona_otorgante;
                    data.es_extranjero              =   this.en_extranjero;
                    data.aclaraciones               =   this.observaciones;
                    data.adeudo_id                  =   adeudo_id;
                    data.rfc_otorgante              =   this.rfc_otorgante;
                    this.btnLoading = true;
                    axios.post('/api/declaracion/save-adeudos',data).then(resp =>{
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.btnLoading = false;
                        this.$emit('reloadData');
                        this.$emit('cancel');
                    }).catch(e =>{
                        console.log(e);
                        this.btnLoading = false;
                    })
                }
            },
            cancel() {
                this.$emit('cancel');
            },
        },
        computed:{
            showTerceros(){
                if(this.tipo_titular.includes('TERCEROS')) {
                    return true;
                } else {
                    return false;
                }
            },
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
            setTextSaldo() {
                let title = '';
                let tipo = this.tipo;
                if(_.isUndefined(tipo) == false) {
                    if(tipo.TipoDeclaracionID == 1 || tipo.TipoDeclaracionID == 4) {
                        return title + 'SALDO INSOLUTO (SITUACIÓN ACTUAL)';
                    }
                    if(tipo.TipoDeclaracionID == 2 || tipo.TipoDeclaracionID == 5) {
                        return title + 'SALDO INSOLUTO AL 31 DE DICIEMBRE DEL AÑO INMEDIATO ANTERIOR';
                    } else {
                        return title + 'SALDO INSOLUTO A LA FECHA DE CONCLUSIÓN DEL EMPLEO';
                    }
                    return title;
                } else {
                    return title;
                }
            },
        },
    }
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-input, .uk-select, .uk-textarea{
        text-transform: uppercase;
    }
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>
