<template>
    <form @submit.prevent="save">
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" >Beneficiario de algún programa público</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="beneficiario">
                        <option value="">Selecciona el participante</option>
                        <option v-for="(beneficiario, index) in cat_beneficiarios" :key="index"
                            :value="beneficiario.Beneficiario">{{beneficiario.Beneficiario}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" >Nombre del programa</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="programa"
                        type="text"
                        v-model="nombre_programa">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" >Institución que otorga el apoyo</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="institucion"
                        type="text"
                        v-model="institucion">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" >Nivel u orden de gobierno</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" id="nivel" v-model="orden_gobierno">
                        <option value="">Selecciona el orden de gobierno</option>
                        <option v-for="(orden, index) in cat_orden_gobierno" :key="index"
                            :value="orden.NivelOrdenID">{{orden.NombreOrden}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" >Tipo de apoyo</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" id="tipo-apoyo" v-model="tipo_apoyo">
                        <option value="">Selecciona el tipo de apoyo</option>
                        <option value="Subsidio">Subsidio</option>
                        <option value="Servicio">Servicio</option>
                        <option value="Obra">Obra</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
            </div>
            <div v-if="tipo_apoyo == 'Otro'" class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" >Especifique</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="tipo-apoyo"
                        type="text"
                        v-model="otro_tipo_apoyo">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" >Forma de recepción del apoyo</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label><input class="uk-radio" type="radio" v-model="forma_apoyo" name="radio1" checked value="0">Monetario</label>
                        <label><input class="uk-radio" type="radio" v-model="forma_apoyo" name="radio1" value="1">Especie</label>
                    </div>
                </div>
            </div>
            <div v-if="forma_apoyo == 0" class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" >Monto aproximado del apoyo mensual</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="monto-apoyo"
                        type="number"
                        v-model="monto_aproximado">
                </div>
            </div>
            <div v-else class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" >Especifique el apoyo</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="apoyo"
                        type="text"
                        v-model="apoyo_especificado">
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Aclaraciones / observaciones</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="observaciones"
                        type="text"
                        v-model="observaciones">
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                <button class="uk-button uk-button-default uk-border-rounded"
                        type="button"
                        @click="cancel">
                    <span>Regresar</span>
                </button>
                <button class="uk-button uk-button-primary uk-border-rounded" :disabled="btnLoading" type="submit">
                    <span v-show="btnLoading === false">Guardar</span>
                    <span uk-spinner="ratio: 0.8" v-if="btnLoading"></span>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
export default {
    name:'ApoyosBeneficiosForm',
    props:[
        'cat_beneficiarios',
        'cat_orden_gobierno',
        'apoyo',
        'marcadoComo'
    ],
    mounted(){
        if(_.isEmpty(this.apoyo) === false){
            let apoyo = this.apoyo;
            this.beneficiario = apoyo.Beneficiario;
            this.nombre_programa = apoyo.NombrePrograma;
            this.institucion = apoyo.NombreInstitucion;
            this.orden_gobierno = apoyo.AmbitoID;
            this.tipo_apoyo = apoyo.TipoApoyo;
            this.otro_tipo_apoyo = apoyo.Especificacion;
            this.forma_apoyo = apoyo.FormaRecepcion;
            this.monto_aproximado = apoyo.MontoApoyo;
            this.apoyo_especificado = apoyo.Especificacion
            this.observaciones = apoyo.Observaciones;
            this.apoyo_beneficio_id = apoyo.ApoyoBeneficioID;
        }
    },
    data(){
        return{
            beneficiario:'',
            nombre_programa: '',
            institucion:'',
            orden_gobierno:'',
            tipo_apoyo: '',
            otro_tipo_apoyo: '',
            forma_apoyo:0,
            monto_aproximado:'',
            apoyo_especificado: '',
            observaciones : '',
            apoyo_beneficio_id:null,
            btnLoading: false
        }
    },
    methods:{
        save(){
            if(_.isNull(this.marcadoComo)) {
                alert('DEBE SELECCIONAR ALGUNA DE LAS OPCIONES GENERALES DE ESTA SECCIÓN (NINGUNO, AGREGAR, MODIFICAR, SIN CAMBIO, BAJA)');
                return false;
            } else {
                //validacion de los campos
                let bien_mueble_id;
                if(this.bien_mueble == null){
                    bien_mueble_id = null;
                }
                let data = {};
                if (this.tipo_apoyo == 99){
                    data.tipo_apoyo = this.otro_tipo_apoyo;
                }else{
                    data.tipo_apoyo = this.tipo_apoyo;
                }
                data.declaracion_id                 =   this.getDatosDeclaracion.inf_gral.DeclaracionID;
                data.beneficiario                   =   this.beneficiario;
                data.nombre_programa                =   this.nombre_programa;
                data.nombre_institucion             =   this.institucion;
                data.ambito_id                      =   this.orden_gobierno;
                data.forma_recepcion                =   this.forma_apoyo;
                data.monto_apoyo                    =   this.monto_aproximado;
                data.especificacion                 =   this.apoyo_especificado;
                data.observaciones                  =   this.observaciones;
                data.apoyo_beneficio_id             =   this.apoyo_beneficio_id;
                this.btnLoading = true;
                axios.post('/api/declaracion/save-apoyo-beneficio',data).then(resp =>{
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.btnLoading = false;
                    this.$emit('reloadData');
                    this.$emit('cancel');
                }).catch(e =>{
                    console.log(e);
                    this.btnLoading = false;
                })
            }
        },
        cancel() {
            this.$emit('cancel');
        },
    },
    computed:{
        getDatosDeclaracion(){
            return this.$store.getters.getDatosDeclaracion;
        },
    },
}
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-input, .uk-select, .uk-textarea{
        text-transform: uppercase;
    }
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>
