<template>
    <form @submit.prevent="save">
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo de beneficio</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="tipo_beneficio">
                        <option value="">Seleccione tipo beneficio</option>
                        <option value="Sorteo">Sorteo</option>
                        <option value="Concurso">Concurso</option>
                        <option value="Donación">Donación</option>
                        <option value="Especifique">Otro</option>
                    </select>
                </div>
            </div>
            <div v-if="tipo_beneficio == 'Especifique'" class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Especifique el tipo de beneficio</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="especificar-tipo-beneficio"
                        type="text"
                        v-model="otro_tipo_beneficio">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Beneficiario</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="beneficiario">
                        <option value="">Selecciona el participante</option>
                        <option v-for="(beneficiario, index) in cat_beneficiarios" :key="index"
                            :value="beneficiario.Beneficiario">{{beneficiario.Beneficiario}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Otorgante</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': tipo_persona == 'fisica'}">
                            <input class="uk-radio" type="radio" name="radio1" v-model="tipo_persona" :value="'fisica'">Persona física</label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': tipo_persona == 'moral'}">
                            <input class="uk-radio" type="radio" name="radio1" v-model="tipo_persona" :value="'moral'">Persona Moral</label>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Nombre o razón social del otorgante</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="nombre-otorgante"
                        type="text"
                        v-model="nombre_otorgante">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">RFC</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="rfc"
                        type="text"
                        v-model="rfc_otorgante">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Forma de recepción del beneficio</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': recepcion_beneficio == 'Monetario'}">
                            <input class="uk-radio" type="radio" name="radio3" v-model="recepcion_beneficio" :value="'Monetario'">Monetario</label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': recepcion_beneficio == 0}">
                            <input class="uk-radio" type="radio" name="radio3" v-model="recepcion_beneficio" :value="'Epecie'">Especie</label>
                    </div>
                </div>
            </div>
            <div v-if="recepcion_beneficio == 'Epecie'" class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Especifique el beneficio</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="beneficio"
                        type="text"
                        v-model="beneficio_especifico">
                </div>
            </div>
            <template v-else>
                <div  class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase">Monto mensual aproximado del beneficio</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                            id="monto mensual"
                            type="text"
                            v-model="monto">
                    </div>
                </div>
                <div class="uk-width-1-3@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase">Tipo de moneda</label>
                    <div class="uk-form-controls">
                        <input class="uk-input uk-border-rounded uk-text-uppercase"
                            id="tipo-moneda"
                            type="text"
                            v-model="tipo_moneda">
                    </div>
                </div>
            </template>
            <!-- cargar catalogo -->
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Sector productivo al que pertenece</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="sector_id" required>
                        <option :value="''">Seleccione el sector al que pertenece</option>
                        <option v-for="(sector, index) in catalogo_sector" :key="index"
                            :value="sector.SectorID">{{sector.Sector}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Aclaraciones / observaciones</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="observaciones"
                        type="text"
                        v-model="observaciones">
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                <button class="uk-button uk-button-default uk-border-rounded"
                        type="button"
                        @click="cancel">
                    <span>Regresar</span>
                </button>
                <button class="uk-button uk-button-primary uk-border-rounded" :disabled="btnLoading" type="submit">
                    <span v-show="btnLoading == false">Guardar</span>
                    <span uk-spinner="ratio: 0.8" v-if="btnLoading"></span>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
export default{
    name:"BeneficiosForm",
    props:[
        'cat_beneficiarios',
        'catalogo_sector',
        'beneficio',
        'marcadoComo'
    ],
    mounted(){
        if(_.isEmpty(this.beneficio) == false){
            let beneficio = this.beneficio;
            if(beneficio.TipoBeneficio == 'Sorteo' || beneficio.TipoBeneficio == 'Concurso' || beneficio.TipoBeneficio == 'Donación'){
                this.tipo_beneficio = beneficio.TipoBeneficio;
                this.otro_tipo_beneficio = null;
            }else{
                this.tipo_beneficio = 'Especifique';
                this.otro_tipo_beneficio = beneficio.TipoBeneficio
            }
            this.beneficiario = beneficio.Titular;
            this.tipo_persona = beneficio.OtorganteTipoPersona;
            this.nombre_otorgante = beneficio.NombreRazonSocial;
            this.rfc_otorgante = beneficio.RFCOtorgante;
            this.recepcion_beneficio = beneficio.RecepcionBeneficio;
            this.beneficio_especifico = beneficio.Beneficio;
            this.monto = beneficio.MontoMensual;
            this.tipo_moneda = beneficio.TipoMoneda;
            this.sector_id = beneficio.SectorID;
            this.observaciones = beneficio.Observaciones;
            this.beneficio_privado_id = beneficio.BeneficioPrivadoID;
        }
    },
    data(){
        return{
            tipo_beneficio:'',
            otro_tipo_beneficio: null,
            beneficiario: '',
            tipo_persona: 'fisica',
            nombre_otorgante: '',
            rfc_otorgante:'',
            recepcion_beneficio:'Monetario',
            beneficio_especifico:null,
            monto:null,
            tipo_moneda:null,
            sector_id:'',
            observaciones:null,
            beneficio_privado_id:null,
            btnLoading:false
        }
    },
    methods:{
        save(){
            if(_.isNull(this.marcadoComo)) {
                alert('DEBE SELECCIONAR ALGUNA DE LAS OPCIONES GENERALES DE ESTA SECCIÓN (NINGUNO, AGREGAR, MODIFICAR, SIN CAMBIO, BAJA)');
                return false;
            } else {
                let data = {};
                if (this.tipo_beneficio == 'Especifique'){
                    data.tipo_beneficio = this.otro_tipo_beneficio;
                }else{
                    data.tipo_beneficio = this.tipo_beneficio;
                }
                data.declaracion_id             =   this.getDatosDeclaracion.inf_gral.DeclaracionID;
                data.titular                    =   this.beneficiario;
                data.otorgante_tipo_persona     =   this.tipo_persona;
                data.nombre_razon_social        =   this.nombre_otorgante;
                data.rfc_otorgante              =   this.rfc_otorgante;
                data.recepcion_beneficio        =   this.recepcion_beneficio;
                data.beneficio                  =   this.beneficio_especifico;
                data.monto_mensual              =   this.monto;
                data.tipo_moneda                =   this.tipo_moneda;
                data.sector_id                  =   this.sector_id;
                data.observaciones              =   this.observaciones;
                data.beneficio_privado_id       =   this.beneficio_privado_id;
                this.btnLoading = true;
                axios.post('/api/declaracion/save-beneficios-privados',data).then(resp =>{
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.btnLoading = false;
                    this.$emit('reloadData');
                    this.$emit('cancel');
                }).catch(e =>{
                    console.log(e);
                    this.btnLoading = false;
                })
            }
        },
        cancel() {
            this.$emit('cancel');
        },
    },
    computed:{
        getDatosDeclaracion(){
            return this.$store.getters.getDatosDeclaracion;
        },
    }
}
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-input, .uk-select, .uk-textarea{
        text-transform: uppercase;
    }
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>
