<template>
    <div class="uk-margin-small-bottom">
        <div class="uk-card uk-card-hover uk-card-default uk-card-body uk-padding-small uk-border-rounded">
            <div class="uk-grid">
                <div class="uk-width-1-6 uk-flex uk-flex-center uk-flex-middle">
                    <i class="fas fa-copy fa-3x"></i>
                </div>
                <div class="uk-width-5-6">
                    <div class="uk-card-title">
                        {{ title }}
                    </div>
                    <div class="uk-text-small uk-text-justify uk-margin-small-top uk-text-normal">
                        {{ description }}
                    </div>
                    <div class="uk-margin-small-top">
                        <span class="uk-badge uk-badge-success" v-show="isActive">
                            <i class="far fa-check-circle uk-margin-small-right"></i> Activo
                        </span>
                        <span class="uk-badge uk-badge-info" v-show="pendienteConfigurar">
                            <i class="fas fa-tools uk-margin-small-right"></i> Configuracion pendiente
                        </span>
                        <span class="uk-badge" style="cursor: pointer;">
                            <i class="fas fa-ellipsis-v"></i>
                        </span>
                        <div uk-dropdown="mode: click; pos: bottom-left">
                            <ul class="uk-list uk-margin-remove-bottom">
                                <li>
                                    <a class="uk-link-reset" @click="editarFormato">Editar</a>
                                </li>
                                <li>
                                    <a class="uk-link-reset" @click="crearCopia">Crear copia</a>
                                </li>
                                <li v-show="!isActive && !pendienteConfigurar">
                                    <a class="uk-link-reset" @click="marcarPrincipal">Marcar como principal</a>
                                </li>
                                <li class="uk-text-danger" v-show="!disableDelete">
                                    <a class="uk-link-reset" @click="borrarFormato">Borrar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "CardMenuFormatosPublicos",
    props:['title', 'description', 'isActive', 'id', 'camposAgregados', 'SeccionesAgregadas'],
    methods: {
        borrarFormato() {
            let data = {
                formatoId: this.id
            };
            axios.post('/api/declaracion/borrar-formato', data).then(resp => {
                this.$emit('reloadFormatos');
            }).catch(e => {
                console.log(e);
            });
        },
        marcarPrincipal() {
            let data = {
                formatoId: this.id
            };
            axios.post('/api/declaracion/marcar-principal-formato', data).then(resp => {
                this.$emit('reloadFormatos');
            }).catch(e => {
                console.log(e);
            });
        },
        editarFormato() {
            this.$emit('editFormato', this.id);
        },
        crearCopia() {
            this.$emit('copiarFormato',this.id);
        }
    },
    computed: {
        disableDelete(){
            let title = this.title.toUpperCase();
            if(title == 'FORMATO SISTEMA NACIONAL ANTICORRUPCIÓN') {
                return true;
            } else {
                return false;
            }
        },
        pendienteConfigurar() {
            if(this.camposAgregados == false || this.SeccionesAgregadas == false) {
                return true;
            } else {
                return false;
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    .uk-badge{
        background-color: $color-grey-disabled;
    }
    .uk-badge-success {
        background-color: $color-green;
    }
    .uk-badge-info {
        background-color: #ffeb3b;
        color: $color-black !important;
    }
</style>
