<template>
    <form @submit.prevent="save">
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Nombre *</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="nombre"
                           type="text"
                           v-model="nombre"
                           required>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="primerapellido">Primer apellido *</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="primerapellido"
                           type="text"
                           required
                           v-model="primer_apellido">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="segundoapellido">Segundo apellido</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="segundoapellido"
                           type="text"
                           v-model="segundo_apellido">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Fecha de nacimiento</label>
                <div class="uk-form-controls">
                    <flat-pickr id="fecha_ingreso"
                                :config="config"
                                class="uk-input uk-border-rounded"
                                v-model="fecha_nacimiento"/>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">RFC
                    <span v-if="rfc_valido" class="uk-text-success"> <i class="far fa-check-circle"></i> válido </span>
                    <span v-else-if="rfc_valido == null"></span>
                    <span v-else class="uk-text-danger"> <i class="far fa-times-circle"></i> no válido </span>
                </label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded"
                           id="rfc"
                           type="text"
                           v-model.trim="rfc">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Relación con el declarante</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="relacion_id">
                        <option value="">Seleccione el tipo de relación</option>
                        <option v-for="(vinculo, index) in cat_vinculo_personal" :key="index"
                                :value="vinculo.VinculoID">{{vinculo.Nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom" v-if="isOtroParentesco">
                <label class="uk-form-label uk-text-uppercase">Otra relación (especifique)</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           type="text"
                           v-model="otra_relacion">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">¿Es ciudadano extranjero?</label>
                <div class="uk-grid-small uk-child-width-auto uk-grid">
                    <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                           :class="{'uk-radio-custom-border': es_extrajero == 1}">
                        <input class="uk-radio" type="radio" name="radio2" v-model="es_extrajero" :value="1">Sí
                    </label>
                    <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                           :class="{'uk-radio-custom-border': es_extrajero == 0}">
                        <input class="uk-radio" type="radio" name="radio2" v-model="es_extrajero" :value="0">No
                    </label>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">CURP
                    <span v-if="curp_valido" class="uk-text-success"> <i class="far fa-check-circle"></i> válido </span>
                    <span v-else-if="curp_valido == null"></span>
                    <span v-else class="uk-text-danger"> <i class="far fa-times-circle"></i> no válido </span>
                </label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="CURP"
                           type="text"
                           v-model.trim="curp">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom" v-if="is_pareja == 1">
                <label class="uk-form-label uk-text-uppercase">¿Es dependiente económico</label>
                <div class="uk-grid-small uk-child-width-auto uk-grid">
                    <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                           :class="{'uk-radio-custom-border': es_dependiente == 1}">
                        <input class="uk-radio" type="radio" name="radio3" v-model="es_dependiente" :value="1">Sí
                    </label>
                    <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                           :class="{'uk-radio-custom-border': es_dependiente == 0}">
                        <input class="uk-radio" type="radio" name="radio3" v-model="es_dependiente" :value="0">No
                    </label>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">¿Habita en el domicilio del declarante?</label>
                <div class="uk-grid-small uk-child-width-auto uk-grid">
                    <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                           :class="{'uk-radio-custom-border': habita_domicilio == 1}">
                        <input class="uk-radio" type="radio" name="radio4" v-model="habita_domicilio" :value="1">Sí</label>
                    <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                           :class="{'uk-radio-custom-border': habita_domicilio == 0}">
                        <input class="uk-radio" type="radio" name="radio4" v-model="habita_domicilio" :value="0">No</label>
                </div>
            </div>
        </div>
        <div class="uk-width-1-1@m">
            <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark" v-if="habita_domicilio == 0">
                <span class="uk-text-bold">
                    <i class="fas fa-home"></i>
                    <span v-if="is_pareja">Domicilio de la pareja</span>
                    <span v-else>Domicilio del dependiente económico</span>
                </span>
            </div>
            <direccion v-if="habita_domicilio == 0" :estados="estados" :direccion="direccion"></direccion>
            <experiencias-dependientes :dependiente="dependiente"></experiencias-dependientes>
            <hr>
            <div class="uk-width-1-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Aclaraciones / Observaciones</label>
                <div class="uk-form-controls">
                    <textarea class="uk-textarea uk-border-rounded uk-text-uppercase"
                              id="observaciones"
                              rows="3"
                              v-model="observaciones">
                    </textarea>
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                <button class="uk-button uk-button-default uk-border-rounded"
                        @click="cancel"
                        type="button">
                    <span>Regresar</span>
                </button>
                <button class="uk-button uk-button-primary uk-border-rounded" :disabled="btnLoading" type="submit" v-if="getDatosDeclaracion.inf_gral.Finalizado == 0">
                    <span v-show="btnLoading == false">Guardar</span>
                    <span uk-spinner="ratio: 0.8" v-if="btnLoading"></span>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    import Direccion from "@/js/views/dashboard/declaracion/components/Direccion.vue";
    import ExperienciasDependientes from "./ExperienciasDependientes";
    export default {
        name: "DependientesForm",
        props: ['cat_vinculo_personal', 'estados', 'dependiente', 'is_pareja', 'sidepat', 'marcadoComo'],
        components: {
            flatPickr,
            Direccion,
            ExperienciasDependientes
        },
        mounted() {
            if(_.isEmpty(this.dependiente) == false) {
                this.relacion_id = this.dependiente.RelacionID;
                this.nombre = this.dependiente.Nombres;
                this.primer_apellido = this.dependiente.PrimerApellido;
                this.segundo_apellido = (_.isNull(this.dependiente.SegundoApellido)) ? '' : this.dependiente.SegundoApellido;
                this.fecha_nacimiento = this.dependiente.FechaNacimiento;
                this.rfc = (_.isNull(this.dependiente.RFC)) ? '' : this.dependiente.RFC;
                this.es_extrajero = this.dependiente.CiudadanoExtranjero;
                this.es_dependiente = this.dependiente.DependienteEconomico;
                this.habita_domicilio = this.dependiente.DomicilioDeclarante;
                this.observaciones = (_.isNull(this.dependiente.Observaciones)) ? '' : this.dependiente.Observaciones;
                this.dependiente_id = this.dependiente.DependienteID;
                this.otra_relacion = (_.isNull(this.dependiente.OtraRelacion)) ? '' : this.dependiente.OtraRelacion;
                if(_.isNull(this.dependiente.DireccionID) == false) {
                    this.getDireccion(this.dependiente.DireccionID);
                }
                //Re set Curp
                setTimeout(() => {
                    if(_.isNull(this.dependiente.Curp) || _.isUndefined(this.dependiente.Curp)) {
                        this.curp = '';
                    } else {
                        this.curp = this.dependiente.Curp;
                    }
                }, 500);
            }
            this.setImage();
        },
        data(){
            return {
                btnLoading: false,
                direccion: {},
                experiencia:{},
                relacion_id: '',
                nombre: '',
                primer_apellido: '',
                segundo_apellido: '',
                fecha_nacimiento: '',
                rfc: '',
                es_extrajero: 0,
                curp: '',
                es_dependiente: 1,
                habita_domicilio: 1,
                observaciones: '',
                dependiente_id: null,
                otra_relacion: '',
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
                rfc_valido: null,
                curp_valido: null
            }
        },
        methods: {
            setImage() {
                let buttons_primary = $(".uk-button-primary");
                if(buttons_primary.length > 0) {
                    for(let i = 0; i < buttons_primary.length; i++) {
                        $(buttons_primary[i]).css('background-color', this.sidepat.color_primario);
                    }
                }
            },
            save() {
                if(_.isNull(this.marcadoComo)) {
                    alert('DEBE SELECCIONAR ALGUNA DE LAS OPCIONES GENERALES DE ESTA SECCIÓN (NINGUNO, AGREGAR, MODIFICAR, SIN CAMBIO, BAJA)');
                    return false;
                } else {
                    if( (this.rfc_valido == null || this.rfc_valido == true) && (this.curp_valido == null || this.curp_valido == true) ) {
                        let data = this.getDatosDireccion;
                        data.relacion_id = this.relacion_id;
                        data.nombre = this.nombre;
                        data.primer_apellido = this.primer_apellido;
                        data.segundo_apellido = this.segundo_apellido;
                        data.fecha_nacimiento = this.fecha_nacimiento;
                        data.rfc = this.rfc;
                        data.es_extrajero = this.es_extrajero;
                        data.curp = this.curp;
                        data.es_dependiente = this.es_dependiente;
                        data.habita_domicilio = this.habita_domicilio;
                        data.observaciones = this.observaciones;
                        data.is_pareja = this.is_pareja;
                        data.dependiente_id = this.dependiente_id;
                        data.otra_relacion = this.otra_relacion;
                        this.btnLoading = true;
                        axios.post('/api/declaracion/save-dependientes', data).then(resp => {
                            UIkit.notification({
                                message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                                pos: 'top-right',
                                timeout: 3000
                            });
                            this.btnLoading = false;
                            location.reload();
                            //this.$emit('reloadData');
                        }).catch(e => {
                            this.btnLoading = false;
                            console.log(e);
                        });
                    } else {
                        alert("El RFC o la CURP no son válidos");
                        return false;
                    }
                }
            },
            getDireccion(direccionID) {
                axios.post('/api/declaracion/get-direccion', {direcion_id: direccionID}).then(resp => {
                    this.direccion = resp.data.direccion;
                }).catch(e => {
                    console.log(e);
                })
            },
            cancel() {
                this.$store.commit('resetDireccion');
                this.$emit('cancel');
            },
            rfcValido(rfc, aceptarGenerico = true) {
                const re       = /^([A-ZÑ&]{3,4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$/;
                let   validado = rfc.match(re);

                if (!validado)  //Coincide con el formato general del regex?
                    return false;

                //Separar el dígito verificador del resto del RFC
                const digitoVerificador = validado.pop(),
                    rfcSinDigito      = validado.slice(1).join(''),
                    len               = rfcSinDigito.length,

                    //Obtener el digito esperado
                    diccionario       = "0123456789ABCDEFGHIJKLMN&OPQRSTUVWXYZ Ñ",
                    indice            = len + 1;
                let suma,
                    digitoEsperado;

                if (len == 12) suma = 0
                else suma = 481; //Ajuste para persona moral

                for(var i=0; i<len; i++)
                    suma += diccionario.indexOf(rfcSinDigito.charAt(i)) * (indice - i);
                digitoEsperado = 11 - suma % 11;
                if (digitoEsperado == 11) digitoEsperado = 0;
                else if (digitoEsperado == 10) digitoEsperado = "A";

                //El dígito verificador coincide con el esperado?
                // o es un RFC Genérico (ventas a público general)?
                if ((digitoVerificador != digitoEsperado)
                    && (!aceptarGenerico || rfcSinDigito + digitoVerificador != "XAXX010101000"))
                    return false;
                else if (!aceptarGenerico && rfcSinDigito + digitoVerificador == "XEXX010101000")
                    return false;
                return rfcSinDigito + digitoVerificador;
            },
            curpValido(curp) {
                var re = /^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0\d|1[0-2])(?:[0-2]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$/,
                    validado = curp.match(re);

                if (!validado)  //Coincide con el formato general?
                    return false;

                //Validar que coincida el dígito verificador
                function digitoVerificador(curp17) {
                    //Fuente https://consultas.curp.gob.mx/CurpSP/
                    var diccionario  = "0123456789ABCDEFGHIJKLMNÑOPQRSTUVWXYZ",
                        lngSuma      = 0.0,
                        lngDigito    = 0.0;
                    for(var i=0; i<17; i++)
                        lngSuma= lngSuma + diccionario.indexOf(curp17.charAt(i)) * (18 - i);
                    lngDigito = 10 - lngSuma % 10;
                    if(lngDigito == 10)
                        return 0;
                    return lngDigito;
                }
                if (validado[2] != digitoVerificador(validado[1]))
                    return false;

                return true; //Validado
            }
        },
        computed: {
            getDatosDireccion() {
                return this.$store.getters.direccionDeclaracion;
            },
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
            isOtroParentesco() {
                return this.relacion_id == 99;
            }
        },
        watch: {
            rfc(val) {
                let rfc = val.trim().toUpperCase();
                if(rfc.length == 0) {
                    this.rfc_valido = null;
                } else {
                    //Llamar a metodo de validacion de rfc
                    let rfcCorrecto = this.rfcValido(rfc);
                    if (rfcCorrecto) {
                        this.rfc_valido = true;
                    } else {
                        this.rfc_valido = false;
                    }
                }
            },
            curp(val) {
                let curp = val.trim().toUpperCase();
                if(curp.length == 0) {
                    this.curp_valido = null;
                } else {
                    //Llamar a metodo de validacion de rfc
                    let curpCorrecto = this.curpValido(curp);
                    if (curpCorrecto) {
                        this.curp_valido = true;
                    } else {
                        this.curp_valido = false;
                    }
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-button-primary {
        background-color: $color-primary;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-input, .uk-select {
        text-transform: uppercase;
    }
</style>
