<template>
    <div class="uk-grid uk-margin-small-top">
        <div class="uk-width-1-1@m">
            <div class="uk-grid-small uk-grid">
                <div class="uk-width-1-1@m uk-margin-small-bottom">
                    <div class="uk-alert uk-alert-custom uk-border-rounded">
                        <label class="uk-form-label uk-text-uppercase">
                            <span v-if="typeof titulo === 'undefined'">Lugar donde reside</span>
                            <span v-else>{{ titulo }}</span>
                        </label>
                        <div class="uk-form-controls uk-margin-small-top">
                            <div class="uk-grid-small uk-child-width-auto uk-grid uk-text-uppercase">
                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom" :class="{'uk-radio-custom-border': residencia == 0}">
                                    <input class="uk-radio" type="radio" name="radio" v-model="residencia" checked :value="0">
                                    En México
                                </label>
                                <br>
                                <label class="uk-margin-small-left uk-border-rounded uk-radio-custom" :class="{'uk-radio-custom-border': residencia == 1}">
                                    <input class="uk-radio" type="radio" name="radio" v-model="residencia" :value="1">
                                    En el extranjero
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="residencia == 0">
                <!--Primera sección-->
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                        <label class="uk-form-label uk-text-uppercase" for="calle1">Calle *</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                   id="calle1"
                                   type="text"
                                   required
                                   v-model.trim="calle">
                        </div>
                    </div>
                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                        <label class="uk-form-label uk-text-uppercase" for="numero_exterior1">Número Exterior *</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                    id="numero_exterior1"
                                    type="text"
                                    required
                                    v-model.trim="numero_exterior">
                        </div>
                    </div>
                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                        <label class="uk-form-label uk-text-uppercase" for="numero_interior1">Número Interior</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                    id="numero_interior1"
                                    type="text"
                                    v-model.trim="numero_interior">
                        </div>
                    </div>
                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                        <label class="uk-form-label uk-text-uppercase" for="colonia">Colonia / Localidad *</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                    id="colonia"
                                    required
                                    type="text"
                                    v-model.trim="colonia">
                        </div>
                    </div>
                    <!--cargar catalogo de estados -->
                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                        <label class="uk-form-label uk-text-uppercase" for="entidad_federativa1">Entidad federativa *</label>
                        <div class="uk-form-controls">
                            <select id="entidad_federativa1"
                                    class="uk-select uk-border-rounded uk-text-uppercase"
                                    required
                                    v-model.trim="estado_id">
                                <option value="">Selecciona una opción</option>
                                <option :value="estado.EstadoID" v-for="(estado, index) in estados" :key="index">
                                    {{estado.Nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!--cargar catalogo de municipios dependiendo de la entidad federativa -->
                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                        <label class="uk-form-label uk-text-uppercase" for="municipio1">Municipio / Alcaldía *</label>
                        <div class="uk-form-controls">
                            <select id="municipio1"
                                    class="uk-select uk-border-rounded uk-text-uppercase"
                                    required
                                    v-model.trim="municipio_id">
                                <option value="">Selecciona una opción</option>
                                <option :value="municipio.MunicipioID" v-for="(municipio, index) in municipios" :key="index">
                                    {{ municipio.Nombre }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                        <label class="uk-form-label uk-text-uppercase" for="codigo_postal1">Código postal *</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                    id="codigo_postal1"
                                   required
                                    type="number"
                                   v-model.trim="codigo_postal">
                            <span class="uk-text-small uk-text-danger uk-text-uppercase" v-show="!validPostalCode">
                                El código postal debe ser de 5 números
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>
                <!--Primera sección-->
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                        <label class="uk-form-label uk-text-uppercase" for="calle2">Calle *</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                    id="calle2"
                                    type="text"
                                    v-model="calle"
                                    required>
                        </div>
                    </div>
                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                        <label class="uk-form-label uk-text-uppercase" for="numero_exterior2">Número Exterior *</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                    id="numero_exterior2"
                                    type="text"
                                    v-model="numero_exterior"
                                    required>
                        </div>
                    </div>
                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                        <label class="uk-form-label uk-text-uppercase" for="numero_interior2">Número Interior</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                    id="numero_interior2"
                                    v-model="numero_interior"
                                    type="text">
                        </div>
                    </div>
                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                        <label class="uk-form-label uk-text-uppercase" for="ciudad2">Ciudad / Localidad *</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                    id="ciudad2"
                                    required
                                    v-model="ciudad"
                                    type="text">
                        </div>
                    </div>
                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                        <label class="uk-form-label uk-text-uppercase" for="estado">Estado / Provincia *</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                    id="estado"
                                    required
                                    v-model="estado_extranjero"
                                    type="text">
                        </div>
                    </div>
                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                        <label class="uk-form-label uk-text-uppercase" for="pais2">País *</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                    id="pais2"
                                    required
                                    v-model="pais"
                                    type="text">
                        </div>
                    </div>
                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                        <label class="uk-form-label uk-text-uppercase" for="codigo_postal2">Código postal *</label>
                        <div class="uk-form-controls">
                            <input class="uk-input uk-border-rounded"
                                    id="codigo_postal2"
                                    required
                                    v-model="codigo_postal"
                                    type="number">
                            <span class="uk-text-small uk-text-danger uk-text-uppercase" v-show="!validPostalCode">
                                El código postal debe ser de 5 números
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name:"Direccion",
    props:['estados', 'direccion', 'titulo'],
    mounted() {
        this.getMunicipios(this.direccion.estado_id);
    },
    data(){
        return{
            municipios: [],
            validPostalCode: false
        }
    },
    methods: {
        getMunicipios(val) {
            axios.post('/api/declaracion/get-municipios', {estado_id: val}).then(resp => {
                this.municipios = resp.data.municipios;
                if(_.isEmpty(this.getDireccion) == false) {
                    this.municipio_id = this.getDireccion.MunicipioID;
                }
            }).catch(e => {
                this.municipios = [];
                console.log(e);
            });
        }
    },
    computed: {
        residencia: {
            get () {
                return this.$store.getters.direccionDeclaracion.residencia;
            },
            set (value) {
                this.$store.commit('updateResidencia', value);
            }
        },
        calle: {
            get() {
                return this.$store.getters.direccionDeclaracion.calle;
            },
            set (value) {
                this.$store.commit('updateCalle', value);
            }
        },
        numero_exterior: {
            get() {
                return this.$store.getters.direccionDeclaracion.numero_exterior;
            },
            set(value) {
                this.$store.commit('updateNumeroExterior', value);
            }
        },
        numero_interior: {
            get() {
                return this.$store.getters.direccionDeclaracion.numero_interior;
            },
            set(value) {
                this.$store.commit('updateNumeroInterior', value);
            }
        },
        colonia: {
            get() {
                return this.$store.getters.direccionDeclaracion.colonia;
            },
            set(value) {
                this.$store.commit('updateColonia', value);
            }
        },
        municipio_id: {
            get() {
                return this.$store.getters.direccionDeclaracion.municipio_id;
            },
            set(value) {
                this.$store.commit('updateMunicipioId', value);
            }
        },
        estado_id: {
            get() {
                return this.$store.getters.direccionDeclaracion.estado_id;
            },
            set(value) {
                this.$store.commit('updateEstadoId', value);
            }
        },
        codigo_postal: {
            get() {
                return this.$store.getters.direccionDeclaracion.codigo_postal;
            },
            set(value) {
                this.$store.commit('updateCodigoPostal', value);
            }
        },
        ciudad: {
            get() {
                return this.$store.getters.direccionDeclaracion.ciudad;
            },
            set(value) {
                this.$store.commit('updateCiudad', value);
            }
        },
        estado_extranjero: {
            get() {
                return this.$store.getters.direccionDeclaracion.estado_extranjero;
            },
            set(value) {
                this.$store.commit('updateEstadoExtranjero', value);
            }
        },
        pais: {
            get() {
                return this.$store.getters.direccionDeclaracion.pais;
            },
            set(value) {
                this.$store.commit('updatePais', value);
            }
        },
        observaciones: {
            get() {
                return this.$store.getters.direccionDeclaracion.observaciones;
            },
            set(value) {
                this.$store.commit('updateObservaciones', value);
            }
        },
        direccion_id: {
            get() {
                return this.$store.getters.direccionDeclaracion.direccion_id;
            },
            set(value) {
                this.$store.commit('updateDireccionId', value);
            }
        },
        getDireccion() {
            return this.direccion;
        },
    },
    watch: {
        'estado_id': function(val) {
            if(val == '') {
                this.municipios = [];
            } else {
                this.getMunicipios(val);
            }
        },
        'codigo_postal': function(val) {
            if (val !== '') {
                let patt = new RegExp("^[0-9]{5}$");
                this.validPostalCode = patt.test(val);
            } else {
                return false;
            }
        },
        'residencia': function(val) {
            let direccion = this.getDireccion;
            if(_.isEmpty(direccion) == false) {
                if(direccion.EsExtranjero == 0) {
                    if(val == 1) {
                        this.estado_id = '';
                    } else {
                        this.estado_id = direccion.EstadoID;
                    }
                } else {
                    if(val == 0) {
                        this.estado_id = '';
                    } else {
                        this.estado_id = direccion.EstadoID;
                    }
                }
            } else {
                this.estado_id    = '';
                this.municipio_id = '';
            }
        },
        getDireccion: function(val) {
            if(_.isEmpty(val) == false) {
                this.residencia        = val.EsExtranjero;
                this.calle             = val.Calle;
                this.numero_exterior   = val.NumeroExterior;
                this.numero_interior   = val.NumeroInterior;
                this.colonia           = val.Colonia;
                this.estado_id         = val.EstadoID;
                this.codigo_postal     = val.CodigoPostal;
                this.ciudad            = val.Ciudad;
                this.estado_extranjero = val.EstadoExtranjero;
                this.pais              = val.Pais;
                this.observaciones     = val.Aclaraciones
                this.direccion_id      = val.DireccionID
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-alert-custom{
        background-color: transparent;
        border: 1px #b0bec5 solid;
    }
</style>
