<template>
    <form @submit.prevent="save">
        <!--Primera sección-->
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-margin-small-bottom">
                <p class="uk-text-bold uk-text-uppercase">(*) Campos obligatorios</p>
            </div>
        </div>
        <div class="uk-grid uk-grid-small">
            <!-- cargar catalogo -->
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo de bien*</label>
                <div class="uk-form-controls">
                    <select class="uk-select uk-border-rounded" v-model="tipo_bien" required>
                        <option v-bind:value="1">Inmueble</option>
                        <option v-bind:value="2">Vehículo</option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Nombre del dueño o titlular*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="titular"
                           required
                           type="text"
                           v-model="titular">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo persona</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': tipo_persona == 1}">
                            <input class="uk-radio"
                                   type="radio"
                                   name="radio2"
                                   v-model="tipo_persona"
                                   :value="1">Persona Fisíca
                        </label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': tipo_persona == 2}">
                            <input class="uk-radio"
                                   type="radio"
                                   name="radio2"
                                   v-model="tipo_persona"
                                   :value="2">Persona Moral
                        </label>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">RFC</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="rfc"
                           type="text"
                           v-model="rfc">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Relación con el dueño o titular</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           type="text"
                           v-model="vinculo">
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom" v-if="tipo_bien == 1">
                <label class="uk-form-label uk-text-uppercase">Tipo de construcción*</label>
                <div class="uk-form-controls">
                    <!-- cargar catalogo -->
                    <select class="uk-select uk-border-rounded"
                            id="tipo-construccion"
                            v-model="tipo_bien_id_inmueble" required>
                        <option value="">Selecciona un tipo de bien mueble</option>
                        <option v-for="(bien_inmueble, index) in catalogo_bien_inmueble"
                                :key="index" :value="bien_inmueble.TipoBienID">
                            {{bien_inmueble.Nombre}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-margin-small-bottom" v-if="tipo_bien_id_inmueble == 99 && tipo_bien == 1">
                <label class="uk-form-label uk-text-uppercase">Otro (especifique)*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           type="text"
                           required
                           v-model="otro_bien">
                </div>
            </div>
            <div class="uk-width-1-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Aclaraciones / observaciones</label>
                <div class="uk-form-controls">
                    <textarea rows="3"
                              class="uk-textarea uk-border-rounded uk-text-uppercase"
                              id="funciones" v-model="observaciones">
                    </textarea>
                </div>
            </div>
        </div>
        <div v-if="tipo_bien == 1" class="uk-grid uk-grid-small">
            <direccion :estados="estados"
                       :direccion="direccion"
                       :titulo="'Ubicación del Inmueble'"></direccion>
        </div>
        <div v-if="tipo_bien == 2" class="uk-grid uk-grid-small">
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Tipo de vehículo*</label>
                <div class="uk-form-controls">
                    <!-- cargar catalogo -->
                    <select class="uk-select uk-border-rounded" id="tipo-vehiculo" v-model="tipo_bien_id_vehiculo" required>
                        <option value="">Selecciona un tipo de vehículo</option>
                        <option v-for="(bien_vehiculo, index) in catalogo_bien_vehiculos"
                                :key="index"
                                :value="bien_vehiculo.TipoBienID">
                            {{ bien_vehiculo.Nombre }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom" v-if="tipo_bien_id_vehiculo == 99">
                <label class="uk-form-label uk-text-uppercase">Otro (especifique)*</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           type="text"
                           required
                           v-model="otro_bien">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Marca</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="marca"
                           v-model="marca"
                           type="text">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Modelo</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="modelo"
                           v-model="modelo"
                           type="text">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Año</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="Anio"
                           v-model="anio"
                           type="text">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Número de serie o registro</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="no-serie"
                           v-model="no_serie"
                           type="text">
                </div>
            </div>
            <div class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">¿Dónde se encuentra registrado?</label>
                <div class="uk-form-controls">
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': en_extranjero == 0}">
                            <input class="uk-radio" type="radio" name="radio3" v-model="en_extranjero" :value="0">En México
                        </label>
                        <label class="uk-margin-small-left uk-border-rounded uk-radio-custom uk-text-uppercase"
                               :class="{'uk-radio-custom-border': en_extranjero == 1}">
                            <input class="uk-radio" type="radio" name="radio3" v-model="en_extranjero" :value="1">En el extranjero
                        </label>
                    </div>
                </div>
            </div>
            <div v-if="en_extranjero == 1" class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">País</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                           id="pais"
                           v-model="pais"
                           type="text">
                </div>
            </div>
            <div v-else class="uk-width-1-3@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase">Entidad federativa</label>
                <div class="uk-form-controls">
                    <select id="entidad_federativa1"
                            class="uk-select uk-border-rounded uk-text-uppercase"
                            required
                            v-model.trim="entidad_federativa">
                        <option value="">Selecciona una opción</option>
                        <option :value="estado.Nombre" v-for="(estado, index) in estados" :key="index">
                            {{estado.Nombre}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
            <button class="uk-button uk-button-default uk-border-rounded"
                    type="button"
                    @click="cancel">
                <span>Regresar</span>
            </button>
            <button class="uk-button uk-button-primary uk-border-rounded" :disabled="btnLoading" type="submit">
                <span v-show="btnLoading == false">Guardar</span>
                <span uk-spinner="ratio: 0.8" v-if="btnLoading"></span>
            </button>
        </div>
    </form>
</template>

<script>
    import Direccion from "@/js/views/dashboard/declaracion/components/Direccion.vue";
    export default {
        name: "PrestamosForm",
        props: ['estados', 'catalogo_bien_inmueble', 'catalogo_bien_vehiculos', 'cat_vinculo_personal', 'prestamo', 'marcadoComo'],
        components:{
            Direccion
        },
        mounted() {
            if(_.isEmpty(this.prestamo) == false) {
                this.tipo_bien = this.prestamo.TipoDeBien;
                this.en_extranjero = this.prestamo.RegistroEnExtranjero;
                this.titular = this.prestamo.Titular;
                this.tipo_bien_id_inmueble = this.prestamo.BienInmuebleID;
                this.tipo_bien_id_vehiculo = this.prestamo.BienMuebleID;
                this.vinculo = this.prestamo.Vinculo;
                this.otro_bien = (_.isNull(this.prestamo.OtroBien)) ? '' : this.prestamo.OtroBien;
                this.observaciones = (_.isNull(this.prestamo.Observaciones)) ? '' : this.prestamo.Observaciones;
                this.marca = (_.isNull(this.prestamo.Marca)) ? '' : this.prestamo.Marca;
                this.modelo = (_.isNull(this.prestamo.Modelo)) ? '' : this.prestamo.Modelo;
                this.anio = (_.isNull(this.prestamo.Anio)) ? '' : this.prestamo.Anio;
                this.no_serie = (_.isNull(this.prestamo.NoSerie)) ? '' : this.prestamo.NoSerie;
                this.pais = (_.isNull(this.prestamo.Pais)) ? '' : this.prestamo.Pais;
                this.entidad_federativa = (_.isNull(this.prestamo.EntidadFederativa)) ? '' : this.prestamo.EntidadFederativa;
                this.rfc = (_.isNull(this.prestamo.RFCTitular)) ? '' : this.prestamo.RFCTitular;
                this.prestamo_id = this.prestamo.PrestamoID;
                this.getDireccion(this.prestamo.DireccionID);
            }
        },
        data() {
            return {
                tipo_bien: 1,
                en_extranjero: 0,
                titular: '',
                tipo_bien_id_inmueble: '',
                tipo_bien_id_vehiculo: '',
                relacion_titular: '',
                otro_bien: '',
                observaciones: '',
                marca: '',
                modelo: '',
                anio: '',
                no_serie: '',
                pais: '',
                entidad_federativa: '',
                rfc:'',
                prestamo_id: null,
                tipo_persona: 1,
                vinculo: '',
                direccion: {},
                btnLoading: false
            }
        },
        methods: {
            save() {
                if(_.isNull(this.marcadoComo)) {
                    alert('DEBE SELECCIONAR ALGUNA DE LAS OPCIONES GENERALES DE ESTA SECCIÓN (NINGUNO, AGREGAR, MODIFICAR, SIN CAMBIO, BAJA)');
                    return false;
                } else {
                    this.btnLoading = true;
                    let data                      = this.getDatosDireccion;
                    data.declaracion_id           = this.getDatosDeclaracion.inf_gral.DeclaracionID;
                    data.tipo_bien = this.tipo_bien;
                    data.en_extranjero =  this.en_extranjero;
                    data.titular =  this.titular;
                    data.tipo_bien_id_inmueble =  this.tipo_bien_id_inmueble;
                    data.tipo_bien_id_vehiculo=  this.tipo_bien_id_vehiculo;
                    data.relacion_titular=  this.relacion_titular;
                    data.otro_bien=  this.otro_bien;
                    data.observaciones=  this.observaciones;
                    data.marca=  this.marca;
                    data.modelo=  this.modelo;
                    data.anio=  this.anio;
                    data.no_serie=  this.no_serie;
                    data.pais=  this.pais;
                    data.entidad_federativa=  this.entidad_federativa;
                    data.rfc= this.rfc;
                    data.prestamo_id = this.prestamo_id;
                    data.tipo_persona= this.tipo_persona;
                    data.vinculo = this.vinculo;
                    axios.post('/api/declaracion/save-prestamo', data).then(resp => {
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.btnLoading = false;
                        this.$emit('reloadData');
                        this.$emit('cancel');
                    }).catch(e => {
                        console.log(e);
                        this.btnLoading = false;
                    });
                }
            },
            cancel() {
                this.$store.commit('resetDireccion');
                this.$emit('cancel');
            },
            getDireccion(direccionID) {
                axios.post('/api/declaracion/get-direccion', {direcion_id: direccionID}).then(resp => {
                    this.direccion = resp.data.direccion;
                }).catch(e => {
                    console.log(e);
                })
            },
        },
        computed: {
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
            getDatosDireccion() {
                return this.$store.getters.direccionDeclaracion;
            },
        },
    }
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-input, .uk-select, .uk-textarea{
        text-transform: uppercase;
    }
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>
