<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Menú principal</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Menú principal</h3>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <div v-if="loading" class="uk-width-1-1">
                    <div class="uk-margin-medium-top uk-margin-medium-bottom uk-text-center uk-text-uppercase">
                        <span uk-spinner="ratio: 3"></span> <br>
                        Cargando auditorías...
                    </div>
                </div>
                <div v-else class="uk-width-1-1">
                    <template v-if="hasAudControlInterno === false && hasAudDesempenio === false">
                        <p class="uk-text-center uk-text-uppercase">
                            No se encontrarón auditorías disponibles
                        </p>
                    </template>
                    <template v-else>
                        <div class="uk-grid">
                            <!--Auditoria de control interno-->
                            <menu-card
                                v-if="hasAudControlInterno"
                                title="Auditoría de Control Interno"
                                description="Acceso a los módulos de Auditoría de Control Interno"
                                goToUrl="dashboard_auditor_control_interno">
                                <i class="fas fa-clipboard-check fa-3x"></i>
                            </menu-card>
                            <!--Módulo de desempeño-->
                            <menu-card
                                v-if="hasAudDesempenio"
                                title="Auditoría de Desempeño"
                                description="Acceso a los módulos de Auditoría de Desempeño"
                                goToUrl="dashboard_auditor_desempenio">
                                <i class="fas fa-handshake fa-3x"></i>
                            </menu-card>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import MenuCard from "@/js/components/MenuCard";
export default {
    name: "indexAuditor",
    components: {
        MenuCard
    },
    created() {
        this.checkAuditoriaControlInterno();
        this.checkAuditoriaDesempenio();
    },
    data() {
        return {
            hasAudControlInterno: false,
            hasAudDesempenio: false,
            loading: true
        }
    },
    methods: {
        checkAuditoriaControlInterno() {
            axios.post('/api/auditor/check-has-auditoria-control-interno').then(resp => {
                this.hasAudControlInterno = resp.data.hasAudControlInterno;
                this.loading = false;
            }).catch(e => {
                console.log(e);
                this.loading = false;
            })
        },
        checkAuditoriaDesempenio() {
            axios.post('/api/desempenio/auditor/check-has-auditoria-desempenio').then(resp => {
                this.hasAudDesempenio = resp.data.hasAudDesempenio;
            }).catch(e => {
                console.log(e);
            });
        }
    },
}
</script>

<style lang="scss" scoped>
.uk-container-expand{
    .uk-container {
        .uk-grid{
            .uk-breadcrumb{
                li > span {
                    font-family: $ff-franklin !important;
                }
                .uk-breadcrumb-active{
                    background-color: $color-grey-disabled;
                    color: $color-black;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 4px;
                    padding-bottom: 5px;
                    border-radius: 5px;
                }
            }
            h3{
                font-family: $ff-franklin !important;
            }
        }
    }
}
</style>
