<template>
    <div class="uk-grid">
        <div class="uk-width-1-1 uk-text-center uk-padding">
            <img src="/img/svg/ilustration2.svg" width="450" class="uk-margin-large-top"/>
            <p class="uk-margin-small-top">
                <span uk-spinner="ratio: 2"></span> <br>
                CARGANDO AUDITORIA DE DESEMPEÑO...
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PlataformaSad",
        created() {
            this.getUserRole()
        },
        methods: {
            getUserRole() {
                let data = {
                    plataforma: 'SAD'
                };
                axios.post('/api/get-user-platform-rol', data).then(resp => {
                    let userRol = resp.data.userType.NombreRol;
                    if(userRol === 'Responsable Auditoria SAD') {
                        localStorage.setItem('user_rol', 'responsable');
                        this.$router.push({name: 'auditoria-desempenio'});
                    } else {
                        localStorage.setItem('user_rol', 'auditor');
                        this.$router.push({name: 'dashboard_auditor_desempenio'});
                    }
                }).catch(e => {
                    console.log(e);
                    this.$router.push({
                        name: 'dashboard'
                    })
                })
            }
        }
    }
</script>

<style scoped>

</style>
