<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'auditoria-desempenio'}" class="uk-text-uppercase uk-text-small">Auditoría de desempeño</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'admin_cuestionarios_sad'}" class="uk-text-uppercase uk-text-small">Módulo de Cuestionarios</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Detalle del cuestionario</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-small-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">
                                {{ info.Nombre }}
                            </h3>
                        </div>
                        <div class="uk-width-1-2 uk-flex uk-flex-middle uk-flex-right">
                            <button class="uk-button uk-button-default uk-border-rounded"
                                    type="button"
                                    @click="goBack()">
                                <i class="fas fa-angle-left"></i> Regresar
                            </button>
<!--                            <button class="uk-button uk-button-default uk-border-rounded uk-margin-small-left"
                                    @click="openNuevoTema"
                                    uk-tooltip="Agregar nuevo tema"
                                    type="button">
                                <i class="fas fa-plus-circle fa-lg"></i>
                            </button>-->
                        </div>
                        <div class="uk-width-1-1 uk-margin-small-top">
                            <p style="background-color: #ffffff; padding: 8px 10px;" class="uk-border-rounded">
                                <span style="font-size: 16px; font-weight: 500; margin-left: 5px;">Preguntas:</span>
                                <span>{{ info.preguntas.length }}</span>
                                |
                                <span style="font-size: 16px; font-weight: 500; margin-left: 5px;">Puntuación por pregunta:</span>
                                <span v-if="info.preguntas.length > 0">{{ (100 / info.preguntas.length).toFixed(2) }}</span>
                                <span v-else>0</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-margin-small-top">
                    <table class="uk-table uk-table-divider uk-table-striped uk-table-small uk-text-small uk-table-middle uk-table-hover">
                        <tbody>
                            <tr v-for="(pregunta, index) in info.preguntas" class="uk-pregunta">
                                <td class="uk-text-center">{{ index + 1 }}</td>
                                <td class="uk-text-justify">{{ pregunta.Pregunta }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: '',
        created(){
            this.getDataCuestionario();
        },
        data() {
            return {
                info: {}
            }
        },
        methods: {
            goBack(){
                this.$router.push({ name: 'admin_cuestionarios_sad'});
            },
            getDataCuestionario(){
                let data = {
                    cuestionario : this.$route.params.cuestionario_id
                };
                // obtenemos las preguntas del cuestionario
                axios.post('/api/desempenio/get-cuestionario',data).then(resp =>{
                    this.info = resp.data.cuestionario;
                }).catch(e =>{
                    console.log(e);
                });
            },
        }
    }
</script>

<style scoped lang="scss">
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        background-color: #616161;
                        cursor: pointer;
                    }
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
                .uk-item-tema {
                    padding: 12px 15px;
                    background-color: #cfd8dc;
                    border-radius: 5px;
                    font-size: 15px;
                    font-weight: 500;
                }
                .uk-info-preguntas {
                    font-weight: 500;
                    font-size: 13px;
                }
                .uk-pregunta {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-cursor-pointer {
            cursor:pointer;
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .icon-hover{
            color: #424242;
        }
        .uk-card-section{
            color: $color-primary;
            background-color: $color-white;
            border: 1px #bdbdbd solid;
            h4 {
                color: $color-primary;
                margin-bottom: 5px !important;
            }
            span{
                font-size: 12px;
                color: $color-primary;
                text-transform: uppercase;
                font-weight: bold;
            }
            &:hover {
                border: 1px $color-primary solid;
                cursor: pointer;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            }
        }
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-button-disabled:disabled,
    .uk-button-disabled[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>
