<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'auditoria-desempenio'}" class="uk-text-uppercase uk-text-small">Auditoría de desempeño</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'modulo-enlaces-desempenio'}" class="uk-text-uppercase uk-text-small">Módulo de Enlaces</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Detalle del enlace</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Detalle del enlace</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <router-link class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         :to="{name: 'modulo-enlaces-desempenio'}">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-small-top">
                        <div id="error" class="uk-width-1-1" v-if="error.length > 0">
                            <div class="uk-alert uk-alert-danger uk-border-rounded uk-text-uppercase uk-text-bold uk-margin-small-bottom uk-margin-small-top uk-text-center uk-animation-shake">
                                <ul class="uk-list errors uk-text-small">
                                    <li v-for="err in error">{{err}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="uk-width-1-1@m">
                            <form @submit.prevent="save">
                                <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                                    <span class="uk-text-bold">
                                        <i class="fas fa-user"></i> Información personal
                                    </span>
                                </div>
                                <!--Primera sección-->
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="nombre">Nombre *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="nombre"
                                                   type="text"
                                                   required
                                                   v-model.trim="personal_data.name">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="primerapellido">Primer apellido *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="primerapellido"
                                                   type="text"
                                                   required
                                                   v-model.trim="personal_data.first_last_name">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="segundoapellido">Segundo apellido</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="segundoapellido"
                                                   type="text"
                                                   v-model.trim="personal_data.second_last_name">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="profesion">Profesión</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="profesion"
                                                   type="text"
                                                   v-model.trim="personal_data.profession">
                                        </div>
                                    </div>
                                    <div class="uk-width-2-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="email">Correo electrónico </label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded"
                                                   id="email"
                                                   type="email"
                                                   v-model.trim="personal_data.email">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-alert uk-border-rounded uk-text-uppercase uk-margin-medium-top uk-bg-dark">
                                <span class="uk-text-bold">
                                    <i class="fas fa-user-tie"></i> Información del cargo
                                </span>
                                </div>
                                <div class="uk-alert uk-alert-primary uk-border-rounded uk-text-center uk-text-uppercase">
                                    El correo electrónico institucional es el que se tomará en cuenta para dar acceso a los enlaces.
                                </div>
                                <!--Segunda sección-->
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-1-1 uk-margin-small-top uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="entidad">Entidad donde labora *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="entidad"
                                                   type="text"
                                                   required
                                                   v-model.trim="cargo_data.entidad"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="uk-width-2-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="puesto">Cargo que desempeña *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                   id="puesto"
                                                   type="text"
                                                   required
                                                   v-model.trim="cargo_data.cargo">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="fecha_ingreso">Fecha de ingreso al cargo</label>
                                        <div class="uk-form-controls">
                                            <flat-pickr id="fecha_ingreso"
                                                        v-model="cargo_data.fecha_ingreso"
                                                        :config="config"
                                                        class="uk-input uk-border-rounded"/>
                                        </div>
                                    </div>
                                    <div class="uk-width-2-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="correo_institucional">Correo institucional *</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded"
                                                   id="correo_institucional"
                                                   type="email"
                                                   required
                                                   v-model.trim="cargo_data.email">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="telefono">Teléfono</label>
                                        <div class="uk-form-controls">
                                            <cleave id="telefono"
                                                    v-model.trim="cargo_data.phone"
                                                    :options="optionsCleave"
                                                    class="uk-input uk-border-rounded"></cleave>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-1">
                                        <button type="submit"
                                                class="uk-button uk-button-primary uk-margin-small-left uk-float-right uk-border-rounded">
                                            Actualizar enlace
                                            <span class="uk-margin-small-right"
                                                  uk-spinner="ratio: 0.6"
                                                  v-show="saving"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Cleave from 'vue-cleave-component';
    require('cleave.js/dist/addons/cleave-phone.mx.js');
    import flatpickr from "flatpickr";
    import { Spanish } from "flatpickr/dist/l10n/es.js"
    flatpickr.localize(Spanish);
    import flatPickr from 'vue-flatpickr-component';
    import 'flatpickr/dist/flatpickr.css';
    require('@/js/helpers/autocomplete.js');
    require('@/js/helpers/jquery.caret.js');
    export default {
        name: "ModuloEnlacesEditar",
        components: {
            flatPickr,
            Cleave
        },
        created() {
            this.getDataEnlace();
        },
        data() {
            return {
                saving: false,
                entidades: [],
                personal_data: {
                    name: '',
                    first_last_name: '',
                    second_last_name: '',
                    profession: '',
                    email: ''
                },
                cargo_data: {
                    entidad: '',
                    cargo: '',
                    fecha_ingreso: '',
                    email: '',
                    phone: ''
                },
                config: {
                    altInput: true,
                    altFormat: "j/F/Y",
                    dateFormat: "Y-m-d",
                },
                optionsCleave: {
                    phone: true,
                    phoneRegionCode: 'MX'
                },
                error: []
            }
        },
        methods: {
            getDataEnlace() {
                let data = {
                    enlaceId: this.$route.params.enlace
                }
                axios.post('/api/get-enlace', data).then(resp => {
                    this.personal_data.name = resp.data.data_enlace.Nombres;
                    this.personal_data.first_last_name = resp.data.data_enlace.PrimerApellido;
                    this.personal_data.second_last_name = resp.data.data_enlace.SegundoApellido;
                    this.personal_data.profession = resp.data.data_enlace.Profesion;
                    this.personal_data.email = resp.data.data_enlace.Correo;
                    this.cargo_data.entidad = resp.data.data_enlace.Entidad;
                    this.cargo_data.cargo = resp.data.data_enlace.Puesto;
                    this.cargo_data.fecha_ingreso = resp.data.data_enlace.FechaIngreso;
                    this.cargo_data.email = resp.data.data_enlace.CorreoInstitucional;
                    this.cargo_data.phone = (resp.data.data_enlace.Telefono === null) ? '' : resp.data.data_enlace.Telefono;
                }).catch(e => {
                    console.log(e);
                    this.$router.push({name: 'modulo-enlaces-control-interno'});
                });
            },
            save() {
                this.error = [];
                this.saving = true;
                let data = {
                    enlaceId: this.$route.params.enlace,
                    nombre: this.personal_data.name,
                    primer_apellido: this.personal_data.first_last_name,
                    segundo_apellido: this.personal_data.second_last_name,
                    email: this.personal_data.email,
                    profession: this.personal_data.profession,
                    entidad: this.cargo_data.entidad,
                    puesto: this.cargo_data.cargo,
                    correo_institucional: this.cargo_data.email,
                    fecha_ingreso: this.cargo_data.fecha_ingreso,
                    telefono: this.cargo_data.phone
                };
                axios.post('/api/update-enlace', data).then(resp => {
                    this.saving = false;
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> El enlace fue actiualizado correctamente',
                        pos: 'top-right',
                        timeout: 4000
                    });
                }).catch(e => {
                    this.saving = false;
                    let res = e.response;
                    if (res.status === 422) {
                        var items = Object.values(res.data.errors);
                        items.forEach((item) => {
                            this.error.push(item[0]);
                        });
                    } else if (res.status === 501) {
                        this.error = ['No se puede registrar un correo institucional del OSAFIG'];
                    } else if(res.status === 502) {
                        this.error = ['El correo ya se ecuentra registrado'];
                    } else if(res.status === 503) {
                        this.error = ['El correo institucional ya se ecuentra registrado'];
                    } else {
                        this.error = ['Error inesperado, contacta a la Unidad de Tecnologías de Información'];
                    }
                    setTimeout(() => {
                        document.body.scrollTop = 0;
                        document.documentElement.scrollTop = 0;
                    }, 100);
                });
            },
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-back-button{
            color: $color-black;
            border: 1px solid;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                color: $color-white;
                background-color: $color-primary;
            }
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
