<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}"
                                         class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'auditoria-desempenio'}"
                                         class="uk-text-uppercase uk-text-small">Auditoría de Desempeño</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'modulo-solventacion-recomendaciones-desempenio'}"
                                         class="uk-text-uppercase uk-text-small">MÓDULO DE SOLVENTACIÓN DE RECOMENDACIONES</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Detalle de auditoría</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Detalle de auditoría</h3>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-small-bottom">
                <!--Cragar lista de auditorias asignadas-->
                <div class="uk-width-1-1 uk-text-center uk-margin-medium-top uk-text-uppercase" v-if="checking">
                    <span uk-spinner="ratio: 2.8"></span>
                    <br>
                    Validando auditoría...
                </div>
                <div class="uk-width-1-1@m" v-else>
                    <div class="uk-alert uk-border-rounded uk-text-uppercase" style="z-index: 980;" uk-sticky="bottom: #offset">
                        <div class="uk-grid uk-flex uk-flex-middle">
                            <div class="uk-width-1-2">
                                <span class="uk-text-primary uk-text-bold uk-text-uppercase">
                                    <span v-if="loading_auditoria === false"> {{ auditoria.Entidad }}</span>
                                    <span uk-spinner v-else></span>
                                </span>
                            </div>
                            <div class="uk-width-1-2 uk-text-right">
                                <span class="uk-text-primary uk-text-bold">
                                    <i class="far fa-calendar-alt"></i> Ejercicio Fiscal
                                    <span v-if="loading_auditoria === false">{{ auditoria.Ejercicio }}</span>
                                    <span uk-spinner v-else></span>
                                </span>
                            </div>
                            <div class="uk-width-1-1">
                                <span class="uk-text-primary uk-text-small-custom">
                                    <span v-if="!isEmptyEnlace">
                                        <i class="fas fa-user-tie"></i> {{ enlace.NombreCompleto }} &emsp;
                                        <i class="fas fa-at"></i> {{ enlace.EmailInstitucional }} &emsp;
                                        <i class="fas fa-phone"></i> {{ enlace.Telefono }} &emsp;
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-alert uk-alert-primary uk-border-rounded uk-text-center uk-text-uppercase"
                 id="top-pregunta"
                 v-show="checking === false">
                Revisa las respuestas del cuestionario de cada una de las preguntas que se presentan
            </div>
            <div class="uk-margin-large-bottom" v-if="isEmptyAuditoria === false">
                <form-cuestionario :auditoria="auditoria" :etapa="etapa"></form-cuestionario>
                <button type="button"
                        class="uk-button uk-button-primary uk-border-rounded uk-float-right uk-margin-small-top"
                        :disabled="readyForSend === false"
                        @click="enviar"
                        v-if="isOpenQuestion">
                    Envíar <span v-show="saving" uk-spinner="ratio: 0.7"></span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import FormCuestionario from "@/js/components/auditoria_desempenio/Responsable/FormCuestionario";
    export default {
        name: "ModuloSolventacionesRecomendacionesDetalle",
        components: {
            FormCuestionario
        },
        created() {
            this.checkAuditoria();
        },
        data() {
            return {
                checking: false,
                auditoria: {},
                loading_auditoria: false,
                enlace: {},
                saving: false,
                etapa: {}
            }
        },
        methods: {
            checkAuditoria() {
                this.checking = true;
                let data = {
                    auditoria: this.$route.params.auditoria
                }
                axios.post('/api/desempenio/validate-auditoria', data).then(resp => {
                    if(resp.data.validate === false) {
                        this.$router.push({
                            name: 'modulo-solventacion-recomendaciones-desempenio'
                        });
                    } else {
                        this.getGeneralDataAuditoria();
                    }
                    this.checking = false;
                }).catch(e => {
                    console.log(e);
                    this.checking = false;
                });
            },
            getGeneralDataAuditoria() {
                this.loading_auditoria = true;
                let data = {
                    auditoria: this.$route.params.auditoria
                };
                axios.post('/api/desempenio/get-general-data-auditoria', data).then(resp => {
                    this.auditoria = resp.data.auditoria;
                    this.enlace = resp.data.enlace;
                    this.etapa = resp.data.etapa;
                    this.loading_auditoria = false;
                }).catch(e => {
                    console.log(e);
                    this.loading_auditoria = false;
                });
            },
            enviar() {
                UIkit.modal.confirm('¿CONFIRMA QUE DESEA MARCAR LA AUDITORÍA COMO REVISADA?').then(() => {
                    this.saving = true;
                    let data = {
                        auditoria: this.auditoria.AuditoriaID
                    };
                    axios.post('/api/desempenio/marcar-auditoria-revisada', data).then(resp => {
                        this.saving = false;
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Cuestionario actualizado correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.$router.push({
                            name: 'modulo-solventacion-recomendaciones-desempenio'
                        });
                    }).catch(e => {
                        this.saving = false;
                        console.log(e);
                    });
                },  () => console.log('Envío cancelado'));
                setTimeout(() => {
                    $('.uk-modal-close').addClass('uk-border-rounded').text('CANCELAR');
                    $('.uk-modal-footer > .uk-button-primary').addClass('uk-border-rounded').addClass('uk-button-danger').text('ACEPTAR');
                }, 200);
            }
        },
        computed: {
            readyForSend() {
                let ready = true;
                let preguntas = this.$store.getters.dataCuestionarioDesempenio;
                let totalPreguntas = preguntas.length;
                let puntuacionMaxima = parseFloat(100 / totalPreguntas).toFixed(2);
                preguntas = preguntas.filter((pregunta) => {
                    return pregunta.PuntuacionActual !== parseFloat(puntuacionMaxima)
                });
                for(let i = 0; i < preguntas.length; i++) {
                    if(ready === true) {
                        let pregunta = preguntas[i];
                        if(_.isNull(pregunta.RecomendacionRespon)) {
                            ready = false;
                        } else {
                            ready = true;
                        }
                    }
                }
                return ready;
            },
            isOpenQuestion() {
                return _.isEmpty(this.$store.getters.dataPregunta);
            },
            isEmptyEnlace() {
                return _.isEmpty(this.enlace);
            },
            isEmptyAuditoria() {
                return _.isEmpty(this.auditoria);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-button-primary:disabled,
                .uk-button-primary[disabled] {
                    background-color: $color-grey-disabled !important;
                    color: $color-black;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-primary solid;
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-button-primary {
            background-color: $color-primary !important;
        }
        .uk-button-primary:disabled,
        .uk-button-primary[disabled] {
            background-color: $color-grey-disabled !important;
            color: $color-black;
        }
    }
</style>
