<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'auditoria-desempenio'}" class="uk-text-uppercase uk-text-small">Auditoría de desempeño</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Módulo de Solventación de recomendaciones</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-2-3 uk-margin-medium-top">
                    <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Módulo de Solventación de recomendaciones</h3>
                </div>
                <div class="uk-width-1-3 uk-margin-medium-top uk-flex uk-flex-middle uk-flex-right">
                    <router-link class="uk-back-button uk-text-uppercase"
                                 tag="a"
                                 uk-tooltip="title: IR A AUDITORÍA DE DESEMPEÑO"
                                 :to="{name: 'auditoria-desempenio'}">
                        <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                    </router-link>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom uk-margin-remove-left">
                <!--Cragar lista de auditorias asignadas-->
                <div class="uk-width-1-1 uk-text-center uk-margin-medium-top uk-text-uppercase" v-if="loading">
                    <span uk-spinner="ratio: 2.8"></span>
                    <br>
                    Cargando...
                </div>
                <!--Agregar seccion de tabs-->
                <ul uk-tab class="uk-width-1-1" v-else>
                    <li>
                        <a href="#" class="uk-padding-small">Pendientes de Revisión ({{ respuestas.length }})</a>
                    </li>
                    <li class="uk-padding-remove-left">
                        <a href="#" class="uk-padding-small">Revisadas ({{ revisadas.length + finalizadas.length }}) </a>
                    </li>
                </ul>
                <ul class="uk-switcher uk-margin uk-width-1-1 uk-padding-remove-left">
                    <li>
                        <div v-if="respuestas.length > 0">
                            <table class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small">
                                <thead>
                                <tr>
                                    <th class="uk-width-auto"></th>
                                    <th class="uk-text-left">Nombre de Auditoría</th>
                                    <th class="uk-text-center">Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(respuesta, index) in respuestas"
                                    :key="index"
                                    class="uk-cursor-pointer"
                                    @click="goToAuditoriaRespuestaDetail(respuesta)">
                                    <td>{{ index + 1 }}</td>
                                    <td class="uk-text-left uk-text-uppercase">
                                        {{ respuesta.Nombre }}
                                    </td>
                                    <td class="uk-text-center uk-text-uppercase uk-text-danger">
                                    <span v-if="readyForSend(respuesta.preguntas)" class="uk-text-success">
                                        Revisado y listo para envíar
                                    </span>
                                        <span v-else class="uk-text-danger">
                                        Revisando o pendiete de revisar
                                    </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div v-else class="uk-text-center uk-margin-medium-top">
                            <img src="/img/svg/ilustration1.svg" width="350">
                            <P class="uk-text-uppercase uk-text-bold">No se encontraron solventaciones para su revisión</P>
                        </div>
                    </li>
                    <li>
                        <div v-if="revisadas.length > 0 || finalizadas.length > 0">
                            <table class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small">
                                <thead>
                                <tr>
                                    <th class="uk-width-auto"></th>
                                    <th class="uk-text-left">Nombre de Auditoría</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(revisada, index) in revisadas"
                                    :key="index"
                                    class="uk-cursor-pointer">
                                    <td>{{ index + 1 }}</td>
                                    <td class="uk-text-left uk-text-uppercase">
                                        {{ revisada.Nombre }}
                                    </td>
                                    <td class="uk-text-center uk-text-uppercase uk-text-danger">
                                        <button class="uk-button uk-button-default uk-button-small uk-border-rounded" @click="generarInforme(revisada)">
                                            Generar Informe
                                        </button>
                                    </td>
                                </tr>
                                <tr v-for="(finalizada, index) in finalizadas"
                                    :key="index"
                                    class="uk-cursor-pointer">
                                    <td></td>
                                    <td class="uk-text-left uk-text-uppercase">
                                        {{ finalizada.Entidad }}
                                    </td>
                                    <td class="uk-text-center uk-text-uppercase uk-text-danger">
                                        <form method="post" target="_blank" class="uk-display-inline" action="/api/desempenio/descargar-informe">
                                            <input type="hidden" id="api_token" name="api_token" :value="getApiToken">
                                            <input type="hidden" name="AuditoriaID" :value="finalizada.AuditoriaID">
                                            <button type="submit"
                                                    class="uk-button uk-button-default uk-border-rounded uk-margin-small-right uk-padding-button-download"
                                                    uk-tooltip="DESCARGAR INFORME FINAL">
                                                <i class="far fa-file-word fa-lg"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div v-else class="uk-text-center uk-margin-medium-top">
                            <img src="/img/svg/ilustration1.svg" width="350">
                            <P class="uk-text-uppercase uk-text-bold">No se encontraron solventaciones revisadas</P>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ModuloSolventacionRecomendaciones",
        created() {
            this.getSolventacionesAuditoria();
        },
        data() {
            return {
                loading: false,
                respuestas: [],
                revisadas: [],
                finalizadas: []
            }
        },
        methods: {
            getSolventacionesAuditoria() {
                this.loading = true;
                axios.post('/api/desempenio/get-respuestas-solventacion-auditoria').then(resp => {
                    this.respuestas = resp.data.respuestas;
                    this.revisadas = resp.data.revisadas;
                    this.finalizadas = resp.data.finalizadas;
                    this.loading = false;
                }).catch(e => {
                    this.loading = false;
                    console.log(e);
                });
            },
            goToAuditoriaRespuestaDetail(respuesta) {
                this.$router.push({
                    name: 'modulo-solventacion-recomendaciones-desempenio-detalle',
                    params: {
                        auditoria: respuesta.AuditoriaID
                    }
                });
            },
            readyForSend(preguntas) {
                let ready = true;
                let totalPreguntas = preguntas.length;
                let puntuacionMaxima = parseFloat(100 / totalPreguntas).toFixed(2);
                preguntas = preguntas.filter((pregunta) => {
                    return pregunta.PuntuacionActual !== parseFloat(puntuacionMaxima)
                });
                for(let i = 0; i < preguntas.length; i++) {
                    if(ready === true) {
                        let pregunta = preguntas[i];
                        if(_.isNull(pregunta.RecomendacionIDRespon)) {
                            ready = false;
                        } else {
                            ready = true;
                        }
                    }
                }
                return ready;
            },
            generarInforme(revisada) {
                axios.post('/api/desempenio/generate-informe', revisada)
                     .then(resp => {
                         this.getSolventacionesAuditoria();
                     })
                     .catch(e => console.log(e));
            },
        },
        computed: {
            getApiToken(){
                return localStorage.getItem('api_token');
            },
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-cursor-pointer{
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-tab > li > a {
            background-color: $color-grey-ligth;
            color: $color-black;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .uk-tab > .uk-active > a {
            color: $color-white;
            background-color: $color-black;
            border: none !important;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
        .uk-padding-button-download{
            padding-left: 15px;
            padding-right: 15px;
        }
        .uk-button-primary {
            color: $color-white;
            background-color: $color-primary;
        }
    }
</style>
