    <template>
    <div class="uk-width-1-1@m">
        <div v-if="loading">
            <div class="uk-text-center uk-padding">
                <p class="uk-margin-small-top">
                    <span uk-spinner="ratio: 2"></span> <br>
                    CARGANDO...
                </p>
            </div>
        </div>
        <div v-else>
            <template v-if="isDataTypeDeclaracionEmpty == false">
                <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                    <div class="uk-grid">
                        <div class="uk-width-1-2@m">
                            <span class="uk-text-bold">
                                {{ dataDeclaracion.tipo.Nombre }}
                            </span>
                        </div>
                        <!--<div class="uk-width-1-2@m uk-text-right">
                            <span class="uk-text-bold">
                                Ejercicio Fiscal {{ dataDeclaracion.ejercicio.Year }}
                            </span>
                        </div>-->
                    </div>
                </div>

                <template v-if="isEmptyDeclaracion">
                    <div class="uk-grid">
                        <div class="uk-width-1-1 uk-text-center uk-margin-medium-top uk-margin-medium-bottom uk-text-uppercase">
                            <div uk-spinner="ratio: 3"></div>
                            <br>
                            Cargando...
                        </div>
                    </div>
                </template>
                <template v-else>
                    <template v-if="dataDeclaracion.inf_gral.Finalizado == 1">
                        <div class="uk-grid uk-margin-remove-left" v-if="hasDeclaracionTerminada == false">
                            <div class="uk-width-1-1 uk-alert uk-border-rounded uk-text-center uk-text-uppercase uk-margin-medium-top uk-margin-medium-bottom uk-padding">
                                <i class="far fa-check-circle uk-text-success fa-3x"></i>
                                <br>
                                Tu declaración patrimonial y de Intereses fue presentada
                                <br>
                                <br>
                                <div class="uk-width-1-1">
                                    <button class="uk-button uk-button-primary uk-border-rounded"
                                        @click="descargarDeclaracion">
                                            Descargar declaración
                                    </button>
                                    <button class="uk-button uk-button-primary uk-border-rounded"
                                        @click="descargarAcuse">
                                            Descargar acuse
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-remove-left" v-else>
                            <div class="uk-width-1-1 uk-alert uk-border-rounded uk-text-center uk-text-uppercase uk-margin-medium-top uk-margin-medium-bottom uk-padding">
                                <i class="far fa-check-circle uk-text-success fa-3x"></i>
                                <br>
                                Tu <span class="uk-text-bold">{{ setTipoDeclaracion }}</span> ha sido enviada al Órgano Interno de Control con fecha de: <span class="uk-text-bold">{{ setFechaDeclaracion }}</span>.
                                <br>
                                El acuse y declaración se te harán  llegar a la brevedad.
                                <br>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <div class="uk-grid uk-margin-remove-left">
                            <!--<template v-if="dataDeclaracion.tipo.NombreCorto == 'MODIFICACIÓN'">
                                <div class="uk-width-1-1 uk-alert uk-alert-primary uk-border-rounded uk-text-center uk-text-uppercase uk-text-small"
                                    v-if="showFechaLimite">
                                    Se deberá presentar su declaración anual correspondiente al ejercicio fiscal {{dataDeclaracion.ejercicio.Year}}, a mas tardar el <strong>{{getFechaLimite}}.</strong>
                                </div>
                            </template>
                            <template v-else>
                                <div class="uk-width-1-1 uk-alert uk-alert-primary uk-border-rounded uk-text-center uk-text-uppercase uk-text-small"
                                    v-if="showFechaLimite">
                                    Se deberá presentar su declaración anual correspondiente al ejercicio fiscal {{dataDeclaracion.ejercicio.Year}}, a la fecha.
                                </div>
                            </template>-->
                            <div class="uk-width-1-1 uk-alert uk-border-rounded uk-text-uppercase uk-text-bold uk-margin-small-top uk-margin-small-bottom uk-text-small" v-if="getSeccionesFirst.length > 0">
                                I. DECLARACIÓN DE SITUACIÓN PATRIMONIAL
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-small-top">
                            <menu-card-small :title="setTitleSection(firstSecction.Nombre, index)"
                                             :goToUrl="setUrlSection(firstSecction)"
                                             :status="setStatusSection(firstSecction.EstadoActual)"
                                             :sidepat="sidepat"
                                             :tipo="dataDeclaracion.tipo"
                                             v-for="(firstSecction, index) in getSeccionesFirst"
                                             v-if="firstSecction.Aplica == 1"
                                             :key="index">
                                <i :class="setIconSection(firstSecction)"></i>
                            </menu-card-small>
                            <menu-card-small :title="setTitleSection('Declaración Fiscal Anual (SAT)', this.getSeccionesFirst.length)"
                                             :goToUrl="'subir-declaracion-sat'"
                                             :status="null"
                                             :sidepat="sidepat"
                                             :tipo="null"
                                             :key="100"
                                             v-if="getSeccionesFirst.length > 0">
                                <i class="fas fa-file-pdf fa-3x"></i>
                            </menu-card-small>
                        </div>
                        <div class="uk-grid uk-margin-remove-left uk-margin-small-top" v-if="getSeccionesSecond.length > 0">
                            <div class="uk-width-1-1 uk-alert uk-border-rounded uk-text-uppercase uk-text-bold uk-text-small">
                                II. DECLARACIÓN DE INTERESES
                            </div>
                        </div>
                        <div class="uk-grid uk-margin-small-top">
                            <menu-card-small :title="setTitleSection(secondSection.Nombre, index)"
                                             :goToUrl="setUrlSection(secondSection)"
                                             :status="setStatusSection(secondSection.EstadoActual)"
                                             :sidepat="sidepat"
                                             v-for="(secondSection, index) in getSeccionesSecond"
                                             v-if="secondSection.Aplica == 1"
                                             :key="index">
                                <i :class="setIconSection(secondSection)"></i>
                            </menu-card-small>
                        </div>
                        <div class="uk-grid uk-grid-small" v-if="hasDeclaracionTerminada == false">
                            <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                                <button class="uk-button uk-button-default uk-border-rounded"
                                        :disabled="checkTerminado == false"
                                        @click="visualizarDeclaracion">
                                    Visualizar declaración <i class="fas fa-file-pdf"></i>
                                </button>
                                <button id="btn_enviar_declaracion" class="uk-button uk-button-primary uk-border-rounded uk-margin-small-left"
                                        :disabled="checkTerminado == false"
                                        @click="enviarDeclaracion">
                                    Envíar Declaración <i class="fas fa-check-circle"></i>
                                </button>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small" v-else>
                            <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
                                <button class="uk-button uk-button-primary uk-border-rounded uk-margin-small-left"
                                        :disabled="checkTerminado == false"
                                        @click="enviarDeclaracion">
                                    Envíar Declaración <i class="fas fa-check-circle"></i>
                                </button>
                            </div>
                        </div>
                    </template>
                </template>
            </template>
            <template v-else>
                <div class="uk-grid">
                    <div class="uk-width-1-1 uk-text-center uk-padding">
                        <img src="/img/svg/ilustration3.svg" width="450"/>
                        <p class="uk-margin-small-top uk-text-uppercase uk-text-bold">
                            No se ha definido el tipo de declaración a presentar.
                        </p>
                    </div>
                </div>
            </template>
        </div>
        <div id="overlay">
            <div id="loader-message">
                Espera un momento. <br>
                Se esta cargando la información de tu declaración pasada. <br>
                <span uk-spinner="ratio: 2.5"></span>
            </div>
        </div>
    </div>
</template>

<script>
    import MenuCardSmall from "@/js/components/MenuCardSmall";
    let moment = require('moment');
    export default {
        name: "MenuSecciones",
        props: ['sidepat'],
        components: {
            MenuCardSmall
        },
        created() {
            this.getDataDeclaracion();
        },
        mounted() {
            this.setImage();
        },
        data() {
            return {
                loading: false,
                dataDeclaracion: {}
            }
        },
        methods: {
            setImage() {
                let buttons_hover = $(".uk-back-button");
                if(buttons_hover.length > 0) {
                    for(let i = 0; i < buttons_hover.length; i++) {
                        let self = this;
                        $(buttons_hover[i]).hover(function(){
                            $(this).css({'background-color': self.sidepat.color_primario, "cursor": 'pointer'});
                        }, function(){
                            $(this).css({'background-color': 'transparent', "cursor": 'pointer'});
                        });
                    }
                }
                let buttons = $(".uk-button-primary");
                if(buttons.length > 0) {
                    for(let i = 0; i < buttons.length; i++) {
                        $(buttons[i]).css('background-color', this.sidepat.color_primario);
                    }
                }
                setTimeout(() => {
                    let btnEnviar = $("#btn_enviar_declaracion");
                    if(btnEnviar.length > 0) {
                        for(let i = 0; i < btnEnviar.length; i++) {
                            $(btnEnviar[i]).css('background-color', this.sidepat.color_primario);
                        }
                    }
                }, 1000);
            },
            getDataDeclaracion() {
                this.$store.dispatch('getDatosDeclaracion');
            },
            setTitleSection(sectionName, index) {
                let position = parseInt(index) + 1;
                return position+'. '+sectionName;
            },
            setStatusSection(status) {
                return (status == 1)
            },
            setUrlSection(section) {
                let sectionId = parseInt(section.SeccionID);
                let url = '';
                if(sectionId == 1) {
                    url = 'datos-generales';
                } else if(sectionId == 2) {
                    url = 'domicilio-declarante';
                } else if(sectionId == 3) {
                    url = 'datos-curriculares';
                } else if(sectionId == 4) {
                    url = 'datos-cargo';
                } else if(sectionId == 5) {
                    url = 'experiencia-laboral';
                } else if(sectionId == 6) {
                    url = 'datos-pareja';
                } else if(sectionId == 7) {
                    url = 'datos-dependiente';
                } else if(sectionId == 8) {
                    url = 'ingresos';
                } else if(sectionId == 9) {
                    url = 'servidor-publico-pasado';
                } else if(sectionId == 10) {
                    url = 'bienes-inmuebles';
                } else if(sectionId == 11) {
                    url = 'vehiculos';
                } else if(sectionId == 12) {
                    url = 'bienes-muebles';
                } else if(sectionId == 13) {
                    url = 'inversiones';
                } else if(sectionId == 14) {
                    url = 'adeudos-pasivos';
                } else if(sectionId == 15) {
                    url = 'prestamo-comodato';
                } else if(sectionId == 16) {
                    url = 'participacion-empresas';
                } else if(sectionId == 17) {
                    url = 'participacion-instituciones';
                } else if(sectionId == 18) {
                    url = 'apoyos-beneficios';
                } else if(sectionId == 19) {
                    url = 'representacion';
                } else if(sectionId == 20) {
                    url = 'clientes-principales';
                } else if(sectionId == 21) {
                    url = 'beneficios-privados';
                } else {
                    url = 'fideicomisos';
                }
                return url;
            },
            setIconSection(section) {
                let sectionId = parseInt(section.SeccionID);
                let icon = '';
                if(sectionId == 1) {
                    icon = 'fas fa-user fa-3x';
                } else if(sectionId == 2) {
                    icon = 'fas fa-home fa-3x';
                } else if(sectionId == 3) {
                    icon = 'fas fa-id-card-alt fa-3x';
                } else if(sectionId == 4) {
                    icon = 'fas fa-briefcase fa-3x';
                } else if(sectionId == 5) {
                    icon = 'fas fa-address-card fa-3x';
                } else if(sectionId == 6) {
                    icon = 'fas fa-user-friends fa-3x';
                } else if(sectionId == 7) {
                    icon = 'fas fa-users fa-3x';
                } else if(sectionId == 8) {
                    icon = 'fas fa-coins fa-3x';
                } else if(sectionId == 9) {
                    icon = 'fas fa-business-time fa-3x';
                } else if(sectionId == 10) {
                    icon = 'fas fa-file-invoice fa-3x';
                } else if(sectionId == 11) {
                    icon = 'fas fa-car fa-3x';
                } else if(sectionId == 12) {
                    icon = 'fas fa-gem fa-3x';
                } else if(sectionId == 13) {
                    icon = 'fas fa-wallet fa-3x';
                } else if(sectionId == 14) {
                    icon = 'fas fa-file-invoice-dollar fa-3x';
                } else if(sectionId == 15) {
                    icon = 'fas fa-credit-card fa-3x';
                } else if(sectionId == 16) {
                    icon = 'fas fa-city fa-3x';
                } else if(sectionId == 17) {
                    icon = 'fas fa-landmark fa-3x';
                } else if(sectionId == 18) {
                    icon = 'fas fa-hand-holding-usd fa-3x';
                } else if(sectionId == 19) {
                    icon = 'fas fa-user-tie fa-3x';
                } else if(sectionId == 20) {
                    icon = 'fas fa-user-tag fa-3x';
                } else if(sectionId == 21) {
                    icon = 'fas fa-search-dollar fa-3x';
                } else {
                    icon = 'fas fa-receipt fa-3x';
                }
                return icon;
            },
            enviarDeclaracion() {
                let confirm = window.confirm('¿ESTA SEGURO QUE DESEA ENVÍAR SU DECLARACIÓN PATRIMONIAL? UNA VEZ ENVIADA NO PODRÁ MODIFICARSE');
                if(confirm) {
                    let data = {
                        declaracion_id: this.getDatosDeclaracion.inf_gral.DeclaracionID
                    }
                    if(this.sidepat.declaracion_terminada == false) {
                        axios.post('/api/declaracion/finalizar-declaracion', data).then(resp => {
                            location.reload();
                        }).catch(e => {
                            location.reload();
                        });
                    } else {
                        axios.post('/api/declaracion/finalizar-declaracion-sinpdf', data).then(resp => {
                            location.reload();
                        }).catch(e => {
                            location.reload();
                        });
                    }
                } else {
                    return false;
                }
            },
            descargarAcuse(){
                let getUrl = window.location;
                let baseUrl = getUrl .protocol + "//" + getUrl.host + "/";
                window.open(baseUrl+this.getDatosDeclaracion.inf_gral.RutaAcuse, '_blank');
            },
            descargarDeclaracion(){
                let getUrl = window.location;
                let baseUrl = getUrl .protocol + "//" + getUrl.host + "/";
                window.open(baseUrl+this.getDatosDeclaracion.inf_gral.RutaDeclaracionCompleta, '_blank');
            },
            visualizarDeclaracion() {
                let getUrl = window.location;
                let baseUrl = getUrl .protocol + "//" + getUrl.host + "/";
                let data = {
                    declaracion_id: this.getDatosDeclaracion.inf_gral.DeclaracionID
                }
                axios.post('/api/declaracion/previo-declaracion', data).then(resp => {
                    window.open(baseUrl+'/prueba_declaracion_publica.pdf', '_blank');
                    location.reload();
                }).catch(e => {
                    console.log(e);
                });
            },
            iniciarCopia() {
                let declaracion_id = sessionStorage.getItem('declaracion_id');
                axios.post('/api/declaracion/copiar-declaracion', {declaracion_id: declaracion_id}).then(resp => {
                    setTimeout(() => {
                        location.reload();
                    }, 2000);
                }).catch(e => {
                    console.log(e);
                });
            }
        },
        computed: {
            isDataTypeDeclaracionEmpty() {
                if(_.isEmpty(this.dataDeclaracion)) {
                    return true;
                } else {
                    if(this.dataDeclaracion.tipo == false) {
                        return true;
                    } else {
                        return false;
                    }
                }
            },
            getSeccionesFirst() {
                if(this.isDataTypeDeclaracionEmpty == true) {
                    return [];
                } else {
                    let secciones = this.dataDeclaracion.secciones;
                    return secciones.filter(seccion => parseInt(seccion.Parte) == 1);
                }
            },
            getSeccionesSecond() {
                if(this.isDataTypeDeclaracionEmpty == true) {
                    return [];
                } else {
                    let secciones = this.dataDeclaracion.secciones;
                    return secciones.filter(seccion => parseInt(seccion.Parte) == 2);
                }
            },
            getDatosDeclaracion(){
                return this.$store.getters.getDatosDeclaracion;
            },
            checkTerminado(){
                let secciones = this.dataDeclaracion.secciones.filter(item => parseInt(item.Aplica) == 1);
                let terminado = true;
                secciones.forEach(seccion => {
                    if(seccion.EstadoActual == 0){
                        terminado = false;
                    }
                });
                this.setImage();
                return terminado;
            },
            isEmptyDeclaracion() {
                return _.isEmpty(this.dataDeclaracion)
            },
            showFechaLimite() {
                if(_.isEmpty(this.dataDeclaracion)) {
                    return false;
                } else {
                    if(this.dataDeclaracion.tipo.TipoDeclaracionID == 7) {
                        return false;
                    } else {
                        return true;
                    }
                }
            },
            getFechaLimite() {
                if(_.isEmpty(this.dataDeclaracion)) {
                    return '';
                } else {
                    if(_.isUndefined(this.dataDeclaracion.fecha_limite)) {
                        return '';
                    } else {
                        let fecha = this.dataDeclaracion.fecha_limite.FechaLimite.split('-');
                        return fecha[2]+'/'+fecha[1]+'/'+fecha[0];
                    }
                }
            },
            hasDeclaracionTerminada() {
                if(_.isUndefined(this.sidepat.declaracion_terminada)) {
                    return false;
                } else {
                    return this.sidepat.declaracion_terminada;
                }
            },
            setTipoDeclaracion() {
                if(_.isUndefined(this.dataDeclaracion.tipo)) {
                    return '';
                } else {
                    return this.dataDeclaracion.tipo.Nombre;
                }
            },
            setFechaDeclaracion() {
                if(_.isUndefined(this.dataDeclaracion.inf_gral)) {
                    return '';
                } else {
                    moment.locale('es');
                    return moment(this.dataDeclaracion.inf_gral.DeclaracionFecha).format('D MMMM YYYY');
                }
            },
        },
        watch:{
            'getDatosDeclaracion':function(val){
                this.dataDeclaracion = val;
                this.setImage();
                if(parseInt(this.dataDeclaracion.inf_gral.CopiaAnterior) == 0 && parseInt(this.dataDeclaracion.inf_gral.TipoDeclaracionID) != 7) {
                    $('#overlay').show();
                    this.iniciarCopia();
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-button-primary {
        background-color: $color-primary;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    /* Estilos para el overlay y el mensaje */
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000;
        display: none; /* ocultar por defecto */
    }

    #loader-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
        text-align: center;
    }
</style>
