<template>
    <div id="modal-usuarios-declaracion" class="uk-modal-container" uk-modal="esc-close:false; bg-close: false">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close @click="resetAsignar"></button>
            <div class="uk-modal-header">
                <h2 class="uk-text-large uk-text-uppercase">{{ setTipoDeclaracion.Nombre }}</h2>
            </div>
            <div class="uk-modal-body uk-padding-remove-top" uk-overflow-auto>
                <template v-if="asignar == false">
                    <div class="uk-grid uk-margin-small-bottom uk-margin-small-top">
                        <div class="uk-width-2-3">
                            <button class="uk-button uk-button-default" v-if="users.length > 0" @click="asignarDeclaracion" v-show="deshabilitarEnSimplificado">
                                Agregar usuarios a declaración <i class="far fa-user"></i>
                            </button>
                            <button class="uk-button uk-button-default" v-if="users.length > 0" @click="enviarCorreos(users)" :disabled="btnLoading">
                                <span v-if="!btnLoading">
                                    Envíar correos <i class="far fa-envelope"></i>
                                </span>
                                <span v-else uk-spinner="ratio: 0.7"></span>
                            </button>
                        </div>
                        <div class="uk-width-1-3 uk-text-right" v-show="users.length > 0">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip">
                                    <i class="fas fa-search"></i>
                                </span>
                                <input class="uk-input uk-border-rounded" type="text" aria-label="Not clickable icon" v-model="name" placeholder="Buscar por nombre">
                            </div>
                        </div>
                    </div>
                    <table class="uk-table uk-table-divider uk-table-small uk-text-small uk-text-uppercase uk-table-hover uk-table-middle"
                           v-if="users.length > 0">
                        <tbody>
                            <tr v-for="(user, index) in filteredList" :key="index">
                                <td class="uk-text-center">{{ index + 1 }}</td>
                                <td>{{ user.NombreUsuario }}</td>
                                <td class="uk-text-right">
                                    <span v-if="user.NotificacionEnviada == 0" class="uk-text-danger uk-text-small">
                                        <i class="far fa-envelope"></i> no envíado
                                    </span>
                                    <span v-else class="uk-text-success uk-text-small">
                                        <i class="far fa-envelope"></i> envíado
                                    </span>
                                </td>
                                <td class="uk-text-right">
                                    <a class="uk-icon-button"
                                       @click="enviarCorre(user)"
                                       :disabled="btnLoading" title="Envíar correo">
                                        <span v-if="!btnLoading"><i class="fas fa-envelope"></i></span>
                                        <span v-else uk-spinner="ratio: 0.7"></span>
                                    </a>
                                    <a class="uk-icon-button"
                                       @click="removerUsuarioDeclaracion(user)" title="Remover">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-else>
                        <div class="uk-alert uk-border-rounded uk-text-center uk-text-uppercase uk-margin-medium-top">
                            <p>
                                No se encontraron usuarios asignados para este tipo de declaración
                            </p>
                            <button class="uk-button uk-button-default uk-border-rounded uk-button-small"
                                    type="button"
                                    @click="asignarDeclaracion"
                                    v-show="deshabilitarEnSimplificado">
                                Agregar usuarios a declaración <i class="far fa-user"></i>
                            </button>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="uk-grid">
                        <div class="uk-width-2-3 uk-margin-small-top">
                            <template v-if="usersClearForSave.length == 0">
                                <button class="uk-button uk-button-default uk-border-rounded" v-if="setTipoDeclaracion.TipoDeclaracionID == 2" @click="marcarTodosPasados">
                                    <span>Marcar declarantes del ejercicio anterior <i class="far fa-check-square"></i></span>
                                </button>
                                <button class="uk-button uk-button-default uk-border-rounded" v-if="setTipoDeclaracion.TipoDeclaracionID == 7" @click="marcarTodosPasados">
                                    <span>Marcar declarantes del ejercicio anterior <i class="far fa-check-square"></i></span>
                                </button>
                            </template>
                            <template v-else>
                                <button class="uk-button uk-button-default uk-border-rounded" @click="marcarTodos">
                                    <span>Desmarcar todos <i class="fas fa-check-square uk-text-primary"></i></span>
                                </button>
                                <button class="uk-button uk-button-default"
                                        :class="{'uk-button-success-conflicto': generar_conflictos, 'uk-button-danger-conflicto': generar_conflictos === false}"
                                        v-if="setTipoDeclaracion.TipoDeclaracionID == 2"
                                        @click="setGenerarConflictos">
                                    ¿Generar las declaraciones de conflicto de interes?
                                    <span v-if="generar_conflictos"> Si <i class="fas fa-check-circle uk-text-success"></i></span>
                                    <span v-if="generar_conflictos === false"> No <i class="fas fa-times-circle uk-text-danger"></i></span>
                                </button>
                            </template>
                        </div>
                        <div class="uk-width-1-3 uk-margin-small-bottom uk-margin-small-top uk-text-left">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip">
                                    <i class="fas fa-search"></i>
                                </span>
                                <input class="uk-input uk-border-rounded" type="text" aria-label="Not clickable icon" v-model="name_asignar" placeholder="Buscar por nombre">
                            </div>
                        </div>
                    </div>
                    <div v-if="setTipoDeclaracion.TipoDeclaracionID == 2 && usersClearForSave.length > 0 && marcados_pasados == true && disable_message == false" class="uk-grid uk-margin-small-top uk-margin-remove-left">
                        <div class="uk-width-1-1 uk-alert-danger uk-margin-remove-left uk-padding-small uk-border-rounded uk-text-center uk-text-light">
                            Se seleccionaron los usuarios que presentaron declaración de inicio o modificación del ejercicio <span class="uk-text-bold">{{ setEjercicioInmediatoAnterior }}</span>.
                        </div>
                    </div>
                    <table class="uk-table uk-table-divider uk-table-small uk-text-small uk-text-uppercase uk-table-hover" v-if="usersClear.length > 0">
                        <tbody>
                            <tr v-for="(user, index) in filteredListAsignar" :key="index">
                                <td class="uk-text-center uk-width-auto">{{ index + 1 }}</td>
                                <td>{{ user.NombreUsuario }}</td>
                                <td class="uk-text-center">
                                    <input type="checkbox" class="uk-checkbox" :value="user.UsuarioID" v-model="usersClearForSave">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </template>
            </div>
            <div class="uk-modal-footer uk-text-right" v-show="asignar">
                <button class="uk-button uk-button-default" type="button" @click="resetAsignar">Cancelar</button>
                <button class="uk-button uk-button-danger" type="button" @click="asignarUsuarios" :disabled="usersClearForSave.length == 0">Asignar</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ModalUsuariosDeclaracion",
        props: ['sidepat', 'ejercicio_seleccionado'],
        mounted() {
            this.setImage();
        },
        data() {
            return {
                users: [],
                usersClear: [],
                usersConflicto: [],
                usersClearForSave: [],
                usersPast: [],
                asignar: false,
                btnLoading: false,
                name:'',
                name_asignar: '',
                generar_conflictos: true,
                marcados_pasados: false,
                disable_message: false
            }
        },
        computed: {
            setTipoDeclaracion() {
                return this.$store.getters.getTipoDeclaracionConsultado
            },
            filteredList() {
                return this.users.filter(user => {
                    if(_.isNull(user.NombreUsuario) === false) {
                        return (user.NombreUsuario).toLowerCase().includes(this.name.toLowerCase())
                    }
                })
            },
            filteredListConflicto() {
                return this.usersConflicto.filter(user => {
                    if(_.isNull(user.NombreUsuario) === false) {
                        return (user.NombreUsuario).toLowerCase().includes(this.name.toLowerCase())
                    }
                })
            },
            filteredListAsignar() {
                return this.usersClear.filter(user => {
                    if(_.isNull(user.NombreUsuario) === false) {
                        return (user.NombreUsuario).toLowerCase().includes(this.name_asignar.toLowerCase())
                    }
                })
            },
            filteredListAsignarConflicto(){
                 return this.usersConflicto.filter(user => {
                    if(_.isNull(user.NombreUsuario) === false) {
                        return (user.NombreUsuario).toLowerCase().includes(this.name_asignar.toLowerCase())
                    }
                })
            },
            deshabilitarEnSimplificado() {
                if(this.setTipoDeclaracion.Nombre === 'DECLARACIÓN DE SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO INICIAL') {
                    return false;
                } else if(this.setTipoDeclaracion.Nombre === 'DECLARACIÓN DE SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO MODIFICACIÓN') {
                    return false;
                } else if(this.setTipoDeclaracion.Nombre === 'DECLARACIÓN DE SITUACIÓN PATRIMONIAL FORMATO SIMPLIFICADO CONCLUCIÓN') {
                    return false;
                } else {
                    return true;
                }
            },
            setEjercicioInmediatoAnterior() {
                return parseInt(this.ejercicio_seleccionado.Year) - 1;
            }
        },
        methods: {
            asignarDeclaracion() {
                this.asignar = true;
                this.generar_conflictos = true;
            },
            setGenerarConflictos() {
                if(_.isNull(this.generar_conflictos)) {
                    this.generar_conflictos = true;
                } else {
                    this.generar_conflictos = !this.generar_conflictos;
                }
            },
            setImage() {
                let buttons_danger = $(".uk-button-danger");
                if(buttons_danger.length > 0) {
                    for(let i = 0; i < buttons_danger.length; i++) {
                        $(buttons_danger[i]).css({'background-color': this.sidepat.color_primario});
                    }
                }
                setTimeout(() => {
                    let buttons_danger2 = $("#btn_enviar_correo");
                    if(buttons_danger2.length > 0) {
                        for(let i = 0; i < buttons_danger2.length; i++) {
                            $(buttons_danger2[i]).css({'background-color': this.sidepat.color_primario});
                        }
                    }
                }, 500);
            },
            resetAsignar() {
                this.asignar = false;
                this.usersClearForSave = [];
                this.generar_conflictos = false;
                this.setImage();
            },
            asignarUsuarios() {
                let message = '';
                if(this.generar_conflictos) {
                    message = `<p>¿Confirma que desea asignar a los usuarios seleccionados a la declaración de ` + this.setTipoDeclaracion.NombreCorto +
                              `? <br> <span class="uk-text-danger">NOTA. Se generaran las declaraciones de conflicto de interes de los usuarios seleccionados.</span></p>`;
                } else {
                    message = `<p>¿Confirma que desea asignar a los usuarios seleccionados a la declaración de ` + this.setTipoDeclaracion.NombreCorto + `?</p>`;
                }
                UIkit.modal.confirm(message).then(() => {
                    let data = {
                        usuarios: this.usersClearForSave,
                        tipo: this.setTipoDeclaracion.TipoDeclaracionID,
                        conflictos: this.generar_conflictos
                    }
                    axios.post('/api/declaracion/admin/asignar-usuario-declaracion', data).then(resp => {
                        location.reload();
                    }).catch(e => {
                        console.log(e)
                    });
                }, () => {
                    console.log('Asignación cancelada')
                });
                setTimeout(() => {
                    $('.uk-modal-close').addClass('uk-border-rounded').text('CANCELAR');
                    $('.uk-modal-footer > .uk-button-primary').addClass('uk-border-rounded').addClass('uk-button-danger').text('ACEPTAR');
                }, 200);
            },
            removerUsuarioDeclaracion(user) {
                UIkit.modal.confirm(`
                    <p>¿Confirma que desea remover al usuario de la declaración? <br>
                    <span class="uk-text-danger">Advertencia. Se perderá la información que ya haya sido capturada.</span></p>
                `, { center: true }).then(() => {
                    let data = {
                        user: user.UsuarioID,
                        tipoDeclaracion: user.TipoDeclaracionID
                    }
                    axios.post('/api/declaracion/admin/remover-usuario-declaracion', data).then(resp => {
                        location.reload();
                    }).catch(e => {
                        console.log(e)
                    });
                }, () => {
                    console.log('Remover cancelado');
                });
                setTimeout(() => {
                    $('.uk-modal-close').addClass('uk-border-rounded').text('CANCELAR');
                    $('.uk-modal-footer > .uk-button-primary').addClass('uk-border-rounded').addClass('uk-button-danger').text('ACEPTAR');
                }, 200);
            },
            enviarCorreos(users) {
                UIkit.modal.confirm("¿Confirma que desea envíar el correo de notificación de declaración patrimonial a los usuarios?").then(() => {
                    let data = {
                        users: users
                    }
                    this.btnLoading = true;
                    axios.post('/api/declaracion/admin/enviar-correos-notificacion', data).then(resp => {
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Los correos han sido envíados',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.btnLoading = false;
                    }).catch(e => {
                        console.log(e)
                        this.btnLoading = false;
                    });
                },() => {
                    console.log('Envio cancelado');
                });
                setTimeout(() => {
                    $('.uk-modal-close').addClass('uk-border-rounded').text('CANCELAR');
                    $('.uk-modal-footer > .uk-button-primary').addClass('uk-border-rounded').addClass('uk-button-danger').text('ACEPTAR');
                }, 200);
            },
            enviarCorre(user) {
                UIkit.modal.confirm("¿Confirma que desea envíar el correo de notificación de declaración patrimonial al usuario?").then(() => {
                    let data = {
                        user: user
                    }
                    this.btnLoading = true;
                    axios.post('/api/declaracion/admin/enviar-correo-notificacion', data).then(resp => {
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> El correo ha sido envíado',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        this.btnLoading = false;
                    }).catch(e => {
                        console.log(e)
                        this.btnLoading = false;
                    });
                },() => {
                    console.log('Envio cancelado');
                });
                setTimeout(() => {
                    $('.uk-modal-close').addClass('uk-border-rounded').text('CANCELAR');
                    $('.uk-modal-footer > .uk-button-primary').addClass('uk-border-rounded').addClass('uk-button-danger').text('ACEPTAR');
                }, 200);
            },
            marcarTodos() {
                if(this.usersClearForSave.length > 0) {
                    this.marcados_pasados = false;
                    this.usersClearForSave = [];
                } else {
                    let usersForSave = [];
                    this.usersClear.forEach(item => {
                        usersForSave.push(item.UsuarioID);
                    });
                    this.usersClearForSave = usersForSave;
                }
            },
            marcarTodosPasados() {
                this.marcados_pasados = true;
                if(this.usersClearForSave.length > 1) {
                    this.usersClearForSave = [];
                } else {
                    let usersForSave = [];
                    let usersClear = [];
                    this.usersClear.forEach(item => {
                        usersClear.push(item.UsuarioID);
                    });
                    this.usersPast.forEach(item => {
                        if(usersClear.includes(item)) {
                            usersForSave.push(item);
                        }
                    });
                    this.usersClearForSave = usersForSave;
                    if(this.usersClearForSave.length == 0) {
                        this.disable_message = true;
                    } else {
                        this.disable_message = false;
                    }
                }
            }
        },
        watch: {
            'setTipoDeclaracion': function(val) {
                this.asignar = false;
                let users    = this.$store.getters.getUsersToDeclare;
                let tipo     = val.TipoDeclaracionID;
                let usersConflicto = this.$store.getters.getUsersToDeclareConflicto;
                // Id de Usuarios de conflicto de interes
                const confUsuarioIDs = usersConflicto.map(o => o.UsuarioID);
                const filteredconf = usersConflicto.filter(({UsuarioID}, index) => !confUsuarioIDs.includes(UsuarioID, index + 1));

                //Lista de usuarios con declaracion del tipo seleccionado
                let ListaUA = users.filter((user) => {
                    return user.TipoDeclaracionID == tipo;
                });

                // filtrado de usuarios con ese tipo de declaracion
                const UsuarioIDs = ListaUA.map(o => o.UsuarioID);
                // filtra a usuarios que aun no han sido asignados a este tipo de declaración
                let filtered = users.filter(({UsuarioID}, index) => !UsuarioIDs.includes(UsuarioID));

                // filtro de usuarios duplicados
                const UsuariosDupli = filtered.map(o => o.UsuarioID);
                filtered = filtered.filter(({UsuarioID}, index) => !UsuariosDupli.includes(UsuarioID, index + 1));

                if(tipo != 7) {
                    // Filtrado de declaraciones patrimoniales
                    this.users = users.filter((user) => {
                        return parseInt(user.TipoDeclaracionID) == parseInt(tipo);
                    });
                    this.usersClear = this.usersClear.filter((user) => {
                        return parseInt(user.TipoDeclaracionID) != parseInt(tipo);
                    });
                    this.usersClear = filtered.filter((user) => {
                        return parseInt(user.Activo) == 1
                    });
                } else {
                    this.users = usersConflicto.filter((user) => {
                        return user.TipoDeclaracionID == tipo;
                    });
                    this.usersClear = filteredconf.filter((user) => {
                        return user;
                    });
                    this.usersClear = this.usersClear.filter((user) => {
                        return user.Activo == 1;
                    });
                }
                // Filtrado de declaraciones por conflicto
                /*this.usersConflicto = usersConflicto.filter((user) => {
                    return _.isNull(user.TipoDeclaracionID) || user.TipoDeclaracionID == 1 || user.TipoDeclaracionID == 2 || user.TipoDeclaracionID == 3;
                });*/

                //TODO Hacer pruebas con las declaraciones de tipo conflicto de intereses
                this.usersPast = this.$store.getters.getUsersToDeclarePast;
                setTimeout(() => {
                    this.setImage();
                }, 500);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-thead > th{
        font-weight: bold;
        background-color: #424242;
        color: $color-white;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .uk-button-danger:disabled,
    .uk-button-danger[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
    .uk-icon-button {
        background-color: #e0e0e0 !important;
        &:hover {
            color: #757575 !important;
        }
    }
    .uk-button-success-conflicto{
        border: 1px #4caf50 solid;
        color: #4caf50;
        &:hover {
            border: 1px #4caf50 solid;
            color: #4caf50;
        }
    }
    .uk-button-danger-conflicto{
        border: 1px #f44336 solid;
        color: #f44336;
        &:hover {
            border: 1px #f44336 solid;
            color: #f44336;
        }
    }
</style>
