<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'auditoria-control-interno'}" class="uk-text-uppercase uk-text-small">Auditoría de control interno</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Administación de cuestionarios</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Módulo de cuestionarios</h3>
                        </div>
                        <div class="uk-width-1-2 uk-flex uk-flex-middle uk-flex-right">
                            <button class="uk-button uk-button-default uk-border-rounded"
                                    type="button"
                                    @click="goToBack">
                                <i class="fas fa-angle-left"></i> Regresar
                            </button>
                            <button class="uk-button uk-button-default uk-border-rounded uk-margin-small-left"
                                    @click="openNuevoCuestionario"
                                    uk-tooltip="Crear nuevo cuestionario"
                                    type="button">
                                <i class="fas fa-plus-circle fa-lg"></i>
                            </button>
                        </div>
                    </div>
                    <div class="uk-grid uk-margin-large-bottom uk-margin-small-top">
                        <div class="uk-width-1-1">
                            <template v-if="cuestionarios.length > 0">
                                <div class="uk-grid">
                                    <div class="uk-width-1-1">
                                        <table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-middle">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Fecha de creción</th>
                                                    <th class="uk-text-center">Temas</th>
                                                    <th class="uk-text-center">Preguntas</th>
                                                    <th class="uk-text-center">Asignaciones</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(cuestionario, index) in cuestionarios" :key="index">
                                                    <td class="uk-text-uppercase">{{ cuestionario.Nombre }}</td>
                                                    <td class="uk-text-uppercase">{{ setCreateDate(cuestionario.created_at) }}</td>
                                                    <td class="uk-text-center"> {{ cuestionario.cantidad_temas }} </td>
                                                    <td class="uk-text-center"> {{ cuestionario.cantidad_preguntas }} </td>
                                                    <td class="uk-text-center"> {{ cuestionario.asignaciones }} auditorías </td>
                                                    <td class="uk-text-right">
                                                        <button class="uk-button uk-button-default uk-border-rounded" @click="setModuloCuestionario(cuestionario)">
                                                            Ver cuestionario <i class="fas fa-search"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </template>
                            <template v-else>
                                <div class="uk-width-1-1@m uk-text-center uk-padding">
                                    <p class="uk-margin-large-top uk-text-uppercase">
                                        No se han creado cuestionarios
                                        <br>
                                        Para crear uno da clic en el boton <i class="fas fa-plus-circle"></i>
                                    </p>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-create-modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <div class="uk-alert-danger uk-border-rounded" uk-alert v-show="cuestionario_existe">
                    <p>El cuestionario ya se encuentra registrado</p>
                </div>
                <form @submit.prevent="saveCuestionario">
                    <p>Escribe el nombre del cuestionario</p>
                    <div class="uk-margin uk-margin-small-top">
                        <input class="uk-input uk-border-rounded" type="text" required v-model.trim="nuevo_cuestionario">
                    </div>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close uk-border-rounded"
                                type="button">Cancelar</button>
                        <button class="uk-button uk-button-primary uk-border-rounded uk-button-disabled"
                                type="submit" :disabled="loading">Guardar</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import MenuCard from "@/js/components/MenuCard";
    let moment = require('moment');
    export default {
        name: "AdministrarCuestionarios",
        components: {
            MenuCard
        },
        created() {
            this.getCuestionarios();
        },
        data() {
            return {
                cuestionarios: [],
                nuevo_cuestionario: "",
                cuestionario_existe: false,
                loading: false
            }
        },
        methods: {
            goToBack() {
                this.$router.push({ name: 'auditoria-control-interno' });
            },
            getCuestionarios() {
                axios.post('/api/get-cuestionarios').then(resp => {
                    this.cuestionarios = resp.data.cuestionarios;
                }).catch(e => {
                    console.log(e);
                });
            },
            openNuevoCuestionario(){
                UIkit.modal("#modal-create-modal").show();
            },
            bajaCuestionario(cuestionario){
                let result = window.confirm("¿ESTA SEGURO QUE DESEA BORRAR EL REGISTRO? UNA VEZ BORRADO NO SE PODRÁ RECUPERAR");
                if(result){
                    let data = {cuestionario : cuestionario}
                    axios.post('/api/baja-cuestionario', data).then(resp =>{
                        location.reload();
                    }).catch(e =>{
                        console.log(e)
                    });
                }else{
                    return false;
                }
            },
            setCreateDate(date) {
                if(_.isNull(date)) {
                    return '';
                } else {
                    moment.locale('es');
                    return moment(date).format('D MMMM YYYY');
                }
            },
            saveCuestionario() {
                this.cuestionario_existe = false;
                let cuestionarios = [];
                this.cuestionarios.forEach((item) => {
                    let nombre_cuestionario = item.Nombre.trim().toUpperCase();
                    cuestionarios.push(nombre_cuestionario);
                });
                let exist = cuestionarios.includes(this.nuevo_cuestionario.trim().toUpperCase());
                if(exist) {
                    this.cuestionario_existe = true;
                    return false;
                } else {
                    this.loading = true;
                    let data = {
                        cuestionario: this.nuevo_cuestionario,
                    }
                    axios.post('/api/save-cuestionario',data).then(resp =>{
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        location.reload();
                    }).catch(e => {
                        console.log(e);
                    })
                }
            },
            setModuloCuestionario(cuestionario) {
                this.$router.push({
                    name: 'modulo-cuestionarios-editar',
                    params:{
                        cuestionario_id: cuestionario.CuestionarioID
                    }
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        background-color: #616161;
                        cursor: pointer;
                    }
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
            }
        }
        .uk-cursor-pointer {
            cursor:pointer;
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .icon-hover{
            color: #424242;
        }
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-button-disabled:disabled,
    .uk-button-disabled[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>
