<template>
    <div class="uk-container">
        <div class="uk-grid" uk-height-viewport="offset-top: true">
            <div class="uk-width-1-1 uk-padding-large uk-text-uppercase uk-text-center" v-if="loading">
                <div uk-spinner="ratio: 2"></div>
                <br>
                Cargando...
            </div>
            <div class="uk-width-1-1" uk-height-viewport="offset-top: true" v-else>
                <template v-if="type_file === 'docs' || type_file === 'xls' || type_file === 'ppt'">
                    <iframe :src='setUrlFile'
                            width='100%'
                            height='100%'
                            frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>
                </template>
                <template v-if="type_file === 'pdf'">
                    <iframe :src="setUrlFile" frameborder="0" width='100%' height='100%'></iframe>
                </template>
                <template v-if="type_file === 'img'">
                    <img :src="setUrlFile" width='100%' height='100%'>
                </template>
                <div v-if="type_file === 'undefined'" class="uk-alert uk-alert-primary uk-border-rounded uk-text-center uk-text-uppercase">
                    No es posible mostrar el documento. Intente descargar el documento.
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ControlInternoPreviewAnexo",
    created() {
        this.getAnexo();
    },
    data() {
        return {
            loading: false,
            url_src: '',
            type_file: ''
        }
    },
    methods: {
        getAnexo() {
            this.loading = true;
            let hash = this.$route.params.anexo_hash;
            axios.post('/api/auditor/get-anexo', {hash: hash}).then(resp => {
                this.loading = false;
                let url = window.location;
                let baseUrl = url .protocol + "//" + url.host+"/"+resp.data.anexo.Ruta;
                this.url_src = baseUrl;
                this.setFileType(this.url_src);
            }).catch(e => {
                this.loading = false;
                console.log(e)
            });
        },
        setFileType(nameFile) {
            if(nameFile.includes('.pdf') || nameFile.includes('.PDF')) {
                this.type_file = 'pdf';
            } else if(nameFile.includes('.docx') || nameFile.includes('.DOCX') || nameFile.includes('.doc') || nameFile.includes('.DOC')) {
                this.type_file = 'docs';
            } else if(nameFile.includes('.xlsx') || nameFile.includes('.XLSX') || nameFile.includes('.xls') || nameFile.includes('.XLS')) {
                this.type_file = 'xls';
            } else if(nameFile.includes('.zip') || nameFile.includes('.ZIP') || nameFile.includes('.rar') || nameFile.includes('.RAR')) {
                this.type_file = 'zip';
            } else if(nameFile.includes('.jpg') || nameFile.includes('.JPG') || nameFile.includes('.jpeg') || nameFile.includes('.JPEG') || nameFile.includes('.png') || nameFile.includes('.PNG')) {
                this.type_file = 'img';
            } else if(nameFile.includes('.pptx') || nameFile.includes('.ppt')) {
                this.type_file = 'ppt';
            }else {
                this.type_file = 'undefined';
            }
        }
    },
    computed: {
        setUrlFile() {
            let url = '';
            if(this.type_file === 'docs' || this.type_file === 'xls' || this.type_file === 'ppt') {
                url = 'https://view.officeapps.live.com/op/embed.aspx?src='+this.url_src;
            } else if(this.type_file === 'pdf') {
                url = 'https://docs.google.com/gview?url='+this.url_src+'&embedded=true';
            } else if(this.type_file === 'img') {
                url = this.url_src;
            } else {
                url = '';
            }
            return url;
        }
    }
}
</script>

<style scoped>

</style>
