<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'auditoria-control-interno'}" class="uk-text-uppercase uk-text-small">Auditoría de control interno</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'admin-cuestionarios'}" class="uk-text-uppercase uk-text-small">Módulo de Cuestionarios</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Detalle del cuestionario</span></li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-small-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">
                                {{nombre_cuestionario}}
                            </h3>
                        </div>
                        <div class="uk-width-1-2 uk-flex uk-flex-middle uk-flex-right">
                            <button class="uk-button uk-button-default uk-border-rounded"
                                    type="button"
                                    @click="goBack()">
                                <i class="fas fa-angle-left"></i> Regresar
                            </button>
                            <button class="uk-button uk-button-default uk-border-rounded uk-margin-small-left"
                                    @click="openNuevoTema"
                                    uk-tooltip="Agregar nuevo tema"
                                    type="button">
                                <i class="fas fa-plus-circle fa-lg"></i>
                            </button>
                        </div>
                        <div class="uk-width-1-1 uk-margin-small-top">
                            <p style="background-color: #ffffff; padding: 8px 10px;" class="uk-border-rounded">
                                <span style="font-size: 16px; font-weight: 500;">Temas:</span>
                                <span>{{ temas.length }}</span>
                                |
                                <span style="font-size: 16px; font-weight: 500; margin-left: 5px;">Preguntas:</span>
                                <span>{{ info.cantidad_preguntas }}</span>
                                |
                                <span style="font-size: 16px; font-weight: 500; margin-left: 5px;">Puntuación por pregunta:</span>
                                <span v-if="info.cantidad_preguntas > 0">{{ (100 / info.cantidad_preguntas).toFixed(2) }}</span>
                                <span v-else>0</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-margin-small-top">
                    <!-- Visualizar temas -->
                    <template v-if="temas.length > 0">
                        <div class="uk-grid">
                            <ul class="uk-width-1-1" uk-accordion="multiple: true">
                                <li v-for="(tema, index) in temas">
                                    <a class="uk-accordion-title uk-item-tema">
                                        <span class="uk-text-uppercase">{{ index + 1 }}. {{ tema.Tema }}</span>
                                        <span class="uk-float-right uk-margin-medium-right uk-info-preguntas">
                                            ({{ tema.preguntas.length }} preguntas)
                                            <span class="uk-margin-small-left" @click="bajaTemaCuestionario(tema.TemaID)">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                        </span>
                                    </a>
                                    <div class="uk-accordion-content">
                                        <table class="uk-table uk-table-divider uk-table-striped uk-table-small uk-text-small uk-table-middle uk-table-hover" v-if="tema.preguntas.length > 0">
                                            <tbody>
                                                <tr v-for="(pregunta, index) in tema.preguntas" class="uk-pregunta">
                                                    <td class="uk-text-center">{{ index + 1 }}</td>
                                                    <td class="uk-text-justify">{{ pregunta.Pregunta }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </template>
                    <!-- Agregar temas si no hay ninguno -->
                    <template v-else>
                        <div class="uk-width-1-1@m uk-text-center uk-padding">
                            No se han agregado temas y preguntas a este cuestionario.
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <div id="modal-create-modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <div class="uk-alert-danger uk-border-rounded" uk-alert v-show="tema_existe">
                    <p>El tema ya se encuentra registrado</p>
                </div>
                <form @submit.prevent="saveTema">
                    <p>Escribe el nombre del tema</p>
                    <div class="uk-margin uk-margin-small-top">
                        <input class="uk-input uk-border-rounded" type="text" required v-model.trim="nuevo_tema">
                    </div>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close uk-border-rounded"
                                type="button">
                            Cancelar
                        </button>
                        <button class="uk-button uk-button-primary uk-border-rounded uk-button-disabled"
                                type="submit"
                                :disabled="loading">
                            Guardar
                        </button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import MenuCard from "@/js/components/MenuCard";
    import moment from "moment";
    export default {
        name: "DetalleCuestionario",
        components: {
            MenuCard
        },
        data(){
            return{
                cuestionario:[],
                info:[],
                temas:[],
                temas_temp:[],
                //editar: 0,
                nuevo_tema: "",
                nombre_cuestionario:"",
                nuevo_cuestionario:"",
                saving:0,
                tema_existe: false,
                loading: false
            }
        },
        created(){
            this.getDataCuestionario();
        },
        methods:{
            getDataCuestionario(){
                let data = {
                    cuestionario : this.$route.params.cuestionario_id
                };
                // obtenemos las preguntas del cuestionario
                axios.post('/api/get-lista-temas-cuestionario',data).then(resp =>{
                    this.info = resp.data.cuestionario;
                    this.temas = resp.data.temas;
                    this.setArrayTemas();
                    this.nombre_cuestionario = this.info.Nombre;
                    this.nuevo_cuestionario = this.info.Nombre;
                }).catch(e =>{
                    console.log(e);
                });
            },
            goToTema(tema,tema_id){
                sessionStorage.setItem('nombre_tema',tema);
                this.$router.push({
                    name: 'preguntas-tema',
                    params:{
                        tema_id: tema_id
                    }
                });
            },
            bajaTemaCuestionario(tema_id){
                if (this.info.asignaciones > 0) {
                    UIkit.modal.alert('No se puede borrar el tema. Este cuestionario ya se encunetra asignado almenos a una auditoría.').then(function () {
                        console.log('Cancelado');
                    });
                    setTimeout(() => {
                        $('.uk-modal-close').addClass('uk-border-rounded').text('Aceptar');
                    }, 200);
                } else {
                    UIkit.modal.confirm('¿Esta seguro que desea borrar el registro?').then(function () {
                        let data = {tema : tema_id}
                        console.log(data);
                        axios.post('/api/baja-tema',data).then(resp =>{
                            location.reload();
                        }).catch(e => {
                            console.log(e)
                        })
                    }, function () {
                        console.log('Borrar cancelado')
                    });
                    setTimeout(() => {
                        $('.uk-modal-close').addClass('uk-border-rounded').text('CANCELAR');
                        $('.uk-modal-footer > .uk-button-primary').addClass('uk-border-rounded').addClass('uk-button-danger').text('ACEPTAR');
                    }, 200);
                }
            },
            save(){
                let data = {
                    cuestionario_id: this.$route.params.cuestionario_id,
                    cuestionario: this.nuevo_cuestionario,
                    temas: this.temas_temp,
                }
                let result = window.confirm("¿ESTA SEGURO QUE DESEA GUARDAR LOS CAMBIOS? UNA VEZ GUARDADO PERDERÁS LAS PREGUNTAS REGISTRADAS");
                if (result){
                    axios.post('/api/edit-cuestionario',data).then(resp =>{
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                            pos: 'top-right',
                            timeout: 3000
                        });
                        location.reload();
                    }).catch(e => {
                        console.log(e);
                    })
                }
            },
            setArrayTemas(){
                this.temas.forEach(element =>
                    this.temas_temp.push(element.Tema)
                )
            },
            quitarTema(tema){
                let index = this.temas_temp.indexOf(tema);
                this.temas_temp.splice(index, 1)
            },
            addTema(){
                if(! this.temas_temp.includes(this.nuevo_tema)){
                    this.error = [];
                    this.temas_temp.push(this.nuevo_tema);
                    this.nuevo_tema = "";
                }
                else{
                    this.error = [];
                    this.nuevo_tema = "";
                    this.error = ['No se puede repetir un tema'];
                }
            },
            goBack(){
                this.$router.go(-1);
            },
            setCreateDate(date) {
                if(_.isNull(date)) {
                    return '';
                } else {
                    moment.locale('es');
                    return moment(date).format('D MMMM YYYY');
                }
            },
            openNuevoTema(){
                UIkit.modal("#modal-create-modal").show();
            },
            saveTema() {
                this.tema_existe = false;
                let temas = [];
                this.temas.forEach((item) => {
                    let nombre_tema = item.Tema.trim().toUpperCase();
                    temas.push(nombre_tema);
                });
                let exist = temas.includes(this.nuevo_tema.trim().toUpperCase());
                if(exist) {
                    this.tema_existe = true;
                    return false;
                } else {
                    this.loading = true;
                    let data = {
                        cuestionario_id: this.$route.params.cuestionario_id,
                        tema: this.nuevo_tema
                    }
                    axios.post('/api/save-tema',data).then(resp =>{
                        location.reload();
                    }).catch(e => {
                        console.log(e);
                    })
                }
            },
            getPreguntas(tema){
                let data = {
                    tema_id : tema.TemaID
                };
                // obtenemos las preguntas del cuestionario
                axios.post('/api/get-tema-cuestionario',data).then(resp =>{
                    this.cuestionario = resp.data.cuestionario;
                    this.tema = resp.data.tema;
                }).catch(e =>{
                    console.log(e);
                });
            },
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        background-color: #616161;
                        cursor: pointer;
                    }
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
                .uk-item-tema {
                    padding: 12px 15px;
                    background-color: #cfd8dc;
                    border-radius: 5px;
                    font-size: 15px;
                    font-weight: 500;
                }
                .uk-info-preguntas {
                    font-weight: 500;
                    font-size: 13px;
                }
                .uk-pregunta {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .uk-cursor-pointer {
            cursor:pointer;
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
        .icon-hover{
            color: #424242;
        }
        .uk-card-section{
            color: $color-primary;
            background-color: $color-white;
            border: 1px #bdbdbd solid;
            h4 {
                color: $color-primary;
                margin-bottom: 5px !important;
            }
            span{
                font-size: 12px;
                color: $color-primary;
                text-transform: uppercase;
                font-weight: bold;
            }
            &:hover {
                border: 1px $color-primary solid;
                cursor: pointer;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            }
        }
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-button-disabled:disabled,
    .uk-button-disabled[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>
