<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'auditoria-control-interno'}" class="uk-text-uppercase uk-text-small">Auditoría de control interno</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'admin-cuestionarios'}" class="uk-text-uppercase uk-text-small">Módulo de Cuestionarios</router-link>
                        </li>
                        <li>
                            <span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Crear cuestionario</span>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Crear nuevo cuestionario</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <a class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         @click=goBack()>
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid uk-margin-small-top">
                        <div id="error" class="uk-width-1-1" v-if="error.length > 0">
                            <div class="uk-alert uk-alert-danger uk-border-rounded uk-text-uppercase uk-text-bold uk-margin-small-bottom uk-margin-small-top uk-text-center uk-animation-shake">
                                <ul class="uk-list errors uk-text-small">
                                    <li v-for="err in error">{{err}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="uk-width-1-1@m">
                            <form @submit.prevent="save">
                                <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                                    <span class="uk-text-bold">
                                        <i class="fas fa-user"></i> Información general
                                    </span>
                                </div>
                                <!--Primera sección-->
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="nombre">Nombre del cuestionario*</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                id="nombre-cuestionario"
                                                v-model="nuevo_cuestionario"
                                                type="text"
                                                required>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="nombre">Tema nuevo</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input uk-border-rounded uk-text-uppercase"
                                                id="nombre-tema"
                                                type="text"
                                                v-model="nuevo_tema">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-3@m uk-margin-small-bottom">
                                        <label class="uk-form-label uk-text-uppercase" for="add-tema">Agregar tema a la lista</label>
                                        <div class="uk-form-controls">
                                            <button class="uk-button uk-button-default uk-border-rounded"
                                                type="button" 
                                                id="add-tema"
                                                @click="addTema">
                                                <i class="fas fa-check-circle"></i>
                                            </button>
                                        </div>
                                    </div> 
                                </div>
                                <div class="uk-width-1-1@m">
                                    <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-text-small uk-table-middle uk-table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tema</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(tema,index) in temas" :key="index">
                                                <td>{{index + 1}}</td>
                                                <td class="uk-text-uppercase">{{tema}}</td>
                                                <td class="uk-cursor-pointer">
                                                    <span class="icon-table">
                                                        <i class="fas fa-chevron-down"
                                                            uk-tooltip="title: Ver detalles;">
                                                        </i>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="uk-grid uk-grid-small">
                                    <div class="uk-width-1-1">
                                        <button type="submit"
                                                class="uk-button uk-button-primary uk-margin-small-left uk-float-right uk-border-rounded">
                                            Registrar cuestionario
                                            <span class="uk-margin-small-right"
                                                uk-spinner="ratio: 0.6"
                                                v-show="saving"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "FormularioCuestionario",
    data() {
        return {
            saving: false,
            temas: [],
            nuevo_tema: "",
            nuevo_cuestionario: "",
            error:[]
        }
    },
    methods:{
        addTema(){
            if(! this.temas.includes(this.nuevo_tema)){
                this.error = [];
                this.temas.push(this.nuevo_tema);
                this.nuevo_tema = "";
            }
            else{
                this.error = [];
                this.nuevo_tema = "";
                this.error = ['No se puede repetir un tema'];
            }
        },
        save(){
            let data = {
                cuestionario: this.nuevo_cuestionario,
                temas: this.temas,
            }
            axios.post('/api/save-cuestionario',data).then(resp =>{
                UIkit.notification({
                    message: '<i class="fas fa-check"></i> Información actualizada correctamente',
                    pos: 'top-right',
                    timeout: 3000
                });
                location.reload();
            }).catch(e => {
                console.log(e);
            })
        },
        goBack(){
            this.$router.go(-1);
        }
    }
}
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-white solid;
                        cursor: pointer;
                    }
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
            }
        }
        .uk-cursor-pointer {
            cursor:pointer;
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>