<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'auditoria-control-interno'}" class="uk-text-uppercase uk-text-small">Auditoría de control interno</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'admin-cuestionarios'}" class="uk-text-uppercase uk-text-small">Módulo de Cuestionarios</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'modulo-cuestionarios-editar'}" class="uk-text-uppercase uk-text-small">Detalle del cuestionario</router-link>
                        </li>
                        <li>
                            <span @click=goBack() class="uk-text-uppercase uk-text-small">Preguntas del tema</span>
                        </li>
                        <li>
                            <span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">crear pregunta</span>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Preguntas del tema</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <a class="uk-back-button uk-text-uppercase"
                                         tag="a"
                                         uk-tooltip="title: REGRESAR"
                                         @click=goBack()>
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-grid-small">
                <div class="uk-width-1-4@m uk-margin-small-bottom">
                    <label class="uk-form-label uk-text-uppercase">Seleccione el tipo de pregunta</label>
                    <div class="uk-form-controls">
                        <select class="uk-select uk-border-rounded" v-model="tipo_pregunta" required>
                        <option value="1">Abierta</option>
                        <option value="2">Cerrada</option>
                        <option value="3">Opción Multiple</option>
                    </select>
                    </div>
                </div>
            </div>
            <form-pregunta-tipo-1 v-if="tipo_pregunta == 1"></form-pregunta-tipo-1>
            <form-pregunta-tipo-2 v-else-if="tipo_pregunta == 2"></form-pregunta-tipo-2>
        </div>
    </div>
</template>

<script>
import FormPreguntaTipo1 from "@/js/views/dashboard/auditoria_control_interno/components/FormPreguntaTipo1";
import FormPreguntaTipo2 from "@/js/views/dashboard/auditoria_control_interno/components/FormPreguntaTipo2";
export default {
    name: "FormularioPregunta",
    data(){
        return{
            tipo_pregunta: 1,
        }
    },
    components: {
        FormPreguntaTipo1,
        FormPreguntaTipo2
    },
    methods:{
        goBack(){
            this.$router.go(-1);
        }
    }
}
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        border: 1px $color-white solid;
                        cursor: pointer;
                    }
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
            }
        }
        .uk-cursor-pointer {
            cursor:pointer;
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
