<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'auditoria-control-interno'}" class="uk-text-uppercase uk-text-small">Auditoría de control interno</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'admin-cuestionarios'}" class="uk-text-uppercase uk-text-small">Módulo de Cuestionarios</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'modulo-cuestionarios-editar'}" class="uk-text-uppercase uk-text-small">Detalle del cuestionario</router-link>
                        </li>
                        <li>
                            <span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Preguntas del tema</span>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">
                        <div class="uk-width-2-3">
                            <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Preguntas del tema</h3>
                        </div>
                        <div class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-right">
                            <a class="uk-back-button uk-text-uppercase"
                                tag="a"
                                uk-tooltip="title: REGRESAR"
                                @click="goBack">
                                <i class="far fa-arrow-alt-circle-left fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1  uk-margin-medium-bottom">
                    <div class="uk-alert uk-border-rounded uk-text-uppercase uk-bg-dark">
                        <div class="uk-grid">
                            <div class="uk-width-1-1 uk-flex-middle">
                                <label class="uk-text-uppercase uk-text-bold">{{ nombreTema }}</label>
                                <span class="uk-text-bold uk-btn-icon uk-border-rounded uk-border-rounded uk-float-right"
                                        uk-tooltip="title: AGREGAR NUEVA PREGUNTA"
                                        @click="goToNuevaPregunta">
                                    <i class="fas fa-plus-circle fa-lg"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-margin-medium-bottom">
                    <template v-if="cuestionario.length > 0">
                        <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-text-small uk-table-middle uk-table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Pregunta</th>
                                    <th class="uk-text-center">Ponderación</th>
                                    <th class="uk-text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(pregunta,index) in cuestionario" :key="index">
                                    <td class="uk-text-uppercase uk-text-center">{{pregunta.NoPregunta}}</td>
                                    <td class="uk-text-uppercase">{{pregunta.Pregunta}}</td>
                                    <td class="uk-text-uppercase uk-text-center">{{ pregunta.Ponderacion.toFixed(2) }}</td>
                                    <td class="uk-cursor-pointer uk-flex uk-flex-around">
                                        <i class="fas fa-edit" uk-tooltip="title: Editar;"></i>
                                        <i class="fas fa-trash-alt" uk-tooltip="title: Eliminar;" @click="borrarPregunta(pregunta)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </template>
                    <!-- Agregar preguntas si no hay ninguna -->
                    <template v-else>
                        <div class="uk-width-1-1@m">
                            <div class="uk-alert uk-border-rounded uk-height-small uk-flex uk-flex-center uk-flex-middle uk-box-shadow-small">
                                <button type="button"
                                        class="uk-button uk-button-default uk-border-rounded"
                                        @click="goToNuevaPregunta">
                                    Agregar Preguntas <i class="fas fa-question-circle"></i>
                                </button>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <div id="modal-create-modal" class="uk-modal-container" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">
                    Agregar pregunta
                </h2>
                <div class="uk-grid uk-grid-small">
                    <div class="uk-width-1-1@m uk-margin-small-bottom">
                        <label class="uk-form-label">Selecciona el tipo de pregunta</label>
                        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid uk-margin-small-bottom">
                            <label class="uk-radio-custom uk-border-rounded uk-margin-small-right" :class="{'uk-radio-custom-border': tipo_pregunta == '1'}">
                                <input class="uk-radio" type="radio" name="radio2" value="1" v-model="tipo_pregunta"> Abierta
                            </label>
                            <label class="uk-radio-custom uk-border-rounded uk-margin-small-right" :class="{'uk-radio-custom-border': tipo_pregunta == '2'}">
                                <input class="uk-radio" type="radio" name="radio2" value="2" v-model="tipo_pregunta"> Cerrada
                            </label>
                            <label class="uk-radio-custom uk-border-rounded" :class="{'uk-radio-custom-border': tipo_pregunta == '3'}">
                                <input class="uk-radio" type="radio" name="radio2" value="3" v-model="tipo_pregunta"> Opción multiple
                            </label>
                        </div>
                        <div class="uk-alert uk-border-rounded uk-text-center" v-if="tipo_pregunta == '1'">
                            Las preguntas abiertas pueden o no tener subpreguntas
                        </div>
                        <div class="uk-alert uk-border-rounded uk-text-center" v-else-if="tipo_pregunta == '2'">
                            Las preguntas cerradas deben tener una subpregunta
                        </div>
                        <div class="uk-alert uk-border-rounded uk-text-center" v-else>
                            Las preguntas de opción multiple no tienen subpregunta
                        </div>
                        <div class="uk-form-stacked">
                            <div class="uk-margin">
                                <label class="uk-form-label">Pregunta <span class="uk-required-color">*</span></label>
                                <textarea class="uk-textarea uk-border-rounded uk-pregunta-pregunta" rows="2" v-model.trim="pregunta.pregunta"></textarea>
                            </div>
                            <div class="uk-margin" v-if="tipo_pregunta != 3">
                                <label class="uk-form-label">Subpregunta <span class="uk-required-color" v-show="tipo_pregunta == '2'">*</span></label>
                                <textarea class="uk-textarea uk-border-rounded uk-pregunta-subpregunta" rows="2" v-model.trim="pregunta.subpregunta"></textarea>
                            </div>
                            <div class="uk-margin" v-if="tipo_pregunta == 3">
                                <label class="uk-form-label">Agregar opciones <span class="uk-required-color">*</span></label>
                                <div class="uk-grid">
                                    <div class="uk-width-1-2@m">
                                        <div class="uk-inline uk-width-1-1">
                                            <a class="uk-form-icon uk-form-icon-flip uk-link-reset"
                                               @click="addOption">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                            <input class="uk-input uk-border-rounded uk-opcion-modal uk-pregunta-opcion"
                                                   type="text"
                                                   v-model.trim="opcion"
                                                   @keyup.enter="addOption">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-2@m">
                                        <ul class="uk-list uk-width-1-2">
                                            <li v-for="(item, index) in pregunta.opciones" :key="index">
                                                {{ item }}  <i class="fas fa-times uk-float-right" style="cursor: pointer;" @click="borrarOpcion(item)"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-alert uk-border-rounded uk-text-center">
                                Motivación y Descripción
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label">Motivación</label>
                                <textarea class="uk-textarea uk-border-rounded" rows="2" v-model.trim="pregunta.motivacion"></textarea>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label">Descripción</label>
                                <textarea class="uk-textarea uk-border-rounded" rows="2" v-model.trim="pregunta.descripcion"></textarea>
                            </div>
                            <p class="uk-text-right uk-margin-remove-bottom">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                                <button class="uk-button uk-button-primary uk-button-save"
                                        type="button"
                                        :disabled="loading"
                                        @click="savePregunta">Guardar</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PreguntasTema",
        data(){
            return{
                cuestionario : [],
                tema : [],
                editar:'',
                tipo_pregunta: 1,
                opcion: '',
                pregunta: {
                    tema_id: this.$route.params.tema_id,
                    cuestionario_id: null,
                    pregunta:    '',
                    subpregunta: '',
                    opciones:    [],
                    motivacion:  '',
                    descripcion: ''
                },
                loading: false
            }
        },
        created(){
            this.getPreguntas();
        },
        methods:{
            getPreguntas(){
                let data = {
                    tema_id : this.$route.params.tema_id
                };
                // obtenemos las preguntas del cuestionario
                axios.post('/api/get-tema-cuestionario',data).then(resp =>{
                    this.cuestionario = resp.data.cuestionario;
                    this.tema = resp.data.tema;
                }).catch(e =>{
                    console.log(e);
                });
            },
            goToNuevaPregunta(){
                UIkit.modal("#modal-create-modal").show();
                /*this.$router.push({
                    name: 'pregunta-form'
                })*/
            },
            goBack(){
                this.$router.go(-1);
            },
            addOption() {
                if(this.opcion.length === 0) {
                    alert('Escribe una opción');
                    $('.uk-opcion-modal').focus();
                    return false;
                } else {
                    this.pregunta.opciones.push(this.opcion);
                    this.opcion = '';
                }
            },
            borrarOpcion(item) {
                this.pregunta.opciones.splice(this.pregunta.opciones.indexOf(item), 1);
            },
            savePregunta() {
                if(this.pregunta.pregunta.length === 0) {
                    alert('Escribe una pregunta');
                    $('.uk-pregunta-pregunta').focus();
                    return false;
                }
                if(this.tipo_pregunta == '2' && this.pregunta.subpregunta.length === 0) {
                        alert('Escribe una subpregunta');
                        $('.uk-pregunta-subpregunta').focus();
                        return false
                }
                if(this.tipo_pregunta == '3' && this.pregunta.opciones.length == 0) {
                    alert('Agrega una opción');
                    $('.uk-pregunta-opcion').focus();
                    return false
                }
                this.pregunta.cuestionario_id = this.tema[0].CuestionarioID;
                let data = {
                    pregunta: this.pregunta,
                    tipo_pregunta: this.tipo_pregunta
                };
                this.loading = true;
                axios.post('/api/guardar-pregunta', data).then((resp) => {
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Pregunta creada correctamente',
                        pos: 'top-right',
                        timeout: 4000
                    });
                    this.getPreguntas();
                    UIkit.modal("#modal-create-modal").hide();
                    this.loading = false;
                }).catch(e => {
                    console.log(e);
                    this.loading = false;
                })
            },
            borrarPregunta(pregunta) {
                if(confirm('¿Realmente desea borrar esta pregunta? No podrá recuperarla')) {
                    axios.post('/api/borrar-pregunta', pregunta).then(resp => {
                        UIkit.notification({
                            message: '<i class="fas fa-check"></i> Pregunta creada correctamente',
                            pos: 'top-right',
                            timeout: 4000
                        });
                        this.getPreguntas();
                    }).catch(e => {
                        console.log(e);
                    });
                } else {
                    return false;
                }
            }
        },
        computed: {
            nombreTema() {
                let nombre_tema = sessionStorage.getItem('nombre_tema');
                return (_.isNull(nombre_tema)) ? '' : nombre_tema;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                h5{
                    font-family: $ff-franklin !important;
                }
                .uk-text-primary{
                    color: $color-primary !important;
                }
                .uk-button-primary {
                    background-color: $color-primary !important;
                }
                .uk-btn-icon{
                    padding: 6px 6px;
                    &:hover {
                        background-color: #616161;
                        cursor: pointer;
                    }
                }
                .uk-back-button{
                    color: $color-black;
                    border: 1px solid;
                    padding: 5px 10px;
                    border-radius: 5px;
                    &:hover {
                        color: $color-white;
                        background-color: $color-primary;
                    }
                }
                .uk-button-filter-active {
                    background-color: $color-grey-disabled;
                    color: $color-grey-ligth;
                }
            }
        }
        .uk-cursor-pointer {
            cursor:pointer;
        }
        .uk-bg-dark {
            background-color: #424242;
            color: $color-white;
        }
    }
</style>
