<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'dashboard_auditor_control_interno'}" class="uk-text-uppercase uk-text-small">Auditoría de Control Interno</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'dashboard_auditor_respuesta_inicial_control_interno'}" class="uk-text-uppercase uk-text-small">Respuestas Iniciales de Auditoría</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Detalle de auditoría</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Detalle de auditoría</h3>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-small-bottom">
                <!--Cragar lista de auditorias asignadas-->
                <div class="uk-width-1-1 uk-text-center uk-margin-medium-top uk-text-uppercase" v-if="checking">
                    <span uk-spinner="ratio: 2.8"></span>
                    <br>
                    Validando auditoría...
                </div>
                <div class="uk-width-1-1@m" v-else>
                    <div class="uk-alert uk-border-rounded uk-text-uppercase" style="z-index: 980;" uk-sticky="bottom: #offset">
                        <div class="uk-grid uk-flex uk-flex-middle">
                            <div class="uk-width-1-2">
                                <span class="uk-text-primary uk-text-bold uk-text-uppercase">
                                    <span v-if="loading_auditoria === false"> {{ auditoria.Entidad }}</span>
                                    <span uk-spinner v-else></span>
                                </span>
                            </div>
                            <div class="uk-width-1-2 uk-text-right">
                                <span class="uk-text-primary uk-text-bold">
                                    <i class="far fa-calendar-alt"></i> Ejercicio Fiscal
                                    <span v-if="loading_auditoria === false">{{ auditoria.Ejercicio }}</span>
                                    <span uk-spinner v-else></span>
                                </span>
                            </div>
                            <div class="uk-width-1-1">
                                <span class="uk-text-primary uk-text-small-custom">
                                    <span v-if="!isEmptyEnlace">
                                        <i class="fas fa-user-tie"></i> {{ enlace.NombreCompleto }}
                                        <i class="fas fa-at"></i> {{ enlace.EmailInstitucional }}
                                        <i class="fas fa-phone"></i> {{ enlace.Telefono }}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-alert uk-alert-primary uk-border-rounded uk-text-center uk-text-uppercase"
                 id="top-pregunta"
                 v-show="checking === false && loading_temas === false">
                Revisa las respuestas del cuestionario de cada uno de los componentes que se presentan
            </div>
            <div class="uk-grid uk-grid-small uk-margin-large-bottom">
                <template v-if="!showForm">
                    <div class="uk-width-1-1 uk-text-center uk-text-uppercase" v-if="loading_temas === true">
                        <span uk-spinner="ratio: 2.8"></span>
                        <br>
                        Cargando componentes...
                    </div>
                    <div class="uk-width-1-2"
                         v-for="tema in temasCuestionario"
                         @click="showFormTopic(tema)"
                         v-else>
                        <div class="uk-card-tema uk-border-rounded uk-margin-small-bottom uk-text-uppercase uk-text-bold uk-animation-fade uk-height-small-custom">
                            <div class="uk-grid uk-margin-remove-left uk-height-1-1">
                                <div class="uk-width-3-4 uk-height-1-1 uk-padding-small">
                                    {{ tema.TemaID }}. {{ tema.Tema }}
                                    <br>
                                    <span class="uk-text-small-custom uk-margin-small-left uk-margin-small-top">Total de preguntas {{ tema.No_Preguntas }}</span>
                                    <br>
                                    <span class="uk-text-small-custom uk-margin-small-left uk-text-uppercase"> Preguntas por revisar: {{tema.No_Preguntas - tema.recomendacionAuditor }}</span>
                                </div>
                                <div class="uk-width-1-4 uk-height-1-1 uk-padding-remove-horizontal uk-flex uk-flex-middle uk-flex-center uk-border-rounded"
                                    :class="{
                                        'uk-bg-danger': tema.recomendacionAuditor === 0,
                                        'uk-bg-warging': tema.recomendacionAuditor > 0 && tema.recomendacionAuditor < tema.No_Preguntas,
                                        'uk-bg-success': tema.recomendacionAuditor === tema.No_Preguntas }">
                                    <i class="fas fa-angry fa-4x" v-if="tema.recomendacionAuditor === 0"></i>
                                    <i class="fas fa-flushed fa-4x" v-else-if="tema.recomendacionAuditor > 0 && tema.recomendacionAuditor < tema.No_Preguntas"></i>
                                    <i class="fas fa-grin-stars fa-4x" v-else></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1" v-show="temasCuestionario.length > 0">
                        <router-link
                            tag="a"
                            :to="{name: 'dashboard_auditor_respuesta_inicial_control_interno'}"
                            class="uk-button uk-button-default uk-border-rounded uk-float-left">
                            <i class="fas fa-long-arrow-alt-left"></i> Regresar a Menú principal
                        </router-link>
                        <button type="button"
                                class="uk-button uk-button-primary uk-border-rounded uk-float-right"
                                :disabled="readyForSend === false || saving === true"
                                @click="enviar">
                            Envíar revisión <span v-show="saving" uk-spinner="ratio: 0.7"></span>
                        </button>
                    </div>
                </template>
                <template v-else>
                    <div class="uk-width-1-1">
                        <form-cuestionario></form-cuestionario>
                        <button type="button"
                                class="uk-button uk-button-default uk-border-rounded uk-float-left uk-margin-small-top"
                                @click="cancelFormTopic"
                                v-show="showButtonBack">
                            <i class="fas fa-long-arrow-alt-left"></i> Regresar a componentes del cuestionario
                        </button>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
import FormCuestionario from "@/js/components/auditoria_control_interno/Auditor/FormCuestionario";
export default {
    name: "RespuestaInicialControlInternoDetalleAuditoria",
    components: {
        FormCuestionario
    },
    created() {
        this.checkAuditoria();
    },
    data() {
        return {
            checking: false,
            auditoria: {},
            loading_auditoria: false,
            temasCuestionario: [],
            loading_temas: false,
            showForm: false,
            saving: false,
            enlace: {}
        }
    },
    methods: {
        checkAuditoria() {
            this.checking = true;
            let data = {
                auditoria: this.$route.params.auditoria
            }
            axios.post('/api/auditor/validate-auditoria', data).then(resp => {
                if(resp.data.validate === false) {
                    this.$router.push({
                        name: 'dashboard_auditor_respuesta_inicial_control_interno'
                    });
                } else {
                    this.getGeneralDataAuditoria();
                    this.getTemasCuestionario();
                }
                this.checking = false;
            }).catch(e => {
                console.log(e);
                this.checking = false;
            });
        },
        getGeneralDataAuditoria() {
            this.loading_auditoria = true;
            let data = {
                auditoria: this.$route.params.auditoria
            };
            axios.post('/api/auditor/get-general-data-auditoria', data).then(resp => {
                this.auditoria = resp.data.auditoria;
                this.enlace = resp.data.enlace
                this.loading_auditoria = false;
            }).catch(e => {
                console.log(e);
                this.loading_auditoria = false;
            });
        },
        getTemasCuestionario() {
            this.loading_temas = true;
            let data = {
                auditoria: this.$route.params.auditoria
            };
            axios.post('/api/auditor/get-temas-cuestionario', data).then(resp => {
                this.temasCuestionario = resp.data.temasCuestionario;
                this.loading_temas = false;
            }).catch(e => {
                console.log(e);
                this.loading_temas = false;
            });
        },
        showFormTopic(tema) {
            this.showForm = true;
            let data = {
                tema: tema,
                auditoriaId: this.$route.params.auditoria
            }
            this.$store.commit('updateFormTopic', data);
        },
        cancelFormTopic() {
            this.showForm = false;
            this.$store.commit('resetFormTopic');
            this.$store.commit('resetNoPreguntas');
            this.getTemasCuestionario();
        },
        enviar() {
            UIkit.modal.confirm('¿CONFIRMA QUE DESEA ENVÍAR LA REVISIÓN CON EL RESPONSABLE DE AUDITORÍA?').then(() => {
                this.saving = true;
                let data = {
                    auditoria: this.$route.params.auditoria
                };
                axios.post('/api/auditor/enviar-revision', data).then(resp => {
                    this.saving = false;
                    UIkit.notification({
                        message: '<i class="fas fa-check"></i> Revisión envíada correctamente',
                        pos: 'top-right',
                        timeout: 3000
                    });
                    this.$router.push({name: 'dashboard_auditor_respuesta_inicial_control_interno'});
                }).catch(e => {
                    this.saving = false;
                    console.log(e);
                });
            },  () => console.log('Envío cancelado'));
            setTimeout(() => {
                $('.uk-modal-close').addClass('uk-border-rounded').text('CANCELAR');
                $('.uk-modal-footer > .uk-button-primary').addClass('uk-border-rounded').addClass('uk-button-danger').text('ACEPTAR');
            }, 200);
        }
    },
    computed: {
        getNumeroPreguntas() {
            return this.$store.getters.dataCuestionario.noPreguntas;
        },
        getDataPregunta() {
            return this.$store.getters.dataPregunta;
        },
        showButtonBack() {
            return (this.getNumeroPreguntas > 0 && _.isEmpty(this.getDataPregunta));
        },
        readyForSend() {
            let ready = true;
            for(let i = 0; i < this.temasCuestionario.length; i++) {
                if(ready === true) {
                    let tema = this.temasCuestionario[i];
                    if(tema.No_Preguntas === tema.recomendacionAuditor) {
                        ready = true;
                    } else {
                        ready = false;
                    }
                }
            }
            return ready;
        },
        isEmptyEnlace() {
            return _.isEmpty(this.enlace);
        }
    }
}
</script>

<style lang="scss" scoped>
.uk-container-expand{
    .uk-container {
        .uk-grid{
            .uk-breadcrumb{
                li > span {
                    font-family: $ff-franklin !important;
                }
                .uk-breadcrumb-active{
                    background-color: $color-grey-disabled;
                    color: $color-black;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 4px;
                    padding-bottom: 5px;
                    border-radius: 5px;
                }
            }
            h3{
                font-family: $ff-franklin !important;
            }
            .uk-badge{
                background-color: $color-primary;
                color: $color-white;
                position: absolute;
                top: 45px;
                left: 65px;
            }
            .uk-text-primary{
                color: $color-primary !important;
            }
            .uk-button-primary {
                background-color: $color-primary !important;
            }
            .uk-button-primary:disabled,
            .uk-button-primary[disabled] {
                background-color: $color-grey-disabled !important;
                color: $color-black;
            }
            .uk-card-tema{
                background-color: $color-white;
                color: $color-primary;
                &:hover {
                    cursor: pointer;
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(122, 10, 44, 1);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(122, 10, 44, 1);
                    box-shadow: 0px 0px 5px 0px rgba(122, 10, 44, 1);
                }
                .uk-text-small-custom {
                    font-size: 12px;
                    color: #757575;
                }
            }
            .uk-height-small-custom {
                height: 120px !important;
            }
            .uk-bg-danger {
                background-color: #ef9a9a;
                color: #b71c1c !important;
            }
            .uk-bg-warging {
                background-color: #fff59d;
                color: #f57f17 !important;
            }
            .uk-bg-success {
               background-color: #a5d6a7;
                color: #1b5e20 !important;
            }
            .uk-text-small-custom {
                font-size: 13px;
            }
        }
    }
}
</style>
