<template>
    <div class="uk-container-expand" uk-height-viewport="offset-top: true">
        <div class="uk-container">
            <div class="uk-grid uk-margin-medium-top">
                <!--Barra de navegación-->
                <div class="uk-width-1-1 uk-margin-small-top">
                    <ul class="uk-breadcrumb uk-alert uk-border-rounded uk-padding-small">
                        <li>
                            <router-link :to="{name: 'dashboard'}" class="uk-text-uppercase uk-text-small">Menú principal</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'dashboard_auditor_control_interno'}" class="uk-text-uppercase uk-text-small">Auditoría de Control Interno</router-link>
                        </li>
                        <li><span class="uk-breadcrumb-active uk-text-uppercase uk-text-small">Solventación de Recomendaciones de Auditoría</span></li>
                    </ul>
                </div>
                <!--Titulo de la sección-->
                <div class="uk-width-1-1 uk-margin-medium-top">
                    <h3 class="uk-text-lead uk-text-bold uk-text-uppercase">Solventación de Recomendaciones de Auditoría</h3>
                </div>
            </div>
            <!--Contenido de la página-->
            <div class="uk-grid uk-margin-small-top uk-margin-large-bottom">
                <!--Cragar lista de auditorias asignadas-->
                <div class="uk-width-1-1 uk-text-center uk-margin-medium-top uk-text-uppercase" v-if="loading">
                    <span uk-spinner="ratio: 2.8"></span>
                    <br>
                    Cargando...
                </div>
                <div class="uk-width-1-1" v-else>
                    <table class="uk-table uk-table-small uk-table-striped uk-table-divider uk-table-hover uk-text-small">
                        <thead>
                        <tr>
                            <th class="uk-width-auto"></th>
                            <th class="uk-text-left">Nombre de Auditoría</th>
                            <th class="uk-text-center">Estado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(respuesta, index) in respuestas"
                            :key="index"
                            class="uk-cursor-pointer"
                            @click="goToAuditoriaRespuestaDetail(respuesta)">
                            <td>{{ index + 1 }}</td>
                            <td class="uk-text-left uk-text-uppercase">
                                {{ respuesta.Nombre }}
                            </td>
                            <td class="uk-text-center uk-text-uppercase uk-text-danger">
                                    <span v-if="readyForSend(respuesta.temas)" class="uk-text-success">
                                        Revisado y listo para envíar
                                    </span>
                                <span v-else class="uk-text-danger">
                                        Revisando o pendiete de revisar
                                    </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "SolventacionRecomendacionesControlInterno",
    created() {
        this.getSolventacionesAuditoria();
    },
    data() {
        return {
            loading: false,
            respuestas: []
        }
    },
    methods: {
        getSolventacionesAuditoria() {
            this.loading = true;
            axios.post('/api/auditor/get-solventaciones-auditoria').then(resp => {
                this.respuestas = resp.data.respuestas;
                this.loading = false;
            }).catch(e => {
                this.loading = false;
                console.log(e);
            });
        },
        goToAuditoriaRespuestaDetail(respuesta) {
            this.$router.push({
                name: 'dashboard_auditor_solventaciones_control_interno_detalle',
                params: {
                    auditoria: respuesta.AuditoriaID
                }
            });
        },
        readyForSend(temas) {
            let ready = true;
            for(let i = 0; i < temas.length; i++) {
                if(ready === true) {
                    let tema = temas[i];
                    let totalPreguntas = tema.Por_solventar;
                    if(totalPreguntas === tema.recomendacionAuditor) {
                        ready = true;
                    } else {
                        ready = false;
                    }
                }
            }
            return ready;
        },
    }
}
</script>

<style lang="scss" scoped>
    .uk-container-expand{
        .uk-container {
            .uk-grid{
                .uk-breadcrumb{
                    li > span {
                        font-family: $ff-franklin !important;
                    }
                    .uk-breadcrumb-active{
                        background-color: $color-grey-disabled;
                        color: $color-black;
                        padding-left: 10px;
                        padding-right: 10px;
                        padding-top: 4px;
                        padding-bottom: 5px;
                        border-radius: 5px;
                    }
                }
                h3{
                    font-family: $ff-franklin !important;
                }
                .uk-badge{
                    background-color: $color-primary;
                    color: $color-white;
                    position: absolute;
                    top: 45px;
                    left: 65px;
                }
                .uk-cursor-pointer{
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
</style>
