<template>
    <form @submit.prevent="save">
        <div class="uk-alert-primary uk-border-rounded uk-text-center uk-text-uppercase uk-text-bold" uk-alert>
            <p>Recomendaciones: Para este tipo de pregunta se recomienda dejar una subpregunta abierta para que el enlace pueda explicar o justificar su respuesta inicial. 
                Por ejemplo: ¿Como y donde se da a conocer?
            </p>
        </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Pregunta</label>
                <div class="uk-form-controls">
                    <textarea class="uk-border-rounded uk-text-uppercase uk-textarea"
                        id="Pregunta"
                        rows="3"
                        v-model="pregunta">
                    </textarea>
                </div>
            </div>
            <div class="uk-width-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Subpregunta</label>
                <div class="uk-form-controls">
                    <textarea class="uk-textarea uk-border-rounded uk-text-uppercase"
                        id="Subpregunta"
                        rows="3"
                        v-model="subpregunta">
                    </textarea>
                </div>
            </div>
            <div class="uk-width-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Motivación</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="Motivacion"
                        type="text"
                        v-model="motivacion">
                </div>
            </div>
            <div class="uk-width-1@m uk-margin-small-bottom">
                <label class="uk-form-label uk-text-uppercase" for="nombre">Descripción</label>
                <div class="uk-form-controls">
                    <input class="uk-input uk-border-rounded uk-text-uppercase"
                        id="Descripcion"
                        type="text"
                        v-model="descripcion">
                </div>
            </div>
        </div>
        <div class="uk-width-1-1@m uk-margin-small-bottom uk-text-right">
            <button class="uk-button uk-button-default uk-border-rounded"
                    type="button"
                    @click="cancel">
                <span>Cancelar</span>
            </button>
            <button class="uk-button uk-button-primary uk-border-rounded"
                    :disabled="btnLoading"
                    type="submit">
                <span v-show="btnLoading === false">Guardar</span>
                <span uk-spinner="ratio: 0.8" v-if="btnLoading"></span>
            </button>
        </div>
    </form>
</template>

<script>
    export default{
        name:'FormPreguntaTipo2',
        data(){
            return{
                btnLoading: false,
                cancel: false,
                pregunta:'',
                subpregunta:'',
                motivacion:'',
                descripcion:''
            }
        }
    }
</script>

<style lang="scss" scoped>
    .uk-bg-dark {
        background-color: #424242;
        color: $color-white;
    }
    .uk-button-primary {
        background-color: $color-primary !important;
    }
    .uk-input, .uk-select, .uk-textarea{
        text-transform: uppercase;
    }
    .uk-radio-custom {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #ffffff;
        padding-right: 15px;
        &:hover{
            background-color: #f5f5f5;
            cursor: pointer;
        }
    }
    .uk-radio-custom-border {
        border: 1px #1E87F0 solid;
    }
    .uk-button-primary:disabled,
    .uk-button-primary[disabled] {
        background-color: $color-grey-disabled !important;
        color: $color-black;
    }
</style>