<template>
    <div>
        <nav-bar v-if="showNavar" :sidepat="$attrs.sidepat" :ejercicio_seleccionado="$attrs.ejercicio_seleccionado"/>
        <slot></slot>
        <!-- Modales -->
        <modal-expendientes-control-interno v-if="showNavar"/>
        <modal-avance-control-interno v-if="showNavar"/>
        <modal-expendientes-sad v-if="showNavar"/>
        <modal-avance-sad v-if="showNavar"/>
        <modal-usuarios-declaracion :sidepat="$attrs.sidepat" :ejercicio_seleccionado="$attrs.ejercicio_seleccionado"></modal-usuarios-declaracion>
    </div>
</template>

<script>
    import NavBar from "@/js/components/NavBar";
    import ModalExpendientesControlInterno from "@/js/components/auditoria_control_interno/ModalExpendientes";
    import ModalAvanceControlInterno from "@/js/components/auditoria_control_interno/ModalAvance";
    import ModalUsuariosDeclaracion from "@/js/components/declaracion_patrimonial/ModalUsuariosDeclaracion";
    import ModalExpendientesSad from "@/js/components/auditoria_desempenio/ModalExpendientes";
    import ModalAvanceSad from "@/js/components/auditoria_desempenio/ModalAvance";
    export default {
        name: "Layout",
        components: {
            ModalExpendientesControlInterno,
            ModalAvanceControlInterno,
            ModalAvanceSad,
            ModalUsuariosDeclaracion,
            ModalExpendientesSad,
            NavBar
        },
        computed: {
            showNavar() {
                let route_name = this.$route.name;
                if (route_name === 'home') {
                    return false;
                } else if(route_name === '404') {
                    return false;
                }
                return true;
            }
        }
    }
</script>

<style scoped>

</style>
